[2015-10-17 00:49] beaucollins opened #1 "Use webpack"

[2015-10-17 02:35] beaucollins opened #2 "User login and auth screen"

[2015-10-17 02:35] beaucollins opened #3 "Tag list for navigating"
Includes trash

[2015-10-17 02:36] beaucollins opened #4 "Note history browsing and restoring"

[2015-10-17 02:36] beaucollins opened #5 "Publish a note"

[2015-10-17 02:37] beaucollins opened #6 "Application Manifest for offline use"

[2015-10-17 02:37] beaucollins opened #7 "Responsive UI"
Support mobile devices/smaller screens.

[2015-10-17 17:40] beaucollins opened #8 "Log out and clear data"
When a user explicitly logs out, delete database content.

[2015-10-17 17:42] beaucollins opened #9 "Account settings screen"
Figure out how to handle the features that currently exist in the account settings screen
on [app.simplenote.com](https://app.simplenote.com/).

[2015-10-17 17:53] roundhill opened #10 "Dark Theme"
The app should be able to switch to a dark theme like we have in the native apps.

It could be changed via a menu item like we have in the OS X app.

[2015-10-17 17:57] roundhill opened #11 "List Sort Order"
The list should be able to be sorted at a minimum of date updated and alphabetical.

If possible these would be great:
- Modified date
- Created date
- Alphabetically

Probably could be a menu item like in the mac app.

[2015-10-17 18:01] roundhill opened #12 "Add Font Size Setting"
The app should be able to adjust the font size of the editor.

`ctrl or command +` and `ctrl or command -` should change the size of the font, and `ctrl or command 0` should reset the font size back to the normal.

There should be menu items to change it as well.

[2015-10-17 18:20] roundhill opened #13 "Share Content To/From App"
If the platform (and electron) supports it, users should be able to share text to and from the app.

[2015-10-17 18:27] roundhill opened #14 "About Screen"
There should be an about screen in the app that shows the version number and links to licenses and Automattic.com.

cc @drw158 for design.

[2015-10-17 18:30] roundhill opened #15 "Add Collaboration"
There should be a menu item in the note detail view to collaborate with another user. Since we are planning on changing up collaboration in the near future, for now we can probable just mimic the OS X app's behavior and show some information about adding an email address as a tag to collaborate.
<img width="318" alt="screen shot 2015-10-17 at 12 30 28 pm" src="https://cloud.githubusercontent.com/a

[2015-10-17 18:34] roundhill opened #16 "Localization"
The app should support localization, where possible.

[2015-10-17 18:39] roundhill opened #17 "Printing a Note"
A user should be able to print a note, where available.

[2015-10-17 23:02] beaucollins opened #19 "Tag autocomplete as you type"
While adding tags to a note it should show a list of existing tags to choose from as you are typing.

[2015-10-20 19:00] roundhill opened #35 "Markdown Preview"
There should be an option to enable a note as markdown in the note info panel. If enabled, there should be a button or toggle to preview the note with the markdown formatting processed.

See the current iOS build or web app for examples.

[2015-10-20 19:42] #8 closed, assigned to nobody

[2015-10-20 19:44] #7 closed, assigned to nobody

[2015-10-20 19:46] #1 closed, assigned to nobody

[2015-10-20 22:23] beaucollins opened #36 "Restore cursor location when note is updated"
When a change is applied from Simperium, the cursor position should be updated to account for the new content.

For example, if I'm typing at the end of the note and a change comes in that modifies the beginning of the note by adding six characters, the cursor should be advanced six characters so that as I continue typing I'll be in the correct location.

**Reported In**:
 - #2642910-t
 - #864118-

[2015-10-20 23:59] beaucollins opened #37 "Keyboard bindings/shortcuts"
Make the UI keyboard navigation enabled:
- [x] Navigate and select a note - <kbd>CmdOrCtrl</kbd> + <kbd>Shift</kbd> + <kbd>Up</kbd>/<kbd>Down</kbd>/<kbd>j</kbd>/<kbd>k</kbd>
- [x] Open and navigate tag menu - <kbd>CmdOrCtrl</kbd> + <kbd>Shift</kbd> + <kbd>t</kbd>
- [x] Global binding to focus search field - <kbd>CmdOrCtrl</kbd> + <kbd>Shift</kbd> + <kbd>f</kbd>
- [x] Toggle markdown preview - <kbd

[2015-10-21 16:34] roundhill opened #40 "Linux Compatibility"
Ensure that whatever Electron integrations we are using for menus, sharing, etc work well on Linux. I'm guessing we'll probably distribute this through for gnome and kde desktop environments?

[2015-10-21 16:35] roundhill opened #41 "Windows Compatibility"
Ensure that whatever Electron integrations we are using for menus, sharing, etc work well on Windows. If it's easiest, we can just target Windows 8 or higher.

[2015-10-23 20:48] roundhill opened #42 "Remember cursor position per note"
If you're working on large notes and are switching back and forth between them, the cursor position seems to just stay at where it was in the previous note.

It'd be handy if we could store the last cursor position for a note and restore it when the note is loaded again.

[2015-11-03 22:33] drw158 opened #43 "Custom scrollbar component"
This would allow us to fade the scrollbar in/out based on cursor movements.

We also need to respect the user's scrollbar setting if this is released on OS X.

[2015-11-04 00:03] #2 closed, assigned to nobody

[2015-11-04 00:04] davewhitley opened #44 "Drag to select multiple notes"
When you click and drag in the note list, you should be able to select multiple notes for deleting them all at once. Could also implement `shift` + `click (#224).

See Mac app for example.

[2015-11-04 16:45] davewhitley opened #45 "Pin note from list view"
If you hover over a note in the list view, you should be able to pin the note by clicking on a circle icon that appears.

![screen shot 2015-11-04 at 10 44 05 am](https://cloud.githubusercontent.com/assets/618551/10944943/1ee21fb2-82e1-11e5-8c8a-9ce92837b83e.png)

Also, unpin by clicking on the pinned icon.

[2015-11-04 16:53] davewhitley opened #46 "Info panel"
Info panel should have the same animation as the tag panel.

Things we want in the info panel:
- Date created
- Date modified
- Word count
- Character count
- Pin to top setting
- Markdown setting (if applicable)
- Public link (if published) (maybe not, since this info will be in the publish view?)

![info panel open](https://cloud.githubusercontent.com/assets/618551/10945064/d4b53608-82e1-11e5-96

[2015-11-04 17:13] davewhitley opened #47 "Better tag placement"
Right now, tags are at the top. I think we should be smart about when they appear and where they are located. Here are a few options:

**Always at the bottom**

See Mac app for example. Only exception might be when the keyboard is up on a mobile device.
![desktop](https://cloud.githubusercontent.com/assets/618551/10945541/8093f7ce-82e3-11e5-87fe-c8b05190625e.png)

**Always in the action bar**

Thi

[2015-11-04 19:38] srgpqt opened #49 "Webpack error in hot loading mode"
Node 5.0.0, npm 3.3.12, global and local packages reinstalled from scratch.
I get the following error when attempting to run the hot loading webpack server:

[code]

Full log:

[code]

[2015-11-05 22:14] drw158 opened #52 "Add highlighting to search"
While typing, matching strings should be highlighted. Here is a design:

![searching](https://cloud.githubusercontent.com/assets/618551/10983477/431ade26-83d8-11e5-9d32-88de9c753cac.png)

[2015-11-05 22:35] davewhitley opened #53 "Add tag name to search field"
Similar to the web app, after clicking on a tag in the sidebar, the search field should reflect the tag currently being viewed:

![screen shot 2015-11-05 at 4 29 57 pm](https://cloud.githubusercontent.com/assets/618551/10983859/e7b84c8c-83da-11e5-8d52-5ce60612bd3f.png)

To search within a tag, the user should be able to type after the tag name:

![screen shot 2015-11-05 at 4 30 33 pm](https://clou

[2015-11-05 22:55] davewhitley opened #54 "Tag autocomplete in the search field"
Currently in the web app you can type `tag:tagname` in the search field, and it displays all notes tagged `tagname`.

A nice improvement would be an autocomplete feature, similar to Slack.

Process:
- Start typing `tag`.
- Once you type `:`, then a background color kicks in with new placeholder text:

![screen shot 2015-11-05 at 4 49 59 pm](https://cloud.githubusercontent.com/assets/618551/1098417

[2015-11-06 17:24] davewhitley opened #56 "Implement Share menu"
The share menu icon will be located on the far top right. It will include:
- Publishing (see #5)
- Collaborating
- Sending the note text to other apps, if possible (see #13)

This will be presented as a modal, similar to Settings and About.

Mockups:

**Share - Publish**
We will probably need a loading state or a spinner while the note is being published.

Not published:
![share- not published](ht

[2015-11-06 18:03] srgpqt opened #57 "Sass vs. Stylus"
Thoughts on using Stylus instead of Sass (scss)? It's a pure JS library and the syntax is almost 100% identical and I've used it to great success on many projects in the past.

Stylus has a nice mixin library called "nib" which is similar to Sass "compass" or "bourbon".
Using any of these would help clean up our CSS quite a bit, even if we stick with Sass+bourbon.

Especially useful in nib is the

[2015-11-06 19:00] #57 closed, assigned to nobody

[2015-11-09 15:46] drw158 opened #61 "Move Settings, About, and Help to the menu bar"
To make the app feel more native, should Settings, About, and Help be moved to the application menu bar? We could keep those links in the app if this replaces the web version. The menu bar items would still trigger a modal.

On a Mac it would be:

- Simplenote > Preferences
- Simplenote > About Simplenote
- Help > Help and Support

[2015-11-09 22:39] #49 closed, assigned to nobody

[2015-11-09 23:55] roundhill opened #63 "Blank notes in list view should be labeled 'New note...'"
Like the other apps, if a new note is added to the list without any text in it, it should show `New note...`. See the OS X app for an example.

[2015-11-11 02:49] deBhal opened #64 "Error launching hot config"
I got the following error trying to follow the launch instructions:

It's the webpack config that's setting up the babel loader, so I don't think we can use ES6 `Object.assign` in `webpack.config.hot.js`.  The [Lodash.object.assign](https://lodash.com/docs#assign) implementation should be a drop-in replacement.

I'd love to hear that I'm wrong, and there's a way to get node handling ES6 automagica

[2015-11-11 16:25] davewhitley opened #67 "Sign in window"
We should have a separate sign in window, similar to this:

![screen shot 2015-10-27 at 9 18 25 am](https://cloud.githubusercontent.com/assets/618551/11096212/85ad1b20-885e-11e5-830d-ca41a320d300.png)

I'll post some designs here.

[2015-11-12 21:21] drw158 opened #72 "Trash view options"
While viewing Trash, the app has a few different actions:

![trash view](https://cloud.githubusercontent.com/assets/618551/11131530/b9073ddc-8950-11e5-8353-55aaf0a26728.png)

- Empty Trash
- Restore Note
- Delete Note forever (this doesn't seem to be an option in any of our apps)

Also:

- New Note button is disabled.
- Search field will have a red focus style to remind users that they are searchi

[2015-11-12 21:55] davewhitley opened #73 "Combine all icons into one file?"
This would make requiring icons easier. Instead of requiring each icon one by one, we could just require one component.

For example:

[code]

Not sure how to do this though, it's a bit over my head.

[2015-11-16 17:05] #64 closed, assigned to nobody

[2015-11-16 20:10] #73 closed, assigned to nobody

[2015-11-17 16:25] #6 closed, assigned to nobody

[2015-11-20 19:15] #63 closed, assigned to nobody

[2015-11-24 14:42] #45 closed, assigned to nobody

[2015-11-24 18:30] srgpqt opened #84 "Discrepancy in note.data.tags"
in some parts of the code, note.data.tags is treated as either a list of tag ids, or a list of tag names.

When the mac app renames a tag, it appears to be creating a new tag and replacing the old one with it for all the affected notes. I believe this is the case (cannot verify) because when it renames a tag, the tag id also changes to reflect the new name, but when you update only the tag name th

[2015-11-25 18:39] roundhill opened #85 "Loading a note is slow with many notes in account"
Load up the `test500@test.com` account, and let it finish indexing. Click on notes in the list, and notice that it takes the detail view a half-second or so to load.

[2015-11-25 22:27] roundhill opened #86 "Login: Strange Input Field Behavior"
Both the username and password fields have some strange behavior:
- You can't drag the text to select it.
- The cursor is always placed at the beginning of the field when it is focused, even if it has text in it already.
- Should we show the text cursor on hover of these fields?

[2015-11-25 22:36] roundhill opened #87 "Adding a tag to a note doesn't add it to the tags list"
1. Add a new tag to a note in the editor
2. Observe that it never shows in the tags list or is synced to the tags list in other apps.

[2015-11-26 15:42] #46 closed, assigned to nobody

[2015-11-26 19:35] #87 closed, assigned to nobody

[2015-11-26 19:45] #84 closed, assigned to nobody

[2015-11-30 16:56] #86 closed, assigned to nobody

[2015-11-30 22:03] roundhill opened #90 "Editor should be focused after clicking new note icon"
When you click on the new note button, the editor area should be focused so that you can start typing in content straight away.

[2015-12-01 16:30] #67 closed, assigned to nobody

[2015-12-01 16:31] #53 closed, assigned to nobody

[2015-12-01 20:45] davewhitley opened #91 "Add selected state to folder items"
All Notes, Trash, and tags should have a selected state (in the left panel), so that the user will know which view they are currently in.

![screen shot 2015-12-01 at 2 42 30 pm](https://cloud.githubusercontent.com/assets/618551/11513649/f63b2176-9839-11e5-84ae-64064473b872.png)

[2015-12-02 15:02] #9 closed, assigned to nobody

[2015-12-02 15:03] #3 closed, assigned to nobody

[2015-12-03 17:00] davewhitley opened #97 "A note should always be selected"
In the web app and Mac app, a note is always selected. Currently, when you first boot up the electron app, nothing is selected.

It seems like the web app selects the most recent note.

The Mac app just selects the first one in the note list I think.

I like the web app approach better.

[2015-12-04 19:47] #35 closed, assigned to nobody

[2015-12-04 20:26] #10 closed, assigned to nobody

[2015-12-08 00:21] davewhitley opened #102 "Remember scroll state for edit/preview"
It would be nice if the scroll position didn't change when you go back and forth between edit and preview in Markdown.

[2015-12-08 16:48] #14 closed, assigned to nobody

[2015-12-08 18:41] drw158 opened #103 "Clicking outside of dialogs should close it"
Settings, About, etc.

[2015-12-10 14:57] roundhill opened #105 "Add Tracks"
Track all the things in the app. A list of events can be found here:

https://github.com/Automattic/simplenote-android/blob/develop/Simplenote/src/main/java/com/automattic/simplenote/analytics/AnalyticsTracker.java#L13

[2015-12-10 17:48] drw158 opened #106 "Make Log in a separate window"
It would be a nice touch to set the log in window to a static width/height in the native app. Also, I think we should do a custom toolbar here since it would be a minimal amount of work compared to the main app.

![screen shot 2015-12-10 at 11 45 11 am](https://cloud.githubusercontent.com/assets/618551/11723332/a0c7bbea-9f33-11e5-85f2-fa8491d13b79.png)

[2015-12-10 18:11] drw158 opened #107 "Emojis don't appear in the note list"
I found some inconsistent emoji behavior. In the electron app, emojis don't appear unless the font weight is normal (bold weight is causing the issue):

![screen shot 2015-12-10 at 12 05 35 pm](https://cloud.githubusercontent.com/assets/618551/11723985/df1bc654-9f36-11e5-9097-cd11c5af4317.png)

Testing in Chrome, the emojis don't render:
![screen shot 2015-12-10 at 12 10 09 pm](https://cloud.githu

[2015-12-17 00:17] roundhill opened #110 "Tags stopped working"
Somewhere along the line tags stopped working. You can't add tags to a note.

[2015-12-17 00:25] #110 closed, assigned to roundhill

[2015-12-17 17:52] davewhitley opened #111 "Trash view UX improvements"
No. 1

Steps:
- Click on a note in All Notes.
- Go to Trash, and that note is still selected in the note editor.

Expected: The first note in Trash to be selected, not a note outside of Trash.

---

No. 2

Steps:
- Go to Trash and select a note.
- Go to All Notes.
- The delete UI is still visible along with the trashed note selected in the editor.

Expected: The Trash UI to be not visible, and the

[2015-12-17 18:06] roundhill opened #113 "Tag field should remain active after adding a tag"
1. Add a new tag
2. Observe that the tag field is no longer focused, it should remain focused so that you can continue adding more tags easily.

[2015-12-17 18:08] drw158 opened #114 "Share dialog UX improvements"
Publish issues:

 - [ ] It would be nice if "Copy" changed to "Copied" after clicking it. After a second or two, it should revert back to "Copy".
 - [ ] I haven't been able to reproduce, but sometimes if I publish a note that was just unpublished, for some reason the url doesn't appear. I think the problem is on the backend because publishing didn't work on the web app either.
 - [x] We should dis

[2015-12-17 18:14] davewhitley opened #115 "Pin owner's email to top of collaborators list"
Pin the owner to the top of the collaborator list (cannot be removed from list):
![screen shot 2015-12-08 at 5 34 18 pm](https://cloud.githubusercontent.com/assets/618551/11671993/02e815a8-9dd2-11e5-9c5a-6bd6da687ff2.png)

[2015-12-24 20:22] davewhitley opened #116 "Reordering tags doesn't work on touch"
Surface Pro 4 using touch

Worth testing iPads and stuff too.

[2015-12-31 20:23] roundhill opened #117 "Unreadable text on login screen with dark theme"
1. Set the theme to `dark`
2. Log out.
3. Type in the username/password fields.

Observe that the text color is the same as the background and can't be seen.

[2016-01-07 17:01] #56 closed, assigned to nobody

[2016-01-07 17:05] #15 closed, assigned to nobody

[2016-01-07 17:05] #5 closed, assigned to nobody

[2016-01-07 17:07] #12 closed, assigned to nobody

[2016-01-07 17:19] davewhitley opened #120 "Help & Support is not linked"
It's not linked in the web app. Haven't checked the native packages.

[2016-01-07 17:22] davewhitley opened #121 "Fade content when sidebars are open"
When either the tag sidebar (left) or note info sidebar (right) are open, the rest of the app should fade, as shown in this mockup. Also, when you click in the faded area (anywhere outside of the sidebar), the sidebar should close.

![info panel open](https://cloud.githubusercontent.com/assets/618551/12177224/b017bcc2-b530-11e5-9082-03f2c3f48484.png)

[2016-01-07 17:30] davewhitley opened #122 "Links break container in preview mode"
![screen shot 2016-01-07 at 11 29 38 am](https://cloud.githubusercontent.com/assets/618551/12177486/01534722-b532-11e5-8f34-ec332890f2e4.png)

[2016-01-11 23:07] drw158 opened #130 "Idea: hide link field if not published"
![link](https://cloud.githubusercontent.com/assets/618551/12249492/b4ff4306-b885-11e5-8fa7-88242571844c.gif)

[2016-01-11 23:09] davewhitley opened #131 "Edit Account link has no content"
Clicking Edit Account in the Settings view does not do anything.

[2016-01-12 15:33] #122 closed, assigned to nobody

[2016-01-13 00:23] #131 closed, assigned to roundhill

[2016-01-13 00:23] #120 closed, assigned to roundhill

[2016-01-13 15:44] #117 closed, assigned to nobody

[2016-01-13 15:46] davewhitley opened #134 "No tag chip selected state in dark mode"
Selected state CSS is being overridden

![screen shot 2016-01-13 at 9 46 08 am](https://cloud.githubusercontent.com/assets/618551/12299029/882fb1ca-b9da-11e5-9dcf-82c2d722df89.png)

[2016-01-13 17:09] davewhitley opened #135 "Add close icon to Info panel"

[2016-01-15 16:40] davewhitley opened #136 "Hide public link section if note is not published"
![screen shot 2016-01-15 at 10 39 09 am](https://cloud.githubusercontent.com/assets/618551/12358737/59dbd2c2-bb74-11e5-8bd0-f4a0c772f2d2.png)

[2016-01-15 16:41] davewhitley opened #137 "Switch Collaborate and Publish tabs in the share view"
I think Collaborate should be first because it's probably more useful and most used of the 2 tabs.
![screen shot 2016-01-15 at 10 40 59 am](https://cloud.githubusercontent.com/assets/618551/12358790/8eabe294-bb74-11e5-9782-a63715241773.png)

[2016-01-27 20:40] davewhitley opened #141 "Idea: only show last modified date and word count in Info"
After doing some quick looking, most note taking apps only provide the last modified date. I think this is probably the most helpful date, especially if you are working on a note together. In my opinion, the last modified date and the word count are the most important bits of info for a note taking app. If Simplenote were more of a writing app, I think there would be a case to add the creation dat

[2016-02-03 15:46] drw158 opened #143 "Don't show email tags"
On iOS, we don't show the email tags, because there is a UI for adding and removing collaborators. It should be the same in Electron. Going forward, I think we should not make it apparent that you can add people via tags.

[2016-02-04 19:10] #121 closed, assigned to roundhill

[2016-02-04 21:25] roundhill opened #144 "Sorting doesn't work in Firefox"
Just a note that if we ever want to release this on the web, the sorting doesn't work in Firefox.

[2016-02-04 22:41] davewhitley opened #145 "Tags list container has small height"
Chrome 48

On the latest master, the tags list appears to be short.

<img width="283" alt="screen shot 2016-02-04 at 4 38 04 pm" src="https://cloud.githubusercontent.com/assets/618551/12832145/dc5ff892-cb5d-11e5-8707-3671e8ed75b7.png">

Turning a flex property off then on again seems to fix it, but the issue reappears after reload.

Can you reproduce?

[2016-02-04 22:48] davewhitley opened #146 "Land on notes list after logging in"
To reproduce:

1) Click Settings
2) Log out
3) Log in
4) The sidebar is open with the content faded out

I think you should land on note list with the sidebar closed.

To solve this, I've been thinking that we should close the sidebar when the Settings button is clicked. I think it's a better flow — after fiddling with any of the settings, you want to go straight back to the notes list.

[2016-02-05 02:08] #11 closed, assigned to nobody

[2016-02-05 02:13] #40 closed, assigned to nobody

[2016-02-05 02:13] #41 closed, assigned to nobody

[2016-02-05 18:04] drw158 opened #147 "Markdown toggle not centered in Safari 9"
![screen shot 2016-02-05 at 12 03 30 pm](https://cloud.githubusercontent.com/assets/618551/12854676/93836908-cc00-11e5-9adc-3d0146f420b9.png)

[2016-02-09 22:38] #134 closed, assigned to davewhitley

[2016-02-11 04:04] #90 closed, assigned to roundhill

[2016-02-11 04:07] #97 closed, assigned to roundhill

[2016-02-11 20:49] #91 closed, assigned to roundhill

[2016-02-11 21:45] drw158 opened #154 "Trash: note does not go away after deleting forever"
Whenever I delete a note forever, I have to refresh the page in order to see the change.

Alter deleting a note in Trash, the note is visible but I can't click on it.

Steps:
1. Go to Trash
2. Delete a note forever
3. The note is still there and can't click on it
4. Reload the app and go to Trash
5. The note is gone

[2016-02-11 21:51] davewhitley opened #155 "Note not selected after trashing one"
Steps:
1. Go to All Notes
2. Trash a note
3. Nothing is selected

Expected: the next note in the list to be selected (like the web app)

The same functionality should be implemented in all 3 views I think (All Notes, Trash, tags)

[2016-02-12 04:17] #4 closed, assigned to roundhill

[2016-02-12 04:25] roundhill opened #157 "Modification Date not saving?"
It appears that when you save a note, its modification date doesn't update. It's always the same as the created date for any revision.

[2016-02-12 23:37] drw158 opened #158 "Previous note visible after selecting a tag with no notes attached to it."
To reproduce:

Make sure you have a tag with no notes attached to it:
1. Create note.
2. Writing something in the note.
3. Tag the note with something you've never tagged before (`aoeuhtns1234`).
4. Delete the note.
5. Note that the tag is still visible in the tag sidebar (normal behavior).

To reproduce the bug:
1. Select any note in All Notes.
2. Open the navigation bar and select the tag you ma

[2016-02-13 00:05] davewhitley opened #160 "Info panel opens automatically at small widths"
Reproduce
1. Size your browser so that the app is in single column.
2. Refresh the page
3. Info panel is opened

[2016-02-15 22:29] #157 closed, assigned to roundhill

[2016-02-17 16:13] davewhitley opened #165 "Show loading spinner immediately after clicking Log In"
It can be disconcerting if logging in takes a second or more to log in. Currently, there is no feedback in the UI that authentication succeeded. It can just be a simple insert of a loading spinner div within the Log In button.

[2016-02-17 16:44] davewhitley opened #166 "Deleting tags causing reordering for some reason"
Deleting certain tags seem to randomly sort them around.

![tags delete](https://cloud.githubusercontent.com/assets/618551/13116907/603bce02-d563-11e5-984d-52045770833c.gif)

[2016-02-17 18:05] #47 closed, assigned to roundhill

[2016-02-17 19:47] davewhitley opened #168 "Small click area for new notes"
![screen shot 2016-02-17 at 10 35 02 am](https://cloud.githubusercontent.com/assets/618551/13122516/d08f6588-d57c-11e5-8c0d-877381a5fb5e.png)

When you create a new note, the space in which you have to click to start typing is very small. It's hard to find it if you don't know where to click.

[2016-02-18 00:33] #17 closed, assigned to roundhill

[2016-02-18 15:28] #155 closed, assigned to roundhill

[2016-02-18 19:33] #145 closed, assigned to roundhill

[2016-02-18 19:47] roundhill opened #171 "Note editor empty after transitioning to large screen from small screen"
If you expand the app from being in small screen mode, the note editor is empty. We should try to select a note after the app goes back to the dual-pane view.

[2016-02-18 23:44] roundhill opened #174 "Entering incorrect credentials does nothing"
If you try to sign in with invalid credentials... nothing happens. We should show an error message.

[2016-02-19 18:38] #135 closed, assigned to roundhill

[2016-02-19 19:18] #160 closed, assigned to roundhill

[2016-02-19 23:43] #111 closed, assigned to roundhill

[2016-02-20 00:04] roundhill opened #176 "Mobile editor doesn't close"
When viewing a note in the small view, tap the back button. It won't return to the notes list.

[2016-02-21 05:01] #141 closed, assigned to roundhill

[2016-02-21 21:36] #176 closed, assigned to nobody

[2016-02-23 17:55] roundhill opened #178 "Pressing tab key in tags field shows info panel"
Weird one:
- Type in a new tag name
- Press the `tab` key
- The info panel becomes visible

[2016-02-23 18:32] roundhill opened #179 "Electron: Editor doesn't focus on new note"
In electron, click the new note button. The editor should focus, but it doesn't seem to work for me in the OS X version.

[2016-02-23 18:37] drw158 opened #180 "Make the app white toolbar draggable"
Mac OSX

I found myself wanting to drag the white toolbar to move the window around. Feels unnatural right now.

I think there some webkit css we can use to do this.

![screen shot 2016-02-23 at 12 37 36 pm](https://cloud.githubusercontent.com/assets/618551/13262401/3f9cbc30-da2a-11e5-874b-f3e31ca2b5f0.png)

[2016-02-23 18:38] davewhitley opened #181 "Don't increase font size for small viewports"

[2016-02-23 21:54] davewhitley opened #182 "Settings, About, and Help should be hidden in the packaged app"
There should be a flag for hiding these items in the drawer, since these items are available in the app menu bar.

I remember they were hidden for Linux I think, so it would be nice for it to be the same for Windows and Mac.

Mac OS X electron

[2016-02-23 21:57] drw158 opened #183 "No modals for the packaged app"
There should be separate windows for every modal in the app. For example, if you click on the Share icon, the app would open a separate small window, not a modal within the main window.
- About view
- Log in/out
- Share

Mac OSX electron

[2016-02-23 22:00] davewhitley opened #184 "Clicking outside modals should close them"
Settings, About, Share, etc.

[2016-02-24 17:59] #179 closed, assigned to roundhill

[2016-02-25 18:24] davewhitley opened #187 "Make Simplenote Electron app open source"

[2016-02-25 20:14] davewhitley opened #188 "Cant' open a new app window after closing"
Mac OS X electron app

If I close the window, the dock icon remains. If I click on the dock icon, nothing happens. I have to quit and then open the app to get the window back.

[2016-02-26 17:18] davewhitley opened #189 "No right click menu"
In the packaged apps there is no right click menu. This made it frustrating because I had to go to the Edit menu to paste some text. I forgot what the keyboard shortcut was on Windows.

I think we should just have a basic cut, copy, and paste, or some sort of default menu enabled.

Windows
Mac OS X

[2016-02-26 17:51] davewhitley opened #190 "Electron window should have a minimum width"
![screen shot 2016-02-26 at 11 51 41 am](https://cloud.githubusercontent.com/assets/618551/13360531/52db9e0e-dc7f-11e5-90ab-34289b490584.png)

[2016-02-29 20:53] drw158 opened #191 "Reinstall the app, and it logs me in automatically"
Windows

I noticed that if you reinstall the app, then it logs you in with the credentials you used before you uninstall the app. It caught me off guard. Do other apps do this? Is it useful, or a security concern? Are credentials stored anywhere?

[2016-02-29 21:55] davewhitley opened #192 "Add loading state for initial load of the app"
Similar to the Facebook style:

![screen shot 2016-02-29 at 3 54 02 pm](https://cloud.githubusercontent.com/assets/618551/13410312/bdbe9bde-defc-11e5-8d1d-bfe40aa76432.png)

[2016-03-01 08:48] rachelsquirrel opened #193 "Markdown support"
We get a lot of requests for this.

[2016-03-01 08:57] rachelsquirrel opened #194 "Hide the note list"
We get a lot of requests for a distraction-free writing mode. Even just a way to resize the note list on the left to practically nothing so they can focus on the content of the note only.

[2016-03-01 19:39] roundhill opened #195 "List Display Settings Not Working"
The 'comfy', 'condensed' and 'expanded' options in the settings don't appear to be working.

[2016-03-09 23:33] #190 closed, assigned to nobody

[2016-03-09 23:33] #178 closed, assigned to nobody

[2016-03-09 23:34] #168 closed, assigned to nobody

[2016-03-10 01:06] roundhill opened #201 "Tracks Not Working in Electron"
Tracks doesn't appear to be firing events when in Electron. There's an error in the console about not being able to load `w.js`

[2016-03-10 01:06] #193 closed, assigned to nobody

[2016-03-11 00:34] #201 closed, assigned to nobody

[2016-03-11 00:36] #137 closed, assigned to roundhill

[2016-03-11 01:07] #195 closed, assigned to nobody

[2016-03-11 15:52] davewhitley opened #206 "Disable Chrome developer tools when we launch?"

[2016-03-11 16:14] davewhitley opened #207 "No public link in Info panel"
If there is no public link set, we should display a message in the Info panel. It should say something like "Note not published"

![screen shot 2016-03-11 at 10 11 46 am](https://cloud.githubusercontent.com/assets/618551/13708010/fa7696c6-e771-11e5-9616-dfee16390957.png)

[2016-03-11 16:47] #206 closed, assigned to nobody

[2016-03-11 17:09] #207 closed, assigned to nobody

[2016-03-11 17:52] #189 closed, assigned to roundhill

[2016-03-11 20:24] #182 closed, assigned to nobody

[2016-03-11 21:52] #136 closed, assigned to nobody

[2016-03-11 22:08] #174 closed, assigned to roundhill

[2016-03-11 22:09] dmsnell opened #212 "Invalid auto-login after login attempt with no data"
After trying to login without entering a username or password, the app will auto-login to an undefined state where it appears to be logged in but without any actual authentication/login.

![simplenote-blank-login](https://cloud.githubusercontent.com/assets/5431237/13716890/196cc842-e79b-11e5-86de-9d6ecfe7253c.gif)

[2016-03-11 22:20] #181 closed, assigned to davewhitley

[2016-03-11 23:58] #212 closed, assigned to nobody

[2016-03-11 23:58] #188 closed, assigned to nobody

[2016-03-12 00:00] #187 closed, assigned to roundhill

[2016-03-12 01:20] #165 closed, assigned to nobody

[2016-03-14 17:03] #184 closed, assigned to nobody

[2016-03-14 19:06] drw158 opened #219 "Change sign out to log out"
Under Settings, it should be "Log Out" instead of "Sign Out". Also, need to make sure this change applies to the Electron app menus.

[2016-03-14 19:11] drw158 opened #220 "Add icon to note list item if it is published"
Similar to the web app.

[2016-03-14 20:32] #219 closed

[2016-03-14 20:37] #107 closed

[2016-03-14 21:19] dmsnell commented on #61
Closed in #182

[2016-03-14 21:19] #61 closed

[2016-03-14 21:22] dmsnell commented on #72
@drw158 can you clarify what, if any, tasks remain for this issue?

[2016-03-14 21:29] davewhitley opened #224 "Use shift key to select more than one note"
This is helpful for:
- Trashing notes
- Pinning notes
- Deleting/Restoring notes

[2016-03-14 21:30] drw158 commented on #72
No remaining tasks, just one enhancement. Made a new issue for it: #224

[2016-03-14 21:30] #72 closed

[2016-03-14 21:52] roundhill commented on #171
Fixed in #170

[2016-03-14 21:52] #171 closed

[2016-03-14 21:53] #105 closed

[2016-03-15 00:18] dmsnell commented on #103
Closed in #217

[2016-03-15 00:18] #103 closed

[2016-03-15 05:20] #130 closed

[2016-03-15 16:50] drw158 commented on #220
Should be "published" not shared!

[2016-03-15 16:53] drw158 opened #227 "Add icon to note list item if it is shared/published"
We don't do this in any of our apps, but it would be nice to add an icon to a note in the list view if the note is "shared". Shared, meaning that you have added an email to the note's tags, or you have added an email via the collaborate UI.

[2016-03-17 22:51] roundhill commented on #191
Just confirmed this with @drw158. We need to either:

* Delete the `C:\Users\(user)\AppData\Roaming\Simplenote` folder when the app is uninstalled.
* Somehow know when the app is starting up for the first time, and intentionally delete the existing auth token that is stored in localStorage.

[2016-03-18 02:13] #147 closed

[2016-03-18 15:05] davewhitley opened #232 "Publish: Change "copy" to "copied" after click"
It would be nice if "Copy" changed to "Copied" after clicking it. After a second or two, it should revert back to "Copy".

![copy](https://cloud.githubusercontent.com/assets/618551/13881878/dc61f1d8-ecf0-11e5-8881-11fd71030999.gif)

[2016-03-18 15:06] davewhitley opened #233 "Collaborate: Form validation for the email field"
Maybe we can use the form validation we use on the log in screen.

![screen shot 2016-03-18 at 10 06 27 am](https://cloud.githubusercontent.com/assets/618551/13881938/1a131138-ecf1-11e5-92af-156a753858ba.png)

[2016-03-18 15:08] davewhitley opened #234 "Collaborate: don't allow users to enter in their account email"
I'm able to add my own email address, which is strange.

Related: #233 (form validation)

[2016-03-18 15:09] drw158 commented on #114
Closing in favor of separate issues

[2016-03-18 15:09] #114 closed

[2016-03-18 15:18] davewhitley opened #235 "Note display: number of lines vary for Expanded display"
Is Expanded 4 lines? I forgot what we decided.

It seem strange that some notes don't have 4 lines even though there is more text.

![screen shot 2016-03-18 at 10 15 30 am](https://cloud.githubusercontent.com/assets/618551/13882219/93be01ea-ecf2-11e5-826b-78a8d58c324c.png)

[2016-03-18 15:19] drw158 commented on #235
Another example

![screen shot 2016-03-18 at 10 18 58 am](https://cloud.githubusercontent.com/assets/618551/13882297/e34fe9e4-ecf2-11e5-9be6-5b7a2090f869.png)

[2016-03-18 15:40] drw158 opened #236 "View menu: inconsistent menu names"
- `Sort Order` should be `Sort Type`
- Sort Order is missing
- Note Display is missing
- Sort Type options should be 'Last modified`, `Last created`, and `Alphabetical`

Mac OS X
1.0.1

![screen shot 2016-03-18 at 10 33 28 am](https://cloud.githubusercontent.com/assets/618551/13882807/04d10ab0-ecf5-11e5-9d02-3801aed8e1d6.png)

[2016-03-18 15:48] davewhitley opened #237 "Settings: eliminate need for the modal"
I don't know why I just noticed this, but it seems strange that you can edit display settings in the Settings modal and in the View menu. You have to first go to Simplenote > Preferences, and then click on the Display tab.

Because the display settings are in the menu, the Settings modal isn't really needed. We can:
- Put a `Log Out` menu item under Simplenote > Account (or something)
- Put an `Ed

[2016-03-18 15:57] drw158 opened #238 "Trash: can't delete forever (solved sort of)"
After updating to 1.0.1 Mac OS X, I couldn't delete a note forever.

Steps:

- Trash note
- Select Trash, the note, then Delete Forever
- Note stays there and I couldn't click it

![sn error](https://cloud.githubusercontent.com/assets/618551/13883568/0747371c-ecf8-11e5-9d5e-6db71a6f558c.gif)

## Solution

I logged out and in and now it works as expected.

We should look out for this issue again on

[2016-03-18 16:01] drw158 opened #239 "Display Settings: clicking on the row is not responsive"
Mac OS X 1.0.1
and Windows 10

Clicking on the radio buttons under Settings > Display is fast and responsive, but clicking on the row is not. Seems to affect mainly the first row for some reason, "Last modified".

![sn error2](https://cloud.githubusercontent.com/assets/618551/13883688/978cf0dc-ecf8-11e5-9f6c-461bba66c945.gif)

[2016-03-18 16:04] davewhitley opened #240 "Confusing Edit Account flow"
Mac OS X
1.0.1
- Go to Preferences > Edit Account
- It goes to https://app.simplenote.com/settings
- I can see Display settings that only affect the web app

[2016-03-18 16:21] drw158 commented on #237
Ideas for the menu:

![screen shot 2016-03-18 at 11 16 44 am](https://cloud.githubusercontent.com/assets/618551/13884315/84351cf0-ecfb-11e5-8f45-547a4d2df374.png)
![screen shot 2016-03-18 at 11 14 23 am](https://cloud.githubusercontent.com/assets/618551/13884343/8a2643a0-ecfb-11e5-9404-02f0fc759bef.png)

[2016-03-18 16:33] drw158 opened #241 "Info: add a way to copy the published link for the info menu"
Right now clicking is disabled.

We can enable selection, or add copy button.

[2016-03-21 18:39] roundhill commented on #191
I've just tried this with Slack, if you delete the app and install it again you are still signed in.

I don't see an immediate solution for this, so I guess I'm thinking that if Slack can't solve it maybe we shouldn't worry about this for now. Thoughts?

[2016-03-21 19:00] dmsnell commented on #191
@roundhill I see this as a pretty big issue, but also have trouble thinking that there might be a feasible solution. Maybe it's not so bad as it sounds: designed to make updates or accidental uninstalls easier to deal with. I personally agree with the wipe-everything side of the debate around Atom than the view the maintainers hold.

If we roll this out, we at least have this as a place to discuss

[2016-03-21 19:02] dmsnell commented on #191
do we get an easy place to do this in the install script? It would seem like the most likely place to accomplish this. I wonder if there's a way to do it securely, associating some file or state with the individual install.

[2016-03-21 21:13] roundhill commented on #240
Maybe we could add a query arg that would only show the account related stuff there?

https://app.simplenote.com/settings?filter=account or something...

[2016-03-22 04:16] #238 closed

[2016-03-22 15:49] drw158 opened #244 "Sorting: Note list is updated when a note is published"
It seems that if you sort your notes by date modified, and publish a note, that note is moved to the top. Is that something that is expected? I was surprised. I expect the order to only change if I edit the content of the note (direct editing, revision select, editing tags?).

[2016-03-22 17:03] roundhill commented on #244
Sounds like a :bug: to me

[2016-03-22 17:07] dmsnell commented on #244
This is still present on the `indexdb`-only sort, right? I know that in the code I put out there for a JS sort, it was specifically looking at the `modificationDate` field, so if it's sorting on publish, we are probably updating that field. Maybe we don't want this, and that could be changed.

[2016-03-22 20:55] roundhill opened #245 "Typing lag makes me sad"
When I use the app with my account, I can see visible lag when typing in the editor. If I type fast enough, I'll lose content :(

[2016-03-22 21:16] roundhill commented on #245
It appears that we are writing to the IndexedDB way too often, after every editor change:

https://github.com/Automattic/simplenote-electron/blob/master/lib/flux/app-state.js#L480

[2016-03-23 20:23] drw158 opened #248 "Pressing enter doesn't do anything when trying to log in"

[2016-03-23 20:47] dmsnell commented on #248
I saw this behavior too and it bothered me, but I'm terrible at creating issues. Thanks @drw158

[2016-03-24 17:04] #245 closed

[2016-03-24 17:05] roundhill opened #249 "App is Missing a Few Keyboard Shortcuts"
Let's add:
* File->New Note (cmd or ctrl + N)
* Focus search field (cmd or ctrl + L)

[2016-03-24 17:19] drw158 commented on #249
Using L seems kinda weird, not sure why the Mac app uses it. I think it's because cmd F brings up a native search and replace.

How about `cmd F` or `shift cmd F` for search.

Ulysses for ideas: http://ulyssesapp.com/blog/2014/08/ulysses-tips-shortcuts-2/

also #37

[2016-03-24 17:20] roundhill commented on #249
Makes sense!

[2016-03-24 20:42] drw158 opened #251 "Note content lingers when switching accounts"
This has happened to me a few times.
1. Log in to account A
2. Log out
3. Log in to account B
4. The note content in the editor from account A is still there, even though I'm logged into B

![screen shot 2016-03-24 at 3 40 18 pm](https://cloud.githubusercontent.com/assets/618551/14030694/041cc91a-f1d7-11e5-81e8-b38de511ef0a.png)

The note content you see in the editor is from the demo account, but

[2016-03-24 22:28] #241 closed

[2016-03-25 19:59] #249 closed

[2016-03-26 00:42] roundhill opened #253 "RC1: Blank App at Launch"
The app doesn't appear to load anything the first time you launch it after signing in.

Make sure you have a completely fresh install (remove ~/Library/Application Support/Simplenote on a Mac).

1. Launch the app.
2. Sign in.
3. Observe that notes don't load. You can quit the app, then launch it again and then they appear.

[2016-03-26 01:20] roundhill commented on #253
Strangely, when I do `make package-win32` on my machine and install it, I don't seem to have this issue.

I uploaded a windows installer here, so you guys can compare: https://github.com/Automattic/simplenote-electron/releases/download/v1.0.0-rc.1/Simplenote-1.0.0-rc.1-Setup-dan.exe

cc @drw158 @rodrigoi

[2016-03-26 05:07] #253 closed

[2016-03-26 21:51] dmsnell commented on #236
I've been working on this and it's quite a mess. I'm running into issues following the control flow after clicking on a menu item and I can't get the notes list to refresh, even after doing things like calling `loadNotes()` and `forceUpdate()`

These issues are somewhat giving me the impression that if we fix the sorting issue (#144) then these problems might be fixed with that PR.

[2016-03-27 18:31] philipjohn opened #258 "Ambiguous icons"
While it's pretty obvious what most of the icons are for, some aren't and hovering on them gives no indication as you might expect.

It'd be good to add tooltips to icons at least to help add context.

[2016-03-27 18:33] philipjohn opened #259 "Removing the markdown toggle"
Once I enabled markdown in settings I expected it to just work in my notes, so I was surprised that an extra step was needed to further enable it on individual notes. That feels like more effort than should be necessary.

[2016-03-27 23:08] dmsnell commented on #144
@roundhill I wonder if this could be caused by the fact that we are requesting `alphabetical` as an index key when that column doesn't exist. If `sortType` is `alphabetical`, we should try and fetch the `content` index.

Not sure I can reproduce what you were seeing either. Do you have more details on what issues you were having and how to reproduce?

[2016-03-27 23:17] dmsnell commented on #144
Oops, please ignore my previous comment - I still had my fixed branch checked out. Now that I'm back on **master**, I can see that there appears to be no sorting done at all in Firefox, regardless of the sort options.

[2016-03-28 15:08] drw158 commented on #259
After turning on the global MD setting, would you expect every new subsequent note created to have MD automatically turned on? Also, what would you expect to happen if you turned off the global MD setting once had created several MD notes?

Thanks for testing!

[2016-03-28 22:19] roundhill opened #261 "Electron: All menu items are visible when signed out"
When you are signed out of the electron app, all menu items are visible. It doesn't seem to cause anything terrible to happen when you select them, but it does still update the state so settings do get changed.

It'd be nice if we could hide the items that we don't want to show when the user is signed out.

[2016-03-28 23:00] #236 closed

[2016-03-28 23:00] #239 closed

[2016-03-29 11:43] philipjohn commented on #259
I could have been less succinct, sorry :)

I would have at least expected new notes to have Markdown enabled, but actually I didn't test that they were. (I now have, and see that I do have to enable MD on new notes too.)

As for existing notes, I'm not sure. I wouldn't mind markdown being enabled on them personally. I'm unsure whether it would be a problem or poor UX to have it retrospectively ena

[2016-03-29 11:44] philipjohn commented on #258
Specifically, the "revisions" and "share" icons.

Related: the "share" icon looks like an upload icon, but then the dialog that opens says "share" which seems inconsistent to me as well.

[2016-03-29 22:10] Sushubh commented on #259
I had a few MD notes created in the web app so I was confused when they did not appear properly in the just released Windows app. Found the toggle and it processed my existing MD notes properly without touching the non-MD ones.

[2016-03-29 22:11] Sushubh commented on #258
Yes. You expect tooltips to be available by nature! I had to click on all of them to see what they did!

[2016-03-29 22:11] Sushubh commented on #248
Noticed this too!

[2016-03-29 22:13] Sushubh opened #263 "Can't copy text in markdown preview mode on Windows app"
It works in the web app so I assume it should work in the Windows app as well? Using editor to copy notes is kind of annoying because of all the markdown elements.

[2016-03-29 22:23] drw158 commented on #263
Noting here that we'd just need to add `user-select: all; ` on the preview element.

[2016-03-30 02:33] roundhill commented on #263
Easy PR then :) Let's do it!

[2016-03-30 10:03] Sushubh commented on #263
Just curious... The app would update by itself (assuming it is kind of a wrapper around a web app) or we would need to download updates? There is no option in the app to check if there is an update? Thanks.

[2016-03-30 10:48] hindsholm opened #264 "Open links in default browser"
When clicking on a link in a note, the page opens in a new window with a simple webview (or similar).
It would be very nice to have the option of opening links in the default browser instead.

[2016-03-30 11:01] svbisch opened #265 "Doesn't work behind HTTP proxy"
I'm behind a HTTP proxy at work here (am using the Linux version btw.). When I start the app the window stays white and eventually times out with this error: »connect ETIMEDOUT 72.14.246.169:443«.

I tried launching via command line:

[code]

Same behaviour.

[2016-03-30 11:15] hindsholm commented on #265
I use the _Windows_ version at work behind a proxy and it works just fine.

[2016-03-30 11:47] habi opened #266 "32 bit build for Linux"
It would be nice if you could provide a 32 build for Linux.

[2016-03-30 13:38] rodalpho opened #267 "Resize divider between list and notes"
Please allow the user to resize the divider between the list on the left and notes on the right. It’s a terrible waste of space.

[2016-03-30 13:39] rodalpho opened #268 ""Super condensed" view"
Please offer a “super condensed” view that shrinks all the spaces between each entry in the notes list on the left. Again, the white space here is a huge waste of space. Eyeballing, looks like we could fit at least 50% more notes in the list if the white space was shrunk down.

[2016-03-30 13:40] rodalpho opened #269 "Shrink whitespace margin inside notes"
There’s a huge whitespace margin inside the notes themselves, on the left side. Wasted space there too. Would like the "super condensed" option I requested in a previous issue to shrink this also.

[2016-03-30 13:41] rodalpho opened #270 "Memory usage is extreme"
On my windows 10 x64 system,

Resophnotes: 15MB
Simplenotes React: 73MB
Evernotes: 43MB (!)

Evernotes is a very, very heavy program exposing a ton of functionality. Using more RAM than Evernotes for a program handling text-only notes should be a concern.

[2016-03-30 13:42] rodalpho opened #271 "Back-up notes to local textfiles"
Resophnotes allows all notes to be backed-up to text files on a locally attached disk. I back mine up to Dropbox. Would like this same option in the official Simplenotes app.

[2016-03-30 16:50] drw158 commented on #264
Interesting, that is unexpected. I'll file as a bug. Thanks!

[2016-03-30 16:52] roundhill commented on #263
It will prompt you when there is an update available!

[2016-03-30 17:45] dmsnell commented on #270
Ouch! thanks for the report @rodalpho

As this is a first release, it doesn't surprise me that we have some overhead we don't need (we've been focussing on the functionality). Keep an eye out in the future for optimizations, and feel free to file a PR to fix some yourself if you discover any underlying causes :wink:

[2016-03-30 20:25] drw158 opened #272 "Copy button doesn't work in Safari"
Button works in Chrome, but not Safari. Text is not copied to clipboard.

9.0.2

![screen shot 2016-03-30 at 3 24 42 pm](https://cloud.githubusercontent.com/assets/618551/14156353/99df1fc6-f68b-11e5-9821-aaf104ed5742.png)

[2016-03-30 21:47] rodalpho commented on #270
Totally understand it's your first release, just wanted to get this on the list!

[2016-03-31 08:23] hindsholm commented on #264
I didn't know that it was a bug, I thought it was intentional :)
But glad to hear that it will be fixed...

[2016-03-31 13:59] abirwas commented on #270
That's mostly a problem with Electron I believe. Even just a wrapper for a webpage (using nativefier) can use up close to that amount of memory. I'd be very surprised if they significantly reduced it (not discouraging anyone though). Remember, we've got almost a full chromium running in the backend.

[2016-03-31 15:16] Yanpas commented on #266
I don't expirience this issue. I just wanted to say thanks for linux version! :smiley:

[2016-03-31 15:17] drw158 opened #273 "Add an editor-only view, or fullscreen"
This would mean hiding the note list or expanding the editor to take up the whole window.

See #443 for some design and discussion on how to do this.

[2016-03-31 15:20] drw158 opened #274 "Add a font option for the editor, maybe the whole app"
I can see how this might be useful. We could at least add a monospace font option, but I think 3 font options would "feel" better.

- Default
- Monospace
- Serif?

[2016-03-31 21:10] dmsnell commented on #270
That's a great point @abirwas. I think it will be great to compare memory usage between accounts with many notes vs. those that are basically empty.

[2016-03-31 23:21] rikai commented on #259
I myself would have thought the global toggle would have been enabled by default.

That use case makes sense to me, because it would provide the full functionality out of the box, and people could then disable markdown support on notes they didn't want markdown on, which i can only imagine would be a minority of use cases, or globally if they dont want markdown at all.

As for the global toggle, i

[2016-03-31 23:23] rikai commented on #258
One of the very first things i did when installing this app was to hover over the icons to see what they were for and when they annoyingly gave me no tooltips, to click them to find out, so i can very much agree with this suggestion.

[2016-04-01 01:33] abirwas commented on #270
Ok then, on a account with one note, the memory usage is 22 + 21 + 16 = 59 (adding up three the memory usage of 3 processes). This is on Windows 10 64 bit.

[2016-04-01 02:20] progkix commented on #266
Adding my support for a 32 bit build for Linux as well. Doesn't necessarily need to be distribution specific - a gzipped archive would work just fine.

[2016-04-01 07:24] Gavin-Gong opened #275 "Syntax Hightlight"
I really hope Simplenote can improve **syntax highlight** feature in Makdown Preview Mode.

[2016-04-02 07:56] dar5hak commented on #154
Another scenario, which I believe is related to this same bug:

1. Empty your Trash.
2. Go to All Notes.
3. Open one of your non-deleted notes.
4. Go to Trash again.
5. The content of the previously selected note is still there in the contents pane.

Observed on the Linux app.

[2016-04-02 17:06] soren121 opened #277 "After registration, the webview window does not close"
After you register for a new account within Simplenote-electron, the registration WebView window seems to load the Simplenote web interface inside that window.

I would expect the window to close and return focus to the main window.

[2016-04-02 17:08] soren121 commented on #258
Using the `cursor: pointer;` style on the buttons would also help!

[2016-04-02 21:41] davewhitley opened #278 "Add password protection for the entire app"
We got a request for password protection, similar to iOS. I think it could work very similarly (maybe just like 1password).

This would require a 4 character/digit password to gain access to the app each time you open the app. Helpful if you have sensitive info.

Things to consider:
- If the user reopens the app right after entering the password, do we require them to enter the password again? At

[2016-04-02 21:48] dmsnell commented on #278
@drw158 could you be a bit clearer and more specific? issues like these are very difficult to make sense of.

[2016-04-02 21:50] drw158 commented on #268
Currently, we don't have any plans for another note display option, but I do think the vertical whitespace in-between each note could be decreased.

[2016-04-02 21:59] drw158 commented on #278
No problem, updated the issue.

[2016-04-02 22:25] drw158 commented on #37
I think we should also add keyboard shortcuts for basic MD formatting, maybe only available if they have MD on?

- bold
- italic
- link
etc.

[2016-04-02 23:29] drw158 commented on #244
Just tested again on master. I can confirm that when I publish/unpublish a note it is moved to the top on the Last Modified setting. I don't think we should update the modificationDate on publish/unpublish.

[2016-04-02 23:34] drw158 commented on #269
Thanks for the feedback. There aren't any plans to adjust the whitespace in the editor itself, but we are looking at an option to resize the note list. We have a max width on the editor text, because after a certain point, having too many characters on one line is a hinderance for legibility. In the mean time, I suggest adjust the width of the app window. That will decrease the whitespace in the e

[2016-04-02 23:34] #269 closed

[2016-04-02 23:39] drw158 commented on #266
There are no plans to offer a 32 bit Linux build at the moment. We are currently adhering to the standards of https://github.com/Automattic/wp-calypso

[2016-04-02 23:39] #266 closed

[2016-04-02 23:45] drw158 commented on #264
Documentation for the solution to this: https://github.com/atom/electron/blob/master/docs/api/shell.md#shellopenexternalurl

[2016-04-02 23:48] drw158 commented on #194
#273 and #267 will fix this

[2016-04-02 23:48] #194 closed

[2016-04-03 05:24] envygeeks opened #280 "config.js and it's security unexplained for building public builds."
Please provide valid steps for how you actually build this package for Linux.  You explain in it's basic form "config.js" in the `lib/` folder but you do not explain this in the slightest when it comes to building at all and whether we need those keys (and if there is a security concern.)

[2016-04-03 11:37] roundhill commented on #278
I'm not sure if we should add this. Do other desktop apps have such a feature? Seems like most people these days add passwords to their desktops/laptops.

[2016-04-03 11:39] roundhill commented on #270
Is 73MB of memory `extreme` these days anyways?

[2016-04-03 11:57] roundhill commented on #277
I think we should probably just add support for registering an account directly in the app. The mobile apps currently support that.

[2016-04-03 12:05] roundhill commented on #259
+1 from me to have new notes have markdown enabled if the global was switched.

In hindsight, I think we probably don't need to worry about users seeing the markdown toggle even when they don't know what markdown is. I wonder if maybe we should remove the global toggle and always show the toggle in note info. Maybe we could add a setting to always set new notes as markdown enabled as well.

[2016-04-03 13:11] roundhill commented on #264
Closed via #283

[2016-04-03 13:11] #264 closed

[2016-04-03 14:15] abirwas commented on #270
@roundhill It is not, usually, but in this case, for a simple note taker, it is a bit too high. That said I am pleasantly surprised that this is actually running on electron and still using such low amount of memory. Despite this I still can't use it though due to functionality problems (that's an issue for another thread).

[2016-04-03 14:25] Sushubh commented on #259
It would be great if there was a toggle ui element to prevent any confusion. just flick it to turn on/off markdown for the post. There should be no need for a global setting!

[2016-04-03 15:34] #258 closed

[2016-04-03 15:34] #263 closed

[2016-04-03 15:34] #268 closed

[2016-04-03 15:39] drw158 commented on #278
Apple just added password support to their both of their note apps, and it got a really positive strong reaction. I think that is probably a lot more useful than locking the entire app.

[2016-04-03 15:45] drw158 commented on #278
Also, not having password protection means you can't have any sort of sensitive data in simplenote - imagine working in a coffee shop, and opening the app and the first note is selected automatically. Or, you start writing and realize that you can't m hide that sensitive note in the note list, unless you add some dummy content to the top.

[2016-04-03 22:43] lemmoner commented on #265
It doesn't work for me under Windows 7. When I start simplenote, I see in wireshark a SYN message towards 72.14.246.169:443 which is never responded, hence retransmissions happen.
Is Simplenote Win App re-using Internet Explorer settings? If yes, the communication should work. However, why does simplenote try to access that IP? It belongs to Google (My username is a gmail account), but I don't see

[2016-04-04 22:17] darim92 opened #285 "remove markdown syntax from sidebar list"
Show only the first + second line of the note without the markdown syntax.

[2016-04-05 07:57] abhishekpc opened #286 "Installation on Windows 7 fails"
Hello,

I tried to install Simplenote on Windows 7 Enterprise edition but the installation failed. I tried twice.

Here is a screenshot:

![image](https://cloud.githubusercontent.com/assets/3172915/14274962/aefded3c-fb14-11e5-86df-af5434229666.png)

[2016-04-05 10:03] roundhill commented on #286
What if you right-click the installer and `run as administrator`?

[2016-04-05 11:02] EdwardYuan opened #287 "Please provide another address to download the deb package"
It is hard to download the deb package from AWS platform in mianland China. So, could you provide another address to download it or an PPA for Ubuntu Linux. Thank.

[2016-04-06 09:34] drw158 commented on #285
You can already adjust the amount of lines shown. So, you are suggesting to remove the MD syntax in the note list? Can you elaborate why you'd want this?

[2016-04-06 09:44] Nebrit opened #288 "Notes organized in folders or tree"
It would be very interesting and I would give a great leap to get more users to organize notes in a folder structure or tree. We could have notes father and son.

Could add it as a new feature? What do you think?

[2016-04-06 12:01] abhishekpc commented on #286
@roundhill Indeed it worked with Admin privileges. Maybe this could be either fixed or mentioned in the download page?

Thanks :)

[2016-04-06 12:01] #286 closed

[2016-04-07 10:14] mDfRg opened #289 "32 bit version"
Do you plan to compile 32-bit version for older linux machines?  Here is my uname -a output:

`3.16.0-67-generic #87~14.04.1-Ubuntu SMP Fri Mar 11 00:26:36 UTC 2016 i686 athlon i686 GNU/Linux`

Regards,
mDfRg

[2016-04-07 10:19] drw158 commented on #289
Duplicate of #266

[2016-04-07 10:22] drw158 commented on #288
Hey @Nebrit, thanks for the suggestion. We have thought about this, but we explicitly chose to keep Simplenote's organizing functionality simple with tags only.

[2016-04-07 10:22] #288 closed

[2016-04-07 10:44] mDfRg commented on #289
Sorry!

[2016-04-07 10:44] #289 closed

[2016-04-07 11:30] drw158 commented on #289
No problem!

[2016-04-07 13:36] smilingsun commented on #265
Hope it can support system proxy or manual proxy in Ubuntu.

[2016-04-08 17:01] topher1kenobe opened #290 "After creating new account, window remains, content loads there"
I installed via apacman in Arch Linux, fired it up, and clicked to create a new account.  A new window opened, I filled out the form, my account was created, and simplenote loaded in that small window. The main window remained at a login page.
![selection_278](https://cloud.githubusercontent.com/assets/341412/14391431/f5289010-fd89-11e5-96ae-e621b166bd85.png)

[2016-04-08 23:33] soren121 commented on #290
Duplicate of #277, although this one does have a screenshot!

[2016-04-09 09:50] rikai opened #291 "Start menu shortcut opens a second, broken copy of the app."
If you open simplenote on windows via the start menu (or, i presume a desktop icon as well), it opens the app a second time, the second copy being in a broken state where none of the UI appears.

This isn't the functionality i expected. Most apps, when opened from an icon/menu entry, pull up the existing copy of the app.

[2016-04-10 17:10] rachelmcr opened #292 "Cursor jumps to bottom of the note while editing"
I am experiencing an issue while editing an existing note. Every time I try to edit the note (e.g. add text in the middle of the note), after a few seconds of typing the cursor jumps to the bottom of the note as I type. I then have to cut and paste the text I typed to put it where I want it in the note.

This doesn't seem to happen for all notes, so here are a few things about the note I have trou

[2016-04-11 02:22] ryanleesipes commented on #285
@drw158 I think what he is saying is that if you have a note with markdown enabled it still shows the syntax in the list on the left (vs the content post formatting). The preferred behavior would be to not see the markdown in the preview in the list. (screenshot attached).

![screenshot from 2016-04-10 21-21-57](https://cloud.githubusercontent.com/assets/2141621/14415221/5294a520-ff62-11e5-9376-44

[2016-04-11 02:24] ryanleesipes commented on #143
Agreed, people tags are weird...

[2016-04-11 02:25] ryanleesipes opened #293 "Hide Menubar"
Maybe this is Gnome-specific (Gnome desktop, Ubuntu), but I'd really love a way to hide the menu bar.

![screenshot from 2016-04-10 21-25-11](https://cloud.githubusercontent.com/assets/2141621/14415274/c7afce5c-ff62-11e5-9b2f-a3f29501a470.png)

[2016-04-11 02:27] ryanleesipes opened #294 "ToDo List Support"
Now that I find myself using this application every day for notes, I find that I keep making ToDo lists in it. I'm not sure if this issue needs to be integrated at a lower level (simplenote proper). But some kind of checkbox support or a proper ToDo list integration seems like a natural fit.

[2016-04-11 09:28] rachelsquirrel opened #295 "Error when offline - Windows"
When the app is offline in Windows an error message displays intermittently even though it's still possible to use the app:

![capture](https://cloud.githubusercontent.com/assets/7946521/14422680/f16c80a6-ffcf-11e5-80f0-908f98dbdc88.jpg)

If it's possible to use the app in offline mode then it would be good to remove this error notification.

[2016-04-11 12:15] rikai commented on #294
There is [existing markdown syntax](https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments) that could be used to support this feature.

[2016-04-11 15:03] darim92 commented on #285
@ryanleesipes thanks, thats exactly what I meant.

[2016-04-11 17:32] ryanleesipes commented on #294
Thank you @rikai - nice to see JB folks in here! :smile:

[2016-04-11 17:34] ryanleesipes commented on #294
Hold up, that syntax doesn't work for me, @rikai - does it work for you?

[2016-04-11 17:42] drw158 commented on #294
That's Github flavored MD, I don't think we support that right now.

[2016-04-11 19:19] ryanleesipes commented on #294
@drw158 is it on your roadmap? Is there an alternative way to do it that is supported?

[2016-04-12 07:49] rachelsquirrel opened #296 "Select and drag text replaces spaces with %2B - Windows"
Steps to reproduce:
1. Select a line of text in the Windows app.
2. Drag it to a different location in the note.
3. The spaces are replaced with %2B.

[2016-04-12 16:19] drw158 commented on #293
The File, Edit, etc. menu can't be hidden on Windows or Linux. Not sure how to solve that though.

[2016-04-12 16:36] drw158 commented on #285
Interesting, I didn't think about that. It doesn't bother me.

[2016-04-12 16:37] drw158 commented on #294
Proper to do list support is something we want to do, but no plans. Maybe in the meantime we can enable Github flavored MD.

[2016-04-12 19:16] ryanleesipes commented on #294
That would be awesome.

[2016-04-14 06:06] shayek opened #297 "Add "Saving" & "Saved" indicator sign"

[2016-04-14 14:54] vobj commented on #265
I'm using the Linux (Debian Jessie) version and I also have this issue.

[2016-04-15 08:49] rachelsquirrel opened #299 "Allow tab key to indent"
In the Windows app the tab key changes focus to the tags fields. It would be better if the tab key let the user add an indentation to the note.

_Tracking Tickets_
- #2642910-t
- #2641835-t
- #2653851-t
- #2654072-t
- #2670773-t
- #2708420-t
- #2711658-t
- #2724788-t
- #2770231-t
  -  #2849381
- https://twitter.com/user/status/749495005866258432

[2016-04-17 06:54] rachelsquirrel opened #300 "Can't copy preview"
When previewing a note with markdown enabled it's not possible to copy the text. Is this something we can support? It works with the web app.

[2016-04-18 09:04] rachelsquirrel opened #301 "Windows Ctrl + F doesn't bring up search box"
Ctrl + F on Windows takes focus to the search field in the app rather than bringing up the usual search box. This means it's not possible to step through to the next found item.

This is happening on Windows 7 Enterprise with the desktop app.

[2016-04-18 15:44] drw158 commented on #300
Already fixed! Should be out whenever we release the next version.

[2016-04-18 15:44] #300 closed

[2016-04-18 16:44] drw158 commented on #301
Should be fixed in the next release

#249

[2016-04-18 17:07] drw158 commented on #301
Sorry, I think that PR was merged before v1, so this should be working.

[2016-04-20 22:45] rikai commented on #291
Just curious if there's a reason this hasn't been marked as a bug yet. :)

[2016-04-20 22:51] dmsnell commented on #291
Thanks for the follow-up @rikai. It's not that we don't consider it a bug - we just hadn't gotten to this yet. Right now we don't have enough resources to work through the full list of issues. We appreciate your help in finding and writing them up!

[2016-04-21 21:43] #295 closed

[2016-04-22 19:19] PeterTheobald opened #303 "Note text doesn't expand horizontally to fill window"
When the window is large or full-screen the note text is centered horizontally and doesn't expand horizontally to fill all the available space. It even word-wraps long lines to squeeze them into an imaginary boundary. The text should start at the left not in the center and should flow to near the window's edge not an arbitrary width far short of the window.

[2016-04-22 19:21] PeterTheobald opened #304 "The Note List and Note Contents panes should be resizable"
The user should be able to grab the vertical border between the Note List pane and the Note Contents pane and adjust the width of those panes.

[2016-04-22 19:36] dmsnell commented on #303
Duplicate of #269

Thanks for the report @PeterTheobald, but as of now we have limited the width of the text area for legibility reasons

[2016-04-22 19:36] #303 closed

[2016-04-22 19:51] PeterTheobald commented on #303
I disagree with that reasoning, I find wrapped lines much less legible than clean text running to the edge; But thank you for addressing this.

At 03:36 PM 4/22/2016, Dennis Snell wrote:

[2016-04-23 12:01] user501254 commented on #40
Hi, any plans of providing rpm packages?

[2016-04-26 12:54] rachelsquirrel opened #305 "Remember session settings when app is closed"
When the app is closed and reopened it would be good if the window size and the note which was previously open are returned by default.

[2016-04-26 15:11] rachelsquirrel commented on #299
Another request - #2642910-t

[2016-04-26 15:13] rachelsquirrel commented on #292
A report on Linux (Mint 17.3, Ubuntu 14.04)- #2642910-t

[2016-04-26 15:49] rachelsquirrel commented on #299
Another request - #2641835-t

[2016-04-30 08:00] EJOweb opened #306 "Keyboard shortcut for toggling markdown preview"
Adding a keyboard shortcut for switching from markdown to preview and vice versa would be nice. Maybe CTRL + M(arkdown) or something?

[2016-04-30 08:05] EJOweb opened #307 "Automatically let new note support markdown"
Now I have to enable markdown for each new note I create. It would be more efficient if I could select an option that every new note is automatically markdown supported.

[2016-04-30 09:06] ryanleesipes commented on #307
Agreed.

[2016-05-02 15:45] shayek opened #308 "Emoji support"

[2016-05-02 18:16] rikai commented on #259
There is always the option of putting the toggle in the button area above a note somewhere with a mouseover saying that it's a markdown toggle. :)

[2016-05-02 18:17] rikai commented on #307
See #259 :)

[2016-05-02 19:01] drw158 commented on #259
This currently exists in the note Info panel.

We try to put all settings like that in the note Info panel.

[2016-05-02 19:18] drw158 commented on #259
After reviewing all of the feedback, I'm inclined to:

- Only have one global MD switch, in account preferences
- Global switch would affect all notes if turned on/off
- Eliminate the MD switch in the note Info panel

Pros
- Simpler, it would clear up the issue reported here

Cons
- Notes could not be individually set for MD

Having a MD setting in the note Info panel will inherently require anoth

[2016-05-02 19:29] EJOweb commented on #259
I agree with avoiding another setting. A global MD switch would suit me perfectly. I can't picture a situation where I want some notes to particularly have MD turned off.

[2016-05-03 08:50] eblade opened #309 "Enable Github-flavoured Markdown"
Given how I assume this app is built (not too familiar with Electron, but it looks web-ish to me), would it be possible to use for instance this renderer [marked](https://github.com/chjj/marked) to enable Github-flavoured Markdown (GFM). The main feature for me would be syntax highlighting for a number of languages.

[2016-05-03 10:35] BobTB commented on #52
Very important thing to do, hard to see where the searched text is without this!

[2016-05-03 15:44] drw158 commented on #307
This would be solved with #259, so closing

[2016-05-03 15:44] #307 closed

[2016-05-03 15:45] drw158 commented on #294
Closing in favor of #309

[2016-05-03 15:45] #294 closed

[2016-05-03 18:19] roundhill commented on #259
I like your plan Dave but it is a problem not to have the toggle in order to set the markdown flag, which is a per-note thing in the back end. This way the markdown formatting persists across apps and also renders the published note in markdown if it were flagged as so.

I think with this in mind, we should leave the individual toggle but have all notes created be markdown enabled if the previous

[2016-05-05 06:38] rachelsquirrel commented on #299
#2653851-t

[2016-05-05 11:27] rachelsquirrel commented on #299
#2654072-t

[2016-05-06 05:40] nsrosenqvist opened #310 "Support having multiple accounts"
It would be awesome if the Simplenote could support having multiple accounts that can easily be switched between. A simply way to integrate it in the UI would be to just have the user icon in the corner of the toolbar and on click have a drop down appear with all authorized accounts.

[2016-05-07 02:06] rkwnyc commented on #299
Same behavior in the Linux app, version 1.0.1.  Would be better if tab key worked the same as the web interface (i.e., as a 4-space indentation)

[2016-05-08 21:17] rbreaves opened #311 "Not loading notes on Ubuntu 16.04 LTS"
Installed both v1.0.0 and v1.0.1 and after providing my log in information the app simply does not load my notes at all. I can not really create additional notes either. I tried creating a test note, but it did not upload and sync itself and I could not create more than 1.

![blanksimplenote](https://cloud.githubusercontent.com/assets/10969616/15100472/61235cf8-1538-11e6-9aab-ffb69d092c1f.png)

[2016-05-09 08:47] rachelsquirrel commented on #311
Are you able to sign into our web app and see your notes there? If yes, try deleting the app from your computer and installing it again. If this doesn't fix the problem then get in touch with us here - https://simplenote.com/contact-us/

[2016-05-09 09:40] rachelsquirrel opened #312 "Spellcheck isn't active"
Spellcheck _should_ be on in the app but it apparently isn't. This has been reported in [other](https://github.com/Automattic/simplenote-electron/issues/517) issues (#3153710-t [@Hywan]) here and with [draft-js](https://github.com/facebook/draft-js/issues/744) as well.

Spellcheck is activated in the code but not the app.

Some testing revealed that this works when running the app locally in a bro

[2016-05-10 05:46] chiisaihayashi opened #313 "cannot not install from GUI on Ubuntu 16.04"
When I click install button at software center,  installation does not start.
Installation from terminal is ok. (dplg -i simplenote-1.0.1.deb)

[2016-05-10 13:34] rbreaves commented on #311
Actually it is working correctly now... that is sort of odd. I did reinstall it twice that day, but it is working now. I suspect that maybe it was just some sort of DNS issue, although the site and the notes loaded just fine in chrome on that day.

[2016-05-10 14:58] rachelsquirrel commented on #311
Ok, great! I'll close this. If you have any other issues then contact us here - https://simplenote.com/contact-us/.

[2016-05-10 14:58] #311 closed

[2016-05-12 16:59] valdotdev opened #314 "Add Task List (checkbox) Markdown support"

[2016-05-15 05:32] MiteshNinja commented on #259
On the flip side, I would hate for a single global switch to toggle markdown ON/OFF on every post.

Since the primary scope and functionality of SN is to be able to take notes, there are tons of us who don't use markdown.

Any personal note I write is written in plain text. I only use markdown for much larger pieces like blog posts, longer more structured class notes etc. Also, enabling the markdo

[2016-05-15 05:36] MiteshNinja commented on #313
It's not a Simple Note issue. It's a bug with Gnome centre/Ubuntu. View the bug here: https://bugs.launchpad.net/ubuntu/+source/gnome-software/+bug/1573206

(You can close this now :P)

[2016-05-15 21:42] dmsnell commented on #259
I've been using the new Day One 2 recently and I like the way they have their editor. Like Simplenote, it's just text, but they _always_ have a distinction between editing and viewing. In that context, Markdown is always enabled for them. Although we have historical reasons not to enable markdown everywhere due to previous notes being written without that expectation, I could see a good compromise

[2016-05-16 15:26] drw158 commented on #259
Thank you @roundhill, @dmsnell, and @MiteshNinja for the feedback. Y'all have made a good case for a per-note MD toggle, in the Info panel. I'll have to check out Day One 2.

Sounds like going forward, we should:

- Remove the global MD toggle.
- Keep the per-note MD toggle.

then there are 3 options:

- Default for toggle is ON.
- Default for toggle is OFF.
- The toggle state is determined by the

[2016-05-18 15:36] kriskarkoski commented on #299
#2670773-t

[2016-05-20 05:37] rachelsquirrel commented on #305
#2672167

[2016-05-21 09:49] chiisaihayashi commented on #313
That's problem on my desktop environment.
Thanks!!

[2016-05-21 09:49] #313 closed

[2016-05-21 18:09] JasonSnow-Mad opened #315 "Windows Account Screen Displays blank"
User noted that when going to File -> Preferences in the Windows, there is no account listed

![cloudup-ig1rqnlzigy](https://cloud.githubusercontent.com/assets/8810295/15450027/2fedd68c-1f55-11e6-99c8-f52d84ff68d3.png)

V.1.0.1, Dark or Light theme

[2016-05-22 01:01] joshcjohns opened #316 "Simplenote icon missing in GNOME dock"
When launched, the Simplenote entry that appears in GNOME dock is a generic, grey icon, not the blue Simplenote icon. Using Fedora 23, GNOME 3.18.2, Simplenote 1.0.1 for Linux 64-bit.
![screenshot from 2016-05-21 20-56-57](https://cloud.githubusercontent.com/assets/11774978/15451551/193f815a-1f97-11e6-9ed0-1d62fd7d6da2.png)

[2016-05-22 05:46] KokkieH commented on #278
Just had another request for this in 2674052-t, specifically for the Windows and Linux apps. This has also been requested on the (old) feature request page of the P2 for the Mac app: 2445663-t.

[2016-05-24 16:31] JasonSwindle opened #317 "Disable sync, offline usage only"
Howdy!

This looks to be the perfect NVALT replacement, but I sadly cannot sync my notes online. Please add in the option to write-to-disk as an option. :)

[2016-05-25 18:13] drw158 commented on #267
We hope to do this in the future at some point.

[2016-05-25 18:23] drw158 commented on #308
Can you elaborate? You can use emojis in your notes.

[2016-05-25 18:30] drw158 commented on #317
Sorry @JasonSwindle, an internet connection is a core requirement of the Simplenote app. There are no plans to support complete offline usage.

[2016-05-25 18:30] #317 closed

[2016-05-30 22:25] ebeloded commented on #293
Hey @drw158,

The menu can be hidden or auto-hidden (like in Slack or VS Code - you can press Alt to show/hide the menu).

Relevant methods:
- [win.setMenu(menu)](http://electron.atom.io/docs/api/browser-window/#winsetmenumenu-linux-windows) - Sets the menu as the window’s menu bar, setting it to null will remove the menu bar.
- [win.setAutoHideMenuBar(hide)](http://electron.atom.io/docs/api/brows

[2016-05-31 09:15] RobbieFM opened #318 "Notes created offline not syncing when online again on Ubuntu 16.04"
Notes that are created while working offline are not automatically syncronized when laptop is online again. Not even after a restart of the simplenote program. On Ubuntu 16.04. On Android it does re-syncs!
#### Steps to reproduce
1. Go offline
2. Create a note
3.Go online
4. New note not on https://app.simplenote.com/ even after restart of simplenote program

#### What I expected
All notes that I

[2016-05-31 09:18] RobbieFM commented on #316
On Ubuntu 16.04 Gnome 3.20 there is a icon
![simplenote icon dash](https://cloud.githubusercontent.com/assets/19664209/15669582/5ab14f24-2721-11e6-97e1-bcdc2a7f72cc.png)

[2016-06-03 15:01] rbreaves commented on #52
I would agree that search highlighting needs to be added and was about to add a request if one had not been made. There are 3rd party clients for Windows, Linux and OSX that support this feature and as much as I love the official Simplenote app this is the single reason why I am no longer able to use the official app. My notes in the application are beginning to get long and detailed enough that s

[2016-06-03 15:08] BobTB commented on #52
I just have to say that I stopped using the official Simplenote app just because this does not exists. It is actually quite useless when the notes are more than a few lines without search highlighting.

[2016-06-06 01:28] JokerQyou commented on #274
Although I think the ultimate solution to this would be allowing users to select any font installed on their computer, starting from basic font configuration might be a good idea. Currently CJK characters looks awful in Simplenote.

Here is how it looks like when I have default font size:
![image](https://cloud.githubusercontent.com/assets/1465267/15809693/674bd32a-2bc8-11e6-9a6c-80f41e954f57.png)

[2016-06-06 02:19] prat0088 opened #319 "Automatic, local, plain-text backup"
I would like a local backup of my notes.  The only way to do this now is to use the webapp version and manually download the .zip or to schedule a 3rd party sync script in cron.

It would be so much easier if that functionality was automatically handled by the SimpleNote client. For example, save a backup (a .zip containing all text files) every time the app is shut down.  I've seen similar behavi

[2016-06-06 10:08] prat0088 commented on #319
Nearly the same request as #271.

[2016-06-07 07:24] mlda065 opened #320 "Hash titles don't render"
#### Steps to reproduce

Enter the following note

    #Here is a top level title

    Alternative top level syntax
    ================

    ##Second level title

    Alternate Second Level syntax
    -------------------------

    body text

#### What I expected

I expect what happens in the web app, which is

![web app](https://cloud.githubusercontent.com/assets/7035647/15849122/45b206f0-2cd4-1

[2016-06-07 14:23] drw158 commented on #320
The Linux and Windows apps use a slightly different Markdown library. For these apps, you have to put a space after the hash character. This should work for you:

`# Here is a top level title`

The web app does not require the space after the hash character. We consider the Linux/Windows app to be the correct version, since it follows the Daring Fireball syntax more closely.

https://daringfirebal

[2016-06-07 14:23] #320 closed

[2016-06-07 14:27] drw158 commented on #312
Note: We should allow the user to turn off/on spellcheck like in any textarea in the browser. If that's not possible, then this will require developing a feature and adding a settings to the app.

[2016-06-07 17:02] roundhill commented on #309
We're already using `marked`, so I think we just need to enable the gfm option 👍

[2016-06-08 16:20] rachelmcr commented on #292
I have noticed that if I unpin and re-pin the note, this issue goes away for a while. I'm able to edit the note without any trouble for a while, although eventually the problem comes back and my cursor jumps to the bottom of the note again as I type.

[2016-06-10 17:17] drw158 commented on #191
This could be a non-issue, but we should make a decision. There is some controversy over this in Electron I believe. This also happens in Slack, and I assume WP Desktop? We could decide to not fix this.

I think it's only really a problem for us, because notes can be personal, and might even contain passwords. The problem would be alleviated if we had password-protected notes.

[2016-06-10 17:41] drw158 commented on #278
Thinking more about this, I think it makes much more sense to lock specific notes, not the entire app. Rarely do you need to lock more than 1 or 2 notes. It would be worth it to go through the Notes.app locking flow and see what we can learn.

Unfortunately, this might be something we have to do across all apps. I don't know if we should do it on just one app and not the others.

[2016-06-10 17:44] #248 closed

[2016-06-14 14:21] prat0088 commented on #306
CTRL+M would be great.

[2016-06-14 14:31] prat0088 opened #322 "Right-click context menu for note list"
I would like to right-click on a note and have the options to...
- Delete a note
- Share a note
- Display note info

It's a desktop app, and desktop apps have context menus.  The toolbar buttons are also nice, but they're on the other side of the app and not as intuitive to use if you are used to using a desktop OS.

[2016-06-14 14:33] prat0088 opened #323 "Export individual notes"
I wanted to save a specific note as a text file.  I clicked the share arrow expecting to see an export option.  No luck.  Such a feature would be useful.

[2016-06-14 14:57] prat0088 opened #324 "Global hotkeys"
A global hotkey to bring the application to the front would be useful, perhaps with the focus on the search field so you could simply type in the note you're after.

[2016-06-14 15:01] prat0088 opened #325 "Up/down navigation of note list after search"
I'd like to navigate to another note without using the mouse:
1. CTRL+F to jump to the "All Notes" search box. (this exists)
2. Type part of the note name to filter the note list
3. Press up/down to change the selected note
4. Press enter to move the focus to the note text in the right-hand pane.

This request is for the behavior in 3 and 4.

[2016-06-14 15:04] prat0088 opened #326 "Escape should remove the note list filter"
#### Steps to reproduce
1. Type in any text in the "All Notes" note list filter on the left.
2. Press escape
#### What I expected

Search box is cleared and all notes show in the list.
#### What happened instead

Nothing

[2016-06-14 18:46] sambody commented on #285
I would also prefer the markdown syntax to go away in the list, as it is only used to indicate a title, which to me is useful in the content area, but not in the notes list.

The web version is not consistent with the desktop version with that regard: in the web version, the markdown syntax is removed (as I would prefer), in the desktop version (Windows), it is not.

[2016-06-14 18:50] sambody commented on #306
In the desktop app, Ctrl+M is already used to minimize the desktop app (Windows 10).

And in the web version on Firefox, Ctrl+M is used to mute the current page. So it will probably have to be another shortcut.

[2016-06-14 19:04] sambody opened #327 "Preview: Keep same styles for desktop as for web version"
I would expect to see the same (or similar) styles for desktop and web version, for consistency.

Some differences that stand out for me (especially the first one):
1. Heading 1 is left aligned in desktop, centered in web version. I would suggest keep it left aligned.
2. Heading 2 and 3 are bold in desktop, unlike the web version.
3. A code block has a padding and a border in the deskop version, u

[2016-06-14 22:58] prat0088 commented on #306
Ok. As long as it gets a shortcut I'm happy.

[2016-06-15 14:41] KokkieH commented on #305
Another request for this in https://twitter.com/glauer42/status/743086090542800896

[2016-06-20 14:58] #318 closed

[2016-06-22 13:21] dcoleonline commented on #299
#2708420-t

[2016-06-23 19:40] kriskarkoski commented on #299
#2711658-t

[2016-06-23 19:40] kriskarkoski commented on #274
Monospace or alternative font options requested by a user in #2711658-t

[2016-06-23 19:41] kriskarkoski commented on #305
#2711658-t

[2016-06-28 16:21] lboullo0 opened #328 "Autocomplete labels"
#### Steps to reproduce

Start tipping the name of an existing label
#### What I expected

The application suggest the name of an existing label so it can be reused.
#### What happened instead

You end up having similar labels (eg: singular / plurals like tool and tools)
#### OS version

Linux
#### Screenshot / Video

[2016-06-28 18:41] titoesteves opened #329 "Add markdown support for Mac OS"
#### Steps to reproduce
1. Simplenote app for Mac OS does not currently have markdown support yet markdown is supported in the windows and linux apps.

#### What I expected
Simplenote app for Mac OS to have markdown support

#### OS version
El Capitan

[2016-07-02 07:38] KokkieH commented on #52
Another request for this in https://twitter.com/user/status/749116726701281280

[2016-07-03 03:25] nsrosenqvist opened #330 "Note title (first row) isn't stylized as heading in the editor like in the other apps"
In the other SimpleNote apps the first row of the note in the editor is stylized as a heading, increased font-size, but isn't in the electron app. Can this be added for the electron app too?

[2016-07-03 06:38] sean185 opened #331 "Note editor: No focus when when toggled back to edit mode"
#### Steps to reproduce
1. Create note
2. Enter preview mode
3. Enter edit mode
4. Attempt to scroll/type
#### What I expected

The app should focus on the editing pane and I should be able to begin typing or scrolling immediately.
#### What happened instead

The focus remains on the edit toggle button. I determined that because pressing tab shifts focus to the preview toggle button.
#### OS versi

[2016-07-03 08:05] KokkieH commented on #299
https://twitter.com/user/status/749495005866258432

[2016-07-03 11:03] marianoju opened #332 "Data loss after client failed to synchronize"
Simplenote wrote:

#### What happened so far
1. I have recently changed the email I use to sign in to my account (from m...@gmx... to m...@posteo...). My hunch is that this transition didn't go well.
2. Over the course of the last days I have been writing long notes (mostly bug reports), using [the latest Simplenote client for Ubuntu v1.0.2.](https://github.com/Automattic/simplenote-electron/relea

[2016-07-03 18:31] shawnajean opened #333 "Search uses exact phrase search rather than keywords"
#### Steps to reproduce

1.Create a new note with the words "Rachel loves bikes"
2. Search for the words "Rachel bikes"

The app can't find the note because it's searching for the exact phrase rather than notes which contain both Rachel and bikes. It doesn't work this way in the iOS app. In iOS searching for "Rachel bikes" will return the note with "Rachel loves bikes".

Reported by user on Window

[2016-07-04 13:15] daveismyname commented on #329
+1

[2016-07-05 17:41] chrisfromthelc opened #334 "AutoHotKey not inserting text"
#### Steps to reproduce

I have an AutoHotkey script that lets me type some useful characters and their sequences with my custom keyboard shortcuts, e.g.:

Shift 9 — brackets (), both at once
Alt Shift 9 — “” (typographic quotes)
Alt E — € (euro sign)
Ctrl \ — HTML tag
#### What I expected/What happened instead

All these shortcuts work system-wide, i.e. I use them in any application that receives

[2016-07-05 23:04] jerrysarcastic commented on #299
#2724788-t

[2016-07-05 23:51] dmsnell commented on #299
just curious why are we listing the tickets here? don't we have a way to mark tickets as duplicates?

[2016-07-06 01:28] TwisterMc commented on #329
I'd love to see this too.

[2016-07-06 13:59] bopinto commented on #329
Since there is already Markdown for linux and windows, what's stopping from having it to Mac?

[2016-07-06 17:21] jerrysarcastic commented on #299
@dmsnell great question. I had never seen a list of tickets links in a Github issue before this ticket, so doing what everyone else is doing.  To be fair I usually see this kind of thing happening over here:  https://simplenoteideas.wordpress.com/

[2016-07-06 23:23] irstevenson commented on #265
Same problem here with version 1.0.2 on Linux Mint behind a corporate Microsoft NTLM proxy with username and password credentials required. (Have both http_proxy and https_proxy env variables set.)

[2016-07-07 08:29] AntonioIT commented on #330
I do agree. This will avoid markdown tags to be displayed in the list of the notes (in the left panel).

[2016-07-07 08:32] AntonioIT opened #335 "Crypted notes vs. full-text search"
Notes are not crypted to allow full-text search, but it would be useful to choose between fulltext-search an no cryptation OR data crypted with no-fulltext search allowed.
Notes title only should remain in clear.

[2016-07-07 18:21] rachelsquirrel commented on #299
@dmsnell It helps us track how common an issue it is. Like we do here - https://github.com/Automattic/jetpack/issues/2051.

It's true that most feature requests go to the p2 but this seems more significant.

[2016-07-07 18:57] titoesteves commented on #329
In looking at a previous blog post by simplenote(https://simplenote.com/2016/03/29/simplenote-for-windows-and-linux/), it states the windows and linux versions were open sourced. Since they did not mention the mac version, I assume they did not use the same code the mac and linux versions use for markdown support. Again this is only an assumption given that the mac source code is not readily avail

[2016-07-07 19:09] dmsnell commented on #299
@rachelmcr do you think we could use another method, such as adding thumbs'-ups or editing a single comment/the issue itself to indicate popularity?

From my perspective it's not helpful at all to have a bunch of comments because we're already aware of the issue and it's just a matter of being able to find the resources to dedicate to resolve it. Marking tickets as duplicates still tracks back to

[2016-07-07 20:15] titoesteves opened #336 "Source code for Mac app is not available"
#### Steps to reproduce
In looking at a previous blog post by simplenote(https://simplenote.com/2016/03/29/simplenote-for-windows-and-linux/), it states the windows and linux versions were open sourced. However, the mac version is not
#### What I expected
App for mac source code to be available on github

#### What happened instead
It is not currently available on github

#### OS version
Mac OS

[2016-07-08 06:21] rachelsquirrel commented on #299
I'm happy to edit the same comment or add a thumbs up, that's fine.

[2016-07-08 09:22] rachelsquirrel opened #337 "Word count displays as zero for Russian"
**Steps to reproduce**
1. Create a new note.
2. Add some text in Russian.
3. View the word count.

**What I expected**
The word count to display the number of words.

**What happened instead**
The word count displayed zero words.

**Screenshot / Video**

![words](https://cloud.githubusercontent.com/assets/7946521/16683058/c268f9ea-44f5-11e6-946d-10067177202d.png)

Reproduced by @KokkieH. Thank you

[2016-07-08 13:07] AntonioIT opened #338 "PC Application aspect differs from Android App"
The aspect of notes shown by SimpleNote application for Windows differs from the same note as shown in Android App.
Android App does not show the note formatted with tags, and the same tags are shown (not good), while the first word of the note is treated as the note title and is shown in bold (good).
Both versions should have the same features :
1. no need to format the first word, treating it as

[2016-07-08 13:13] AntonioIT opened #339 "Pencil icon is to add new notes, not for editing"
The pencil icon button is generally used to edit notes.
To add a new note I expect a more standard "plus" icon button.
Thank you.

[2016-07-08 13:18] AntonioIT opened #340 "Tags duplicates"
SimpleNote allows duplicated tags (no difference in case neither in right spaces). This must be avoided.
As soon as the user types the first letters, SimpleNote should suggest the possible existing tags.
Thank you.

[2016-07-09 00:18] catkit opened #341 "RTL Support"
From a user:

[2016-07-10 08:43] nsrosenqvist commented on #293
The implementation of this in Atom can be followed in the following issue thread: https://github.com/atom/atom/issues/2914

The support for hiding the menu bar in electron apps was added with the following pull request: https://github.com/electron/electron/pull/558

[2016-07-13 15:28] jgadsby opened #342 "Automatic hyperlink formatting in Simplenote for Windows & Web"
Simplenote on Mac and Android automatically highlights URLs, even if the note is not Markdown formatted. This does not happen on Simplenote for Windows, in the desktop or web apps. I have to add markdown formatting and switch the view to Markdown to be able to click on the links. It'd be really great if this feature was brought to Windows.

[2016-07-13 15:38] roundhill commented on #336
We are planning to open source the other apps, once we get them cleaned up and ready for OSS.

[2016-07-13 15:38] #336 closed

[2016-07-13 15:40] roundhill commented on #330
This is pretty challenging because we are using a `<textarea>` element in the electron app. Open to suggestions :)

[2016-07-13 15:42] roundhill commented on #338
An Android app update is coming soon with Markdown support.

And this is also a dupe of #330

[2016-07-13 15:42] #338 closed

[2016-07-13 15:44] roundhill commented on #329
We have an issue open for the mac app to add markdown, so closing here.

[2016-07-13 15:44] #329 closed

[2016-07-13 15:46] roundhill commented on #339
It is a `+` icon in the app, unless I'm missing something:

<img width="35" alt="screen shot 2016-07-13 at 8 45 36 am" src="https://cloud.githubusercontent.com/assets/789137/16809743/3da51baa-48d6-11e6-8c29-506300d8411b.png">

[2016-07-13 21:44] nsrosenqvist commented on #330
Electron is built on Chromium's Blink rendering engine right? The CSS ::first-line pseudo-selector works on textareas for Blink (and WebKit, I assume). I don't think it works for Firefox but that wouldn't be an issue since no code is shared with the official web app, right?

Here's an example: http://codepen.io/anon/pen/NAwkAV

[2016-07-13 22:07] dmsnell commented on #330
Looks great @nsrosenqvist - are you interested in putting together a PR for this?

[2016-07-13 22:11] nsrosenqvist commented on #330
Unfortunately I don't have the time to do that right now. I assume that it would only apply for when markdown is not used as well, right? If you're familiar with the code base, which I am not, it should be pretty straight forward to implement this though.

[2016-07-13 22:16] dmsnell commented on #330
Thanks, we'll try and see when and if we can get this in.

[2016-07-13 23:02] roundhill commented on #330
It works! I'm pretty sure I tried this before, maybe an update to WebKit between then and now added support:

<img width="492" alt="screen shot 2016-07-13 at 3 48 55 pm" src="https://cloud.githubusercontent.com/assets/789137/16822699/2d45a846-4913-11e6-8913-c1577fc931a8.png">

I'll create a PR for this at the end of the week.

[2016-07-13 23:18] nsrosenqvist commented on #330
Great! Thanks @roundhill, much appreciated!

[2016-07-14 03:29] titoesteves commented on #329
@roundhill I created this issue because I was unable to find a previously created issue. Can you provide a link to the open issue?

[2016-07-14 05:32] roundhill commented on #329
@titoesteves the mac app is currently in a private repo, sorry.

[2016-07-14 15:23] alexjgustafson opened #343 "Tags not appearing in search results even with "tag:" prefix"
Searching for a tag is a feature in the web app that's not available on desktop.
#### Steps to reproduce
1. Add a tag to a note that is not a word found in the note's body, "example123"
2. Search for "example123" and notice no results
3. Search for "tag:example123" and notice no results
#### What I expected

When searching for "tag:example123" to see a list of notes tagged with "example123" as is

[2016-07-14 15:23] alexjgustafson commented on #343
Relevant to #2736296-t

[2016-07-14 16:17] roundhill commented on #271
Do you know that you can download a .zip archive from the web app at https://app.simplenote.com?

[2016-07-14 16:20] roundhill commented on #343
Isn't this the same as filtering by the tag name when you click on it in the left sidebar?

[2016-07-15 10:40] alexjgustafson commented on #343
It is - but we provide both the clickable and searchable option in web app. Only the clickable on desktop.

[2016-07-16 09:28] AntonioIT commented on #339
I do not see the + icon. Instead I see the attached screenshot of my tablet.
Thank you!

-- Antonio

Il 13/lug/2016 17:46, "Dan Roundhill" <notifications@github.com> ha scritto:

[2016-07-16 14:50] roundhill commented on #339
Screenshot didn't come through, is it an android tablet? This repo is for the electron app (windows and Linux). The android app will get the + icon in an update soon.

[2016-07-17 02:49] titoesteves commented on #329
@roundhill, thanks for the reply. Is there an ETA on when markdown support will be added to the mac app? Also is there an ETA when the mac app will be open sourced?

[2016-07-18 01:15] MJIO commented on #309
+1 on syntax highlighting support.

Are there plans to also enable Markdown for the OSX application?

[2016-07-22 16:54] marianoju opened #346 "Download .zip unsuccessful, browser freezes"
#### Steps to reproduce
1. Login to Simplenote web app (https://app.simplenote.com/signin).
2. Select $userid (in upper right corner) > Download .zip

#### What I expected
After some server-side compressing a .zip file to be downloaded by browser.

#### What happened instead
Browser freezes after selecting “Download .zip”. Tried with Firefox 47.0 and Chromium 51.0.2704.79
- Firefox asks to stop sc

[2016-07-22 16:58] marianoju commented on #271
I support the feature request. A plain-text backup would have enabled me to recover [lost data after client failed to synchroniz](https://github.com/Automattic/simplenote-electron/issues/332) (#332).

Downloading a .zip archive from the web app at https://app.simplenote.com is *not* an option for me, for two reasons:
1. since client failed to synchronize data was not accessible trough the web app;

[2016-07-22 17:20] marianoju commented on #332
Since this issue has not received any reply in 19 days I have permanently given up on recovering the lost data. I have not been able to find out where the latest Simplenote client for Ubuntu v1.0.2. stores my notes locally. Support has been unable or unwilling to answer my questions in detail. For the record:

1. Where & how does the Simplenote application locally save notes on Ubuntu 16.04 (64 bi

[2016-07-24 05:49] 3vivekb opened #347 "Feature Request: Make individual notes searchable in spotlight"
Make simplenote notes searchable from macOS spotlight.

Spotlight is a very useful mac feature to search for things.  When I use spotlight I can find text inside individual notes and documents that are stored in other applications.

Unfortunately, I cannot currently search inside my simplenote notes from macOS spotlight.  When I want to use simplenote, my current process is to open simplenote and

[2016-07-25 14:07] tiangolo commented on #301
Maybe this is related to #347.

I think I'm having the same "issue". I can search for a term in "All Notes" and in the left column the notes get filtered to the ones having the term. But I can't see where the keyword is inside one of the notes. I have to read it all to find it.

But using the web app (with a browser) instead of the desktop app I can use the browser's search box and find the keywor

[2016-07-28 08:37] rachelsquirrel opened #349 "White space beside left margin when window is maximised"
When the window is maximised in the Windows app it pushes the left margin for a note to the middle of the screen.

Steps to reproduce
1. Open a note in the Windows app.
2. Maximise the window.
#### What I expected

I expected the contents of the note to be aligned on the left.
#### What happened instead

The left margin was in the middle of the screen.
#### OS version

Windows 10
#### Screenshot /

[2016-07-29 05:32] fayad opened #350 "Fails to remember window size on Linux"
I'm running 1.0.2 build on Debian Sid with Gnome 3.20.2.
#### Steps to reproduce
1. Open up Simplenote
2. Reduce the window to smaller size or maximize to full screen
3. Close the app and reopen
4. Fails to open from the last resized position of window
#### What I expected

Expected the application to remember last size of window. Open again from the last window size.
#### What happened instead

A

[2016-07-29 12:45] xidianwlc opened #351 "failed to build develop environment"
#### Steps to reproduce
1.  git clone https://github.com/Automattic/simplenote-electron.git
2.  npm install
3.  npm run build
4.  electron .

#### What I expected
after electron . commond , simplenote should be builded, but it failed for Error: Cannot find module 'app'

#### What happened instead
[code]

#### OS version
ubuntu 14.04

#### Screenshot / Video

[2016-07-31 13:24] xidianwlc commented on #351
because of electron api is change

[2016-07-31 13:24] #351 closed

[2016-07-31 22:34] DoTheEvo opened #352 "Markdown enabled should not split the main view in to two modes"
I would like all the nice stuff that markdown provides, but not in the way its working now.
I rather just have simple notes than to be at the mercy of that indecision, which view I should use.

Should I have nice markdown or should I have easy editing whenever I want to?

It might seem little silly maybe, you just do extra click/swipe when you want to edit but its kinda ruining my experience.

Con

[2016-08-01 23:09] aalbertson commented on #265
+1 Simplenote Mac 1.1.6, proxy settings enabled everywhere, but no way to even configure simplenote to read it and it is not picking it up automatically.

[2016-08-02 12:35] JeffByers commented on #274
For me, the lack of a mono-spaced or non-proportional font such as Courier New, or Consolas on all Simplenote supported platforms is a deal breaker, it's a requirement. I have many notes with column aligned table data, which without the right font, simply does not line up.

[2016-08-04 09:22] MicBosi commented on #265
A user just reported the same problem on:
iMac, OS X El Capitan 10.11.6
Simplenote.app v1.1.6

[2016-08-04 14:19] axil commented on #342
I second that. It would be a great step forward in usability.

[2016-08-04 17:13] aalbertson commented on #265
I should clarify, my system (browser, terminal, sudoers, etc...) proxy settings are enabled, however simplenote does not seem to pick this up, and I have yet to find a location to configure them for simplenote itself.

[2016-08-05 06:49] rachelsquirrel opened #353 "Tags with @ trigger sharing feature in Windows app"
In the web and Mac app it's possible to have tags with @ that are not email addresses. In the Windows app these tags do not appear in the list of tags and they trigger the sharing feature. If we don't want to allow tags with @ - other than in email addresses - then we should make this consistent across all apps.

[2016-08-05 07:09] systemocracy commented on #52
there is highlighting in the android client. Puzzles me how this is not included in the windows version, I have not made the switch to the official windows client for this reason alone. Hope its included soon.

[2016-08-05 10:51] bro1 opened #354 "Notes added in Simple note android sometimes do not appear in SimpleNote on Linux"
#### Steps to reproduce
1. Set up and log on in Android app and Linux app synchronize both.
2. Add notes in simple note on android (probably while not connected to network)
3. Launch SimpleNote Linux client and let it sync
4. Launch Android app while connected to network and let it sync
#### What I expected

The notes that were added on Android to show up on Linux app
#### What happened instead

T

[2016-08-05 17:32] roundhill commented on #339
Closing since I'm pretty sure you were referring to the Android app, which now has the same icon.

[2016-08-05 17:32] #339 closed

[2016-08-05 17:33] roundhill commented on #346
Can you please reach out to support at https://simplenote.com/contact-us? They can help with your .zip issue.

[2016-08-05 17:33] #346 closed

[2016-08-05 17:36] #319 closed

[2016-08-05 17:37] roundhill commented on #354
Hmm, works for me. Are you using version 1.0.2 of the Linux app?

[2016-08-08 12:23] rachelsquirrel opened #355 "See all untagged notes"
In the web app you can search for untagged notes with tag:untagged. It would be good to have this same view in the Windows and Linux apps.

[2016-08-09 20:48] catkit commented on #299
Not sure what to do, as I don't know how to marking tickets as duplicates so just pasting yet another request:
https://help.automattic.com/staff/index.php?_m=tickets&_a=viewticket&ticketid=2770231

[2016-08-11 06:32] bro1 commented on #354
Hi,

I tried to follow those steps and no, it's not reproducible with the steps that I have described in the original issue report.

However, at this stage I still have a very similar issue:
* Online application access
* 2 Android devices (Both of them showing everything as up to date)
* SimpleNote 1.0.2 on Linux (has all the notes)
* SimpleNote 1.0.2 on Windows 7 (with strange behavior):
   a) it

[2016-08-12 11:01] frenchbread commented on #329
@titoesteves It's here: https://github.com/Automattic/simplenote-macos

[2016-08-12 14:22] randallagordon commented on #329
Any plans for an official OSX build of this Electron app?

[2016-08-12 17:10] space-curiosity opened #357 "Dependency deprecated"
#### Steps to reproduce

On npm install got warnings for Dependency deprecated
#### What I expected
#### What happened instead

Got warning on npm install. here are the list of warnings:

npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated electron-packager@5.2.1: Critical security bug fixed in v7.0.0 - read more at https

[2016-08-12 17:52] titoesteves commented on #329
@frenchbread Glad to see it is now open source. Does this include markdown support?

[2016-08-12 18:23] roundhill commented on #329
We're trying to decide on that. Replace the native app? Offer two apps? The electron app actually has more features that the native one.

What do y'all think?

[2016-08-12 18:38] randallagordon commented on #329
@roundhill I imagine it'd be easier to support a single Electron app targeting all platforms versus multiple apps, but that could easily be assuming more than I should about what y'all are up to! I'm partial to Electron since I'm a JS dev, but I mostly would like to get my hands on some tasty, tasty Markdown support. 😄

[2016-08-12 18:53] roundhill commented on #329
@randallagordon Try downloading the source, and run `make package-osx`. Should work...

[2016-08-13 13:25] frenchbread commented on #329
@titoesteves No, it does not.

[2016-08-13 13:25] frenchbread commented on #329
+1 for electron build for OSX. (@randallagordon has a point)

[2016-08-13 21:16] artivilla commented on #351
Were you able to get this to work? Having the same issues.

[2016-08-13 21:22] artivilla opened #359 "Build error when I followed steps `npm run build`"
#### Steps to reproduce
1. Running on mac 10.11.6 with node v4.4.7 and npm v2.15.8.
2. `npm run build` won't work if your parent folder has a space it's in name.
#### What I expected

Expected electron to start running locally.
#### What happened instead

npm thew and error and said it can't find the file or folder.
#### What happened instead

10.11.6
#### How did I fix this error

I just changed

[2016-08-14 06:45] teemune commented on #332
I'm using Windows client and it keeps logging out, without a warning. After I log back in all the changes I've made are gone. This makes the app unusable for me.

Android client stays logged in without a problem.

[2016-08-15 22:14] #315 closed

[2016-08-15 22:14] #330 closed

[2016-08-16 21:42] kristarella commented on #301
Received a support ticket requesting this, and confirming the behaviour that they can only search all notes, in Linux & Windows app.

[2016-08-17 15:50] KokkieH opened #360 "Search: Notes not in results despite containing search term"
#### Steps to reproduce
1. Create several notes (4 or more) of varying length. Make sure that all notes contain at least one instance of the same word. Word must be 6 characters or longer. Capitalization doesn't matter.
2. Start typing the word in the search box.

#### What I expected
For all notes containing the search term to be listed

#### What happened instead
At the first letter of the searc

[2016-08-19 05:41] ruppalsingh commented on #350
Same as #305

[2016-08-19 05:43] ruppalsingh commented on #305
Having the same issue. Electron client on both Windows and Linux acts in the discussed manner. Would love a quick fix.

[2016-08-19 13:18] rachelmcr opened #361 "Uncaught Exception: Cannot create BrowserWindow before app is ready"
#### Steps to reproduce
1. I opened the app from the dock (I think for the first time after restarting my laptop)
2. The app loaded but an error popped up above it
#### What I expected

The app to open.
#### What happened instead

The app opened with this error popup:

[code]

After I closed the popup message the app continued to work without any apparent issues.
#### OS version

Mac OS X 10.11.6

[2016-08-22 04:15] october21 opened #362 "Add Ubuntu tray support"
Hello! Please add support of minimize to Ubuntu tray.

[2016-08-22 06:45] diazbastian commented on #316
I think that depends on the installation process. In the case of @RobbieFM there is a *.deb package for Ubuntu that includes everything needed for the application to work correctly. For other distributions that we must perform a manual installation.

@joshcjohns I recommend after installing Simplenote, for example in /opt directory, create a [desktop entry](https://specifications.freedesktop.org/d

[2016-08-22 07:01] diazbastian commented on #305
I really like to take advantage of Simplenote responsive interface and sometimes becomes annoying to have to adapt the interface again and again. Thank you.
![simplenote](https://cloud.githubusercontent.com/assets/5126124/17846121/077ad914-681d-11e6-9be9-3724f4979593.png)

[2016-08-22 09:50] jgjimenez opened #363 "Translate app linux to Spanish"
I installed the version of android and this to Spanish, but not linux. as I can help translate them into Spanish for this app

[2016-08-22 10:30] bro1 commented on #354
More development on this issue:

Linux client got out of sync as well:
 * the notes that existed in Linux client still keep synchronising
 * new notes added through Linux client show up online and in Android
 * any new notes added through other clients do not show up in Linux

[2016-08-22 18:45] chrisfromthelc opened #364 "Error processing argument at index 0"
A user submitted this error message via email. They report they're using Windows 10.

![12c76e685d4217891095b8d9dd4c7020](https://cloud.githubusercontent.com/assets/8002138/17867045/abcd1bf4-685d-11e6-8b57-5d6d979a3e8b.png)

[2016-08-22 18:58] roundhill commented on #364
Is this meant for https://github.com/automattic/wp-desktop?

[2016-08-22 19:03] chrisfromthelc commented on #364
Derp. Yes. I'll repost there.

[2016-08-22 19:05] #364 closed

[2016-08-22 21:27] valasek opened #365 "Ability to import text notes (from Evernote)"
Add the feature to import notes. Source can be plain text or maybe other formats - markdown.
Actually return it back as I can read here - "Ever2simple was initially created as a way to import Evernote files into Simplenote, but Simplenote no longer supports importing TXT files, so it’s useless for that"- http://lifehacker.com/how-to-jump-ship-from-evernote-and-take-your-data-with-1782841075).

[2016-08-25 11:24] manu-chroma opened #366 "Enhancement : Adding support for pin code similar to what is present in the android app"
I find the PIN lock feature present in the android app very useful.
Would love to see it in the desktop client as well.

[2016-08-25 22:31] nfcampos opened #367 "is this also the web app at app.simplenote.com?"
Sorry to open an issue just for asking this but is the react app in this repo the one at https://app.simplenote.com or is this only used for the electron app and the web app is a separate code base? the web app doesn't appear to be rendered with react from a quick inspection. do you have plans to open source the web app as well? or maybe replace it with this react version?

[2016-08-25 22:41] roundhill commented on #367
We don't have any plans to open source the current web app, as we'd like to replace it eventually with this app.

Here's a version running on our app engine host. You can try it out at your own risk! https://electron-dot-simple-note-hrd.appspot.com/

[2016-08-25 22:41] #367 closed

[2016-08-25 22:47] roundhill commented on #363
We'd love help with translations, but unfortunately the app isn't currently set up to support other languages. We'll get back to you ;)

[2016-08-25 22:48] roundhill commented on #362
What's this mean exactly?

[2016-08-25 22:50] roundhill commented on #349
This is actually a design implementation, in order to make text of notes more readable. It looks weird with that text though because there's no long lines that wrap in that note.

[2016-08-25 23:06] october21 commented on #362
![tray](https://cloud.githubusercontent.com/assets/5104118/17988859/127c9cc4-6b3a-11e6-8b79-d4728726e9fd.png)

To there

[2016-08-25 23:08] nfcampos commented on #367
I see. The version running at that url looks pretty cool! Curious, anything in particular stopping you from replacing the web app with this?

[2016-08-25 23:19] roundhill commented on #367
I think just lots of testing! A lot of the users rely on the web app every day, so we'll want to make sure it's rock solid, or offer both web apps in a non-confusing way.

[2016-08-26 15:24] nfcampos commented on #367
this is already supposed to work in a browser, right?
i cloned this repo, ran `npm i`, ran `npm start` and when i go to the app on the browser it redirects to `app.simplenote.com`... any idea why?

[2016-08-26 15:57] roundhill commented on #367
You probably haven't added a simperium app key to `config.js`: https://github.com/Automattic/simplenote-electron/blob/master/README.md

[2016-08-26 16:47] nfcampos commented on #367
Thanks, sorry about that, should have paid more attention to the readme

[2016-08-26 16:52] nfcampos opened #368 "Link detection like in iOS or Mac app"
Hi,

This looks great!
I'd like to see link detection (like in the mac and ios apps) added. Is that something you'd want?

From a cursory look at the code for the `NodeDetail` component it seems that doing this would require replacing the `textarea` element with a `<div contenteditable />` (maybe using https://github.com/facebook/draft-js) because text inside a `textarea` is not style-able in any

[2016-08-26 16:53] roundhill commented on #368
Yes, please! I think I tried `contenteditable` for a while but it gave me problems which of course I don't recall. Go for it!

[2016-08-26 16:55] nfcampos commented on #368
Cool, I'll open a PR when I have something!
In the meantime, would you accept a PR updating this to use babel 6? the version you're using currently doesn't work with node 6

[2016-08-26 17:16] roundhill commented on #368
Maybe, I think we'd need to test our desktop app packager to see if it works with node 6. cc @rodrigoi

[2016-08-26 18:12] nfcampos commented on #368
you could keep using node 5, updating babel would simply allow me (and everyone else) to develop using node 6, but it'd still be totally compatible with node 5, unless I misunderstood what you wrote?

[2016-08-26 18:14] nfcampos commented on #368
but honestly I can just use node 5 for this, it doesnt realy matter to me

[2016-08-26 18:19] dmsnell commented on #368
@nfcampos it's probably best to work within node 5 for this PR. an update would be an entire PR by itself is my guess, and probably also something that wouldn't happen quickly enough to be in there before this work gets merged

[2016-08-26 18:20] nfcampos commented on #368
ok, no problem

[2016-08-26 21:21] nfcampos commented on #368
opened PR replacing textarea with draft.js editor :) the link detection, styling will follow

[2016-08-27 00:01] chainedghost commented on #354
I have the same issue on Ubuntu 16.04.
The web app and android stay in sync. The desktop app doesn't pull the changes made on the other apps, but it does send changes.
I end up with older versions of the note on all devices whenever I open the desktop app.

[2016-08-27 03:57] bro1 commented on #354
I have jus upgraded my Linux client to 1.0.3 (+ log-out + logged in ). This resynchronised everything. I'll check if that makes any difference in the synchronisation behaviour.

[2016-08-27 04:12] chainedghost commented on #354
A quick check after upgrading to 1.0.3 and it looks like the issue is resolved.

[2016-08-27 13:42] jeremeylduvall commented on #40
@roundhill related to the user above, the user in #2794476-t was also wondering about an rpm package. Is this something we're looking at in the future or not on the radar right now?

[2016-08-28 12:55] balaziks commented on #299
Structured Markdown lists (IMHO killer Markdown feature) are impossible to use quickly and comfortably in the desktop apps due to the missing tab indentation.

[2016-08-28 13:12] balaziks opened #371 "Markdown: New list item (* or -) not appearing automatically on new line of a list"
When editing a Markdown list in a Android app the editor adds new list item character (\* or -) automatically when hitting enter at the end of a list item.

This doesn't happen on the Windows desktop app.

[2016-08-29 02:44] ggyanez commented on #366
+1 to this request please!

This is a must.

[2016-08-29 02:50] ggyanez commented on #366
+ 1 to this request please!

This is a must. Specially for those of us that want to use Simplenote as a private/protected daily journal.

Btw, after trying Evernote, Google Keep and others, Simplenote is the best. Keep up with then great work!

[2016-08-29 13:51] chainedghost commented on #354
Nevermind, after the first successful sync, the issue is back again.

[2016-08-29 16:01] roundhill commented on #354
I'm still unable to reproduce this, unfortunately. Are your windows/linux devices using a proxy at all? Any other details you can provide, especially clear repro steps would be helpful!

[2016-08-31 04:36] tkuraku opened #372 "Tab not working ubuntu 16.04"
App Version 1.0.3

#### Steps to reproduce
1. download .deb package and install using software center ubuntu 16.04
2. Create new note
3. Press tab

#### What I expected
The standard indentation to happen.

#### What happened instead
Instead my cursor jumped to the "Add tags" field at the bottom of the window

#### OS version
ubuntu 16.04

[2016-08-31 08:09] Hubro opened #373 "Can something be done about the narrow maximum width?"
I find it quite frustrating that with this much free space I still have to scroll to see the contents of my code block:

![image](https://cloud.githubusercontent.com/assets/597206/18120852/15302144-6f62-11e6-8f9f-130ac68b666d.png)

The same note viewed on the web app doesn't look as good, but doesn't restrict the width of the note either:

![image](https://cloud.githubusercontent.com/assets/597206

[2016-08-31 08:27] anothernode commented on #259
I just started using simplenote because I took notice that it supports markdown. Now, at least using the electron based app, I have to enable markdown manually for every new note I create. I would definitely appreciate it very much if there would be a way for me to have markdown enabled by default for new notes I create.

[2016-08-31 13:55] tkuraku commented on #373
This is a must

[2016-08-31 17:07] jacklenox commented on #354
This affects me too. Using Elementary OS (based on Ubuntu 16.04), with 1.0.3.

[2016-09-01 02:40] arturtr commented on #40
I also need RPM because of using Fedora.

[2016-09-02 07:19] deadstar1 opened #375 "DEVELOPMENT: Failed at the react-popover@1.0.1 postinstall script 'npm run build'."
hi I have tried install simple-electron via git, This error occurs, `npm ERR! Failed at the react-popover@1.0.1 postinstall script 'npm run build'.
npm ERR! This is most likely a problem with the react-popover package,
npm ERR! not with npm itself.`.

#### What I expected

#### What happened instead

#### OS version
I have tried to install simplenote-electron in ubuntu and windows 8, The same erro

[2016-09-02 10:43] rachelsquirrel opened #376 "Can open several, blank instances"
If you launch Simplenote more than once by mistake or because you forget it's already open, all subsequent instances are blank.

Reported in #2814725-t

[2016-09-02 15:09] sercba commented on #362
Please!

[2016-09-04 11:56] kaepuo opened #377 "missing dependencies in deb package v1.0.3"
#### Steps to reproduce
1. download deb package v1.0.3
2. install `dpkg -i simplenote-1.0.3.deb`
3. install dependencies `apt-get install -f`  (=> NOTHING!)
4. run `./simplenote` (==> missing packages, e.g. `libgconf-2-4` and `libnss3`
#### What I expected

i expected `apt-get install -f` to install missing dependencies
#### What happened instead

nothing, i.e. i had to execute `./simplenote`, rea

[2016-09-04 13:19] ghost opened #378 "Broken keyboard shortcut for 'Preferences' on Windows"
#### Steps to reproduce
1. Open the 'File' menu, locate 'Preferences'.
2. Press Ctrl + Comma.
#### What I expected
- The keyboard shortcut shown alongside 'Preferences' should be 'Ctrl + Comma'.
- The Ctrl + Comma keyboard shortcut should work.
#### What happened instead
- 'Comma' is shown as the keyboard shortcut.
- There seems to be no working keyboard shortcut for 'Preferences'.
#### Simplenote

[2016-09-08 19:07] lekseven commented on #362
+1

[2016-09-08 19:39] lekseven opened #379 "Changing keyboard layout causes expanding app menu"
Every time I switch to another keyboard layout by pressing "(Left) Alt + (Left) Shift" the File menu is shown and steals focus.

Simplenote 1.0.3
Lubuntu 16.04 64-bit

[2016-09-09 06:27] himaanshu24 opened #380 "Awesome app but need some improvement"
1. In list view of all the notes, it should show preview text by default.
2. Same thing with note panel, instead of default edit mode show preview mode. (Same for mobile)
3. Color highlight of word/statement
4. background control of note (color/image)
5. Shortcut key binding (with custom) for formatting things

[2016-09-09 20:55] roundhill commented on #380
Thanks for the feedback! Please use search to see if issues have already been filed. If it hasn't been filed yet, feel free to file one separately.

Since a lot of these are duplicates I'm going to close this.

[2016-09-09 20:55] #380 closed

[2016-09-12 07:38] susingha commented on #52
Still not added in Version 1.0.3. I am not able to move to SimpleNote because of the absence of this feature alone

[2016-09-12 15:04] Gen4040 commented on #349
Hello!
If this is design implementation, please add some options for user that not need this behavior to have possibility to work on full page width.
Thank you in advance!

[2016-09-12 15:30] october21 opened #381 "Preview mode in defaults"
When I open a note it opens in Edit mode, but but it would be nice to specify the default mode in the settings
#### Steps to reproduce
1. Just click to created note
#### What I expected

Setting for open note in preview by default
#### What happened instead

Note opens in Edit mode
#### OS version

Ubuntu 16.04

[2016-09-13 09:19] TileHalo opened #383 "Mathematics support"
Hi!
Thanks for the great software! I'd like to ask if it is possible to add mathematics support to markdown? Sorry if this is in wrong place.

[2016-09-13 16:41] drw158 commented on #373
Duplicate of #349

[2016-09-13 16:41] #373 closed

[2016-09-13 16:42] drw158 commented on #304
Duplicate of #267

[2016-09-13 16:42] #304 closed

[2016-09-13 16:43] drw158 commented on #381
Unfortunately there are no plans to implement a feature like this.

[2016-09-13 16:45] drw158 commented on #383
If it's supported by Markdown, it should be available, or easily added. What kind of math support did you need?

[2016-09-13 16:46] drw158 commented on #371
This is expected — we have not implemented this feature yet.

[2016-09-13 16:49] drw158 commented on #366
Dupe of #278

[2016-09-13 16:49] #366 closed

[2016-09-13 16:55] drw158 commented on #352
Can you clarify what you mean exactly? Do you mean that you do not like having both the Edit and Preview modes when you have MD enabled? Do you want editing and preview of MD all in the same view?

Currently, once you click on a note you should go straight to Edit mode unless you previously selected Preview.

[2016-09-13 17:02] drw158 commented on #355
Related to #343

We could do this in the same feature

[2016-09-13 17:04] drw158 commented on #342
Dupe of #368

[2016-09-13 17:04] #342 closed

[2016-09-13 17:15] nfcampos commented on #371
(this should be much easier after #370)

[2016-09-13 17:39] DoTheEvo commented on #352
pretty much, yeah

well, that just means I need to be in edit mode already so I am in edit mode when I click

I am probably too demanding, these are simple notes afterall...
but what I would prefer instead of having "markdown view", I would just have toolbar where I could make text bold, or make unsorted lists, various highlight text, make url... all of this in the same view as the one I am always

[2016-09-13 17:39] #352 closed

[2016-09-13 18:40] manu-chroma commented on #278
Me and @ggyanez have also requested this feature [in this duplicate issue](https://github.com/Automattic/simplenote-electron/issues/366). Having a lock on the app would be really useful and also makes sense.

It can be passively added in the settings  like on android app and user can manually activate if he/she wants to.

[2016-09-13 20:21] dmsnell commented on #352
I would like to see us style the markdown text in the edit mode. @DoTheEvo I don't think it would be aligned with Simplenote to have a WYSIWYG editor, which it sounds like you are describing, though I think we could improve the appearance in the editor view.

With the work that @nfcampos is doing in #370 we should be able to experiment with styling and decorators in the edit mode. [Zeit.co's blog]

[2016-09-14 05:16] TileHalo commented on #383
I was thinking LaTeX or AsciiMath style. And it is not supported by markdown.

[2016-09-14 14:11] gubrist opened #1264 "Number of notes per Tag not visible due to limited width / space"
I cannot see the number of notes per tag due to limited width / space.

The error applies with:
- Firefox
- Chrome

( Currently, the number of notes per tag is not available at all in the Andorid App ).

![Unbenannt](https://user-images.githubusercontent.com/22197180/65600501-81fb4400-dfa0-11e9-896c-1bcce5101fd5.JPG)

PS:
Background: I am migrating form Evernote but have no clue if I was successfu

[2016-09-15 13:34] neelkadia opened #384 "Out of sync."
#### Steps to reproduce
1. Open the Simplenote on Windows, write something on existing note
2. Simultaneously open the http://app.simplenote.com
#### What I expected

It will sync as it used to sync among Android n iOS and Web.
#### What happened instead

but Syncing is not happening in this electron version
#### OS version

Windows 8.1

[2016-09-15 14:49] rustykeyctrl commented on #384
I too have the sync issue with Windows 10.
Finally had to copy and paste from web ver to desktop ver. Thanks for the info going to try it on my computer see if it's working.

[2016-09-16 11:49] lekseven commented on #372
Same issue. The bug makes almost impossible formatting code sections in the markdown mode.

[2016-09-17 07:35] Decadence opened #385 "Sync: Changes not propagating from other apps to Electron app (Windows, Linux)"
Hello. I'm facing issue when Simplenote stops sync notes on Windows 10.
It happens when I don't open application on PC for a few days, but I edit notes from other devices. Then I open app on PC and see old notes.
Account is set in Preferences. Only solution I found is relogin. Seems like authentication has expired.
It's already detected on two different PC.

[2016-09-17 07:38] Decadence commented on #385
It would be nice to indicate somehow sync status.

[2016-09-17 13:01] rustykeyctrl commented on #385
Sry I'm a beginner here but really intrigued with git and for the most part don't know these things that's why I'm watching this thread maybe I can learn it as I'm learning git.
I won't summit any other then feedback to learn but my sync status is computer in the shop.
I'd appreciate any help and if it not ok to give any feedback just reports things I'll understand.
Thank you.
Have A Great Day
   

[2016-09-17 13:27] marcphilipp commented on #329
+1 for an electron build for os x, too.

[2016-09-17 23:05] neelkadia commented on #385
@Decadence I think you can merge the issue with #384 this one.

[2016-09-18 08:12] Decadence commented on #385
@neelkadia Hardly. I don't use web version at all.

[2016-09-20 12:37] naxsooley commented on #377
@kaepuo I'm using Simplenote v1.0.3 and it works well under Ubuntu 16.04.1 LTS.

[2016-09-20 19:09] hedgefield commented on #385
Same problem here. Was supposed to be better in 1.0.3 I think but I'm still seeing it. Only logging out and back in again updates the list properly.

[2016-09-21 00:34] rustykeyctrl commented on #385
Thanks for the tip I'll try that if the problem persist
Have A Great Day
               Victor Evans
On Sep 20, 2016 2:09 PM, Tim Hengeveld <notifications@github.com> wrote:Same problem here. Was supposed to be better in 1.0.3 I think but I'm still seeing it. Only logging out and back in again updates the list properly.

—You are receiving this because you commented.Reply to this email directly, v

[2016-09-21 14:56] marianoju commented on #332
@teemune Not sure this relates to the aforementioned issue, since you're using different (non-Linux) clients and describing a different scenario (i.e. spontaneous log-out).

[2016-09-21 20:08] dmsnell commented on #372
I'm closing this issue because it's a duplicate of #299 and we will resolve it there. Thanks for reporting it!

[2016-09-21 20:08] #372 closed

[2016-09-21 20:13] dmsnell commented on #299
to all fellow Automatticians working in this issue, I'd like to suggest that when we add tickets to the issue to track them that we edit a single comment (or the issue description) as I have done above. Feel free to add some thumbs-up as well to indicate priority or need. It will be much more helpful for us not having the huge list of comments.

by the way, I've pushed out a branch to fix this :wi

[2016-09-21 20:17] nfcampos commented on #299
@dmsnell this would be much easier to do once #370 is merged, in fact I've implemented it in another branch on top of that PR (see `NoteContentEditor#onTab` on https://github.com/nfcampos/simplenote-electron/tree/lists)

[2016-09-21 23:25] dmsnell commented on #272
Closing @drw158 because our target is Electron and not Safari. It's handy to be able to test it in Safari, but the build is all Chrome.

You may try again because Safari had broken copy/paste support which was supposedly fixed in the v10 release a few days ago.

[2016-09-21 23:25] #272 closed

[2016-09-21 23:27] dmsnell commented on #371
I'm closing this issue @balaziks because it's a duplicate of #314. We will track development there, but thanks for the report!

[2016-09-21 23:37] erichiller commented on #227
Duplicated of #220  - but I totally agree

[2016-09-21 23:38] erichiller commented on #324
Hotkey to minimize to and restore from the TSA would be _perfect_.

[2016-09-21 23:40] erichiller commented on #275
Similar to #309 - but I concur.

[2016-09-22 01:16] dmsnell commented on #371
Not a duplicate. Sorry!

[2016-09-22 06:00] dmsnell commented on #383
@TileHalo I don't think that we would be incorporating any math typesetting soon if ever. It definitely would have advantages in certain use cases, but we're very hesitant to add new functionality into <em>Simple</em>note. Thanks for the suggestion - we'll keep it in our pool of ideas. In the meantime, we would absolutely review a fork PR if you wanted to build it. Thanks for using Simplenote too!

[2016-09-22 06:00] #383 closed

[2016-09-22 06:24] dmsnell commented on #332
@marianoju thanks for filing the issue. we really do appreciate it and wish we could attend to replying faster for you. so despite the delay, here is something…

all of the notes should be stored in the **IndexedDB** instance inside of the Electron app. we don't store the local copies of the notes anywhere on disk. I believe that the IndexedDB database is being stored as a SQLite database, but tha

[2016-09-22 06:25] dmsnell commented on #271
we wish you didn't have that problem with the lost data, @marianoju. can you give some rough estimate of how many notes you have or how big your notes are? _re: "possibly due to large amount of notes?"_

[2016-09-22 06:33] dmsnell commented on #340
@AntonioIT thanks for the report! I'm having trouble reproducing this locally. could you help me understand how to create a duplicate tag?

here's what I tried:
 - found a tag I had used already "work"
 - found an existing note without that tag
 - added the tag, but only the one "work" tag was found in the list of tags and both the old notes and this newly-tagged note appeared when I searched for

[2016-09-22 06:36] dmsnell commented on #375
thanks for reporting @deadstar1! I'm closing this out after the merge of #348. Please open it back up if it continues to be a problem (after fetching the updates to **master**)

[2016-09-22 06:36] #375 closed

[2016-09-22 06:39] dmsnell commented on #359
Thanks for the report @artivilla! We will try and address this soon so that it won't cause any more headaches

[2016-09-22 06:40] dmsnell commented on #363
I'm going to close this issue since we both won't be addressing it soon _and_ translations will remain 100% on our radar without needing the issue to remind us :wink: 🌐

[2016-09-22 06:40] #363 closed

[2016-09-22 06:45] dmsnell commented on #347
Hi @3vivekb - thanks for filing the issue! Can you help me understand what you are asking for?

When you speak about Spotlight, are you referring to the built-in Spotlight search in macOS?

Can you clarify the process you refer to when writing, "Instead I must open spotlight and then search again?" I'm not sure I follow what you are describing.

[2016-09-22 07:06] dmsnell commented on #337
@rachelmcr awesome spotting! I have submitted an update to the word counter, but it will not completely fix the counts, as some languages (Japanese, for example) are much more difficult than finding spaces between words.

[2016-09-22 12:12] rohzart commented on #332
I'm using the **Desktop App** on **Windows 10** and I've **lost my notes/data** following these below steps:

1. Updated to 1.0.3
2. Noticed that notes weren't syncing at all
3. Logged out and logged back in
4. Notes started syncing but lost almost all my 'un-synced' notes
5. Since, the some of the new local notes did sync (just 2 actually), I think the rest of them are still lying somewhere on my

[2016-09-22 13:04] marianoju commented on #271
@dmsnell I would estimate I had about 900 notes at the time, totaling 1.8 MB (says Nautilus, the GNOME file manager; listing of the directory with `ls -lh` states 4.4M), of which

- 531 items smaller than 1 kB;
- 167 items equal or larger than 1 kB and smaller than 2 kB;
- 108 items equal or larger than 2 kB and smaller than 4 kB;
- 54 items equal or larger than 4 kB and smaller than 8 kB;
- 22 it

[2016-09-22 13:30] marianoju commented on #332
@dmsnell I am not sure why you all (including two Happiness Engineer from Simplenote Support) are so adamantly stating that the Simplenote client does not store the notes locally. I don't really care about the technical details, if this happens within the software framework called Electron, if Chromium is involved or not – but while offline the Simplenote application *somehow* has to write the not

[2016-09-22 14:14] rachelmcr commented on #337
I think you meant @rachelsquirrel :)

[2016-09-22 17:49] dmsnell commented on #337
oops, thanks @rachelmcr - I hit enter after the first autocomplete on `r` having seen it was `rachel`

[2016-09-22 17:53] dmsnell commented on #332
@marianoju we don't mean to communicate that there's no local copy of the notes somewhere, but storing the data to a local file is something that the app doesn't initiate and doesn't care about. It's all stored in IndexedDB which is handled entirely by the Chromium code inside of Electron. That data for sure lives somewhere in the user directory, but it's also not readily available to us.

I'm les

[2016-09-22 17:55] dmsnell commented on #271
thanks @marianoju! is that a dump from the zipped download off of the web?

these numbers will help us to understand if there's a link between note size and count and the sync issues

[2016-09-22 19:08] raniesantos commented on #385
I use Windows 7.
The desktop electron app of Simplenote always fails to pull down new notes.
When I edit *already existing notes* from Android app or the web app it syncs the changes perfectly fine.
But when I create a *new note* from Android or web, the electron app NEVER SYNCS THEM.

**PLEASE ADD A MANUAL SYNC BUTTON ON THE DESKTOP APP**

[2016-09-22 19:14] dmsnell commented on #385
Thanks for the report @raniesantos. We're currently trying to figure out why these sync issues are occurring, and we just hate the idea that people are losing content, but we don't expect a manual sync button anytime soon because that doesn't reflect how Simplenote works. Adding a button wouldn't likely impact the current issues. In other words, Simplenote is _always_ synchronizing the notes and i

[2016-09-23 20:20] drw158 commented on #16
Latest: publishing individual npm modules has failed

https://github.com/Automattic/wp-calypso/pull/3300#issuecomment-218184051

[2016-09-23 21:08] #259 closed

[2016-09-24 13:45] rohzart commented on #332
If lucky, you might find a ".bak" file in the folder "C:\Users\<username>\AppData\Roaming\Simplenote\IndexedDB\file__0.indexeddb.leveldb". That's the one which has all lost data just hilariously transposed and weirdly encoded (supposed to be utf-8 but I not by the looks of it).

If you don't have  a .bak file there, give up. :(

Too much time lost. I need to learn leveldb to extract my data from t

[2016-09-24 14:58] dmsnell commented on #332
what an illustrative statement! it feels like a mess when following the chain like this.

interestingly, I have been recently trying to look into exporting IndexedDB data and _there's no standard way to do it_! it appears like a JSON export is possible by reading in the whole thing but there's no defined way to export the data.

thanks again for the hint @rohzart. we're continuing to try and track

[2016-09-25 00:44] #337 closed

[2016-09-26 06:49] marianoju commented on #332
Thanks @rohzart, but I have been unable to find any file containing "indexeddb" or "leveldb" (nor an .BAK file). Since I am using Ubuntu my folder structure differs from yours. I have permanently given up on recovering the lost data two months ago, and abstain from using Simplenote in a productive environment.

[2016-09-26 06:51] marianoju commented on #271
You're welcome @dmsnell! Yes, that is “a dump from the zipped download off of the web”

[2016-09-26 08:57] bro1 commented on #354
It was all working fine for a few weeks after upgrading to 1.0.3 on Linux Mint 18.
However the issue reappeared today again:
* I added a note on my Android Simplenote at around lunchtime
* Launched Simplenote on Linux machine several hours later and the note did not appear in there

Can the developers provide any info how to capture any useful diagnostics? Logs/command line flags, etc.

[2016-09-27 09:06] zorgeus commented on #354
I have the same issue.
Sync is fine for Android and iOS, but Win7 client doesn't show notes that was added from Android.
Solution: Logout/login on win7 client.

[2016-09-27 17:13] roundhill commented on #354
Here's a build that will show the developer tools, if you don't mind running it with it open. When you notice the issue, have a look at the console window and let us know if you see anything interesting in there:

https://cloudup.com/files/iGgHkFjgdzK/download

[2016-09-28 05:47] bro1 commented on #354
OK, I downloaded Windows version and there does not seem to be any useful information displayed in the console.

And I still have the same issue:
1. added a note in Android yesterday.
2. started Windows application today (the version from https://cloudup.com/files/iGgHkFjgdzK/download)
3. the note that I have added yesterday is not there
4. added a test note in Windows it appeared everywhere it sh

[2016-09-28 06:34] dmsnell commented on #354
@bro1 thanks for the helpful information!

:question: for you or anyone - is syncing broken in this way 100% of the time or is it sporadic…sometimes you write a note and it appears on your Android device, other times it doesn't…

[2016-09-28 07:13] bro1 commented on #354
Hi, it's sporadic.

I am not sure if it's just me finding false patterns, but the two scenarios that I think I may have noticed that precede the missing notes in Desktop based apps are these events:
* adding notes on Android by sharing note from another app to Simple note
* adding notes on Android phone while on mobile connection

[2016-09-28 16:05] roundhill commented on #354
The `Connected` debug line does tell is a lot. That means that the websocket connection was established successfully, so I think we can rule out connectivity and/or authorization.

[2016-09-28 16:28] chainedghost commented on #354
It seems to have something to do with the timeline. You should be able to reproduce with the following:
1. Create note on any device, except the desktop app.
2. Editing the note between a web browser or android app keeps edits in sync so that the last edit is seen on the next device.
3. Open the note on the desktop app and it is up to date. Make edits.
4.Opening the not from android or the web bro

[2016-09-28 17:48] dmsnell commented on #354
@chainedghost this awesome sleuthing is so incredibly valuable to us in finding the cause. I think that what you discovered about having the external edits positioned on the sidebar is critical here - we must be loading the note out of indexedDB and then immediately syncing with Simperium before Simperium syncs with us (my guess is that the "initial state of the note" is a blank data structure sin

[2016-09-28 23:08] 3vivekb commented on #347
I rewrote my issue to improve readability!

[2016-09-29 18:53] rohzart commented on #332
Hello @marianoju, I got an ubuntu VM running, installed simplenote and found that the equivalent path for ubuntu: "/home/<username>/.config/Simplenote/IndexedDB/file__0.indexeddb.leveldb/". This just took me 15mins to figure out and I really hope you find a ".bak" file there. I have made a copy of that and kept it aside to try recover my data as and when I get time. I'll update this thread as and

[2016-09-29 19:01] dmsnell commented on #332
@rohzart right now we're spending our available time finishing up a few small but old issues and the rest of that available time trying to understand the synchronization issue first. data loss isn't something we take lightly, but if we can restore the sync process that might alleviate the data loss problems enough to give us a chance to figure it out (the two issues could be commingled)

I want to

[2016-09-29 21:11] marianoju commented on #332
Thanks @rohzart! I followed your lead and found some BAK files in the
directory you indicated. However they display timestamps of modification
long *after* the data loss event, so I doubt that it would be possible
to restore any of the lost data from these files. Oldest file is from
September 5th (data loss was two months prior).

I appreciate your effort in pointing me in the right direction, but

[2016-10-01 13:47] raniesantos commented on #385
Oh and btw, it has already been mentioned but this is also true in my case, logging out and in again temporarily fixes the problem.

[2016-10-05 01:14] madhattermattic opened #395 "Search highlighting in Windows app"
According to Kayako ticket #2850777:

"I think it would be great idea for the Windows app to highlight the word I am searching for inside the note (similar to what's being done in browsers).

It's especially useful for long list notes."

OS Version: Windows

[2016-10-05 01:15] dmsnell commented on #395
Thanks for reporting @madhattermattic - we are currently planning on pushing this out at some point but it's not at the top of the list.

[2016-10-05 23:52] deBhal commented on #16
The good news, though, is that `i18n-calypso` has been pulled out into it's own repo - [gh](https://github.com/Automattic/i18n-calypso), published to [npm](https://www.npmjs.com/package/i18n-calypso) so you can just `npm install --save i18n-calypso`.
There's also [i18n-calypso-localize](https://www.npmjs.com/package/i18n-calypso-localize) to help with live locale switching.

That provides the clie

[2016-10-06 19:08] noamelf commented on #354
I also encounter this issue :disappointed:

[2016-10-09 08:09] abaudot commented on #265
@aalbertson I second this, I would like a way to configure a proxy for simplenote, or have it use systemwide proxy.

[2016-10-11 19:20] roundhill commented on #385
Here's a build of the next release of the app, that may resolve some sync issues. Give it a try and let us know if you see any improvements or not: https://github.com/Automattic/simplenote-electron/releases/tag/untagged-6a81612f542e4dcb0391

[2016-10-11 19:21] roundhill commented on #354
We've fixed up a few issues related to sync, here's a beta of the next release: https://github.com/Automattic/simplenote-electron/releases/tag/untagged-6a81612f542e4dcb0391. Let us know how it works for you.

[2016-10-11 19:26] nfcampos commented on #385
@roundhill that link is a 404, for me at least

[2016-10-11 19:28] roundhill commented on #385
Thanks @nfcampos, I updated it.

[2016-10-13 21:31] CorentinLemaitre commented on #385
I have the same problem with the version 1.0.3
I just install the version 1.0.4 and i will let you know if i have some sync problem (in 10 days if i did n't reply it mean that there is no problem)

[2016-10-14 09:31] linickx opened #404 "How do I disable Developer Telemetry?"
It appears to me that every time I search, on top of the API call, there is an additional query to pixel.wp.com. I understand that developer telemetry is normal practice, but most applications allow users to opt out.
1. Can anyone verify the same behaviour _(i.e. to confirm my install is not broken or something)_
2. Is there a privacy setting somewhere that I've missed?
#### Steps to reproduce
1.

[2016-10-14 10:59] popod opened #405 "Add an option to lock a note"
Add an option to lock a note (to prevent delete the note). When this option is enabled, the note cannot be deleted !

[2016-10-14 13:52] dmsnell commented on #405
Hi @popod. Although we don't currently have any note locking mechanism, did you know that when you delete a note it's still available if you list the trashed notes? We can restore accidentally (or intentionally) deleted notes from the trash view.

[2016-10-14 13:59] popod commented on #405
Yes, I know that. But it will better if you could add a "lock" option to each note (same as pin to top option) and if this option is set juste disabled the "delete" or "move to trash" item in menu ;)

I think it is easy to implement ? What do you think about this new function ?

[2016-10-17 12:29] CorentinLemaitre commented on #385
I have still problem to sync the notes even with 1.0.4

[2016-10-17 19:05] hedgefield commented on #385
So far it seems for me 1.0.4 solves it.

[2016-10-17 23:03] roundhill commented on #404
The app captures some anonymous statistics to help us improve the app. We don't currently have an option to turn it off, so I agree that an adding opt-out is a good idea.

[2016-10-17 23:05] roundhill commented on #405
I don't think we need to clutter up the UI with something like this, when you can just restore the note from the trash if you accidentally delete it, like @dmsnell described.

[2016-10-19 00:36] rnewton commented on #309
According to the readme and the code, marked has gfm enabled by default. https://github.com/chjj/marked/blob/master/lib/marked.js#L1242

To get syntax highlighting, you need to add another library like https://github.com/isagalaev/highlight.js

[2016-10-20 05:58] laskin82 opened #408 "Pressing PageUp/PageDown Keys Causes Layout Bug"
#### Steps to reproduce
1. create new note (or open existing)
2. write some text
3. push PgUp or PgDown
4. got a bug

#### What I expected

#### What happened instead
app is open side bar and you cant close it. the left side bar is blocked.

#### OS version
Windows 7 x64

#### Screenshot / Video
![default](https://cloud.githubusercontent.com/assets/16285422/19547817/4377f7e4-96a3-11e6-9828-913e87b

[2016-10-20 08:45] bro1 commented on #354
Thanks... I have been using this beta (Linux) version for 8 days and have not had any synch issues.

[2016-10-20 14:17] CorentinLemaitre commented on #385
I switch to 1.05. I let you know if i have problems.

[2016-10-20 19:01] Harrri commented on #354
Hi evrybody,
I'm now using 1.0.5 and still have the problem.
The only way, to get notes created on android to linux is to delete ~/.config/Simplenote/IndexedDB and restart simplenote.
My proposal: there must be a subroutine in your code, which builds up the local database in ~/.config/Simplenote/IndexedDB when it's missing. Why not add a "sync"-button which does just call that subroutine?
Thanks f

[2016-10-20 20:25] roundhill commented on #408
Did those keys previously scroll to the top/bottom of the editor?

cc @nfcampos

[2016-10-21 05:47] laskin82 commented on #408
yep. i check it.

[2016-10-22 19:13] arshsingh opened #410 "Request: Select edit tab when adding a new note"
#### Steps to reproduce
1. Select preview tab in any note
2. Add a new note
#### What I expected

When adding a new note, I expect the editor to be in edit mode, so that I can start typing
#### What happened instead

New note opens in preview mode which is not useful since there is no content
#### OS version

Ubuntu 16.04

[2016-10-22 19:21] arshsingh commented on #408
Not sure how to reproduce this, but I encountered this bug on Ubuntu 16.04 (Simplenote 1.0.5) as well

[2016-10-22 19:29] dmsnell commented on #410
Thanks for the report @arshsingh. This behavior doesn't make sense and we will put it on the queue for updating!

[2016-10-22 19:35] dmsnell commented on #404
@roundhill here is a perfect scenario for the analytics middleware like we started using in Calypso. If we have a toggle then all we need to do is toggle the middleware on and off with the setting. We can continue to program as though it were enabled, but those actions will simply fall to the bit bucket.

[2016-10-22 23:44] dmsnell commented on #360
Thanks for the report @KokkieH. I couldn't reproduce this error but we did recently update the search mechanism. Would you be willing to try again with the latest build/version and let me know if you are still seeing this bug?

[2016-10-23 05:45] owcz opened #411 "X to clear search (feature request)"
The feature I miss most from other versions of SN is the one-click ability to clear the search field. Perhaps it's just the spoils of Mac but the white X in a gray circle in the right corner of the search box was a really easy way to clear it out while refocusing the app. Now it takes several clicks to select all text and begin to type.

[2016-10-23 05:48] owcz opened #412 "Ctrl+L to toggle search field focus"
Modifier key + L is a common shortcut to the app search bar (most web browsers even in Linux, the native Simplenote OS X app, etc.) I see that Ctrl+F does that function right now (#301), but that's more expected for internal search within a note than for all notes. It's also strange to have the same function assigned to different letters across platforms.

[2016-10-23 08:27] KokkieH commented on #360
@dmsnell Confirmed in version 1.0.5 I can no longer reproduce this, so it appears to be fixed. I'll also follow up with the user who made the original report.

[2016-10-23 08:50] nfcampos commented on #408
hmm, I don't gave PgUp / PgDown keys on my keyboard (i'm on a mac) so I'm not sure how to reproduce this. The equivalent keys on the mac (cmd+upArrow / cmd+downArrow) do work for me to scroll to the top/bottom of the editor.

[2016-10-23 09:11] KokkieH commented on #360
User also confirms the issue is fixed. Closing.

[2016-10-23 09:11] #360 closed

[2016-10-24 06:13] dmsnell commented on #411
@owcz this sounds like a great idea - thanks for reporting! I'm sure this wasn't a decision we made to not include the `x` - more like it was something we weren't able to polish in time for the earlier releases. I'll take a look and see how much work it will take to get in. If not much, we can probably sneak it in soon :smile:

[2016-10-24 11:22] keypey opened #415 "Search: different results on different clients"
#### Steps to reproduce
1. Use Android client /1.5.1
2. Use web (firefox) client
3. Use Linux client /1.0.5
4. Search in "All messages" word: clust

#### What I expected
- this same items on all Simple note clietents

#### What happened instead
- different items: web/android client/Linux client

#### OS version
Firefox 49.00
Linux: Linux3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u1 (2016-09-03) x8

[2016-10-24 18:33] roundhill commented on #408
I'll have a look, I have a keyboard with these keys.

[2016-10-24 21:03] dangerginger commented on #285
I would also like this enhancement.  I would be happy to help with a PR.  Do you know off-hand where to start looking at this?

[2016-10-24 21:41] drw158 commented on #408
I think I encountered this same bug (info sidebar open and stuck) while testing the new tab PR.

[2016-10-24 21:45] drw158 commented on #362
Looks like this would be the equivalent of adding SN to the Mac menu bar, which we haven't done for the Mac app. Not sure what functionality we would put there.

[2016-10-24 21:45] dmsnell commented on #285
@dangerginger we would welcome your contributions! it looks like you can find this in [the note display mixin](https://github.com/Automattic/simplenote-electron/blob/b66f40a765ea370247cf1d91ea902b963104b2aa/lib/note-display-mixin.js#L4)

if you need any help getting started with this, please feel free to ping me here. as a quick tip, I find running it in Docker to be useful so that versions are pr

[2016-10-24 21:55] dmsnell commented on #362
For anyone wanting this in Ubuntu or Gnome, have you tried [AllTray](https://apps.ubuntu.com/cat/applications/oneiric/alltray/)?

I'm not sure how much we would end up doing to meet specific distribution needs so maybe a third-party solution like that could work.

It looks like we might be able to provide some level of support through [Electron](https://github.com/electron/electron/blob/31b4f61815

[2016-10-25 05:19] october21 commented on #362
Do it for Unity and Gnome because these desktop environments on most popular distributions.

Third-party not cool. This is a task that should do the application

I think create note, open main window of application and exit.

[2016-10-25 22:46] #379 closed

[2016-10-26 01:13] suaracahaya commented on #52
Please implement this soon... I like Simplenote App but it's so hard to search for notes because of no highlighting :(

[2016-10-26 01:17] suaracahaya commented on #52
Please implement this soon, hundreds of notes are not easy to navigate through without a search highlighting...

[2016-10-26 01:18] suaracahaya commented on #395
It has been requested since last year: https://github.com/Automattic/simplenote-electron/issues/52

[2016-10-26 20:46] hedgefield commented on #385
Nope 1.0.5 still has the problem.

[2016-10-26 20:53] dmsnell commented on #385
Thanks everyone for continuing to test on these updates. We're working on it trying to track down the issue but it has been elusive because we haven't been able to reproduce. Maybe one of us has been able to reproduce once but we aren't fully sure.

[2016-10-26 21:23] #408 closed

[2016-10-27 13:15] KokkieH opened #420 "Tags: Unable to delete tags using Delete key"
#### Steps to reproduce
1. Create a note and add some tags to it.
2. Viewing a note, click a tag added to that note and press the Delete key
#### What I expected

That the tag would be deleted from that note.
#### What happened instead

Nothing happened. However, pressing the Backspace key does remove the tag.
#### OS version

Windows 7 Home Premium SP1,
Simplenote v 1.0.5

[2016-10-27 18:27] chrisfromthelc commented on #354
A user is reporting the same issue with the 1.0.5 version on Linux (Fedora 24 & Arch Linux).

[2016-10-27 18:30] hedgefield commented on #385
What usually happens for me is I start a new note on the iOS client, or maybe the webapp or Mac app, and then a few days later when I get around to opening the Windows app, it doesn't sync. So I go into options and logout-login and then the list gets updated properly. I haven't tested extensively with then making more changes across the various platforms, but once the windows app is up-to-date I t

[2016-10-27 20:23] dmsnell commented on #385
Thanks again @hedgefield for your reports. While we haven't identified the problem yet, these details are helping us to narrow down what could be causing the bug. We appreciate it!

[2016-10-27 20:30] Decadence commented on #385
Guys, I'm going to unsubscribe from this issue because I don't use Simplenote any more so you can close this whenever you want.

[2016-10-27 21:07] dmsnell commented on #412
@drw158 what do you think about this? <kbd>ctrl+l</kbd> seems to jive with browser notions of controlling navigation. plus, the native Mac app already uses this binding. maybe it was simply overlooked?

[2016-10-27 21:12] dmsnell commented on #415
Thanks for the report @keypey! I'm going to close this as a duplicate of #360, but I would love to hear further from you there.

It looks like you were running the latest 1.0.5 release which surprises me because we cleaned up a few search-related issues in that. Could you confirm for us that all four of the notes in your screenshot exist on the Linux client?

[2016-10-27 21:12] #415 closed

[2016-10-28 08:39] marianoju opened #421 "Pg Down/Up opens sidebar after update to version 1.0.5"
#### Steps to reproduce
1. Update to Simplenote version 1.0.5
2. Open note and press Pg Down or Pg Up.
3. Observe Info sidebar on the right (shows: Modified Date, word count, character count, Pin-to-top toggle, Markdown toggle).
4. Click X in upper right corner.
5. Click (i) symbol (next to History, Share and Trash symbols on the top).
6. Click X in upper right corner again.

#### What I expected

[2016-10-28 08:43] dmsnell commented on #421
Thanks for reporting this @marianoju! We actually already discovered this and @roundhill patched it up in #419. We'll be shipping an update very soon with the fixed behavior.

[2016-10-28 08:43] #421 closed

[2016-10-28 11:37] oravla1972 commented on #329
Hi, sorry but I do not understand, Is there a way to use Markdown in simplnote for MAC?

thanks
Alvaro

[2016-10-29 20:03] mankurt commented on #354
Have a similar issue. Notes created or deleted on android & mac not updating on linux. Using simplenote 1.0.5 on archlinux. Signing out of the simplenote app and signing back in re-syncs everything correctly.

[2016-10-31 14:39] kriskarkoski commented on #385
Another report in 2851098-t

[2016-10-31 16:57] drw158 commented on #412
We differ from the Mac app because it didn't make sense at the time to focus the search field with ctrl L. It seemed unintuitive, especially since we don't currently have searching within notes. I know it's standard to focus the search field on browsers with ctrl L, but I think we should be looking more at other apps, writing apps.

**Ulysses**
- shift+command+F: search notes
- command+F search wi

[2016-10-31 17:21] rohzart commented on #332
I did learn to work with leveldb and when I attempt to connect/open the database directly using level npm package in my nodejs program, it fails since the default comparator "idb_cmp1" is different from what was used to "encrypt" the database. In the code below, the second line throws this error.
[code]
At this point, @dmsnell , I'm curious if you know how (or where from) one could retrieve the co

[2016-10-31 18:44] dmsnell commented on #332
@rohzart unfortunately I don't know what that is using or if we even set it. my guess is that the browser is making those decisions for us.

have you had access to a development build of the app wherein the developer tools are enabled? with those you can directly access the IndexedDB data without trouble. using the console it would be possible to pull out the data, though maybe only with a bit of

[2016-10-31 20:04] dmsnell commented on #332
@rohzart here is a link to the debug-enabled version. when you open it you should have access to the developer tools where you can inspect the data in IndexedDB directly.

https://cloudup.com/i0WtqAodryF

^^^ thanks @roundhill for making that binary!

[2016-11-02 22:24] probonopd opened #422 "AppImage for Linux"
* Operating system: Linux
* Simplenote version: Latest

Please provide an [AppImage](http://appimage.org/) for Linux. This will allow Simplenote to run on many Linux distributions at once. `electron-builder` has support for it, so should be really easy.

[2016-11-03 08:13] zhangzhishan opened #423 "Login: Is it possible to use Simplenote without signing in. (offline mode)"
#### Steps to reproduce
1. My computer cannot access to the internet, but the app needs to signing in.

#### What I expected
Is it possible to make it can use without an account

#### OS version

Windows 10

[2016-11-03 09:47] mnmami commented on #52
In two days from now, this request turns one year old, pity that it is still dragging. I'm speaking for the Linux version. I'm wondering what makes the task difficult if the full-text search across the notes itself is working?! Anyway, casting a vote for this being so important.

[2016-11-04 13:08] swalladge commented on #422
@probonopd while this would be a nice idea, I also suggest reaching out to package maintainers for the distro you are wanting to run Simplenote on to see if someone will be willing to create distro-specific packages for it (if it doesn't already exist). For example, I am currently maintaining a [pkgbuild on the aur](https://aur.archlinux.org/packages/simplenote-electron-bin/) for easy installation

[2016-11-04 13:27] dmsnell commented on #422
@probonopd that sounds like a great idea. I looked into this a little bit while on a flight yesterday but was limited due to lack of reliable internet. To my knowledge it doesn't look like there is anything to prevent us from doing it. Of course, we might get there faster if someone offers a PR for it :wink:. We'll update here as we learn more and if we put out some code to this end. Thanks for fi

[2016-11-04 13:32] dmsnell commented on #423
Thanks for filing the issue @zhangzhishan. Right now it's not possible to start using the app without having a login. It _is_ possible on the mobile apps, or at least on Android, but not on the desktop. it's important to know, however, that using Simplenote without an account means that the notes won't be synchronizing anywhere.

If you can create an account when you _do_ have internet, then you s

[2016-11-04 14:07] dmsnell commented on #361
Thanks @rachelmcr. This should be an easily fixable bug.

Has this happened to you more than once? Is there a pattern? If it's a rare fluke we will probably address it later as time permits but if it's happening a bunch and we don't realize it then we can try and take care of it more immediately.

[2016-11-04 14:12] dmsnell commented on #357
Thanks @space-curiosity. Some of these are probably legitimate while others are probably stuck this way due to being dependencies of dependencies.

Are you looking to start contributing? This would make for some great first PRs. You can use a convenient tool [npm check updates](https://www.npmjs.com/package/npm-check-updates) to see which dependencies are out of date. Then, probably one or a few a

[2016-11-04 14:30] danvilar commented on #405
Although, a locking mechanism to avoid the note being edited until you unlock it again would be useful.

[2016-11-04 14:53] probonopd commented on #422
@dmsnell it's so trivially easy that I don't think its worthwhile to do a PR:

1. Edit package.json to use the latest electron-builder.

2. Edit package.json — add after "build": { ... }:

[code]
Then, `npm install` or `npm run dist or npm run dist -- --linux=AppImage` if you want to explicitly set target and do not edit package.json.

[2016-11-04 15:10] rachelmcr commented on #361
Yes, it happens every time I first open the app after restarting my laptop. It isn't a huge deal (I can dismiss the alert and move on) but it is a consistent, recurring thing.

[2016-11-04 16:30] drw158 commented on #423
It would be great to have offline. I guess the native Mac app does this too?

[2016-11-04 16:35] drw158 commented on #362
![screen shot 2016-11-04 at 11 35 08 am](https://cloud.githubusercontent.com/assets/618551/20013873/c976107a-a282-11e6-930d-b13022038434.png)

[2016-11-04 16:54] davewhitley opened #426 "Get accent color on Windows"
Would be cool to use this to change the SN blue to whatever the user sets as their accent color on Windows. Hopefully doesn't conflict with dark theme?

![screen shot 2016-11-04 at 11 52 40 am](https://cloud.githubusercontent.com/assets/618551/20014537/6e1986fa-a285-11e6-9b15-cd9f50adb160.png)

[2016-11-04 17:33] dmsnell commented on #362
Note: although I didn't push anything up I was able to experiment and get a working prototype working in Mac. The code wasn't too complicated but I think this is the list of steps we need to complete before we can resolve this:

 - [ ] A good design of the task bar item: what icon to use and which actions/items to provide in the menu
 - [ ] IPC between the main process and the renderer which can i

[2016-11-04 17:34] dmsnell commented on #423
That doesn't sound very Simplenote-y. Indicating that the app isn't linked to an account and therefore _not syncing_ seems very reasonable though. Would some kind of banner/bar across the top of the note view be reasonable?

[2016-11-04 17:55] planetahuevo commented on #385
Another one with the same issue.
It seems that it sync the data I create or modify on my app to the web, but never on the other direction.
I have 2 computers. If I create a new note on one computer, and go to the other, is not there, but if I open the web, everything is ok.
I log out and log in into the 2nd computer and everything syncs again.
until i create  anew one. Windows 10 here too on both

[2016-11-04 18:36] dartiss opened #427 "Windows App taking focus"
A user in Kayako has reported that, under certain conditions, the Windows app is overriding desktop focus. He’s posted a recreate but also details of a setting that appears to cause it.

From #2901197-t

He’s also posted his hardware and software set-up too, if this is of use.

I've also posted the above details on the P2.

[2016-11-04 19:03] drw158 commented on #427
User setup:

Simplenote (1.0.5) on Windows 7 64-bit

[2016-11-04 19:09] drw158 commented on #427
This appears to only be a Windows 7 setting. I have 10, so I am unable to test it at the moment. If someone has a Windows 7 machine and can reproduce we can add this is as bug. Although, it is probably an issue with Electron.

[2016-11-04 19:12] drw158 commented on #423
I think so, yep. Android probably does something like that.

[2016-11-05 09:04] klakar commented on #385
Just adding Linux App to the problem, and Yes! Logging out, and then in again will sync **all** notes!
(Using Simple Note 1.0.6).
Usually occurs when creating the note in the Android App. Editing the note, even in the web-app, will ___not___ sync to Linux App. This is however not consistent! If i do a log-off/log-on it seems to work fine for a while at least.

[2016-11-05 11:57] gatestone commented on #347
Yes indeed! I would really love to swipe down on iPhone to search for a simplenote! Spotlight supports dozens of my applications but not Simplenote app. It can't be that hard?

[2016-11-05 21:32] dmsnell commented on #312
@drw158 and @rachelsquirrel this came for free when we merged in the draftjs editor (thanks @nfcampos) in #370. While it's now on-by-default, we could add an option to disable it.

@drw158 do you think an item in the menu would be best for this? add an option in both the menu and in the app settings pane? under the _Display_ settings?

[2016-11-05 21:33] dmsnell commented on #309
Will be resolved when #309 merges.

[2016-11-05 21:36] dmsnell commented on #261
@roundhill it doesn't look like many menu options are relevant when logged out…

 - About Simplenote
 - View > Toggle Full Screen
 - Window (full menu)
 - Help (full menu)

@drw158 can you review that list.

What do we want to show in this case (logged out)?

[2016-11-05 21:41] dmsnell commented on #237
@drw158 what would appear on the `Edit Account` action? the Account modal?

I'm all for this although it does break functionality when running in the browser instead of Electron (may not matter too much). If we wanted we could keep it there but still add the menu options.

How do we want to differentiate when running in Electron vs in the browser?

[2016-11-05 21:45] dmsnell commented on #191
I propose that we close this issue as `won't-fix` since the prevailing behavior with Electron apps is what we have.

there's a point to be made about preserving app data on uninstall and if Simplenote users want to clear it out then we could add some note in the documentation to make that easy to do just that.

otherwise we can probably consider this the expected behavior.

for prudence I will go

[2016-11-05 21:45] #191 closed

[2016-11-05 23:51] amontalenti opened #429 "Why not use Electron for OS X, too?"
I love SimpleNote and use it everywhere, but I really wonder why this project doesn't make OS X builds alongside the Windows/Linux builds? The "native" OS X app lacks proper Markdown support.

[2016-11-06 00:17] dmsnell commented on #429
@amontalenti thanks for the inquiry! stay tuned, this might happen in the future!

[2016-11-06 00:17] #429 closed

[2016-11-06 00:52] zeke commented on #429
See also https://github.com/Automattic/simplenote-macos/search?q=electron&type=Issues&utf8=%E2%9C%93

@dmsnell let me know if you need help making it happen.

[2016-11-06 00:55] dmsnell commented on #429
@zeke I'm not sure if we are ready to replace the macOS app yet based on the performance of the app and the list of bugs/features.

personally I run the electron app in macOS while I'm developing. we would definitely welcome feedback from people testing it out; other than that I'm not sure what our timeline will be. we need to figure out and resolve this nasty [sync bug](https://github.com/Automat

[2016-11-06 00:58] zeke commented on #429
Which issue specifically? That link is to the repo's project view.

[2016-11-06 01:03] dmsnell commented on #429
@zeke it should link to Project 1, which is the sync bug. We've had great difficulty reproducing the behavior, but sometimes the app isn't syncing data. There are several open issues related to that right now.

[2016-11-06 01:11] zeke commented on #429
Got it! Will look into it.

[2016-11-07 13:27] marianoju opened #430 "Published note does not sync & I can't generate public URL for note"
#### What I did
1. Checking on a previously published note I realized it is not synchronized with current note edited with Simplenote app
2. Tried to generate a public URL for the current note and failed (“Publishing note“ does not produce an URL, and mouse-click on “Copy” in sidebar does not copy a public link to clipboard, see screenshots).

#### What I expected
1. I expected published notes to

[2016-11-07 20:13] drw158 commented on #237
Edit Account would be the same as it is now. It would open up a browser window, take you to https://app.simplenote.com/settings

Ideally we could keep the code in there, and display when we need it if/when we release it for the web.

Looking at this now, I would probably create a new menu for Markdown, maybe Format > Enable Markdown.

Another idea, which I don't think we'd need unless we add a lot

[2016-11-07 20:21] dartiss opened #431 "Add scroll to bottom button for traversing long notes"
A user has requested an enhancement to allow quick scrolling to the bottom of long notes...

As the user says, I think this is more a mobile app improvement but it's certainly worth considering with all platforms (I'm cross-posting this for all platforms).

Ticket is #2909376-t.

[2016-11-07 20:21] drw158 commented on #261
It looks like that list of items are the only relevant ones for logged out 👍

[2016-11-07 20:32] dartiss opened #432 "Introduce Folders and/or Tree Structure"
A user would like to request the introduction of a more advanced note structure - a tree and/or folders.

As this applies to all the platforms, I'm cross posting this on all the issue logs.

Ticket is #2909181-t.

[2016-11-07 21:53] drw158 commented on #432
We get this one a lot, but we have no plans to ever change the tagging system.

[2016-11-07 21:53] #432 closed

[2016-11-07 22:02] roundhill commented on #430
Sometimes it can take a while for the note to publish. If you return to this note now is it published?

[2016-11-07 22:14] davewhitley opened #433 "Tag list sidebar should be a toggle"
Sounds easy, but actually quite hard to design for. I sketched a lot of different ideas, and researched a lot of apps. Here is what I've found for us.

First, the current design is great for mobile, and aligns the design with iOS/Android. Having a responsive layout for Simplenote Electron actually has nice benefits, one being the ability to set a very small width and still be functional. Most nati

[2016-11-07 22:15] dmsnell commented on #237
Showing a web view would mean people couldn't adjust their settings offline. Did you intend on implying this?

[2016-11-07 22:17] drw158 commented on #433
The Info button and sidebar also become a toggle, but that has no effect on what I mocked up.

[2016-11-07 22:22] dmsnell commented on #430
@roundhill I just [noticed](https://github.com/Automattic/simplenote-electron/pull/228#issuecomment-258653775) this issue when addressing #228. I'm not sure when it creeped in or why.

[2016-11-07 22:30] roundhill commented on #430
oh, I see. Thanks for the additional info!

[2016-11-07 22:34] drw158 commented on #433
Also, you might notice there is a lot of space in the top bar, enough for the search bar. We could do this, but having the search bar in editor only mode would be counterintuitive. Maybe it's just hidden in that mode?

[2016-11-08 02:09] alejandro7x opened #434 "Too much space between the notes sidebar and the note"
There's too much space between the notes sidebar and the note on the Windows App

#### Screenshot / Video :
![](http://i.imgur.com/kBpAAxF.jpg)

[2016-11-08 08:43] marianoju commented on #430
@roundhill Checking 19 hours later on my note it is *still* public, but
the content is garbled (mixing old and new edits, including text that
has been deleted).

Republishing of the note i.e. creating a (new?) public URL is still not
possible.

I have toggled “Make public link” but note remains public when it should
not be, and resetting note to public does not help republishing.

I have created a

[2016-11-08 12:14] gracie opened #435 "v1.0.6: Preferences Tab doesn't List Writing on Linnux Ubunto 64 bit"
#### Steps to reproduce
1. Navigate to File --> Preferences

#### What we expected: To see options for "Account, Display, Writing"

#### What happened: The Account and Display options popped up, but Writing did not.

#### OS version
Linnux Ubunto 64 bit

#### Screenshot / Video
https://cloudup.com/ch_DXBulAJf

Reported in #2898462-t

[2016-11-08 15:43] roundhill commented on #435
We removed this setting in the latest release. The markdown switch is in the info panel of each note.

[2016-11-08 15:43] #435 closed

[2016-11-08 15:49] roundhill commented on #433
Interesting idea! Should be fairly easy to build this and try it out.

[2016-11-08 16:04] drw158 commented on #434
duplicate #349

[2016-11-08 16:04] #434 closed

[2016-11-08 16:09] drw158 commented on #431
My suggestion is to record the last position of the user's cursor. Alternatively, placing the cursor at the end of the note could be the default, instead of the top of the note.

[2016-11-08 19:17] drw158 commented on #237
Nope, edit account is just for changing account info. They'd still be able to edit settings in the electron app via the menu bar.

By "keep it in there" I meant keep the modal code in the repo and enable it once we need it for a web release.

[2016-11-08 22:41] dmsnell commented on #431
@drw158 am I missing something big? positioning the cursor at the end seems very counterintuitive to me. I may use notes differently, but I think an overwhelming majority of the time I spend in notes is reading old ones and I usually start at the top.

remembering the cursor spot is something I could imagine getting pretty complicated technically. do we have any examples in other apps that do this

[2016-11-08 23:03] darrenca commented on #385
Another reported sync issue in 2903142.

[2016-11-09 15:25] drw158 commented on #431
I could be wrong, but think Microsoft Word does this. I haven't been able to test. Ulysses for Mac seems to save the cursor state, which is nice (not sure if that is cross-platform).

It's good to remember the use case of our app, which unfortunately is a wide range for us. I think it's safe to say that most people use SN for short-form notes, so keeping the cursor at the  top makes sense. Based o

[2016-11-09 15:25] #431 closed

[2016-11-09 16:20] zhangzhishan commented on #423
One of my computers cannot access to the Internet in some reasons, but I use Simplenote in my other computers. I only want a easy to use note app for my offline computer.

[2016-11-09 16:30] eblade commented on #309
Looking forward to it!

[2016-11-09 18:55] roundhill commented on #423
The Android app's accountless UI was an experiment to see how valuable it was to users. I think it has proved to be useful by a very small minority.

[2016-11-09 18:56] roundhill commented on #423
And I'll add that there were quite a few bugs related to that feature, I'd have to try and remember what those gotchas were before we attempt something like this.

[2016-11-09 19:26] zeke commented on #354
Has anyone been able to reproduce these issues on the macOS Electron Desktop client? I am going to give it a shot.

@dmsnell, @roundhill any pro-tips on how to enable more verbose dev debugging in the Electron app?

[2016-11-09 19:27] zeke commented on #429
So I just read through #354, #384, and #385. From what I can tell, it appears that these syncing problems are only affecting the Linux and Windows desktop clients (Electron), whereas no one is mentioning the Mac client (Native).

I'd going to try to reproduce it on macOS.

[2016-11-09 19:30] roundhill commented on #354
Yup, you can enable them by uncommenting this line: https://github.com/Automattic/simplenote-electron/blob/master/desktop/app.js#L50

[2016-11-09 19:38] roundhill commented on #354
I think [this comment](https://github.com/Automattic/simplenote-electron/issues/354#issuecomment-250077557) is the biggest clue here. He was able to create notes from the electron app, and they sync fine. But the issue is that it does not appear to be requesting the changes from simperium when it reconnects in some cases.

[2016-11-10 06:26] zhangzhishan commented on #423
Thank you so much.

[2016-11-10 15:40] seanzig commented on #299
One thing I do as a clunky work-around is to get a tab character in the clipboard and paste (Ctrl-V) it when I need it.  I use enough tabs in every note, and the autoindent feature from the Mac client keeps the tabs in there, that I have a tab character readily available to copy (Ctrl-C) in any note that I'm using.  The usability pales in comparison to the Mac client, but it's better than no tab a

[2016-11-13 05:08] #297 closed

[2016-11-13 05:09] #308 closed

[2016-11-13 06:14] charliescheer commented on #385
Another sync issue with Windows 7 in 2916145

[2016-11-15 09:14] ajcool2k commented on #385
Reporting because I lost some unsynced notes lately. Using the app mainly on Ubuntu 16.04 / Windows 10 and at times on Android. All updated to the latest version.

[2016-11-15 15:23] #378 closed

[2016-11-15 22:54] Arty2 commented on #334
Confirming this issue. Very disappointed about this; Atom doesn't seem to have the same issue.

[2016-11-19 04:27] alexforencich opened #438 "Linux version broken - does not display notes or allow editing"
Linux version is totally broken (1.0.6).  No notes are displayed.  Note list side bar is blank.  New note button does nothing.  Logging out and logging back in does not change anything.

#### Steps to reproduce
1. Start program
2. Log in (if not already logged in)

#### What I expected
Note list in sidebar populated with notes in account, notes can be edited, notes can be added

#### What happened

[2016-11-19 07:05] alexforencich commented on #438
Alright, after leaving it open for a couple of hours, it suddenly started working.  Maybe some sort of progress indication is required for initial sync on start?

[2016-11-19 12:41] dmsnell commented on #438
@alexforencich thanks for reporting this. that's definitely not a good feeling opening up an empty app. that behavior does seem a bit atypical though. do you think there could have been any abnormal issues with the Internet connection when the app opened up? disconnection? high latency? very slow speed? proxies? etc…

[2016-11-19 20:18] alexforencich commented on #438
No, as far as I could tell, the internet connection was fine.  And it's a decently performing connection as well - speedtest.net shows ping time of 25 ms, download of 35 Mbps, upload of 10 Mbps.  No proxies or VPNs, just wifi (5 GHz 802.11n) to router to cable modem.  My computer does sometimes fall off the university wifi, but I have never had an issue with my home wifi (where this problem occurr

[2016-11-19 20:28] alexforencich commented on #438
I just tried closing and re-opening the simplenote program, and there is only about a half second delay before it displays the notes.  So it seems to be working at the moment.  Perhaps it is some sort of a migration issue from a previous version?  I can't recall what version I was running before, but every time I tried to start it since upgrading, I ran in to this issue (no notes displayed, etc.)

[2016-11-19 20:38] dmsnell commented on #438
@alexforencich I have personally seen some delays when opening the app while developing on it, but I have never seen it draw the UI and show no notes.

I'll keep a watch out for this, but I don't think there's much in the way of clues as to what could have caused this.

I don't think it's "totally broken" though, thankfully. The only thing that seems like a lead at this point is either the Simperi

[2016-11-19 20:45] alexforencich commented on #438
Yeah, agreed that it's not totally broken.  That's just the way it appeared to me after trying to start the app multiple times over several days and running in to this issue, but now it seems to be working fine, so whatever happened must have been some sort of a transient issue.

[2016-11-19 21:11] dmsnell commented on #385
@raniesantos are you willing to share your normal usage pattern? do you keep Simplenote open for days at a time? close it for days at a time and then only after reopening do you notice the sync issues?

if it's up-to-date and you close the app then open it again after a few minutes, do the changes from the mobile apps sync then?

[2016-11-19 21:12] dmsnell commented on #384
@neelkadia and @rustykeyctrl I'm going to close this issue as a duplicate and move the discussion into #385 in order to be able to better organize it. thanks for the reports.

[2016-11-19 21:12] #384 closed

[2016-11-19 21:24] dmsnell commented on #310
@nsrosenqvist thanks for the suggestion! this is not a priority of ours right now but it would fit into some work @drw158 has proposed working with the account settings in #237 and also with the work in adding native tray support in #362. At this point in time I'm going to close this issue but will continue to keep it in mind when we work on those other PRs. Thanks again!

[2016-11-19 21:24] #310 closed

[2016-11-19 21:35] dmsnell commented on #354
Hi all. I'm going to close this issue and merge it into #385 for organizational purposes. I'm pretty sure that it's the same core issue causing the sync problems in all of the apps build off of this repository (Windows, Linux).

We'll be tracking there and you are free/welcome to participate in that discussion!

[2016-11-19 21:35] #354 closed

[2016-11-20 18:11] raniesantos commented on #385
@dmsnell I tested simplenote just now. It seems to have been fixed in my case.

[2016-11-20 19:31] dmsnell commented on #385
Thanks @raniesantos!

We still believe there's a problem out there because many people _are_ experiencing this issue. We're suspicious of the underlying Simperium JavaScript library.

❓
For those who are experiencing this regularly, when you login after a few days and lose the synchronization, do you have lots of changes/notes waiting to come in from your mobile devices or from Simplenote online?

[2016-11-21 01:45] ca19972001 commented on #438
I this exact issue in windows. I can reproduce it at will. If I open the app with no internet connection, the notes show up. If there is a good connection in place, the notes will not show. If I open with a good connection and remove the internet connection, the notes will appear, if I reapply the internet connection the notes will again disappear.

My suspicion is that that there's a sync conflic

[2016-11-21 02:28] dmsnell commented on #438
@ca19972001 that sounds like a big problem! it sounds unrelated to what @alexforencich reported here though if you ask me. if you logout and login again do you experience this issue? are your notes available in any other apps or on Simplenote.com?

[2016-11-21 05:22] ca19972001 commented on #438
The logout/login did in fact make it work again. I thought I had tried that before but it's been a while so maybe I didn't.

My iphone app works fine.

I'll see if the issue comes back...

[2016-11-21 14:02] roundhill commented on #385
I was thinking... maybe one way to band-aid fix this issue for now would be to force an `index` call to Simperium everytime the app starts (currently it does this only after signing in). I'm 70% confident it would fix the bug, but doesn't isolate the cause.

[2016-11-21 14:15] planetahuevo commented on #385
Anything will be good. I am just using the web version as I cannot trust the app anymore. :(

[2016-11-22 21:21] #410 closed

[2016-11-23 15:21] roundhill commented on #385
We were finally able to reproduce the bug and have implemented a fix. I created some beta builds for y'all to try out to ensure that it does indeed fix the issue. Let us know!

You can download the beta here: https://github.com/Automattic/simplenote-electron/releases/tag/1.0.7-beta

[2016-11-24 03:11] dmsnell commented on #385
@roundhill is there a technical explanation of what you found and how you resolved it and under what circumstances we would predict that this is happening? while offline I was auditing the protocol in `node-simperium` and was forming my own hypothesis.

thanks for the awesome sleuthing on that! if we can get this one fixed, what a happy day that will be

[2016-11-24 14:00] planetahuevo commented on #385
I will try it as soon as I can.
Thanks!

[2016-11-29 09:40] laskin82 opened #444 "broken markdown in android app 1.5.2 (russian)"
#### Steps to reproduce
1. update to mobile ver 1.5.2
2. create note, write some text in russian
3. enable markdown in note
4. change to preview mode

#### What I expected
Text in russian

#### What happened instead
Text in not russsian :)

#### OS version
android 6.0.1

#### Screenshot / Video
![screenshot_20161129-123842](https://cloud.githubusercontent.com/assets/16285422/20704582/ef785f00-b630

[2016-11-29 09:50] laskin82 commented on #444
wrong codepage in markdown on mobile

[2016-11-29 16:37] roundhill commented on #444
Thanks for the report! We're investigating now.

[2016-11-29 18:27] roundhill commented on #444
Closing here, will link to it from a new issue over at https://github.com/automattic/simplenote-android

[2016-11-29 18:27] #444 closed

[2016-11-29 20:57] drw158 opened #445 "Mac app feature parity"
To keep track of everything we need to do for Mac app feature parity. Feel free to add to this list.

- [ ]  #267 - Resize divider between list and notes
- [ ]  #224 - Use shift key to select more than one note
- [ ]  #44 - Drag to select multiple notes
- [ ]  #37 - Keyboard bindings/shortcuts
- [ ] #433 - Toggle tags list sidebar
- [x] #411 - X icon to clear search
- [ ] #13 - Share content to/fr

[2016-11-29 21:09] roundhill commented on #445
#1337 - Sync like a boss

[2016-11-30 07:20] gregzuro opened #446 "suppress update dialog"
Add the ability to suppress the update dialog, since it can become annoying.

#### What I expected

To not be bothered to update several times each day. :)

#### What happened instead

...

#### OS version

linux

[2016-11-30 15:39] fayad commented on #305
Thanks for the fix. Can you update the deb package.

[2016-11-30 15:42] roundhill commented on #446
You could, you know, update the app ;)

[2016-11-30 16:22] dmsnell commented on #305
@fayad we don't really have a fix quite yet. @arshsingh has put together a pull request to include this functionality, but we are waiting to see if we can make a few changes to that patch before we merge it in. we're all very excited to persist the window size :smile:

[2016-11-30 17:30] drw158 commented on #325
will be done in #37

[2016-11-30 17:30] #325 closed

[2016-11-30 17:31] #405 closed

[2016-11-30 17:49] #183 closed

[2016-11-30 17:55] drw158 commented on #13
https://github.com/electron/electron/issues/6330

[2016-11-30 18:01] owcz opened #447 "search words separately instead of as string"
#### Steps to reproduce
1. Look for note titled "suggestions from diane & janet" but don't remember the name
2. Search for "suggestions" and a bunch of hits show up
3. Continue typing... "suggestions janet" and there are no hits

#### What I expected
"suggestions janet" should reveal notes titled "suggestions from diane & janet"

#### What happened instead
No results

#### OS version
Linux, latest

[2016-11-30 18:05] dmsnell commented on #447
this sounds like a good idea, thanks for taking the time to write it down @owcz!

we'll check into it at some point but I'm not sure when. we're finishing up some high-priority bug fixes and will then reorganize.

[2016-11-30 18:08] owcz commented on #445
For parity,
- [ ] #412 - Ctrl+L to toggle search field focus
though someone has argued that the Mac default should change too

[2016-11-30 18:25] dmsnell commented on #323
@prat0088 can you help me understand the value of this here? I thought about individual note exports, but since the notes are plain text a quick copy-all gets the note content ready to paste anywhere. I find that more useful than exporting a single note because in most cases I can imagine, exporting to a file would precede opening that file and copying and pasting the content elsewhere.

[2016-11-30 18:43] dmsnell commented on #385
Has anyone here been able to try the 1.0.7 beta and either reproduce the bug or confirm that the update fixed it?

[2016-11-30 21:43] gregzuro commented on #446
I'm not on the latest verison and don't want to update the app.

[2016-11-30 21:45] roundhill commented on #446
The latest update only prompts you to update when you launch the app, so in a way we've fixed this, but you would need to update the app...

[2016-11-30 21:52] gregzuro commented on #446
I see.  That works.  Thanks!

[2016-11-30 21:52] #446 closed

[2016-12-01 10:12] hedgefield commented on #385
I got around to installing it, and right away it loaded in all my most recent notes, and I haven't used the windows desktop app in weeks and changed a ton via the iOS app, so it's looking good!

[2016-12-01 14:06] jleandroperez opened #450 "Markdown Code Block Does Not Parse Properly"
### Note:
I'm moving [this macOS Issue](https://github.com/Automattic/simplenote-macos/issues/95) over to the Electron repository, since it's an electron app bug actually.

Thanks!

--

I noticed in one of my notes that the code blocks are not properly parsing out in the Preview.

The three back ticks before and after the block are still shown in the preview and any headers or other markdown chara

[2016-12-01 16:23] davewhitley commented on #450
Time to move again, since this is actually the web app!

[2016-12-01 16:56] drw158 commented on #445
Thanks, @owcz, added to the original post.

[2016-12-01 18:09] jleandroperez commented on #450
There we go... filed an issue in the web app repository. Thanks for the heads up @drw158!!

[2016-12-01 18:09] #450 closed

[2016-12-01 19:58] nfcampos commented on #445
I guess list autocompletion is needed as well for parity https://github.com/Automattic/simplenote-electron/pull/398

[2016-12-03 08:04] sgbw commented on #385
I used to have the same problem with notes written on android not syncing with the linux client on mint 17/18. Updating from 1.0.2 to 1.0.3 only fixed it for a very short period. From then on the only way to keep linux synced was login/logout, which was pretty annoying.
Installed 1.0.7 and it synced like a charm. Will try and test during the next days to see if this time around it keeps working fi

[2016-12-03 12:46] rohzart commented on #332
I've not been able to attend to this since long and I'm giving up. :/ Thank you @dmsnell, @marianoju. Cheers.

[2016-12-05 17:36] roundhill opened #453 "macOS: Can't drag login window"
#449 broke the ability to drag the login window. It will need the `-webkit-app-region: drag;` css property added.

[2016-12-05 17:39] drw158 opened #454 "macOS: click dragging the toolbar buttons move the window"
In native apps, click dragging a button does not drag the window.

Try clicking on a button (history, share, etc.), holding, and dragging the window.

Same for the search bar.

[2016-12-07 07:25] owcz commented on #385
Updated to 1.0.7 through the Arch user repo and still having upload sync issues after logging out and in again. For instance, if on the Linux app I make new notes and other edits, other devices won't receive the new text. However, if I make edits on the web app, the Linux app will receive them (so download working better than upload). Moving back to web app now for stability.