[2020-06-09 08:59] rachelmcr commented on #1990
@codebykat It's happening to me with all links when Markdown is enabled. Here's an example of a note I have:

[code]

Published note: https://app.simplenote.com/p/Mm2vPw

With Markdown disabled, both of those links are linkified in the published note. With Markdown enabled, both links are linkified in the Markdown preview but _not_ in the published note.

Is it expected that with Markdown enabled

[2020-06-09 09:14] rachelmcr commented on #2142
Yeah, I wasn't entirely sure what was expected here. I'm fine with closing this issue for now since we'll need to wait for an upstream fix.

Thanks for explaining! I think I grok the difference now.

[2020-06-09 16:53] opdavies commented on #1069
This is unfortunate. I'd switched from Bear on macOS to Simplenote as I use a mixture of macOS and Linux now, and a lack of support for images is a big blocker for me.

[2020-06-09 17:49] #2142 closed, assigned to nobody

[2020-06-09 19:21] gozzoo commented on #1984
Isn't this supposed to be kind of important providing that people can not upgrade, unless they reinstall the application.

What's the purpose of releasing new versions if most people can not upgrade to them?

[2020-06-09 23:04] codebykat commented on #1990
Hmm no, that is a bug. I'll look into it @rachelmcr. Do you happen to know if it was working before the last few days? I was expecting this to be a regression, but I just spot-checked a couple of older versions of the code and I'm not seeing the linkifying on any of them.

[2020-06-10 07:19] codebykat commented on #2144
Ah this is an upstream issue with the Markdown parser: https://github.com/trentm/python-markdown2/issues/332

I will see if I can figure out a patch.

[2020-06-10 07:24] codebykat commented on #1990
Ahh okay I see why and I think it has always been like this; we're using the Django `urlize` template filter on plain-text notes, but we can't run that on the Markdown note after parsing Markdown. I'm looking to see if there's any easy fix.

[2020-06-10 09:31] rachelmcr commented on #1990
Yeah, this was the same behavior I saw when I tested it in the 1.16 beta and I wouldn't be surprised if it's always been this way. I'll reopen this issue and update the title so it's clear this is related to Markdown.

[2020-06-10 15:44] clebermacieski commented on #1974
Successful workaround with:

sudo chown root:root  /opt/Simplenote/chrome-sandbox

sudo chmod 755 -R /opt/Simplenote/chrome-sandbox

sudo chmod 4755  /opt/Simplenote/chrome-sandbox

Source:
https://www.vivaolinux.com.br/topico/Suporte/Simplenote-Nao-abre/

[2020-06-11 12:04] gubrist commented on #2085
I assume a relation to this "jumping" problem:

https://github.com/Automattic/simplenote-electron/issues/1531

[2020-06-11 15:29] belcherj commented on #2085
This is resolved on the web. Adding to the 1.18.0 release today which will occur tomorrow. This will not be out on Windows until the certification issues are resolved.

[2020-06-11 15:30] belcherj commented on #1531
This should have already been resolved and is a different issue from #2085

[2020-06-11 15:30] #1531 closed

[2020-06-11 15:31] belcherj commented on #1531
If you are still experiencing this issue please comment and I will reopen.

[2020-06-11 15:34] belcherj commented on #496
We do not officially support the OSX app for electron and only provide it as a convenience. If this is a quick change I'm fine with making it but it is an extremely low priority.

[2020-06-11 15:51] belcherj commented on #496
You can click it in the dock and reopen. I feel like that is good enough.

[2020-06-11 23:13] codebykat commented on #1990
So in Markdown, you can use "automatic links" by surrounding a URL with angle brackets.

https://daringfireball.net/projects/markdown/syntax#autolink

Trying to support linkifying arbitrary URLs *in addition to the above syntax* would likely be very finicky and error-prone, so I'm inclined to leave this as-is. You can either stick to plain-text and have links be made clickable, or you can be in Ma

[2020-06-12 08:54] rachelmcr commented on #1990
Leaving the published note behavior as-is makes sense to me, given the options provided by Markdown.

In that case, though, is there anything we can do to change the Markdown preview behavior in the app to match? (Currently the preview linkifies these links, which adds to the confusion/sense of a bug, since it sets the expectation that the links will be linkified when the note is published.)

[2020-06-12 14:30] belcherj commented on #2137
I think they should all be greyed out while logged out. This would require a large refactor to allow for dark mode switches while logged out.

I do think the about page should be accessible while logged out.

[2020-06-14 02:08] codebykat commented on #1990
Ooh I think I was wrong ☝️

I think we can try enabling auto-linking for Markdown notes as well and see if it creates problems. I have a fix in the pipeline for it.

[2020-06-14 02:20] codebykat commented on #537
I have a fix in the pipeline for this for plain-text notes. In that case I agree that the published note should look like it looks in the editor. However, I'm not sure what we should do for Markdown-enabled notes, since Markdown assigns syntactic meaning to indents (e.g. for nested lists, code blocks, and so on).

[2020-06-15 20:34] belcherj commented on #2129
This fixes the issue: https://github.com/Automattic/simplenote-electron/pull/2102

[2020-06-15 20:36] belcherj commented on #2084
Fixed in 1.18, whould be out by tomorrow.

[2020-06-15 20:36] belcherj commented on #2084
It has been fixed on web for a couple of weeks.

[2020-06-15 20:36] #2084 closed, assigned to nobody

[2020-06-15 20:37] belcherj commented on #1974
Should be fixed by https://github.com/Automattic/simplenote-electron/pull/2102, which will be in version 1.19

[2020-06-15 20:41] belcherj commented on #1435
Should be resolve din https://github.com/Automattic/simplenote-electron/pull/2102, which will be in version 1.19

[2020-06-15 20:42] belcherj commented on #1407
Will be resolved by https://github.com/Automattic/simplenote-electron/pull/2102

[2020-06-16 01:15] xmha97 opened #2154 "Import notes using drag and drop"
I want to import notes using drag and drop.

![image](https://user-images.githubusercontent.com/23485114/84720763-2cceea80-af94-11ea-9ec1-33a20d22d4d2.png)

Please add this feature.

Thanks.

[2020-06-16 01:25] xmha97 opened #2155 "Support .md format on 'Import Notes...' Dialog"
Hello,

![image](https://user-images.githubusercontent.com/23485114/84721312-a3201c80-af95-11ea-841e-ceadb91b1d15.png)

There are only the `.txt` format.
Please add `.md` format.

Thanks.

[2020-06-16 01:37] dmsnell commented on #2154
Hi @xmha97 - thanks for the great idea. I've added it to our internal feature-request tracker. Not sure when we might be able to get this but it seems like a good suggestion. 👍

[2020-06-16 01:37] #2154 closed, assigned to nobody

[2020-06-16 01:38] dmsnell commented on #2155
Labelling as a bug because we probably should have opened up the `.md` file extension when we added the import dialog.

[2020-06-16 06:10] wezm commented on #2084
There doesn't seem to be a PR or commit referencing this issue. I am curious what the fix was?

[2020-06-16 07:54] positvt commented on #274
+1 for Monospace, please.
Thank you!

[2020-06-16 17:38] starpause opened #2157 "Yellow color theme"
### What
I would like a Yellow color theme. It would be extra awesome if we had configurable color themes, but I understand that's a whole level of complexity more than adding a single color theme.

### Why
On OSX it's very useful to have stickies a different color than my other windows. I wish I could set Simplenote color to something like "post-it" yellow so that it stands out from my other wind

[2020-06-17 14:36] belcherj commented on #2084
Here is the PR: https://github.com/Automattic/simplenote-electron/pull/2111

The issue was that the note you were editing was being removed briefly from one of the several places that notes are stored. This caused the note list to update briefly to not include the note being edited. When that occurred it selected another note.  We removed some of the note selection to fix the issue. We are current

[2020-06-17 23:58] wezm commented on #2084
Great, thanks for the explanation. :smiley:

[2020-06-18 17:06] #537 closed

[2020-06-18 17:06] #2143 closed, assigned to nobody

[2020-06-18 17:11] s1-en commented on #2143
Is this fixed now?

[2020-06-18 18:16] codebykat commented on #2143
Should be fixed @s1-en! I just deployed it. Let me know if not.

[2020-06-18 18:19] codebykat commented on #2144
This was fixed upstream here: https://github.com/trentm/python-markdown2/pull/356

Won't be fixed for us until the new version of the parser is released and we upgrade, so I'll keep this open for now.

[2020-06-18 18:24] s1-en commented on #2143
Sweet, I just checked it out and it works like a charm. Thanks a lot!

[2020-06-18 21:29] #2031 closed

[2020-06-18 21:34] #2138 closed, assigned to nobody

[2020-06-19 01:55] biblicabeebli opened #2162 "Add some additional syncing related information to help solve syncing issues"
Please, be as descriptive as possible.  Issues lacking detail, or for any other reason than to request a feature, may be closed without action.

### What
***(Required)*** What is the feature you are requesting?  Add a concise description of the feature being requested.

Improve the information visible to the user and enhance the user interface when looking at note history.

In no particular order

[2020-06-19 05:03] vietstone-ng commented on #1229
I see this error now. I'm using the Windows desktop app, trying to signing in with Wordpress account. I stuck on this screen.
![Authorize Simplenote - Google Chrome 6_19_2020 12_01_38 PM](https://user-images.githubusercontent.com/744353/85098397-d5937900-b224-11ea-9eae-07f957d4f516.png)

[2020-06-19 17:01] dmsnell commented on #2162
Hi @biblicabeebli 👋

The good news is that we're currently working on some of this. We won't likely implement some of the more complicated history views and may not be able to indicate which revisions were a restore (this is due to how the underlying data model works).

What's on the docket is some indication for when a note was last synchronized, when it receives an update from another device, an

[2020-06-19 20:46] biblicabeebli commented on #2162
Awesome.

I think indicating source device is most important because that is where most (all?) syncing bugs come from.

I think that indicating "this update just deleted stuff" is the best data point to display if the available display mechanism is limited.  I've gone in to check when I _added_ something never, I've gone in to _view change over time_ exactly twice, but I go in to find something I

[2020-06-19 20:47] biblicabeebli commented on #2162
Hm, maybe weighting the amount of stuff deleted vs added is better than pure delete.....

[2020-06-20 19:35] milendimo opened #2163 "Windows 10 App - Password"
Password ending with = ( aka equals sign) on Windows Electron App does not allow users to login. Although it is all fine in the web version.

### Expected
Able to login with any password on any platform

### Reproduced
Change password on account via web UI and make sure it ends with =

Log Out and Login on Web UI is all fine.
Unsuccessful login via Simplenote Electron App for Windows 10.
Changing

[2020-06-20 19:38] milendimo opened #2164 "Changing password more than once in a single session"
Error occurs if an user changes their password at least twice while being logged in.

### Expected
Able to change passwords indefinitely.

### Reproduced
Changed password to some value via Web UI.
Attempted login via Windows 10 App. Unsuccessful due to a separate issue.
In the same session via Web UI, change the password to a new value. Error occurs during password change.
Able to login and set al

[2020-06-21 19:07] dolgelukkig opened #2165 "Tags are not syncing from Windows 10 to Android phone"
While doing a Smoke test I noticed the tags I added in my desktop app are not syncing with my phone They seem to disappear.
I am testing SimpleNote 2.7-rc-1 on Android. My phone is a Samsung Note 8 running on Android 9 and SimpleNote 1.19.0-beta1
### Expected

While a note was open on my phone I was expecting the tags I added to the same note on my desktop to appear in the app on my phone.

### Ob

[2020-06-22 00:56] mattcincotta commented on #265
Hi @codebykat

I've tried the Simplenote App on MacOS Mojave and Catalina (currently 10.15.5).
It was my favourite app to use between Windows and Android but I now have a MacBook and at the schools I work at, use a proxy.

Simplenote fails to use any proxy settings on MacOS - this is the ONLY app I've got installed that doesn't work behind a proxy on MacOS. All other apps read the proxy settings w

[2020-06-22 17:33] xmha97 opened #2166 "A Feature Request for WebApp: Add a apple-touch-icon"
Firefox is using the apple-touch-icon for the icon of pinned sites
But Simplenote does not use this :(

Firefox Dark
![Firefox Dark](https://user-images.githubusercontent.com/23485114/85318121-b28ef080-b4d4-11ea-9bae-e7e4b1328aec.png)

Firefox Light
![Firefox Light](https://user-images.githubusercontent.com/23485114/85318140-b753a480-b4d4-11ea-872b-47283c573bea.png)

Please add a transparent logo

[2020-06-22 20:33] codebykat commented on #2166
Hmm this is odd. We have one already, https://app.simplenote.com/apple-touch-icon.png . We don't link to it anywhere specifically, but the [Apple docs](https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html) say:

I'm confused about what platform you're on and how this is different from the f

[2020-06-22 20:58] codebykat commented on #265
This is so strange because [Electron's docs about the --proxy-server option](https://github.com/electron/electron/blob/master/docs/api/command-line-switches.md#--proxy-serveraddressport) say:

Which sure seems to imply that it should be respecting the system setting by default.

@mattcincotta are you using a system-wide proxy configured via the OSX Proxy settings, or a separate proxy app?

Logging

[2020-06-22 22:12] codebykat commented on #1990
This should now be fixed in published notes. However it's still a different parser than the one used for note previews so I do expect some inconsistencies.

[2020-06-22 22:12] #1990 closed

[2020-06-22 22:46] xmha97 commented on #2166
Hello @codebykat

Firefox displays site screenshots with its favicon when it doesn't find the site's apple-touch-icon.
I don't have a Mac or iOS and I can't try this on them, but Firefox may work differently on the Mac OS.
For example, use an icon when there is no apple-touch-icon.
This may be true because, in your screenshot, the Simplenote tile logo is low quality:
![Firefox](https://user-images

[2020-06-22 22:59] mattcincotta commented on #265
Hi @codebykat - using a system-wide proxy configured specifically via MacOS System Prefs > Network > Advanced > Proxies > Web Proxy (HTTP) AND/OR Secure Web Proxy (HTTPS) OR Automatic proxy.
Currently using the Automatic proxy (.pac file) as that's what we tend to use at the schools.

When will we see a beta release of the recent changes so I can test?

TIA

[2020-06-22 23:08] mattcincotta commented on #265
@codebykat just an update - tried the 1.19.0beta1 - this version works with the system proxy settings.
Might need to get that app store version updated :)

Thanks

[2020-06-23 08:54] rachelmcr commented on #2165
Thanks for the report! This is a bug on the Android side in 2.7-rc-1 where the Android app was reverting tag changes from other clients - it was fixed in https://github.com/Automattic/simplenote-android/pull/1060.

One way to double check this is to make sure the Electron app syncs to the web app at https://app.simplenote.com/ (instead of the Android app). I'll close this issue since the bug was o

[2020-06-23 08:54] #2165 closed, assigned to nobody

[2020-06-23 15:02] JimBobHarris commented on #2044
Hello again, Dennis.

I'm still trying to capture enough solid data to help analyze this, but I'm
thinking more and more it's due to other factors than your software, e.g
WiFi connection stability/speed, flakey old Win 10 box, Dictation mode (as
observed on other apps than Simplenote), etc..

Also, my cancer is gone and I'm just going in for checkups quarterly then
less frequently, so I will soon

[2020-06-23 17:09] dmsnell commented on #2044
@JimBobHarris congratulations! that's great news and I'm glad to hear it.

It may be worth mentioning before you spend too much time trying to diagnose the computer ailments that I've been working on a major overhaul of how the application works internally and in that change we're switching out the component that handles the text editing. The new version will behave differently; hopefully it will

[2020-06-24 08:57] codebykat commented on #265
Oh that's beautiful - thank you for testing, @mattcincotta. We were quite a bit behind in our Electron version so I'm honestly not surprised if that was a bug that was fixed somewhere along the line. 1.19 will be released in a few days (June 29th I believe) but no reason you can't continue to use the beta until then!

[2020-06-24 08:57] #265 closed

[2020-06-24 09:27] codebykat commented on #2166
Ahh I understand now, thank you. The fact that it's called `apple-touch-icon` made me think you were using Firefox on iOS.

Should have a fix for this soon.

[2020-06-25 02:13] codebykat commented on #2166
This is done. It worked for me when I added the pinned site, but it did take a few minutes before it showed up, so I guess Firefox caches these or loads them as a background job or something.

We opted not to use a transparent icon as per our design guidelines.

<img width="365" alt="Screen Shot 2020-06-24 at 7 12 05 PM" src="https://user-images.githubusercontent.com/52152/85645454-a038c200-b64e-1

[2020-06-25 02:13] #2166 closed, assigned to nobody

[2020-06-25 02:39] xmha97 commented on #2166
For me, this problem exists even after reinstalling Firefox :(
On what operating system did you use Firefox?
![Firefox](https://user-images.githubusercontent.com/23485114/85646806-35b96d80-b6b2-11ea-928b-1bdd9991c321.png)

[2020-06-25 03:58] codebykat commented on #2166
I'm not sure what to tell you, to be honest. At this point we're trying to debug Firefox rather than Simplenote.

I would give it a day or two to see if that caching expires. I tested on Firefox OSX and it showed like your screenshot for some time (long enough that I was trying to figure out what went wrong) and then it loaded the new icon.

Things I did while trying to get it to work:
- Created a

[2020-06-25 11:32] JimBobHarris commented on #2044
Thanks, Dennis!

Of course, I will follow your advice.

Regards,

Jim

[2020-06-26 15:29] rachelmcr opened #2171 "Note List: Note Display doesn't always change note list height immediately"
### Expected

When I change the Note Display setting, I expect the note list height to immediately adjust to the new setting.

### Observed

When I change the Note Display setting, sometimes the content of the note list changes but the cell height doesn't change until I click into a new note.

### Reproduced

1. Go to View > Note Display.
2. Select a different display setting (Comfy, Condensed, Ex

[2020-06-26 15:47] rachelmcr commented on #2171
I never noticed this during smoke testing before, but I'm also seeing this occur now on other versions:

* Simplenote Electron 1.18.0 (tested on macOS 10.15.5)
* Simplenote Electron 1.17.1 (tested on app.simplenote.com on macOS 10.15.5, Chrome 83.0.4103.116)

[2020-06-29 00:33] s1-en opened #2172 "Smoother typing experience on the desktop app?"
Please, be as descriptive as possible.  Issues lacking detail, or for any other reason than to request a feature, may be closed without action.

### What ***(Required)***
Make the typing experience on the desktop application (Windows) feel smoother. See the following comparisons: between Simplenote and VS code. Both are Electron-based.

VS Code: https://i.imgur.com/0NHBfEQ.mp4
Simplenote https://i

[2020-06-29 17:31] codebykat commented on #2172
Hi @s1-en, does this relate to the length of the note at all? We're already looking at some performance improvements under the hood. The issues I'm aware of are mostly related to longer notes.

[2020-06-29 18:54] s1-en commented on #2172
Hi @codebykat, it seems to affect new blank notes as well (as I tested above) but it gets way more apparent as the note gets longer

[2020-06-29 21:30] belcherj commented on #2141
Fixed in #2170

[2020-06-29 21:30] #2141 closed, assigned to nobody

[2020-06-29 22:49] dmsnell commented on #1442
Resolved in #1983

[2020-06-29 22:49] #1442 closed

[2020-07-03 16:08] djordjeandrejevic opened #2185 "Mouse cursor & checklist items"
While hovering checked / un-checked checklist item, mouse cursor appears as text cursor.

I expected pointer cursor, like the one which appears when hovering or selecting notes.

It also applies for Preview mode.

### Expected
![Screenshot from 2020-07-03 17-43-41(1)](https://user-images.githubusercontent.com/8862464/86484771-407d9d80-bd57-11ea-92b3-0e07015b3697.jpg)

### Observed
![Screenshot fro

[2020-07-04 19:41] msilbers opened #2186 "Keyboard Shortcut for Insert Checklist no longer in menu"
It used to be possible to go to the top menu in desktop Simplenote versions, then click Format. Next to Insert Checklist, it showed the key command to add one. I do see that you can go to Help > Keyboard Shortcuts, but I see Focus Mode and Toggle Sidebar still show the keyboard shortcuts in the menu, so I'm not sure it's intentional that the checklist one is missing.

<img width="229" alt="Screen

[2020-07-05 21:53] msilbers opened #2187 "Language not accepted: Telugu"
reported in 3081359-zen

typed properly.

this happens on both Linux and the web app

Linux: Laptop, System76 Oryx Pro, using "Pop OS 20.04" withSimplenote v1.18.0. I am using "Telugu (rts (m17n))" as additional language for keyboard

They note that the Android mobile app works fine with this language.

[2020-07-06 06:44] zhangxiaoxing opened #2188 "Uncaught Exception: ERR_CONNECTION_RESET at browser_init.js:2536:21"
I keep  a simplenote window open all the time. Sometime around June 2020, random error dialog began to pop up with an Uncaught Exception: ERR_CONNECTION_RESET at browser_init.js:2536:21. This happened with both version 1.15.xx and 1.17.0. The internet connection here is indeed unstable at times, so the exception is likely reasonable, just need to be caught is all.

### Expected
(internet connectio

[2020-07-06 13:10] arpitbatra123 commented on #2185
Created a PR for this here - https://github.com/Automattic/simplenote-electron/pull/2189, if any maintainer can please have a look!

[2020-07-07 14:01] rachelmcr opened #2190 "Inconsistent note selection with trash/delete/restore actions and switching between note views"
### Expected

When I trash, delete, or restore a note, I expect the app to select the note below it in the note list.

I also expect the note selection behavior to be consistent when switching between note views All Notes or Trash.

### Observed

The note selection behavior is different depending on the position of the note in the note list:

1. If you select the first note in the list, and then s

[2020-07-08 10:04] AvatarMod opened #2193 "Auto logging out at first start. Solution: use only lower case on email field"
### Expected
After first start and log in normal work of application with viewing,editing tasks,etc...

### Observed
I'm download latest AppImage version and starting application.Them I'm log in but after 1-2 seconds this app automated logging out and wish to log in again

***(Optional)***
Before log in
![изображение](https://user-images.githubusercontent.com/37958026/86905226-6ff72600-c11a-11ea-9

[2020-07-08 17:23] gubrist opened #2195 "Last synched does not show correct status | Notes are not synched"
# Expected
- I write a new note or change an existing note
- I want simplenote-electron to synch my notes **right away**
- I want simplenote-electron to show the actual status **without moving the mouse over "Last synched"**

### Observed
- Simplenote-electron does not synch my notes immediately
- I need to move the mouse over "Last synched" to see the actual status
![Last synched](https://user-im

[2020-07-08 18:42] azollafox opened #2196 "Hot Key Conflict for Markdown Preview"
## Expected
When using a hot key to preview markdown no other actions but previewing a note should take place.

### Observed
When using a Windows device the `ctrl+shift+p` shortcut conflicts with existing hot keys in other browser, like Firefox, where that instead opens a new private browser window. On MacOS devices this is not an issue.

Make|Model|OS Version|App Version
-|-|-|-
Firefox Browser|7

[2020-07-11 16:48] KshDi13 commented on #1841
**Similar issues.** Make a change to a note on _Android_ (2.7) and when open the same note on _Windows_ (1.17.0) the note has NOT updated. Now i know enough (due to having come across this issue now numerous times) NOT to edit this out of date note on _Windows_ as this will render this the latest note and my changes i made to the note on _Android_ will be lost somewhere (and not findable in histor

[2020-07-11 17:24] sshaikh commented on #1841
Maybe. I have no idea if these are old or new bugs but I've had these problems since I started using the app close to when it was launched. I've seen it at least once on 2.7.

But it's the same refusal to add repeatedly requested and real quality of life additions like a visible "last saved date" or a "save status" that leads me to wonder if you even believe us when we tell you about our experienc

[2020-07-11 17:27] sshaikh commented on #1841
Gosh I take it back. This is exciting: https://github.com/Automattic/simplenote-electron/issues/2162

[2020-07-11 17:29] sshaikh commented on #2162
I'm eagerly watching this issue. A "time last synced" label alone would solve all of the issues I have with Simplenote, but I welcome the rest.

[2020-07-12 17:20] JP2620 opened #2198 "Undesired tags added to tags list in Linux"
### Expected
  When adding a tag that didn't exist before to a note and immediately removing it, it should not appear on the tags list.

### Observed
  The tag appears in the tag list

### Reproduced

### Screenshots

![image](https://user-images.githubusercontent.com/44300242/87252486-eb721380-c449-11ea-825c-f7ee9e8d4ef7.png)

![image](https://user-images.githubusercontent.com/44300242/87252503-0

[2020-07-12 18:32] CJFxTiKiMoN commented on #2193
I'm also experiencing this issue. Here's some of the info I've gathered from the debugging console. Let me know if I can provide any additional information to assist with this issue.

| Make | Model | OS Version | App Version | Installation Type |
| :------ | :------- | :--------------- | :---------------- | :-------------------- |
| Gigabyte | Aero 15 | Pop OS 20.04 | 1.19.0 | Simplenote-linux-1.

[2020-07-12 18:36] msilbers opened #2199 "Tags: Can't edit by placing cursor as it always jumps to the end"
I'm adding this as an enhancement as it doesn't seem quite like a bug.

### What
A Simplenote user reported strange behavior when trying to add tags. Upon a closer look, I believe it's just a way we didn't expect them to be added.

## Observe

1. Copy a few words with spaces between (like a sentence with no punctuation)
2. Paste into the tag area
3. Try to click into a word to edit it
4. The curso

[2020-07-12 21:18] msilbers commented on #2198
When adding a tag to a note, it's also adding it to your Simplenote account and tags list, so it's not expected behavior that deleting a tag from one note will remove it from everywhere.

So, I'll close this issue, but I've made a note of your desired behavior on our internal feature request tracker

[2020-07-12 21:18] #2198 closed, assigned to nobody

[2020-07-12 22:28] CJFxTiKiMoN commented on #2193
Just logged in using all lower case in my email (force of habit to capitalize) and it worked. Hope that helps @AVAtarMod

[2020-07-13 18:55] algent-al opened #2200 "Simplenote 1.20.0 unusable after trying to import notes"
Simplenote unusable after trying to import notes. As you can see in the animation below the whole window goes white.

![import-notes-broken](https://user-images.githubusercontent.com/46356616/87341741-67ec1b80-c54a-11ea-85f7-ea7f85dd3989.gif)

### Reproduced
This happens every time when trying to import notes.

OS: Solus Budgie 4.1
Make: Re-packaged the .deb file to .eopkg using Solus build tools.

[2020-07-13 19:48] belcherj commented on #2200
Thank you for the report, I have a fix in the works now and hope to have a fix soon.

[2020-07-14 02:26] EdoardoLopez commented on #2193
thanks, it worked for me. I had the issue in "Simplenote-linux-1.20.0-amd64.deb" version.

[2020-07-14 12:42] Bey0ndB1nary commented on #2187
Hi Melissa

i will be more specific with typing issue. What i am able to type in Web app and Android & not able to in Linux App.

బాగుంది  --->   This is right and able to type exactly in Android app & Web app.
బాగుది     --->   This is wrong and this is how it is getting typed in Linux App. "o" is not getting typed in Linux app wherever required, even with other words where it is needed.

https:/

[2020-07-14 14:11] leogermani commented on #2035
Just a comment to say that I tested this on the new Beta and it seems to be fixed! :)

[2020-07-15 20:33] codebykat commented on #1887
This seems fixed now (at least, I can no longer reproduce in Electron on develop).

[2020-07-15 20:33] #1887 closed

[2020-07-15 21:07] codebykat opened #2207 "Tag renaming has various issues"
Various tag renaming issues that we should fix.

### Expected
1. Consistency is all I ask.

### Observed
1. You can rename a tag to nothing in the sidebar (just delete all the characters). This should be disallowed.
2. You can rename a tag to only whitespace in the sidebar. This should be disallowed.
3. We should trim extra spaces from tags. (Trim whitespace from beginning/end and disallow more th

[2020-07-16 03:20] codebykat commented on #1640
I can't reproduce this so I think closing for now, we can reopen if it crops up again

[2020-07-16 03:20] #1640 closed

[2020-07-16 03:21] codebykat commented on #752
Tag searches are an `AND` now on all platforms.

[2020-07-16 03:21] #752 closed

[2020-07-17 21:06] mrdrozdov opened #2216 "Feature Request: Default tags."
Please, be as descriptive as possible.  Issues lacking detail, or for any other reason than to request a feature, may be closed without action.

### What

A setting to turn on a default tag assigned to every new note.

### Why

I'd like to be able to change the default tag every few months so that I can easily search notes later. It's also useful for creating notes when I'm attending conferences,

[2020-07-18 07:55] BPService commented on #2193
I have the same issue with version 1.20.0 of the Simplenote app under Windows 10. Auto logging out happens after entering an email address with upper case characters on the log in screen.

[2020-07-19 10:11] AvatarMod commented on #2193
Thanks very very much! I now trying install&launch app for Windows (I use 10 version and 64bit), and me helped your suggest.

[2020-07-19 10:12] #2193 closed, assigned to nobody

[2020-07-19 15:02] Davido264 opened #2217 "Feature Request: "refresh" button"
Please, be as descriptive as possible.  Issues lacking detail, or for any other reason than to request a feature, may be closed without action.

### What
Please add a Refresh button, Other apps that automatically sync when a change is made to a note have the ability to refresh the app, so if any changes made that didn't sync the right way, we can try again

### Why
This is not just on Electron ver

[2020-07-20 04:25] codebykat commented on #2193
Well that's fascinating. Thanks for the report and the detective work! I've made a note to fix this on the backend. (I'm leaving this issue closed because it's almost certainly an issue with the backend and not the app itself.)

[2020-07-21 06:17] alanlaird commented on #554
Another person eager to move away from Evernote but needing note linking.

[2020-07-21 18:58] codebykat commented on #2196
Also reported in #3161747-zen

[2020-07-23 07:10] codebykat commented on #2193
Hah - I take it back, it was totally an app-only issue. Fix will be in the next version.

[2020-07-24 21:49] #2200 closed, assigned to nobody

[2020-07-27 17:46] belcherj opened #2240 "xcxzcsc"
Please, be as descriptive as possible.  Issues lacking detail, or for any other reason than to report a bug, may be closed without action.

### Expected

### Observed

### Reproduced

***(Optional)*** If applicable, add screenshots, animations, or videos to help illustrate your problem.

### Where did you see the bug

- System Make:
- System Model:
- OS:
- OS version:
- Browser (if applicable):
-

[2020-07-27 19:58] #2186 closed, assigned to nobody

[2020-07-28 15:28] azollafox opened #2245 "Text Disappears in Chrome on Windows After Closing Note"
## Expected
All text in a note should save when a note is closed

### Observed
When a note is closed in Chrome on a Windows computer characters written there can disappear.  Testing this on other devices does not produce the same results

### Reproduced
User reported:
1. Open a Chrome Incognito tab
2. Log into Simplenote and add content to a note
3. Close the tab
4. Open a new tab and log back int

[2020-07-28 18:27] alanlaird commented on #554
When the issue is closed and the feature list is not visible, it's hard to track progress or priority.  The popularity of mind mapping and other GTD related note systems puts a lot of value on clean note linking.  Even Github is putting effort against it and has improved their markdown linking recently.   Thanks!

[2020-07-28 20:39] codebykat commented on #2137
Closed in #2228, #2231, #2232

[2020-07-28 20:39] #2137 closed, assigned to nobody

[2020-07-29 16:25] msilbers opened #2251 "Windows installer issue"
We currently have several reports of folks trying to install Simplenote Windows 1.20 from Github directly, and the installer hangs and never finishes.

![1595946746269blob](https://user-images.githubusercontent.com/31680407/88826304-94cd3f00-d196-11ea-8877-8465fc5aa672.jpg)

One user was able to figure out a workaround, which is downloading directly from the Windows Store:

Basically, for some rea

[2020-08-01 01:55] mmaluff commented on #2091
This is also a problem when using, e.g., a Spanish keyboard. The problem is with using `KeyboardEvent.code`, which doesn't respect keyboard layouts. It might just be a matter of switching to `KeyboardEvent.key`, which does.

[2020-08-01 02:32] mmaluff commented on #2172
I noticed this too. Looking at the network tab on my browser dev tools, I noticed it's making a request for a 1px gif _every single time_ I enter a character, presumably for analytics. That seems like overkill. Disabling analytics increases performance by a lot, though it's still not perfect.

This is what it looks like with analytics enabled:
![analyticsenabled](https://user-images.githubusercont

[2020-08-01 04:03] s1-en commented on #2172
So then how did you disable the analytics image? @mmaluff

[2020-08-01 16:30] mmaluff commented on #2172
For testing I was just setting `window.analyticsEnabled = false`, but there should be an option in your settings:

![image](https://user-images.githubusercontent.com/916197/89105859-837c7080-d3ea-11ea-83ef-876f0ae602aa.png)

[2020-08-01 16:49] mmaluff opened #2253 "Pasting text separated by line breaks into a list should create a new list item for each"
### What

I find myself copying a list from elsewhere into simplenote surprisingly often. For example, from a spreadsheet, or from a different set of notes, or from a plain text editor. Currently, when I do this, the first item is part of the list, but everything else is just on a new line outside the list. It would be cool if the app just added a new list item for each line instead of me.

### Wh

[2020-08-03 06:35] w3sip commented on #1787
Happened twice in the last few months, both times with critical notes that I haven't been able to fully restore. Disappointing.

[2020-08-03 14:50] azollafox opened #2254 "Lost Note Data"
Note created on computer a
Note edited on computer b
Edits from B were not available on A the next day and did not show in the history.

Computer A
Windows 10 Pro 1909
Chrome Version 84.0.4147.89

Computer B
Windows 10 Enterprise 2004
Chrome Version 84.0.4147.89

They are on the same network and have both been and continue to be online the entire time.

#3181373-zen

[2020-08-04 15:20] azollafox opened #2257 "Markdown In Published Note Broken"
### Expected
When markdown is used in a note the note preview should reflect accurately what the note will look like when published

### Observed
There is a mismatch in what markdown actually shows in the published version. H1 and unordered lists do not show in the published note. From the user report there may be other markdown similarly affected

### Reproduced

What I put in the note
![](https:

[2020-08-04 15:33] sreejithpunnapuzha opened #2258 "Unable to login to simplenote version 1.17.0 +"
After upgrading to 1.20.0 from 1.16.0 on my ubuntu 18.04, if i logout of the session, i cant log back in to simplenote. Even on fresh installation of simplenote 1.20.0 on ubuntu 18.04, i am not able to login

### Expected
Sign-in should work as expected on any version of simplenote

### Reproduced
1. Install/upgrade simplenote 1.20.0
2. if new installation Login to simplenote using email and passw

[2020-08-04 17:10] belcherj commented on #1787
@w3sip Please try https://staging.simplenote.com where we have the latest beta we are testing.  The issue should be fully be resolved there.

[2020-08-04 17:30] belcherj commented on #554
I would love to be able to give you a timeline but at this point, any prioritization or progress could be misleading.  I would not expect this in 2020.

[2020-08-04 19:52] codebykat commented on #2258
Hi @sreejithpunnapuzha, for issues like this it's usually better to reach out to our [support email](https://simplenote.com/contact/) so we can provide individualized support (GitHub issues are public). Are you able to log in on the web (https://app.simplenote.com)?

Is there any kind of error displayed or what happens exactly?

[2020-08-04 19:58] codebykat commented on #2257
Needing to put a space before a list in order for it to get rendered is a known issue on multiple platforms (https://github.com/Automattic/Simplenote-United/issues/30). I can't reproduce the H1 issue -

<img width="341" alt="Screen Shot 2020-08-04 at 12 56 12 PM" src="https://user-images.githubusercontent.com/52152/89338753-e6237580-d651-11ea-8dfb-81ccbd6e4cdc.png">

Published:

<img width="790" a

[2020-08-04 19:58] #2257 closed, assigned to nobody

[2020-08-04 20:01] codebykat commented on #2257
Actually the ticket linked doesn't seem to contain this report, @sarahfg is it possible it was a different ticket? All I see there is the text before bulleted list one.

[2020-08-04 20:14] sreejithpunnapuzha commented on #2258
I am able to login on web. it doesn't provide any kind of error. it tries to login and then logout automatically. since i am getting same experience for login on v1.17.0 +, i thought it might be a bug.  i tested the same on windows as well. 1.16.0 is working well but after updating simplenote via windows store, same issue there as well. i will try reaching out to support via email

[2020-08-05 11:51] azollafox commented on #2257
Yeah, the screenshots are from my own test. It looks like it's working now. Publishing notes was taking forever while I was trying to test. I would guess the published note wasn't showing my H1 markdown was the slow-to-update published note situation. The addition of the h1 marking on the title was a change I made to the note after initially publishing while testing the user's report that markdown

[2020-08-05 14:00] tetrahedon7 opened #2259 "History slider not showing all previous versions in V 1.20.0"
### Expected

The history slider should show all previous versions of a note, starting from the earliest version.

### Observed

It's only showing two versions, the current one, and the immediately previous one. This problem is absent from the android app.

### System info

- OS: Windows 10
- Simplenote app version: 1.20.0

[2020-08-06 12:10] s1-en opened #2264 "[Accessibility] Furigana support?"
### What

Would it be possible to add support for [furigana](https://en.wikipedia.org/wiki/Furigana) when rendering the markdown? Both in-app and in the shared notes?

### Why

Furigana is used for declaring the proper reading of names comprised of kanji characters with multiple potential readings. It is aso used as reading aid for kanji in general.

### How

I have found [furigana-markdown](https

[2020-08-06 13:30] Scapior commented on #2251
I have the same problem.

[2020-08-06 20:25] msilbers opened #2265 "Staging: Dark mode text colors don't match"
On the staging beta, the text color within notes not only differs from on app.simplenote.com (which I am not sure is expected), but it also differs from the text color in the note list.

### Expected
That the note text and the note list text colors match.

### Observed
Note text color: #d4d4d4
Note list text color: #fff

Chrome Version 84.0.4147.105
Mac OS 10.14.6

[2020-08-06 20:43] msilbers commented on #2258
This was reported in 3200973-zen for the Windows app

brand new Simplenote account

I've asked for more details

[2020-08-06 20:45] msilbers commented on #2258
reported in 3202290-zen

Unable to log into Simplenote Windows app
Windows 10

also a brand new Simplenote account

[2020-08-07 14:36] sreejithpunnapuzha commented on #2258
@msilbers my account is no a brand new one. i was using this for some time. Also login and logout works fine on my mac(v1.12.0). issue is on windows/ubuntu on simplenote 1.17.0 and above. if i downgrade to v1.16.0 i can login without any issues. also login on web is working fine.

[2020-08-08 00:24] codebykat commented on #2258
User in #3202290-zen wrote to let us know that this was due to mixed case characters in their login. That particular bug is fixed in #2226 which is part of the upcoming version 1.21. @sreejithpunnapuzha is it possible you are using uppercase letters in your email?

[2020-08-08 00:50] codebykat commented on #2172
Can folks on this thread test out the beta app at https://staging.simplenote.com and report back if performance seems better? Thanks 😄

[2020-08-08 01:01] mmaluff commented on #2172
With analytics turned off, the performance is actually perfect, exactly as I'd hope (and much better than on the current app).

With analytics turned on, it's still just as bad as today (and still seems to do the thing where it gets the 1px gif for every character I enter).

[2020-08-08 01:05] codebykat commented on #2172
That's good to know, thanks! I'll investigate the analytics. It should be queueing up note edits which I would expect to also debounce the analytics tracking, but obviously not.

[2020-08-08 01:14] codebykat opened #2267 "[staging] Note editor scrollbar misaligned"
### Expected
Scroll bar on the right of the window; full width should take up the full width.

### Observed
This is Narrow:

<img width="1079" alt="Screen Shot 2020-08-07 at 6 11 25 PM" src="https://user-images.githubusercontent.com/52152/89699094-a1aa0b00-d8d9-11ea-8712-748ff023a13d.png">

This is Full:

<img width="1249" alt="Screen Shot 2020-08-07 at 6 11 32 PM" src="https://user-images.githubu

[2020-08-08 01:16] #2185 closed, assigned to nobody

[2020-08-08 01:17] codebykat commented on #2117
Closing this because #2148

[2020-08-08 01:17] #2117 closed, assigned to nobody

[2020-08-08 01:18] #2085 closed, assigned to nobody

[2020-08-08 01:19] codebykat commented on #2055
Closing as stale - we can reopen if we get any other reports or further details that would help us track it down.

[2020-08-08 01:19] #2055 closed

[2020-08-08 01:23] codebykat commented on #1906
It's inconsistent, but it is what it is. People really depend on toggle-able checkboxes in plain-text mode; it's one of a few ways we're not a "pure" Markdown editor.

That being said, I agree that we could make the checkboxes more keyboard-friendly, but I'm not sure how that would work.

[2020-08-08 01:27] codebykat commented on #1906
Oh I just realized we have a prior issue for this - closing in favor of #1265

[2020-08-08 01:27] #1906 closed

[2020-08-08 01:31] codebykat commented on #1117
Closing as stale - if we have newer reports of syncing issues we'll need to follow up there.

[2020-08-08 01:31] #1117 closed

[2020-08-08 01:35] codebykat commented on #1259
This is already tracked in https://github.com/Automattic/simplenote-electron/issues/512

[2020-08-08 01:35] #1259 closed

[2020-08-08 16:26] mklg1982 opened #2268 "Published Notes List"
### What
I am requesting for a button (as "All Notes" or "Trash") in the left menu of the app: to list all the published notes as a web. And then to show a kind of table, with the preview of the note and the link to the published note (copy-pasteable link).

### Why
It is the easiest way to check what you have published and what not.

Thanks So much.

[2020-08-09 07:53] erricgunawan commented on #2251
Probably a related issue:

Device info:

- HP ProBook
- Windows 10 x64, Version 1909
- happened two times, when updating from second-most up-to-date to the up-to-date version

3197678-zen

[2020-08-09 11:38] Feakster commented on #1986
Thanks for creating the aarch64 and armv7h binaries. just tried the aarch64 one on Manjaro ARM. Works like a charm.

[2020-08-09 17:43] ekohilas opened #2269 "Lack of release notes"
Hi,

I've noticed that some releases (such as 1.20) are lacking release notes.
Is there a reason for this?
Or perhaps am I looking in the wrong place?

I really appreciate being able to know what's changed about the new versions without having to read commit messages (which other users who aren't as technical would not be able to do).

Cheers!

[2020-08-10 01:35] msilbers commented on #2251
also reported in 3207389-zen

Windows 10, trying to install Simplenote 1.20

[2020-08-10 03:37] codebykat commented on #2269
Hi @ekohilas, sometimes they don't get copy-pasted into the release itself. I'll follow up on that. You can always view the release notes by checking RELEASE-NOTES.md for the release tag you're interested in, for example here is 1.20: https://github.com/Automattic/simplenote-electron/blob/v1.20.0/RELEASE-NOTES.md

You can get there by going to RELEASE-NOTES.md and toggling the dropdown on the uppe

[2020-08-10 03:44] codebykat commented on #2269
I went back and made sure there are release notes for all the major release tags! Thanks for pointing this out.

[2020-08-10 03:44] #2269 closed, assigned to nobody

[2020-08-10 13:21] dmsnell commented on #1986
@Feakster just a mental note: the binaries have been disabled in the beta release we're working on; for some reason they were breaking our builds and at the time I chose to stop making them so I could continue working on the refactor of the app. hopefully we'll be able to add them back in without much ado but it could be shaky again temporarily.

[2020-08-10 17:52] rossanafmenezes commented on #1787
Reported here 3188098-zen

Desktop

Vivaldi 2.6.1566.44 (Stable channel) (32-bit)
Revision b104196d10e5b12a2690fe28e511909c2f4dcf4b
OS Windows 10 OS Version 2004 (Build 19041.388)

User reported the same behaviour on Android as well, but I'm still confirming if they actually saw it happening on Android it if it was just synced.

[2020-08-10 18:06] algent-al commented on #2258
Apparently there are some login issues. I logged out and then tried to login, but I couldn't. No issues with web browser.
But then after a while, about 30 mins later I logged in successfully.

OS: Solus
Simplenote version 1.21.0

[2020-08-10 19:20] belcherj opened #2270 "Testing for Beta"
This issue is here to gather testing steps and note issues with the changes in #2148

[2020-08-10 19:20] belcherj commented on #2270
Safari macOS:

Issues found: https://github.com/Automattic/simplenote-electron/pull/2148#issuecomment-671560945

## Testing

- [x] Logout
- [x] Login with wrong password fails
- [x] Login with correct password
- [x] Create new note appears in other device
- [x] Changes to new note sync to other device
- [x] Changes to new note sync _from_ other device (after debounce delay)
- [x] New tag immediate

[2020-08-10 20:06] belcherj commented on #2270
Firefox macOS:

## Testing

- [x] Logout
- [x] Login with wrong password fails
- [x] Login with correct password
- [x] Create new note appears in other device
- [x] Changes to new note sync to other device
- [x] Changes to new note sync _from_ other device (after debounce delay)
- [x] New tag immediately syncs to other device
- [x] New tag immediately syncs _from_ other device
- [x] Removed tag im

[2020-08-10 23:45] sreejithpunnapuzha commented on #2258
@codebykat yes. i was using uppercase letters in my email address. I tested the latest release v1.21.0 and its working well. i can login without any issues now. when i tried to on v1.20.0 with lowercase letters it worked.

As you mentioned since this issue is already fixed, I think we can go ahead and close this issue. thanks for the support.

[2020-08-10 23:45] #2258 closed, assigned to nobody

[2020-08-11 02:25] codebykat commented on #116
This is still an issue on app.simplenote.com but is fixed in the beta, #2148

[2020-08-11 02:58] codebykat commented on #1868
I just reproduced this and can I just say WHAT the actual WHAT

It does seem necessary to switch to a different note and then switch back in order to trigger it.

Also, if you hit Undo, weird things happen. It seemed to undo the title change but not the original misspelling; when I switched away from the note and back, the original misspelling was back.

Firefox 79.0 | MacOSX 10.15.6

[2020-08-11 15:03] rossanafmenezes opened #2273 "Grammarly Pop-up erases the whole note"
Fixing grammar errors using the Grammarly extension on the Simplenote Web app completely deletes the note after you close Grammarly pop-up.

### Expected

The corrections made on the pop-up would be applied to the actual note.

### Observed

The whole note is deleted. Once you close the Pop-up you return to a completely blank note, including the note title

### Reproduced

1.created a new note usi

[2020-08-11 15:46] azollafox commented on #2251
Report of a failure on Simplenote 1.21 as well in 3207389-zen

[2020-08-12 14:23] azollafox commented on #1787
In a follow up the user said:

confirming the behavior on Android

[2020-08-12 15:07] azollafox commented on #2254
The user updated us on this generously.

Here's what they are doing:
1. writing the time in a note in an incognito window
2. closing the window
3. waiting one minute and logging back in, in another incognito window.

Result:
some text is lost during that process as they repeat it a few times

The issue only happens in Chrome, not other browsers. Chrome is up to date. They've shared with us screens

[2020-08-13 14:02] azollafox commented on #562
Reported again at #3212102-zen
Simplenote version 1.20.0 on Windows 8.1
Web app on Chrome v84.0.04 on Windows 8.1

[2020-08-13 17:07] azollafox commented on #2251
Another report here #3221322-zen

[2020-08-14 12:35] lucamosca1 opened #2275 "Last modification losts when opening the application"
Environment a bit complex
- 1 android device
- 2 windows 10 pc
- 2 linux pc (ubuntu 20.04, simplenote installed as .deb downloaded from here)

Sometimes happens that the application starts and send the current note status instead of download latest modifications first. This has the result that latest modification are lost (luckily available in history) and the current status for all device will be

[2020-08-15 13:22] working-name commented on #332
Guys, **DO NOT SIGN OUT** before you save your notes that don't sync over. In my view the equivalent of that would be copying the long text you typed in a textarea before refreshing the page.

I've bumped into sync issues like this before with other software and the first thought was always "gotta backup what I have now".

That being said I'm sure they'll resolve all the sync bugs to where a user

[2020-08-18 01:35] cdolle commented on #2275
I also have this exact issue. Edits are occasionally lost but available via History. It definitely seems that it will upload the existing file before checking the server for updates, causing the new file to be overwritten by the older one.

I'm using Simplenote across an iPhone, iPad, and two Windows PCs (both via web and the app).

[2020-08-18 07:05] lucamosca1 opened #2278 "Empty log"
Try to understand what happen due to issue #2275 I try to give a look to logs from desktop application

### Expected
If I click on help - Get app logs I have a zip file saved on desktop contains the log

### Observed
If I click on help - Get app logs I have a zip file saved on desktop contains an empty log

Observed on Both windows 10 and ubuntu 20.04, latest simplenotes version: 1.21.0

[2020-08-18 09:57] rezzap opened #2279 "Keyboard shortcut conflicts for beta"
### Expected

In Firefox, clicking command + L should focus the address bar.

### Observed
Even with the option for keyboard shortcuts disabled, in Simplenote with the cursor active in the editor, the current line is selected instead of the address bar being focused on.

I'm not sure if this is just expected behaviour when in an editor mode though or a bug. I also replicated this in Chrome, but it

[2020-08-18 14:13] dmsnell commented on #2279
Folding into the existing item in #2148

[2020-08-18 14:13] #2279 closed, assigned to nobody

[2020-08-18 14:22] dmsnell commented on #2278
Hi @lucamosca1 - thanks for reporting this! The application log is new and right now only reports a subset of events, mostly related to the install/update process. I'm going to close this issue since the log as written isn't broken, it's just not recording all the information I think you expect it to. Over time we'll have more and more events going there though.

[2020-08-18 14:22] #2278 closed, assigned to nobody

[2020-08-18 15:02] dmsnell commented on #2275
Thanks for reporting @lucamosca1 and @cdolle

I'm not sure I understand the description fully so I want to share what the expectations are for how Simplenote manages notes when it starts up. Simplenote stores each revision as a set of changes/edits from the preceding revision - a "diff" of the text before and after the change. This is what allows us to merge edits from multiple devices. If instead

[2020-08-18 16:12] cdolle commented on #2275
Thank you for the response - this makes sense.

It shouldn't be a connectivity (offline/online) issue - I'm always online (working from home on a very stable fiber connection). So what it seems is that Simplenote is reading the local version as edited, opting to preserve the local edits, and discarding the server's edits even when the local version is **not** new or edited. It's almost as if the a

[2020-08-18 16:20] dmsnell commented on #2275
@cdolle in general the "staging" app is going to handle these things better. In a few weeks we plan on updating all versions to the staging version. Here are a couple ideas that might help explain what you're seeing:

 - if the app quits within a couple seconds of editing a note it may not synchronize the changes
 - if the app isn't open then things are the same as if the app were offline

if you

[2020-08-19 12:12] KshDi13 commented on #2275
just had a similar issue.

Made changes to a Note on a Windows PC after which i closed App.
Moments later open same note on the Android App but don't see the edits made literally minutes earlier on the Windows PC.
Did not edit the note on the Android App (as i didn't want it to be latest edit). Close Android App.
Go back to Windows PC, open app and open the Note and now my previous edits on the Wi

[2020-08-19 14:01] dmsnell commented on #2275
@KshDi13 thanks for the detailed report. I wonder if you could recreate that same sequence of events without Android being in the picture. the history slider has some issues, a few of which we've fixed in the staging release, which might be the reason for this.

here are the issues with the history slider relevant to this issue:
 - it opens before the app loads the note's revisions, appearing as i

[2020-08-21 12:13] ghost opened #2288 ""Sign in with Google" account option"
***Any eta for Oauth "Sign in with Google" account option at simplenote.com?***  @belcherj

[2020-08-21 13:10] theck13 commented on #2288
Closing since this is a duplicate of #1010.

[2020-08-21 13:10] #2288 closed, assigned to nobody

[2020-08-21 13:36] rossanafmenezes commented on #1787
User reported the same behaviour on  Ipad Pro App (ios 13.6.1) as well 3188098-zen

[2020-08-21 16:09] countfak commented on #1984
Still having this issue with 1.20.0.
I will now manually install 1.21.1.

[2020-08-21 23:00] codebykat commented on #2172
@mmaluff We were unable to reproduce the lag from analytics over here (which doesn't necessarily mean anything). Anyhow we just pushed an update to staging.simplenote.com that limits how frequently those analytics calls get made on a note edit. Can you let me know if you can re-enable analytics now without degraded performance?

[2020-08-21 23:09] mmaluff commented on #2172
It looks fantastic! No noticeable difference between analytics on or off
now. Thank you!!

On Fri, Aug 21, 2020 at 6:00 PM Kat Hagan <notifications@github.com> wrote:

[2020-08-21 23:47] #2265 closed, assigned to nobody

[2020-08-22 09:48] Richard-Lance commented on #1069
It is a pain, I moved back to Simplenote from Mac Notes so that I have a cross-platform product to include Ubuntu. My work-around is to add the Dropbox link for an image to Simplenote. So clicking on the note, takes me to the image.

[2020-08-24 12:01] algent-al opened #2291 "Windows icon"
Just installed Simplenote 1.21.1 in a Windows 7 machine and noticed that the icon is pixelated.

![simplenote-icon-windows](https://user-images.githubusercontent.com/46356616/91042098-83e6e080-e611-11ea-82d7-5b72957c1396.png)

The icon quality can be improved.

[2020-08-24 18:28] azollafox commented on #2251
Reported #3250251-zen

[2020-08-25 12:44] cmosetick commented on #1269
I see 2 closed items related to `2FA` / `MFA` in this projects issue tracker...
However, I still do not see any options for 2FA or MFA on simplenote.com or in the Electron App.
Trying to understand why these are closed items.

I see no options for hardware token support for the Electron App.
Nor the less optimal, but popular "Authenticator App" option.

I **do not see** MFA options on `staging.sim

[2020-08-25 13:38] dmsnell commented on #1269
Hi @cmosetick 👋 thanks for approaching with an inquisitive mind. We’ve closed these issues because we don’t have any imminent plans to add the feature and because we track feature requests with a tool that isn’t published here.

We set our priorities by balancing our own vision for the product, the things customers like you want and share, and the technical complexity required to make it happen. T

[2020-08-25 15:46] EmilyGraceSeville7cf opened #2300 "Deletion confirmation"
### What
Hello! It would be great to have confirmation on note and tag deletion not to remove them accidentally.

### Why
It is not very convenient you can remove notes and tags accidentally.

[2020-08-25 15:53] EmilyGraceSeville7cf opened #2301 "Tag colorization"
### What
Hello! I suggest to add an ability to assign colors for tags.

### Why
Tag colors make people distinguish them easily and faster and allow logically "group" tags at my glance.

[2020-08-27 08:53] erricgunawan commented on #2251
Report from 3251700-zen

Edition Windows 10 Home
Version 1909
Installed on 01/25/2020
OS Build 18363.1016

Edition Windows 10 Home
Version 2004
Installed on 06/08/2020
OS Build 19041.450

[2020-08-27 10:18] djordjeandrejevic commented on #2300
There is a _**Trash**_ icon below _All Notes_ icon, where you could restore accidentally deleted notes.

However, I do agree that confirmation dialog would be useful to show up prior to deleting tag.

[2020-08-29 06:51] erricgunawan commented on #2273
Reported also on 3263656-zen

FWIW, I once had this issue myself. The note was disappearing on the web app.

But I managed to find them when I checked Simplenote on my other devices (both Android and iOS).

I suggested checking the same for this particular user and see if that would also work for them.

[2020-08-29 11:42] rezzap commented on #2251
Reported in 3256454-zen

Windows 10 desktop pc
Trying to upgrade to version 1.22.

[2020-08-30 04:59] erricgunawan opened #2309 "EOL Characters on a list Caused App to Crash"
Creating a list with markdown, the EOL characters at the end of each line will cause the app to crash when it's opened there.

### Expected
It should not cause the app to crash.

### Observed
The app is crashed.

### Reproduced
1. Create a note on the web version on https://staging.simplenote.com/
2. Use markdown. At the end of each line, use "Enter" key and begin the next bulleted line.
3. Open t

[2020-08-31 03:55] erricgunawan commented on #2251
3271026-zen:

![image](https://user-images.githubusercontent.com/1813857/91681373-79c86300-eb78-11ea-9985-691d6ddd3e56.png)

[2020-08-31 12:27] KaikeWesleyReis opened #2310 "Facing some issues with Preview mode"
Hi, I'm using SimpleNote since 2019. My account was created in *Ubuntu 18.04*. There my **Preview mode** works fine: if I create a note there, my **preview** will appears just fine. But in *Windows 10* the preview mode just appears for old notes (created in Ubuntu) and not for the new ones.

### Expected
Discover why this is happen! I think that is a minor issue, but a trick one.

### Observed

He

[2020-08-31 15:06] dmsnell commented on #2310
Hi @KaikeWesleyReis - thanks for writing in. It looks like the new notes need to have Markdown formatting enabled. Try opening the note info panel (the ⓘ icon in the top right) and look for the Markdown toggle. If this doesn't fix your issue please reach out to our support at support@simplenote.com

[2020-08-31 15:06] #2310 closed, assigned to nobody

[2020-08-31 15:56] KaikeWesleyReis commented on #2310
@dmsnell Thanks for the answer! Now seeing the solution, I feel that I was some kind dumb hahaha

Again, thanks!

[2020-08-31 22:45] codebykat commented on #2311
Closing for lack of recent reports, if someone runs into this again we can troubleshoot it.

[2020-08-31 22:45] #2311 closed

[2020-09-01 08:09] thomasstache commented on #1181
So is this just about changing that one line to `perMachine = false`?
https://www.electron.build/configuration/nsis

Or are there more things needed, like tests or similar?

[2020-09-02 01:59] andirsun commented on #2254
Hi, im facing the same error between my 2 linux devices and android

[2020-09-02 05:57] codebykat opened #2317 "[rewrite branch] issues with printing"
Printing this test note: http://simp.ly/p/Sr5Wc8 in Firefox/OSX results in this odd behavior for the last two pages:

<img width="845" alt="Screen Shot 2020-09-01 at 10 47 41 PM" src="https://user-images.githubusercontent.com/52152/91936743-53541600-eca5-11ea-91cd-b221dd7fabe6.png">

<img width="672" alt="Screen Shot 2020-09-01 at 10 47 35 PM" src="https://user-images.githubusercontent.com/52152/9

[2020-09-02 06:10] codebykat commented on #2317
Adding to this that Markdown preview only prints the first page.

[2020-09-02 15:02] azollafox opened #2318 "Beta Web App Browser Extension Incompatible"
The user uses a browser add-on called "WithExEditor" on Windows 10x64, and sees this incompatiblity issue in the Firefox and Chrome browsers

In their words:

[code]

#3279046-zen

[2020-09-03 19:45] codebykat commented on #2317
Just re-tested this and it's better! But there's a stray "0" at the very end.

Edit: Only in Firefox, not in Chrome :/

Edit again: Now I can't reproduce it anywhere 🤷‍♀️

<img width="1093" alt="Screen Shot 2020-09-03 at 12 44 50 PM" src="https://user-images.githubusercontent.com/52152/92160055-463d4100-ede3-11ea-9f29-e6a11bf99814.png">

[2020-09-03 20:24] dmsnell commented on #2317
This is probably from some JSX check like `{ someArray.length && …` or `count && …` as the `0` value becomes falsey and JSX renders the `0`

[2020-09-04 17:54] rafaelhlima opened #2325 "Export and Pring Dialogues do not show Text Correctly"
I have been using SimpleNote for my work as a professor, taking notes for lectures and student supervising. However I haven't been able to export or print them because the dialogues are somewhat broken. In truth I think it is some kind of character encoding issue.

I am using the Snap version of Simplenote on Ubuntu 20.04.1. My system language is English, but the dialog appears as in the image bel

[2020-09-04 18:27] dmsnell commented on #2325
Hi @rafaelhlima - thanks for writing in. We don't build or support the Snap distribution of Simplenote so we may be limited in what we can do here. It looks like that's the native system print dialog and yeah, I think you're right about the encoding issue.

We produce [a `.deb` package](https://github.com/Automattic/simplenote-electron/releases/latest) you might be able to use and try out. Another

[2020-09-04 18:27] #2325 closed, assigned to nobody

[2020-09-04 18:58] rafaelhlima commented on #2325
I think I'll try the deb version instead.
Thanks for your prompt reply!

[2020-09-04 20:14] codebykat commented on #2309
We got a review from an Android user that might be related: "Everything is fine and no brakes[sic]. Here are just paragraphs stick together in the browser version."

[2020-09-06 15:30] azollafox opened #2326 "App does not remember previous window position and open note when reopened"
### What's happened
In previous releases of Simplenote the app would remember the window position and note you had open last and open in that same way. The recent release doesn't to that.

### Steps to reproduce

1. Update your app to 1.21.1
2. Open the app, click on a note and move the app from the upper right corner
3. Close Simplenote
4. When you reopen Simplenote it will move back to the upper

[2020-09-07 02:44] erricgunawan opened #2327 "Duplicated tildes (áá éé, etc.) on Firefox and Seamonkey on Crunchbang++ Linux (Openbox)"
### Expected
There should just be a single character and it's not duplicated.

### Observed
This bug occurs only in Firefox and Seamonkey but not in Google Chrome, and only, as far as it's known, in Crunchbang++ Linux (Openbox).

In this particular condition (Crunchbang++ and Firefox), typing letters with a tilde, as in `adiós`, duplicate those special
characters: ``adióós``.

It does, work, howev

[2020-09-07 20:21] javier-iaa commented on #2275
I've also suffered this same issue but I'm using Simplenote in Ubuntu Linux and Android only.

I love simplenote but this issue is really killing me. This has happened to me multiple times in the past but I discovered that I could just go one step back in the history and I would lose just a bit of the note (often not a big pain). But today I opened a note in Android and it wasn't updated. So I was

[2020-09-08 06:55] alfem commented on #602
I have also lost lots of text. And the worst of all: I use simplenote for reminders, and obviously I can not remember what lines of text have I lost.

Syncthing between Android and Web app does not work. I loved Simplenote, but it is time to move on.

[2020-09-08 07:45] MorgothSauron commented on #602
@alfem You should check [Standard Notes](https://standardnotes.org/) I switched to it after using Simplenote for few months and loosing too many notes.

[2020-09-08 08:31] alfem commented on #602
I have just moved to it. The automatic import was really nice (although it did not import my tags)

[2020-09-08 17:49] dmsnell commented on #2326
Are we sure this is comparing the Electron app to an older Electron app?

To my knowledge it's never re-opened the last note. Maybe it's comparing the old macOS app to the Electron app? or maybe this is an old macOS app vs. updated macOS app issue?

[2020-09-08 17:53] dmsnell commented on #2275
@javier-iaa we're rolling out a major update to the app where we think we've resolved all these issues. as icing on the cake it shows you when the last time each note synchronized with the server.

this update is the biggest we've ever made and it was directly a result of the data-loss issues. it's rolling out slowly because we have to be careful when releasing huge changes, but you can try it at

[2020-09-08 19:12] azollafox commented on #2326
That could absolutely be! Do you think that would be the case with the window positioning as well?

[2020-09-08 19:52] msilbers commented on #2040
reported in 3294593-zen

[2020-09-08 22:03] dmsnell commented on #2040
@rezzap the video demonstrates another aspect of tagging - tags are separated by a space. this has always been how tags work as far as I can remember. originally it made it easier to add multiple tags from a mobile device.

[2020-09-08 22:04] dmsnell commented on #2326
Yes but I'm less sure.

[2020-09-09 15:43] leogermani opened #2330 "Editor is duplicating special characters such as á"
Using the web app on Firefox and Mac OS

### Expected

When I type a letter with an accent, such as "á" I wanted it to be entered only once.

### Observed

It's duplicating

### Reproduced

1. Open the web app in Firefox
2. type "á"
3. see it duplicates

### Where did you see the bug

- System Make:
- System Model:
- OS: Mac OS
- OS version: Catalina
- Browser (if applicable): Firefox
- Browser ve

[2020-09-09 16:19] leogermani commented on #2327
It also happens on Mac OS. I just opened a duplicate issue now (closing #2330)

I'd like to add that this makes the app Unusable!!!

[2020-09-09 16:20] leogermani commented on #2330
Closing in favor of #2327

[2020-09-09 16:20] #2330 closed, assigned to nobody

[2020-09-09 22:15] codebykat opened #2331 "Search follow-up tasks"
Tracking follow-up tasks from #2313:

* ~Highlight colors are flipped (the dark one should be the current match and all matches should be light)~
* ~Highlight colors overlap and the current match highlight isn't visible in the title~
* Scrollbar styling - could be better (Sly's mockups are much prettier with the horizontal lines that match the width of the scrollbar) **additionally scrollbars do n

[2020-09-14 06:36] codebykat commented on #2267
#2298

[2020-09-14 06:36] #2267 closed, assigned to nobody

[2020-09-16 04:56] codebykat commented on #2327
Thanks for the reports; we're working on this upstream here: https://github.com/microsoft/vscode/issues/106392

[2020-09-16 17:16] msilbers opened #2336 "Web app: Strange cursor behavior with lists"
### Expected
When hitting enter after a list item where list items follow, the cursor jumps 2 lines down, only on the web app. This does not happen on the desktop Electron apps or the native Mac app.
On the other apps, hitting enter twice after a list item removes the hyphen and the cursor doesn't move to a new spot.

### Observed
I included video below. If you hit enter twice after the end of one

[2020-09-16 19:26] dmsnell commented on #2336
Thanks for the report @msilbers.

Notes:
Check on the list continuation. If I remember properly it checks if we had two newlines in a row but doesn't check if the next line has content in it or is a list. Hopefully we need to do little more than go to that condition and verify its behavior.

[2020-09-16 23:55] erricgunawan commented on #2030
I got a report on 3317478-zen which looked similar to this.

They're using:

- Firefox Daylight 80.1.3, Moto g5 Plus phone, Android 8.1.0
- Chrome 85.0.4183.81, Moto g5 Plus phone, Android 8.1.0

and they had this problem on Beta: https://staging.simplenote.com/

It works for them on https://app.simplenote.com/

Please let me know if it's the same case or this report should go elsewhere.

Screensh

[2020-09-17 01:10] dmsnell commented on #2030
@erricgunawan this looks like a separate issue; maybe we can create a new issue for it? looks like maybe something on the mobile browser is creating multiple cursors and then edits apply twice.

@belcherj @codebykat I wonder if we can disable multiple cursors

[2020-09-21 04:31] reginabally commented on #2040
Another report in 3333717-zen.

[2020-09-21 20:30] #1477 closed

[2020-09-21 20:30] #1595 closed

[2020-09-21 20:30] #1938 closed

[2020-09-21 20:30] #1942 closed

[2020-09-21 20:30] #1953 closed

[2020-09-21 20:30] #2014 closed

[2020-09-21 20:30] #2035 closed

[2020-09-21 20:30] #2074 closed, assigned to nobody

[2020-09-21 20:30] #2171 closed, assigned to nobody

[2020-09-21 20:30] #502 closed

[2020-09-21 20:30] #1291 closed

[2020-09-21 20:30] #1520 closed

[2020-09-21 20:30] #1562 closed

[2020-09-21 20:30] #1641 closed

[2020-09-21 20:30] #1787 closed

[2020-09-21 20:30] #1836 closed

[2020-09-21 20:30] #2030 closed

[2020-09-21 20:30] #2162 closed, assigned to nobody

[2020-09-21 20:30] #501 closed

[2020-09-21 20:30] #1026 closed

[2020-09-21 20:30] #1762 closed

[2020-09-21 20:30] #1816 closed

[2020-09-21 20:30] #2036 closed

[2020-09-21 20:30] #2172 closed, assigned to nobody

[2020-09-21 20:45] belcherj commented on #54
The ability to select untagged notes is something we are working on. Closing this as tag autocompletion is currently in the app.

[2020-09-21 20:45] #54 closed

[2020-09-21 20:48] belcherj commented on #116
Fixed!

[2020-09-21 20:48] #116 closed

[2020-09-21 20:55] codebykat commented on #54
@belcherj There's a somewhat different idea buried in here, which is autocomplete in the text field (different than suggestions). Maybe an open issue isn't the right place to make sure it doesn't get lost.

[2020-09-21 21:03] codebykat commented on #2216
This is an interesting idea! It's not on our immediate roadmap, so I'm closing this issue, but I've added it to our list of ideas for possible consideration in the future.

[2020-09-21 21:03] #2216 closed, assigned to nobody

[2020-09-21 21:07] codebykat commented on #2195
Likely fixed by #2148, this hasn't shipped to apps yet but the component has been completely rewritten. Please open a new issue if problems persist on https://app.simplenote.com

[2020-09-21 21:07] #2195 closed, assigned to nobody

[2020-09-21 21:10] codebykat commented on #2217
In the new version if you log out with unsynced data it will offer you an ability to export unsynced notes. I don't anticipate offering a way to "force" sync per se. If the app is connected, making any change to a note would force it to re-try syncing. We handle connectivity issues as robustly as possible, so in situations like this we're probably already trying to force a refresh under the hood.

[2020-09-21 21:10] #2217 closed, assigned to nobody

[2020-09-21 21:14] codebykat commented on #2301
Thanks for the suggestion! I'm closing this because it's not on our immediate roadmap, but I've added it to our list of potential ideas for future work.

[2020-09-21 21:14] #2301 closed, assigned to nobody

[2020-09-21 21:15] codebykat commented on #2275
Closing as stale since we just shipped the new update and much of this functionality has been completely rewritten. Please don't hesitate to reach out to support or open a new issue if you're still having trouble with syncing!

[2020-09-21 21:15] #2275 closed, assigned to nobody

[2020-09-21 21:18] codebykat commented on #2157
Thanks for this suggestion! Closing this as we're not working on it in the near future, but I've added it to our list of ideas for potential future work.

[2020-09-21 21:18] #2157 closed, assigned to nobody

[2020-09-21 21:24] codebykat commented on #2188
@zhangxiaoxing can you please refresh any open browser tabs and let me know if this is still an issue?

[2020-09-21 21:28] codebykat commented on #2094
@rezzap We don't have any other reports of this, can you re-open if it's still an issue? Thanks :)

[2020-09-21 21:28] #2094 closed, assigned to nobody

[2020-09-21 21:29] codebykat commented on #2094
Oh even better, I suspect this would be fixed by the changes to login we did for the Windows app store. #2191

[2020-09-21 21:36] codebykat commented on #2300
Closing this for now but we'll take it into consideration in the future. Thanks!

[2020-09-21 21:36] #2300 closed, assigned to nobody

[2020-09-21 21:42] codebykat commented on #1994
Closing as stale, let's open a new issue if we get reproduction steps on the new version.

[2020-09-21 21:42] #1994 closed

[2020-09-21 21:48] dmsnell commented on #1128
Resolved in #2148

[2020-09-21 21:48] #1128 closed

[2020-09-21 21:49] codebykat commented on #2091
We switched from `code` to `key` in #2334. From a brief test with Dvorak this seems to have fixed the issue. Please let us know if there are still any problems with Dvorak or non-English keyboards!

[2020-09-21 21:49] #2091 closed, assigned to nobody

[2020-09-21 21:50] dmsnell commented on #1119
Resolved in #2148

[2020-09-21 21:50] #1119 closed

[2020-09-21 21:52] dmsnell commented on #1124
Resolved in #2148

[2020-09-21 21:52] #1124 closed

[2020-09-21 21:53] codebykat commented on #2040
This should have been fixed by #2334 but I just tested and it was not, so apparently I missed one.

[2020-09-21 21:54] dmsnell commented on #519
Should be resolved in #2148

@hom-bahrani you can verify this and see if it's still causing a problem at https://app.simplenote.com

We'll have a release to the desktop app soon but I believe this should be fixed.

[2020-09-21 21:54] #519 closed

[2020-09-21 21:55] codebykat commented on #2027
The shortcut is working for me after toggling to/from Full Screen and I agree that we don't want to add platform-specific shortcuts into the list.

[2020-09-21 21:55] #2027 closed

[2020-09-21 21:56] codebykat commented on #2024
Probably invalidated/fixed? by #2148

[2020-09-21 21:56] #2024 closed

[2020-09-21 21:59] dmsnell commented on #1079
Closing as not relevant anymore. Probably resolved by #2148 if it was still an issue previously.

[2020-09-21 21:59] #1079 closed

[2020-09-21 21:59] codebykat commented on #1973
This is an interesting idea, thank you! I'm closing this for now as it's not on our immediate roadmap, but we'll consider it in the future.

[2020-09-21 21:59] #1973 closed

[2020-09-21 22:00] codebykat commented on #1970
Closing as stale

[2020-09-21 22:00] #1970 closed

[2020-09-21 22:05] dmsnell commented on #1200
Resolved in #2148

[2020-09-21 22:05] #1200 closed

[2020-09-21 22:05] codebykat commented on #1815
With apologies for the very late reply. @mindrunner This is very stale and we don't have any similar reports, so unfortunately the best I can say is, it's a mystery. Has it ever happened again? If the note was only missing on the website, it could have been the product of an old bug that sometimes failed to list certain notes. I don't know why it would have also disappeared on the phone; you don't

[2020-09-21 22:05] #1815 closed

[2020-09-21 22:07] dmsnell commented on #1266
@gwensmithx would you mind checking this again at https://app.simplenote.com? It should be resolved now (in #2148).

I'm closing the issue because I believe it's fixed but we can re-open if it's still problematic for you (after clearing browser cache, if necessary).

[2020-09-21 22:07] #1266 closed

[2020-09-21 22:09] codebykat commented on #1601
Closing as stale, please let us know if you're still having issues building on Windows.

[2020-09-21 22:09] #1601 closed

[2020-09-21 22:09] #1407 closed

[2020-09-21 22:09] dmsnell commented on #1939
Not sure if it was in #2148 or elsewhere but I believe this is fixed now.

[2020-09-21 22:09] #1939 closed

[2020-09-21 22:12] dmsnell commented on #2044
hello @JimBobHarris - we have released the aforementioned update at https://app.simplenote.com and I invite you to try again and see if the performance issue is resolved. you may have to clear your browser cache if nothing seems different.

[2020-09-21 22:12] codebykat commented on #1187
Closing as stale, it may have been the product of a bug that failed to load certain notes. Please open a new issue if anyone is still having problems.

[2020-09-21 22:12] #1187 closed

[2020-09-21 22:13] codebykat commented on #1245
Very stale and probably fixed in the intervening time. Please report back if it's still a problem!

[2020-09-21 22:13] #1245 closed

[2020-09-21 22:13] codebykat commented on #1391
We need to revisit this at some point but we've currently disabled these styles for Monaco anyhow.

[2020-09-21 22:13] #1391 closed

[2020-09-21 22:14] codebykat commented on #1372
We don't have any other (or recent) reports of this so I'm closing for now. @samtuke if you're not able to launch the most recent version of the app on Fedora please let me know!

[2020-09-21 22:14] #1372 closed

[2020-09-21 22:16] codebykat commented on #516
I can't tell if there's a bug here and either way things have changed a lot with search since last year. Please let us know if something still doesn't seem right.

[2020-09-21 22:16] #516 closed

[2020-09-21 22:17] codebykat commented on #331
Confirmed still an issue after #2148

[2020-09-21 23:06] belcherj commented on #523
This should be resolved in the next Electron version. Tested heavily in Electron.

[2020-09-21 23:06] #523 closed

[2020-09-22 01:06] belcherj commented on #895
@SylvesterWilmott You think we can close this?

[2020-09-22 01:09] belcherj commented on #970
We now have a navigational shortcuts cheat sheet accessible via cmd/ctrl + /. There is also a link to open it from the tab panel.

[2020-09-22 01:09] #970 closed

[2020-09-22 01:57] #562 closed

[2020-09-22 03:56] codebykat commented on #512
Can't reproduce this in the latest version with Windows 10 / Chrome. I don't have Windows 7 but I'm going to close this since it was probably fixed by switch to Monaco (#2148) and the code path discussed above is now super outdated. Let's reopen if we get any new reports.

[2020-09-22 03:56] #512 closed

[2020-09-22 04:01] erricgunawan opened #2341 "Duplicated Characters/Text on Mobile Browser"
When typing in a text in the title and hitting newline, it will duplicate the title on the next line.

Typing a word in the body content also duplicate the word/characters and produce some other errors related to cursor.

User's exact word of report:

Per @dmsnell comment [here](https://github.com/Automattic/simplenote-electron/issues/2030#issuecomment-693747809):

### Expected
There should be no

[2020-09-22 04:02] erricgunawan commented on #2030
Thanks for looking @dmsnell ! I created a new issue here: #2341

[2020-09-22 04:12] codebykat commented on #1893
Reproduced this in the latest app version (pre-Monaco), but not in the browser. Verified I can right-click on other parts of the app and get the menu. I feel like this is probably a bug in the preview component (notably it's adding a listener for click events and I wonder if they're not bubbling up properly on Linux). I'll leave it open for now. Let's re-test after we ship #2148 in the apps.

[2020-09-22 04:39] codebykat opened #2342 "Note selection is not reset when switching to Trash"
When switching to Trash with a note open, the note selection isn't reset.

Reported in 3306162-zen:

### Expected
* Select the first note in the Trash, to mirror the behavior when switching back to All Notes with a trashed note open

### Observed
* Note selection is not changed

[2020-09-22 04:40] codebykat commented on #895
IMO it's still weird that the search doesn't search both notes and content, even though we do have tag search now. It feels somewhat different.

[2020-09-22 04:44] codebykat commented on #2341
Just noting I can't duplicate on Firefox / iOS so far, might be something Android specific?

[2020-09-22 04:46] codebykat commented on #2268
Thanks, this is an interesting idea! I'm closing this issue for now because it's not on our immediate roadmap, but we'll consider it in the future.

[2020-09-22 04:46] #2268 closed, assigned to nobody

[2020-09-22 04:48] codebykat commented on #2336
Verified this is still an issue

[2020-09-22 04:50] codebykat commented on #2190
I reported the first thing as a separate bug #2342

[2020-09-22 05:16] codebykat opened #2343 "Should it be possible to edit tags on a note in preview mode?"
@SylvesterWilmott ?

My instinct is it seems strange because a note in preview mode isn't "editable" but I guess it is kind of a feature?

[2020-09-22 05:28] zhangxiaoxing commented on #2188
@codebykat I ... don't really know how to refresh an open browser tab in simplenote.  But I haven't seen the Error dialog in a few weeks (while still using the 1.17.0 version. Magic?). Thanks a lot!

[2020-09-22 08:01] divakaivan commented on #573
Has this feature been implemented today?

[2020-09-22 11:22] belcherj commented on #1094
Closing as macOS is unsupported and the App Store native app should be used.

[2020-09-22 11:22] #1094 closed

[2020-09-22 13:22] theck13 commented on #2341
We may want to ask about the red navigation and status bars in the screenshots.  That can indicate that the device has Battery Saver enabled, which can affect how all apps on the device work.  The red navigation and status bars could be something else for their specific device, but clarifying that may help with troubleshooting.

[2020-09-22 13:52] belcherj commented on #2318
This will not be possible with the new version of the app. They can most likely use app.simplenote.com/old.

[2020-09-22 13:52] #2318 closed, assigned to nobody

[2020-09-22 15:54] belcherj commented on #1950
I have tested this on a Windows Surface X on Windows 10 and have not bee able to reproduce. Closing for now as we are unable to reproduce.

[2020-09-22 15:54] #1950 closed

[2020-09-22 15:59] belcherj commented on #1698
If there is anyone who can test this at app.simplenote.com it would be very helpful.

[2020-09-22 16:04] #2129 closed, assigned to nobody

[2020-09-22 16:07] SylvesterWilmott commented on #895
I see where you are coming from @codebykat and I agree. I think we could **probably** safely allow tags to be included in keyword searches but maybe it should be a point of discussion for other platforms too.

[2020-09-22 16:07] belcherj commented on #2273
This should no longer be an issue as the Grammarly extension is incompatible with the new web app. If you would like to use Grammarly I recommend app.simplenote.com/old.

[2020-09-22 16:07] #2273 closed, assigned to nobody

[2020-09-22 16:11] belcherj commented on #2188
This appears to be the fix: https://github.com/electron-userland/electron-builder/issues/2398#issuecomment-413117520

[2020-09-22 16:11] SylvesterWilmott commented on #2343
I think we should either allow tags to be editable or simply hide tags altogether when in preview mode. Since this "feature" already exists both on Electron and macOS, I'd be hesitant to remove it.

[2020-09-22 16:22] belcherj commented on #2163
Just tested 1.21.1 and this no longer seems to be an issue. Thank you for the report.

[2020-09-22 16:22] #2163 closed, assigned to nobody

[2020-09-22 16:24] #2343 closed, assigned to nobody

[2020-09-22 17:51] mindrunner commented on #1815
Hey @codebykat! Never happened again! I am happy with mystery. :)

[2020-09-22 19:37] #2190 closed, assigned to nobody

[2020-09-22 19:57] belcherj commented on #1456
@rbreaves Would you mind taking a look to see if you are still experiencing this issue?

[2020-09-22 21:57] codebykat opened #2353 "Reordering tags sometimes duplicates the tag"
### Expected
Should be able to drag-and-drop to reorder tags without duplication.

### Observed
When dragging-and-dropping to reorder tags, about 25% of the time it duplicated the tag when dropping it. The duplicate tag persisted after a refresh so I don't think it's just a display bug. It seemed to happen more often the first time I dragged-and-dropped a particular tag, but I haven't been able to

[2020-09-22 21:59] codebykat commented on #2317
Haven't seen this in awhile, assuming fixed.

[2020-09-22 21:59] #2317 closed, assigned to nobody

[2020-09-22 22:25] codebykat commented on #2353
From debugging this a bit, it seems like a tag may be getting renamed when dropped (onto)?

In these screenshots, there are the same number of tags in state.data.tags and the sortable list component, but some of them have the wrong name:

<img width="1440" alt="Screen Shot 2020-09-22 at 3 19 55 PM" src="https://user-images.githubusercontent.com/52152/93943627-c4f11400-fce7-11ea-96b4-efb9d0f717ab.p

[2020-09-22 23:29] #728 closed

[2020-09-23 00:14] rbreaves commented on #1456
I'm no longer using that setup, but I don't mind testing inside of a VM with Ubuntu Budgie later and see what happens.

[2020-09-23 00:54] #2155 closed, assigned to nobody

[2020-09-23 00:54] #1854 closed

[2020-09-23 10:03] VoQZHD opened #2354 "Katex support"
Everything is in title

[2020-09-23 10:33] hom-bahrani commented on #519
Thanks is working ok now

[2020-09-23 16:13] psmaheshwa opened #2355 "Form Validation"
I have signed up Simplenote using browser. I've used password having space character. And tried to login via Android App, form validation throws error alert. Kindly fix this bug.

[2020-09-24 03:35] codebykat commented on #2354
Thanks for the suggestion, we'll take it into consideration in the future 👍  (Closing this as it's not on our immediate roadmap)

[2020-09-24 03:35] #2354 closed, assigned to nobody

[2020-09-24 08:47] mirka commented on #788
Confirmed fixed in 1.21.1. Electron/Chromium now seems to respect the Preferred Languages settings on Windows, and sets the `window.navigator.languages` array correctly. The proper system fonts are used now, i.e. a Japanese font will be used if the Preferred Languages list contains Japanese and not Chinese. (cc @belcherj)

[2020-09-24 08:47] #788 closed

[2020-09-24 09:15] mirka commented on #1619
Re-tested with 1.21.1 on Ubuntu 18.04.1 with mozc ibus, and can confirm that this is still an issue. (cc @belcherj)

[2020-09-24 09:21] mirka commented on #1177
This doesn't reproduce for me anymore with 1.21.1 on Win 10 Home 1903. Let us know if you still see issues. (cc @belcherj)

[2020-09-24 09:21] #1177 closed

[2020-09-24 12:09] moniuch opened #2359 "Selected tag can't be cleared from search field"
### Expected

The search input should be editable from the keyboard and react to normal caret actions. It should be rendered as regular input value. (should = this is what I expect)

### Observed

The tag text is rendered uneditable (as if HTML input placeholder). Same goes for Trash.
The only way to reset the string is to open the menu back again and click All notes.
When you start typing, your t

[2020-09-24 15:40] belcherj commented on #2342
Is this still an issue after https://github.com/Automattic/simplenote-electron/pull/2349

[2020-09-24 16:16] codebykat commented on #2342
Fixed now 👍

[2020-09-24 16:16] #2342 closed, assigned to nobody

[2020-09-24 17:25] codebykat commented on #2359
Yeahhhh this has always been like this and it's definitely confusing. Technically which tag is "selected" is different from the search filter. We had talked about eliminating the concept of a selected tag and making all searches global, probably something we should still do at some point.

[2020-09-24 19:55] dmsnell commented on #1619
@mirka we don't have a desktop release for the 2.0 versions. we'll need to test on https://app.simplenote.com or wait for the beta _or_ confirm with a build from a PR, [such as these](https://app.circleci.com/pipelines/github/Automattic/simplenote-electron/1616/workflows/0e664370-a365-4597-a458-cfb1603dd0c1/jobs/17634/artifacts)

[2020-09-25 07:19] SylvesterWilmott commented on #2359
@codebykat That's true, the search should become global and the plan is to display the currently selected tag/filter in a title bar which is something included in the UI spring cleaning project.

[2020-09-25 13:39] moniuch commented on #2359
I haven't actually used tags until only recently. My list of notes started to grow and - in the absence of folders - I needed to somehow organize them. Folders would work much better for me, as my structure is basically flat, but since they are not there yet, I tried to adopt tags and encountered a whole set of UI annoyances. I understand tags were meant as something simple to have. If there is a

[2020-09-25 13:47] rossanafmenezes commented on #1799
Another user reporting this issue here 3338818-zen

[2020-09-25 14:14] mirka commented on #1619
Ah ok, wasn't aware of that. I re-tested on Ubuntu 20.04.1 with Simplenote Web 2.0.0-rc5 in Chrome, and the issue is gone.

[2020-09-25 14:14] #1619 closed

[2020-09-25 14:48] belcherj commented on #1698
We have internally tested this and are considering it resolved. Please comment if you think it needs to be revisited.

[2020-09-25 14:48] #1698 closed

[2020-09-25 14:48] belcherj commented on #1511
We have internally tested this and are considering it resolved. Please comment if you think it needs to be revisited.

[2020-09-25 14:48] #1511 closed

[2020-09-26 21:00] codebykat opened #2361 "Select-to-copy on Linux does not work"
User in 3344129-zen reports that they used to be able to select text to copy to clipboard, now it does not work.

### Expected
Selecting text copies it.

### Observed

We discussed with the user and clarified that they are able to successfully copy using any way *other* than selection (Edit->Copy in the menu and Ctrl+C both work), and that they are able to successfully paste using the middle mouse

[2020-09-27 15:38] dplanella commented on #1893
@codebykat thanks for testing this again. I installed the latest version (1.21.1) and it seems to have been fixed:

1. Open a note in Preview mode
2. Click anywhere or alternatively select a word or section of text
3. Right-click
4. Context menu appears as expected. `Copy` is the only action available in the menu

That said, I would also have expected the `Select All` option to apear along `Copy`.

[2020-09-27 16:37] msilbers commented on #2341
I have asked them about Battery Saver mode.

cc @erricgunawan

[2020-09-27 17:28] msilbers opened #2362 "Web app: Triple-click to select paragraph displays strangely with Arabic text"
### Expected

For latin characters/English text, you can triple-click to select a full paragraph. This also works for Arabic in the native Mac Simplenote app. I expected that triple-click would select a paragraph in Arabic on the web app as well.

### Observed

On app.simplenote.com, specifically with Arabic text (and possibly other non-Latin characters), triple-click appears to not work. (Double-

[2020-09-28 02:06] erricgunawan commented on #2341
Ah, I missed this, sorry. Thanks, both @theck13 and @msilbers!

[2020-09-28 03:33] reginabally commented on #2341
Battery Saver mode turned off with the following test results but these were tested on https://app.simplenote.com.

![Screenshot_20200927-195224](https://user-images.githubusercontent.com/40906847/94387285-4af3db80-017c-11eb-80ad-8acc8ac1c3f9.png)

Replicated on OPPO Reno 4, Android 10, and Chrome 85.0.4183.127 and it looks like there are two cursors on screen after I started typing on the new not

[2020-09-28 08:34] reginabally opened #2363 "Web app: Incorrect cursor location when typing with Arabic (RTL) language"
### Expected

I would expect the cursor stays on the left most location when I'm typing with a Right-to-Left language (e.g. Arabic).

### Observed

The cursor jumps to the start of the line (right most location) when I type a whitespace after a word. The cursor moves back to the left most location until I type the next character.

### Reproduced

**Note:** The issue was replicated by pasting some

[2020-09-28 14:51] belcherj commented on #1456
I have tested Ubuntu 20.04 in native 4k and have not experienced this issue.

[2020-09-28 14:51] #1456 closed

[2020-09-28 16:51] gubrist opened #2364 "Update to 1.21.1 halts"
### Expected
I want to Update from 1.14.0 to 1.21.1

### Observed
Installation 1.21.1 halts. Nothing moves for minutes/hours.
I cannot restart Simplenote at all.

### Reproduced

**1) Installation of  1.21.1 halts. Nothing moves for minutes/hours:**
![simplenote 1 21 halt](https://user-images.githubusercontent.com/22197180/94462056-3e42a800-01bb-11eb-9a93-fbce4885aa13.JPG)

**2) I try to de-instal

[2020-09-28 18:04] dmsnell commented on #2364
I wonder if this has to do with the space in the filename. `Uninstall Simplenote.exe`

[2020-09-28 18:25] gubrist commented on #2364
Both pathes are gone:

C;\Program Files (x86)\Simplenote\....

and

C;\Program Files\Simplenote\....

[2020-09-29 03:34] reginabally opened #2365 "Web app: Unable to navigate to the note editing area with screen reader"
### Expected
I would expect to be able to navigate to the note editing area to edit notes with a screen reader (NVDA).

### Observed

The cursor skipped the note editing area from the search bar and moved to the tags section.

### Reproduced

*Exact steps shared in 3354940-zen*

1. Open Simplenote web app (https://app.simplenote.com/)
2. Find and open one note.
3. Press e to move to the next edit

[2020-09-29 16:08] msilbers commented on #2365
Likely related to #1935

[2020-09-29 16:28] belcherj opened #2366 "Bullet list continuation not working"
When you have a list and enter down to a new line it should continue the list with whatever list character you had used on the preceding line.

### Expected
[code]

### Observed
[code]

![list](https://user-images.githubusercontent.com/6817400/94586514-5237e980-024f-11eb-9fe2-5bcd596b1ba3.gif)

### Where did you see the bug
OSX Chrome Version 85.0.4183.121

[2020-09-29 16:59] belcherj opened #2367 "Electron Todo"
- [ ] Spellcheck
- [x] Unsync'd notes close dialog #2277
- [x] Find in note from menu doesn't work #2370

[2020-09-29 17:01] belcherj opened #2368 "Revisions Issues"
When I create a new note I have seen revisions shows history as unavailable. Additionally you cannot dismiss the tooltip
<img width="171" alt="Screen Shot 2020-09-29 at 12 41 14 PM" src="https://user-images.githubusercontent.com/6817400/94589824-c5435f00-0253-11eb-9daf-e5a0021721f8.png">

I have also seen the revisions slider only have the current and one other revision when in another browser I s

[2020-09-30 03:08] reginabally opened #2369 "Web app: Middle mouse button hold and drag doesn't scroll"
### Expected

I would expect holding the middle mouse button and dragging it would allow me to scroll on the notes.

### Observed

I did not see the scroll icon and the action doesn't allow me to scroll on the notes.

### Reproduced

1. Open Simplenote web app at https://app.simplenote.com
2. Open a long note (more than a page long)
3. Click on the middle mouse button and hold it while dragging up

[2020-09-30 03:37] codebykat commented on #2369
Notes from my brief research into this:
* It's called "auto-scrolling"
* There don't seem to be any relevant issues reported in the monaco repository
* @reginabally was kind enough to test on the Monaco playground and is also unable to scroll there in either Firefox or Chrome

Also that weird selection that's happening in the gif is terrifying and bad

[2020-09-30 03:38] codebykat commented on #2368
Ooh I saw the very sticky tooltip too.

[2020-09-30 04:29] codebykat commented on #2367
lol whoops.

Here's the fix for that, and some other things: https://github.com/Automattic/simplenote-electron/pull/2370

[2020-09-30 05:14] codebykat opened #2372 "Note list: Alphabetical sorting should discard "hidden" Markdown characters"
If you have Markdown notes that start with a header, e.g. `# 3`, it will sort to the top of the notes list due to the initial character, even though we strip that out for display.

This is also an issue in iOS at least, maybe everywhere: https://github.com/Automattic/simplenote-ios/issues/340

<img width="601" alt="Screen Shot 2020-09-29 at 10 13 28 PM" src="https://user-images.githubusercontent.c

[2020-09-30 05:19] codebykat opened #2373 "Note list: Note preview in "expanded" duplicates first line of note if note starts with newlines"
I had a note named "3". I hit enter a few times at the top of the note to remove the title. I ended up with the following:

<img width="635" alt="Screen Shot 2020-09-29 at 10 14 57 PM" src="https://user-images.githubusercontent.com/52152/94645716-5bea3d00-02a1-11eb-81f5-c711c6b9f317.png">

Deleting the newlines at the beginning of the note fixes the preview:

<img width="601" alt="Screen Shot 2020

[2020-09-30 05:21] codebykat commented on #2373
I created a new note and started with a few newlines, then typed "hello", and got this (there's only a single "hello" in the note:

<img width="484" alt="Screen Shot 2020-09-29 at 10 20 05 PM" src="https://user-images.githubusercontent.com/52152/94645982-08c4ba00-02a2-11eb-8847-500b0b6e916f.png">

[2020-09-30 05:25] codebykat opened #2374 "Note list: height calculation bug when a single tag selection is clicked on"
This is with display set to "expanded".

1. Search for tag with exactly one suggestion:

<img width="319" alt="Screen Shot 2020-09-29 at 10 23 09 PM" src="https://user-images.githubusercontent.com/52152/94646200-97393b80-02a2-11eb-97f3-f353710c19c5.png">

2. Click on the selection:

<img width="334" alt="Screen Shot 2020-09-29 at 10 23 16 PM" src="https://user-images.githubusercontent.com/52152/94

[2020-09-30 07:42] gubrist commented on #2364
Where can I get (and try) the installer of the previous Windwos Version?

[2020-09-30 08:34] SylvesterWilmott opened #2375 "[Discussion] Tags"
### Tags Feedback
This is a ticket to document and discuss tags.

[2020-09-30 08:35] SylvesterWilmott commented on #2359
@moniuch I would love to hear about your experience using tags. I've created an issue (#2375) where you can drop your feedback.

[2020-09-30 17:14] moniuch opened #2377 "Can't log into production"
### Expected

Should be able to log in to app.simplenote.com

### Observed

Can't log into app.simplenote.com. Cleared all cookies. Did not clear Application > IndexedDB. Timeout errors

![image](https://user-images.githubusercontent.com/681956/94717719-f9e91080-0350-11eb-9d85-3a39b8660c80.png)

Page loading infinitely. Stuck at waiting for "www.google.com"
Need to use staging.*

### Reproduced

1

[2020-09-30 18:19] moniuch commented on #2375
A few notes on tags

### Sidebar
1. In order to rename an item in any tag on the list user needs to first activate Edit mode above the list. Lot of jumping around, even more painful when the list needs scrolling.

2. Clicking a tag performs a search and closes the menu. This is painful during some spring cleaning, reorganizing, because user has to constantly re-open the sidebar.

3. For better ove

[2020-09-30 20:24] belcherj commented on #2377
Interesting. The login code is exactly the same for app and staging. Can you try clearing the app entirely?

Chrome Dev Tools > Application > Clear storage > Clear site data

We will try to debug further on our side.

[2020-09-30 20:26] codebykat commented on #2377
Thanks for the report, @moniuch. The only thing we use google.com for is the reCaptcha verification that prevents bots from submitting the form, and if it's waiting on www.google.com, that would indicate that your system is not able to make a connection to Google's servers for some reason. Additionally staging.* and app.* are currently the exact same code so it's bizarre that staging works!

I'm w

[2020-09-30 20:30] moniuch commented on #2377
Must have been a temporary glitch, sorry for bumping up your blood pressure!
Simperium config: Production

[2020-09-30 20:30] #2377 closed, assigned to nobody

[2020-09-30 20:39] codebykat commented on #2377
No worries, I can skip that second cup of coffee today 😁

[2020-10-01 02:33] ernstki opened #2378 "This is not a bug, this is a heartfelt thanks"
Thanks, everyone, for keeping this project going. For fixing the bugs but resisting feature creep. For keeping it simple. For keeping the servers up and running, even with no real obvious benefit to Automattic. For syncing my notes day after day after day without a hitch for years. Aeons, really, in Internet time.

It's an improbable accomplishment, worthy of congratulation. This is not the way th

[2020-10-01 03:05] theck13 commented on #2378
Your words are more than kind and greatly appreciated.

I can say without hesitation that every single one of the Simplenote developers is _very_ passionate about the apps and we want nothing more than to be good stewards.  We are a crew of few, but we will continue to make Simplenote worthy of your device(s) as long as humanly possible.

It is a privilege to work on Simplenote.  We are extremely

[2020-10-01 16:32] codebykat commented on #2378
I can't think of anything to say that @theck13 hasn't already said so well. I love Simplenote, and I've used it myself for years, for almost everything, from grocery lists to journaling. I feel lucky that I get to help keep it running smoothly and make it better! Thanks @ernstki for taking the time to write these kind words, I think you made everyone's day 😁

[2020-10-01 16:44] codebykat commented on #1893
This is what I see in the latest (dev) on Electron build:

<img width="358" alt="Screen Shot 2020-10-01 at 9 41 14 AM" src="https://user-images.githubusercontent.com/52152/94838351-4d4b7500-03ca-11eb-9582-26238fc493e4.png">

So I'll close this expecting it will be fixed in the next app release. Thanks @dplanella !

[2020-10-01 16:44] #1893 closed

[2020-10-01 22:05] ernstki commented on #2378
High-fives and kudos all around!

Now if I could squander this little bit of good will I've built up and let's talk about this feature request I'm KIDDING.

Kidding!

[2020-10-01 23:59] dmsnell commented on #2378
@ernstki thanks so much for taking the time to share your thoughts. In fact all of us core developers are paid by Automattic to build the product but we are also avid Simplenote lovers ourselves. several of us spent a few years working on it in addition to our normal work because we love it and because of people like you who make it feel worthwhile to improve the product.

It's easy to chuckle at

[2020-10-02 08:34] dplanella commented on #1893
Thanks @codebykat - just one small nitpick - I think you might be showing the edit mode in your screenshot. This bug report is about the Preview mode (where I would not expect to see the `Paste` option in the context menu).

[2020-10-02 09:10] rezzap opened #2379 "Bulleted list not auto-adding bullets"
Bulleted lists no longer auto- add bullets in the web app when pressing enter after a list item

### Expected

The bullet list should consistently add a bullet point automatically when pressing enter.

### Observed

This isn't happening consistently for some users.

### Reproduced

@msilbers was able to reproduce this, but I haven't been able to so far:
![list](https://user-images.githubuserconten

[2020-10-02 15:49] belcherj commented on #2366
Closing in favor of #2379

[2020-10-02 15:49] #2366 closed, assigned to nobody

[2020-10-02 16:23] equasman opened #2380 "Simplenote is showing a warning prompt while closing Firefox tab"
### Expected

Simplenote opened in Firefox shouldn't show any warning of losing data if my data is already synced to the server.
### Observed

Firefox shows a warning prompt while closing the Simplenote tab. Please see the screenshot attached.
![Screenshot_2020-10-02_22-13-23](https://user-images.githubusercontent.com/61104876/94945973-4c673000-04fd-11eb-852c-2c202e4a2dc7.png)
### Reproduced

I'm

[2020-10-02 18:36] #1158 closed

[2020-10-02 18:44] #844 closed

[2020-10-02 19:24] dmsnell commented on #2380
@equasman thanks for writing in. Feel free to contact our support for specifics on your account but I would wager that there is some data in your account not synchronized with the server. It can be helpful to look for the 🔄 in the note list and also to look in the trash. If you find a stuck note then you should be able to clear it by making any change, such as adding a space or a newline.

Another

[2020-10-02 19:24] #2380 closed, assigned to nobody

[2020-10-03 22:59] dmsnell opened #2382 "Word-wrapping crashes in Chrome (advanced wrapping) on very long lines"
Reported in #3371757-zen

App failed to open, showing duplicated text and crashing with this error:

[code]

This did not occur in Safari or Firefox and the line was extremely long. After cleaning up the line so it wasn't super long the app loaded fine in Chrome. I'm guessing this is a bug in the `advanced` word-wrapping strategy.

[2020-10-04 12:53] gubrist commented on #2364
I got the reply from Simplenote Support:

I have downloaded the Simplenote App (1.21.1) for the first time from Windows store
and it has worked out 👍

PS:
You can find the (previous) Simplenote Windows releases here:

https://github.com/Automattic/simplenote-electron/releases

[2020-10-04 12:53] #2364 closed, assigned to nobody

[2020-10-05 03:13] surfer0627 commented on #2365
Hi,
Is it possible to consider to add an option, like we did for simplenote beta?

So, screen reader users could switch to previous version, and edit their notes.

Or, could sighted users share steps "how to navigate to the note editing area"?

Thanks.

[2020-10-05 08:58] codebykat commented on #2365
@surfer0627 As a workaround, you should be able to use the shortcut Ctrl+Shift+Y to jump to the note editing area. (This shortcut toggles between editing tags and editing the note, but if neither is currently focused, it will move the cursor to the note.) Hope this helps!

[2020-10-05 09:01] codebykat commented on #2365
From reading the description, this looks like yet another piece of functionality we've lost in the trade-off of Monaco editor (which does not use editable text elements under the hood, so browsers, browser extensions, and -- seemingly -- screen readers are unable to recognize these areas as text areas). This is likely extremely complex, if not impossible, to fix. 😭

[2020-10-05 09:03] codebykat commented on #1893
The screenshot actually is in preview mode :) And you're right, it shouldn't have Paste, and yet. That's the default menu so I'm not sure we can fix it, but I'll make a note to look into it.

[2020-10-05 14:50] azollafox opened #2385 "Character Duplication Issues in Japanese"
User reported issue:

### Where did you see the bug

・Windows10 Home 1909
・Firefox 81.0.1 64bits
・IME ATOK 31.3.10.0 (the most famous IME in Japan)

#3376771-zen

[2020-10-05 18:01] dmsnell commented on #2385
Closing as a duplicate of #2327, which is upstream in Monaco and we have a potential fix for

[2020-10-05 18:01] #2385 closed, assigned to nobody

[2020-10-06 03:26] surfer0627 commented on #2365
@codebykat
Shortcut Ctrl+Shift+Y works as expected (navigate to the note editing area).

In this way, I can edit note.

Thanks.

[2020-10-07 11:54] eshurakov opened #2386 "Duplicated text after reopening the web app page"
When closing the web app shortly after synchronisation and reopening it again, last entered text gets duplicated.

### Expected
There should be no duplicate words or lines.

### Observed
Words / characters become duplicated.
Once after deleting characters, double the amount of characters was deleted after reopening the page.

### Reproduced
I can reproduce the issue with a big success rate. Both o

[2020-10-07 11:57] eshurakov commented on #2386
Looks somewhat similar to #2341

[2020-10-07 17:28] dmsnell commented on #2386
Hm. I doubt it's related to #2341 but I'm not sure what causes this.

We used to dig deep into the `node-simperium` library and store its network queue to `localStorage` which I think might guard against cases like this, but that had other problems corrupting notes because of how it interacted with multiple sessions and tabs.

Good report. The response I want to give is "don't do that!" 😆

[2020-10-07 21:37] codebykat opened #2388 "Mobile browser: Unable to select/copy/paste text or use the context menu"
Mobile Firefox on iOS: Can't use the normal iOS behaviors to select text. The context menu comes up but can't be clicked on.

Mobile Safari on iOS: The context menu is clickable, but the functionality does not seem to work (I tested Copy and Paste). Can't use the normal iOS behaviors to get a selection cursor here either.

### Where did you see the bug
- OS: iOS 13.7
- Browser (if applicable): Fir

[2020-10-07 21:42] codebykat commented on #2388
Monaco homepage says "The Monaco editor is not supported in mobile browsers or mobile web frameworks." and based on the issues open at monaco-editor, there is no immediate plan to add support.

[2020-10-08 18:20] codebykat commented on #2164
I've tested this and can't reproduce it @milendimo. It's not possible to change the password twice without reloading the page, as it hides the form after a successful submission. My best guess at what may have happened here is that you accidentally typed a different password than the one you thought you submitted. Please let us know if there are different steps to reproduce this bug and we can inv

[2020-10-08 18:20] #2164 closed, assigned to nobody

[2020-10-09 18:48] eshurakov opened #2389 "Logging in with WordPress works only after two successful attempts"
Logging in with WordPress on app.simplenote.com works only after two successful attempts in case User never used app.simplenote.com in the current browser, deleted cookies or using an incognito mode.

### Expected
Expected to be logged in after the first successful attempt.

### Observed
The same Login screen is presented after the first successful attempt.

### Reproduced
1. Either remove all coo

[2020-10-09 19:18] SephReed opened #2390 "Markdown Checkboxes are non interactive"
### Expected
When making a markdown checkbox and clicking it, the checkbox should be toggled.  An "x" character should be added to the document.  Like this:

- [ ] click me

### Observed
Nothing happens

### Reproduced

1.  add some markdown `- [ ] Click me`
2. switch to markdown preview mode
3. click the checkbox

### Where did you see the bug

- System Make:
- System Model:
- OS: MacOS
- OS vers

[2020-10-11 17:23] azollafox opened #2391 "Characters Duplicating in Text of Note"
### Issue:

Random text duplicates while the user writes in Android Simplenote app

### Example:

133 / 90 (9am) transforms to 1133 / 990 (99a9am)

### Further Details

Unable to reproduce.
User reported:
Simplenote Version: 2 0 0-beta 1
#3386461-zen

[2020-10-11 17:37] theck13 commented on #2391
I'm moving this to the [simplenote-electron](https://github.com/Automattic/simplenote-electron) repository since the screenshots shared by the user are from their mobile browser and the Simplenote version they shared was 2.0.0-beta1, which is for the Electron app.  There is no 2.0.0-beta1 version of Simplenote Android.  The current Simplenote Android version is 2.11.0.

[2020-10-12 03:37] ghost opened #2393 "Add "Sign in with Apple" ID & "Sign in with Google" Account Option"
### What
***Add "Sign in with Apple" ID & "Sign in with Google" Account Option***

### Why
***Without friction, cross platform, easy & password less sign in for Simplicity***

[2020-10-12 04:08] theck13 commented on #2393
I've added **_Sign In with Apple_** to our feature requests.  **_Sign In with Google_** is already being tracked as a feature request.

[2020-10-12 04:08] #2393 closed, assigned to nobody

[2020-10-13 10:13] rezzap commented on #2391
I've suggested the user try downloading the Android app instead of using the web app on their device. They are looking at alternatives apps for now though.

[2020-10-13 15:17] guarani opened #2394 "Emojis duplicated when inserted via macOS character palette"
### Expected
On the web, when I add an emoji/character via macOS character palette (by invoking `＾⌘ + Space`), the item I select is duplicated.

### Observed

On the web, when I add an emoji/character via macOS character palette (by invoking `＾⌘ + Space`), the item I select is duplicated.

Backspacing to delete certain emojis such as 🙅‍♂️ changed their skin tone before another backspace deleted th

[2020-10-13 16:10] dmsnell commented on #2394
This is a known issue we're working on upstream in #2327 - it should only exist in Firefox and Firefox-based browsers.

[2020-10-13 16:10] #2394 closed, assigned to nobody

[2020-10-13 17:46] guarani opened #2395 "Copy note Internal Link not working on Firefox"
### Expected
The Copy button next in the Info pane next to Internal link should copy the link to my clipboard on Firefox.

### Observed
The Copy button next in the Info pane next to Internal link does not copy to my clipboard on Firefox.

Note: This works on Safari (and possibly other browsers)

### Reproduced

1. Open https://app.simplenote.com/ on Firefox
2. On a note, open the Info pane
3. Clic

[2020-10-14 08:46] tbourrely commented on #1396
Hi, I would be happy to work on this if possible :)

[2020-10-14 11:46] tbourrely opened #2396 "Development: Can't log in to local development server"
Hi, I have difficulties to run the app so I can contribute.

### Expected
To be connected after entering username and password

### Observed
After entering my credentials, I can briefly see the home screen, but after less than a second the app is refreshed and I am disconnected from it.

### Reproduced
1. Enter credentials
2. Click "Log in"

I tried it with an instance started with `npm run dev` a

[2020-10-14 18:15] dmsnell commented on #1396
@tbourrely go for it! what do you need from us to get started?

you are welcome to fork the repo and submit a PR 😄

[2020-10-14 18:18] dmsnell commented on #2396
@tbourrely can you check if this is also happening to you on the web at https://app.simplenote.com?

it looks like there might be another issue going on and if you have the same thing happen in a browser I'd recommend that you contact our support in order to clear it up - support@simplenote.com

[2020-10-15 07:33] tbourrely commented on #2396
@dmsnell I can not replicate the problem on the production webapp. (But I can in local when I try to connect to localhost:4000).

[2020-10-15 07:37] tbourrely commented on #1396
Well, once I can get my environment working, I will be good to go 😄  !

[2020-10-15 08:27] tbourrely commented on #2396
I tried to run (with `run dev`) the project from different tags :
- v2.0.0-beta1 : not working 🚫
- v2.0.0 : not working 🚫
- v1.21.1 : working ✅

After running `git bisect`, the first commit to fail on my env seems to be : [fc8921291b6b702db35b076d65e4632203ff4574](https://github.com/Automattic/simplenote-electron/commit/fc8921291b6b702db35b076d65e4632203ff4574)

[2020-10-15 16:51] dmsnell commented on #2396
we have #2389 open already but it's usually an issue where you have to login twice - it doesn't repeatedly kick you out, which is how I interpreted this issue. can you also confirm that you are unable to login even after multiple tries?

thanks for checking with the web; this is a bug with the app.

that was a giant change that rewrote a large part of the app. unfortunately it's also 13k lines of

[2020-10-15 23:30] codebykat commented on #2395
I'm seeing this in Firefox as well.

[2020-10-15 23:41] codebykat commented on #2395
It's still working for me on Electron, so not urgent to get the fix in for 2.0. I will take a look at it next week.

[2020-10-15 23:45] codebykat commented on #2391
Looks like a duplicate of https://github.com/Automattic/simplenote-electron/issues/2386

[2020-10-15 23:45] #2391 closed, assigned to nobody

[2020-10-15 23:48] #2188 closed, assigned to nobody

[2020-10-16 06:50] tbourrely commented on #2396
I can confirm you that even after multiple attempts, I still can't login. Your interpretation is correct, I am repeatedly kicked out after correctly submitting the login form 😆

I'll try to get my head around the `boot-*` parts, thanks for the tips

[2020-10-16 18:59] Sandkorner opened #2398 "Markdown file import: Missing last letter of filename"
### Expected
Expected the filename to be intact as the title of the note.

### Observed
Last letter from filename is unfortunately missing.

### Reproduced
![bugrepor](https://user-images.githubusercontent.com/71094068/96297926-50fe0f00-0ffa-11eb-8b88-7d2a723952ea.gif)

### Where did you see the bug
- OS: Windows 10 Pro
- OS version: 2004
- Simplenote app version: 2.0.0-beta1

[2020-10-17 15:11] dani-elo opened #2399 "Keyboard Shortcuts Ctrl + G opening navigation menu instead of jumping to next match"
### Expected
Ctrl + G should jump to the next search match in a note

### Observed
It opens a contextual menu to navigate the note lines

### Reproduced
![Ctrl G opens navigation menu](https://user-images.githubusercontent.com/7996571/96346319-52f6bb00-1058-11eb-9453-b1fac1898439.png)

**Note:** Ctrl+Shift+G navigates to the previous match.

### Where did you see the bug

- System: Windows 10 Home

[2020-10-17 15:16] dani-elo opened #2400 "Keyboard Shortcuts: Font size doesn't change with numeric keypad"
### Expected
_Ctrl_ + _+_  ,  _Ctrl_ + _-_  ,and  _Ctrl_ + _0_  should change the font size

### Observed
It only works if using the +,-, and 0 keys located **outside** the numeric keypad

### Reproduced
Those Keyboard Shortcuts only work when not using the numeric keypad.

**Note:** Ctrl+/ does work when using the numeric keypad

### Where did you see the bug

- System: Windows 10 Home.
- Simplen

[2020-10-18 16:18] azollafox commented on #2251
#3401676-zen also reported

[2020-10-19 16:23] arpitbatra123 commented on #2398
I think I have been able to find the cause of this issue, but I can't get the local build ( created using `make package-osx` ) to work. Clicking on `Plain text` just crashes the app with the following error on the console:
![image](https://user-images.githubusercontent.com/21967563/96478358-3673a200-1255-11eb-9157-d083a30164a6.png)

Anyways, The following piece of code in the source is meant to cl

[2020-10-19 18:29] ernstki commented on #2378
Thanks, everyone. Your responses were thoughtful and memorable, and make me feel _even better_ about being a sometime-subscriber, long-time user, and an advocate for Simplenote.

Particularly the "stewardship" aspect you emphasize, because there is something so old-fashioned and comforting about hearing that word from developers at a software and services company, as opposed to, say, the more _à l

[2020-10-19 18:32] #2378 closed, assigned to nobody

[2020-10-20 08:29] eshurakov commented on #2386
😄
It looks like an edge case, but of course would be nice to see if we can do something about it.

I see that there is a progress / sync indicator next to the note. Is it shown when network queue has unfinished tasks?

Just thinking out loud: in the test I did I waited for the progress indicator to disappear before closing the tab. If not everything was synchronised at that moment, maybe we can sh

[2020-10-20 09:45] ghost opened #2401 "Host deb file online for easy update in linux"
### What
***Every time when we update simplenote we have to manually download simplenote's deb file and re install it. We can't update the package automatically from command line.  Which is a lengthy process, make it simple***

### Why
***Host simplenote's deb file online like Google Chrome or Typora's deb file. So that we can easily update simplenote with `sudo apt update && sudo apt upgrade` com

[2020-10-20 19:26] dmsnell commented on #2401
Hi @rahul8548 - this is something not entirely within our control. If you are running Debian or Ubuntu you might try filing an issue with their repositories. We don't have the resources to make sure Simplenote is in each of the many many Linux distributions' own repositories and system, but we're happy to help any maintainer who wants to include us.

[2020-10-20 19:26] #2401 closed, assigned to nobody

[2020-10-20 20:02] dmsnell commented on #2386
I think I know what's happening. There's a small delay when we persist app state to `indexedDB`. Although that persistence is sound, it may lag the app itself and in the case when we've just sent out a change to the server, the local Simperium library is aware that it was a local change sent out, it "acknowledges" the change upon reception instead of applying it.

In the short interval between ack

[2020-10-21 03:54] codebykat opened #2403 "Electron: Zoom in/out only affects font size within editor"
### Expected
Zooming in or out should increase or decrease all text within the app.

### Observed
Only text within the editor is affected.

### Reproduced
OSX / current develop (2.0.0). In the browser it correctly increases all text.

[2020-10-21 04:15] codebykat commented on #2044
Closing, presumed fixed - @JimBobHarris please do feel free to come back and let us know how it's working out for you, and if you're still having any problems!

[2020-10-21 04:15] #2044 closed

[2020-10-21 04:18] codebykat commented on #1936
I can't reproduce, you can still add an email as a tag and get successful collaboration in the current version.

[2020-10-21 04:18] #1936 closed

[2020-10-21 04:20] codebykat commented on #1234
Closing as stale, we've since replaced the whole editor component. Let's reopen if we get any further reports.

[2020-10-21 04:20] #1234 closed

[2020-10-21 06:28] ghost commented on #2401
You can create your own apt repository over HTTP @dmsnell @belcherj

Basically you can put your deb files in http root, create a Release file (that contains package information of all the debs) and that's it.

These links might help you.

https://help.ubuntu.com/community/Repositories/Personal
https://www.percona.com/blog/2020/01/02/how-to-create-your-own-repositories-for-packages/

[2020-10-21 07:32] codebykat opened #2408 "Electron: Context menu shows Paste in preview mode"
### Expected
Menu only offers Paste when an editable text area was clicked on

Did some research, it's because of this: https://github.com/Automattic/simplenote-electron/blob/fc8921291b6b702db35b076d65e4632203ff4574/desktop/context-menu/index.js#L36

Originally reported over here https://github.com/Automattic/simplenote-electron/issues/1893#issuecomment-703502540

### Observed
Whenever the default

[2020-10-21 07:33] codebykat commented on #1893
After investigation, I've opened a new issue for the Paste problem: https://github.com/Automattic/simplenote-electron/issues/2408

[2020-10-21 07:46] codebykat commented on #2408
Upstream chatter says the logic is pulled from Chromium, not sure if this will be easy to fix https://github.com/electron/electron/issues/24609#issuecomment-659748878

[2020-10-21 13:04] JimBobHarris commented on #2044
I agree, this item can be closed.

Thanks for making sure I knew what was going on.

I never did try the beta because I have so much in Simplenote and I was afraid that it might lose everything.

Since the release, I have only recently tried some of the scenarios that gave me so much trouble before, but I agree that the weird cursor movements and very slow response issues have never recurred in my

[2020-10-21 14:44] lost2 commented on #274
+1 for Monospace, please.
Thank you!

[2020-10-21 17:09] #2398 closed, assigned to belcherj

[2020-10-21 17:10] #2399 closed, assigned to codebykat

[2020-10-21 19:35] azollafox opened #2409 "Adding multiple checkboxes at once broken on 2.0"
### Expected
Previously on Simplenote Electron on Windows and Mac you could highlight several items, click Format> Insert Checklist and all items would get a nice check mark next to them

### Observed
Now if you highlight a few rows of text and do the same thing only the last item  gets a check box

### Reproduced

![](https://d.pr/i/4AVWxO+)

(Image link: https://d.pr/i/4AVWxO )

### Where did yo

[2020-10-22 06:25] chromer030 commented on #2375
It will be great if SimpleNote supports colorful tags too.

[2020-10-22 06:37] reginabally opened #2410 "No spellcheck"
### Expected
I would expect when I make a spelling mistake, the app will help me auto-correct it (or at least show a red dotted line underneath the wrong word). This was working in the previous version of the app - 1.2.11.

### Observed
Nothing happens when I made a spelling mistake on the notes, even if I didn't capitalize the first character of the first word of the line.

### Reproduced

**Note

[2020-10-22 11:07] ghost opened #2411 "Github.com style image upload with markdown link feature"
### What
***Github.com style image upload with markdown link feature in simplenote***

### Why
***Simplenote already support markdown. Now it will be great to have github's markdown link style image upload in simplenote***

[2020-10-22 12:29] gubrist commented on #2364
I have seen that Simplenote App 2.0 is available 😊
- This dowloaded update file does not work either on my PC.

What has to be done that 2.0 will be available on Windows store as well?
- currently only 1.21.1 is availbale

[2020-10-22 15:16] elibud commented on #2379
We have a similar report for checklists, Windows 10, Microsoft Edge, and Chrome. I have a video, ping me if you need it.

[2020-10-22 16:53] #2270 closed, assigned to nobody

[2020-10-22 17:38] codebykat commented on #2410
Spellcheck is not implemented on 2.0. We're hoping it will return in the future.

[2020-10-22 18:29] illusaen opened #2413 "Conflict with Ctrl+G Keyboard Shortcut in Windows 10 Desktop Version"
Ctrl+G works when focused in search sidebar to "Jump to next match in note". However, when focused on the editor part, it opens the "Goto Line" dialog.

This means that when searching, jumping to next match in note only works once as it focuses the editor once it goes to the first match when in Windows 10 Desktop V2.0.0.

Inspired from 3424483-zen.

### Expected
Consistent behaviour with the Ctrl+

[2020-10-22 18:37] belcherj commented on #2413
This was resolved by https://github.com/Automattic/simplenote-electron/pull/2402 and will be in the next version.

[2020-10-22 18:37] #2413 closed, assigned to nobody

[2020-10-22 22:51] #2144 closed, assigned to nobody

[2020-10-22 23:10] codebykat commented on #2144
Finally fixed!

<img width="286" alt="Screen Shot 2020-10-22 at 3 47 26 PM" src="https://user-images.githubusercontent.com/52152/96939169-1e806600-1481-11eb-95dd-4d062375856f.png">

[2020-10-23 00:22] #2403 closed, assigned to nobody

[2020-10-23 00:41] #2400 closed, assigned to codebykat

[2020-10-23 01:14] codebykat commented on #2411
Hi @rahul8548, thanks for this suggestion! I've noted it for future consideration. Image uploads are a frequent request and one that we're thinking about, but it's not on our immediate roadmap. I'm closing this issue as we only use GitHub to track bugs and active projects.

[2020-10-23 01:14] #2411 closed, assigned to nobody

[2020-10-23 02:12] reginabally commented on #2251
3427884-zen:

new version" and nothing happens.

Windows 10, trying to upgrade to a newer version from 1.21.1

[2020-10-23 12:47] rezzap opened #2416 "Windows 10 IME offset position"
### Expected

Opening the IME dropdown options should display the available selections bellow where the cursor is.

### Observed

Two users have reported that the line conversion doesn't align with the cursor on Windows 10 using the built in IME.

### Reproduced

I was not able to reproduce this myself, but one user mentioned the following steps:

1. Stat Simplenote for the first time.
2. Can't in

[2020-10-23 13:26] rossanafmenezes commented on #2390
Also reported here 3430664-zen
Simplenote app on Ubuntu 18.04.5
Asking for confirmation on Simplenote version

Edit: User confirmed version 2.0.0 on a Dell Latitude 7300.

[2020-10-23 17:00] #2395 closed, assigned to codebykat

[2020-10-23 19:25] codebykat commented on #2416
Pasting from the ticket:

We are not forcibly setting the language to English via a `DOCTYPE` or `lang` declaration, so it isn't that.

I don't really understand the screenshots provided, I'm still experimenting. It does all seem okay on OSX:

<img width="242" alt="Screen Shot 2020-10-23 at 12 23 00 PM" src="https://user-images.githubusercontent.com/52152/97045546-c3a34900-152a-11eb-8454-8d99ec3e1

[2020-10-23 19:28] alusiani opened #2417 "slider button size too small when there are many notes"
### What

Please do not reduce the size of the slider button to less than about 1 times the size of a character, or more, when there are many notes.

### Why

When there are many notes, the slider button in the main view becomes too smal (about 1/4 of a character height), scarcely visible and difficult to click with the mouse.

### How

The slider button size apparently scales as the ratio between

[2020-10-23 19:44] belcherj commented on #2368
History unvail occurs when you have a new note. After a refresh, you have the history.

[2020-10-23 19:46] belcherj commented on #2367
closing since we have: https://github.com/Automattic/simplenote-electron/issues/2410

[2020-10-23 19:46] #2367 closed, assigned to nobody

[2020-10-23 19:49] codebykat commented on #2417
Good catch, thanks @alusiani. We'll have a fix in the next version.

[2020-10-23 20:51] #2417 closed, assigned to nobody

[2020-10-23 20:55] codebykat commented on #2368
<img width="613" alt="Screen Shot 2020-10-23 at 1 25 14 PM" src="https://user-images.githubusercontent.com/52152/97053261-7083c300-1537-11eb-92fe-4aefb45955c7.png">

Don't know if this is related but I saw another undismissable tooltip for New Note just now.

[2020-10-25 07:17] iHeadway commented on #2251
Found a problem. You need to delete all the traces of previous installations before install/upgrade simplenote.

[2020-10-26 05:52] reginabally opened #2420 "Search highlight isn't working with Ctrl + G (Find Next/Again)"
Before updating the app to version 2.0.0, pressing Ctrl + G after performing a search on the app will highlight the search keyword in a darker color (e.g. brown), but this isn't working now.

### Expected
I would expect the highlighted keyword will show a distinct color from the other search keywords.

### Observed
The highlighted keyword shows the same color with the other search keywords.

### R

[2020-10-26 06:05] reginabally commented on #2420
Notice this should be fixed as mentioned in https://github.com/Automattic/simplenote-electron/issues/2413 so closing this.

[2020-10-26 06:12] reginabally commented on #2251
3435214-zen

[2020-10-26 12:58] azollafox opened #2421 "Windows App Unresponsive to Clicks to Exit"
### Expected
When I click on the X button or go to Simplenote>File>Exit I should be able to close the application.

### Observed
I can only close the new Simplenote by killing the window, all other options, including clicking File > Exit, have no effect

![](https://d.pr/i/UDjPqx+)
(Image link: https://d.pr/i/UDjPqx )

### Where did you see the bug

- OS: Windows
- OS version: Windows 10 Pro 19041

[2020-10-26 15:31] #2390 closed, assigned to nobody

[2020-10-27 02:28] #2409 closed, assigned to nobody

[2020-10-27 02:40] codebykat commented on #2421
Hi @sarahfg! We've unfortunately been unable to reproduce this on our end. Does it happen every time for you? Are there any errors shown?

[2020-10-27 03:35] reginabally opened #2423 "Tag isn't added automatically when a tag is selected from the menu"
When a tag is selected from the hamburger menu to view the list of notes assigned to the tag, the tag wasn't assigned to the new note created under this view. This feature is available in previous version (v 1.5.x, according to 3432482-zen).

### Expected
I would expect the chosen tag will automatically be added to the note when I create a new note after selecting a tag from the hamburger menu.

#

[2020-10-27 05:23] reginabally commented on #2421
Another report on the same ticket (3432279-zen) that the app was unresponsive after trying to export notes.

Attaching the errors in the console:

![Simpenote-2-Console](https://user-images.githubusercontent.com/40906847/97260367-c61ddf80-1857-11eb-88ee-2988350ac5bc.jpg)

Could this be related?

[2020-10-27 12:58] azollafox commented on #2421
@codebykat I can't reproduce it but the user seems to be able to reproduce it very reliably. It happens both when they try to exit the app and when they try to export notes from the menu of the app

[2020-10-27 14:04] rossanafmenezes commented on #2421
Another report here:

3436347-zen

![win10_version](https://user-images.githubusercontent.com/30724184/97312067-72050200-183b-11eb-96b5-86891495e4e5.png)

Their screenshot of the debugging console is empty.

![debugging_console_when_logged_out](https://user-images.githubusercontent.com/30724184/97312296-b4c6da00-183b-11eb-91c4-03787bc09576.png)

[2020-10-27 14:12] rossanafmenezes commented on #2251
Here 3436347-zen the user reports an issue with the pop up that says the update is available. Nothing happens when they click on the update.

![win10_version](https://user-images.githubusercontent.com/30724184/97313310-d8d6eb00-183c-11eb-8ac8-e8546a743f22.png)

[2020-10-27 18:47] rossanafmenezes commented on #2251
Another report here 3442423-zen

Windows-10 desktop
Simple note 1.1 (1.2 update failed as well)
User says that clicking on the button to update does not result in any action

![SimpleNote-update-failure (1)](https://user-images.githubusercontent.com/30724184/97347493-4269f000-1863-11eb-80a0-8a5477c0e6f0.jpg)

[2020-10-27 19:50] djordjeandrejevic opened #2425 "Electron: CTRL + Click (follow link) doesn't work"
Follow link feature isn't working as expected in Simplenote 2.0.0 (outside Preview mode).

**Ubuntu** - nothing happens after clicking on a URL. After few clicks it only underlines some part of the URL, as seen on the screenshot below.

![2020-10-27_19-59](https://user-images.githubusercontent.com/8862464/97353841-d56f4e00-1894-11eb-9576-7d5141b185d6.png)

**Windows** - also wasn't able to open an

[2020-10-27 19:56] djordjeandrejevic opened #2426 "Ubuntu/Windows: CTRL + Z (keyboard) doesn't work or works sporadically"
Undo feature on a keyboard doesn't work as expected in Simplenote 2.0.0.

In Windows it works after certain number of <kbd>CTRL</kbd> + <kbd>Z</kbd> clicks (say after 5~6 clicks), while in Ubuntu it doesn't work at all, no matter how many times I press the keys.

By using right mouse click and then selecting Undo - it works properly, though.

|OS Version|App Version|
|-|-|
|Ubuntu 18.04 LTS|Simple

[2020-10-27 19:59] codebykat commented on #2425
Hi @djordjeandrejevic, thanks for reporting these issues. Do you see the "Follow Link" popup when you hover over a link? Does clicking on that work?

<img width="227" alt="Screen Shot 2020-10-27 at 12 59 06 PM" src="https://user-images.githubusercontent.com/52152/97355499-36c2fd00-1854-11eb-9213-a06ae8440fe7.png">

[2020-10-27 20:06] djordjeandrejevic commented on #2425
Hi @codebykat, yes I see it, but the behavior is the same in both Ubuntu and Windows.

[2020-10-27 20:12] codebykat commented on #2423
Huh, I didn't know it used to do this. This feature is probably going away rather than being reimplemented (I think the idea is to get rid of the selected tag entirely and make all searches global) but I'll leave this open for now.

[2020-10-27 20:23] djordjeandrejevic opened #2427 "Ubuntu: CTRL + SHIFT + UP doesn't work as expected"
<kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd>UP</kbd> keyboard combination doesn't work as expected in Simplenote 2.0.0 on Ubuntu.

### Steps to reproduce
1. Create a list
2. Place mouse pointer somewhere on the last list item
3. Press <kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd>UP</kbd> multiple times

### Expected

Standard highlighting as seen on the screenshot below (Windows 10).

![Screenshot_63](

[2020-10-27 23:31] codebykat commented on #2427
I can reproduce this on the [Monaco playground](https://microsoft.github.io/monaco-editor/playground.html).

#2428 disables those shortcuts, but it doesn't seem to restore the native selection behavior. I wonder if it's because there's not an underlying text area? We might not be able to fix it without a patch to Monaco (the upstream editor component).

[2020-10-28 00:56] reginabally commented on #2423
I'm not sure if the feature used to be available in the older version of the Electron app but I'm able to achieve this on MacOS version 2.3.

[2020-10-28 01:01] codebykat commented on #2369
Maybe related, maybe not https://github.com/microsoft/vscode/issues/43794

[2020-10-28 05:03] reginabally commented on #2425
I'm able to replicate this on macOS 10.15.7 (19H2) with Simplenote 2.0.0.

I see the "Follow Link" popup when I hover over a link + pressing Cmd key. Clicking the link with Cmd key pressed does nothing.

Also, I think it's worth mentioning that Cmd + Click works on the web app.

[2020-10-28 07:26] reginabally commented on #2421
Additional details shared in 3436347-zen

[2020-10-28 11:53] azollafox opened #2429 "Tag Can't Be Deleted After Duplication"
### Expected
All tags can be removed if needed from the app by by clicking Edit > Trash Icon

### Observed
For a user with tags duplicated as seen in https://github.com/Automattic/simplenote-electron/issues/2353 one of the duplicated tags can not be removed from the app

### Reproduced
I was able to reproduce this when logging in as the user.

Their account and other information, like the tag in q

[2020-10-28 14:04] Thorny-Twig opened #2430 "WebM and WebP"
### What

Is there plans to bring WebM/WebP compression video/image formats into the Simplenote eco system. I have been linking in gifs/jpg/png and noticed that there was a WebM/WebP formats to help lighten the downloading file size/calls.
### Why

To have the option to use WebM / WebP instead of gifs/jpg/png to load public accessible simple note pages faster.
### How

[2020-10-28 16:25] codebykat commented on #2430
Hi @Thorny-Twig, which images are you referring to? If you're uploading images to another service and linking them in Simplenote, you should be able to link to any file format. Can you provide some examples of formats that aren't working?

[2020-10-28 17:04] cubismod commented on #2426
Encountering this issue with Simplenote 2.0.0 and openSUSE Leap 15.2 using the latest AppImage package as well.

[2020-10-28 19:48] Thorny-Twig commented on #2430
Hi @codebykat, oh I see the .webp works as expected, great.
![webp_image](https://www.gstatic.com/webp/gallery/1.webp)
***
Video like files in .webm format don't appear to display.
![webm video 1](https://upload.wikimedia.org/wikipedia/commons/8/87/Schlossbergbahn.webm)
![webm video 2](https://s1.webmshare.com/qdqB7.webm)
***
Gifs work perfect, so I was trying to use .webm instead of .gif
![gif fi

[2020-10-28 22:14] rhjhunt opened #2431 "Package Simplenote as a flatpak"
### What

I would like to request that Simplenote could be packaged as a [flatpak](https://www.flatpak.org/) and made available on [flathub](https://flathub.org/home). Or if there is no interest in the project for providing a flatpak of Simplenote and if you would not have any objection I would like to provide a flatpak bundle to be installed from [flathub](https://flathub.org/home).

### Why

Pac

[2020-10-28 22:59] dmsnell commented on #2431
This is awesome @rhjhunt! Thanks for putting in all this work. Do you have any plans for keeping the package updated with our releases?

We haven't made a Flatpak release because we haven't had it in our availability to write the PRs and maintain them, or support the Flatpak release.

On the other hand I don't think any of us will object to having another person take ownership of that. I'll give t

[2020-10-29 03:58] nekocodeX opened #2432 "Windows: Can't select all text in a note using Ctrl + A"
### How to reproduce
1. Create a new note
2. Type a longer sentence
3. Press <kbd>Ctrl</kbd> + <kbd>A</kbd>

### Expected
All text in the note will be selected.

### Observed
As you can see in this screenshot, only a certain amount of text will be selected.

<div align="center">
<img src="https://user-images.githubusercontent.com/65624234/97522654-9e5b8280-19e3-11eb-8915-c2f798b9f122.png" width="8

[2020-10-29 04:16] codebykat commented on #2432
Hi @nekocodeX, thanks for the report. Are you able to select all text from the top menu with Edit -> Select All, or does that have the same problem?

[2020-10-29 05:43] nekocodeX commented on #2432
Hi @codebykat, thank you for your prompt reply!

`Edit` -> `Select All` worked fine.
It only seems to be reproduced when using the <kbd>Ctrl</kbd> + <kbd>A</kbd> shortcut key.

[2020-10-29 09:24] djordjeandrejevic commented on #2432
Happens in Ubuntu 18.04 LTS too.

[2020-10-29 11:30] arkniazi commented on #2426
facing the same issue on ubuntu

[2020-10-30 02:37] reginabally opened #2436 "Windows: Ctrl + Shift + I assigned to both New Note and Debugging Console"
Reported in 3429951-zen.

And it opens the debugging console and does not create a new note.

### Expected
I would expect the Ctrl + Shift + I hotkey opens up a new note instead of showing the Debugging Console.

### Observed
Using the Ctrl + Shift + I hotkey opens up the Debugging Console.

### Reproduced

1. On the Simplenote app, press Ctrl + Shift + I
2. The app opens up the Debugging Console

[2020-10-30 02:42] designsimply commented on #2278
@dmsnell I tried testing the application log on Windows 10 Simplenote 2.0.0 today and found that it was empty after saving a note and generating a public link for it. Is it still the case that logs wouldn't be generated for those kinds of actions? (Just double checking! I'm asking because a user has reported that generating a public link is not working for them but it's working in my own testing a

[2020-10-30 02:52] codebykat commented on #2432
Yeah, whatever's wrong with keyboard shortcuts seems to be going on in both Windows and Linux. I think they may have the same root cause. I'm investigating.

[2020-10-30 15:39] ghost opened #2437 "Google Oauth2 Sign In Option"
### What
***Is it ("Sign in with Google" Oauth2 option) on your immediate roadmap?*** @codebykat

[2020-10-30 15:50] dmsnell commented on #2278
we haven't added any new events to the application log

we can investigate issues publishing notes in support where it's hard to do it in Github. there aren't any available events that we could log, unfortunately, to give more knowledge in the app about failures to generate a public link - this is due to the way that the links are generated behind the scenes

[2020-10-30 18:08] codebykat commented on #2437
Hi @rahul8548, it is not on our immediate roadmap. You can sign in using Google via WordPress.com authentication, if you have a WordPress.com account that is linked to your Google account. See #1010.

[2020-10-30 18:08] #2437 closed, assigned to nobody

[2020-10-31 02:11] xmha97 opened #2441 "Merge Title and Menu Bar"
### What

Merge Title and Menu Bar

### Why

Merging Menu Bar with Title Bar will free some room which can be very handy on small screen systems like laptops.

### How

Like Visual Studio Code:
![Simplenote](https://user-images.githubusercontent.com/23485114/97768882-9dd5ff80-1b3b-11eb-8e22-b6ebdd7d89a1.png)

[2020-10-31 11:35] tbourrely commented on #2396
I have been able to investigate a little bit more. I found out that I am logged out because of the line https://github.com/Automattic/simplenote-electron/blob/1d70830641ec07754593818625a775a77b1410f6/lib/state/simperium/middleware.ts#L54

Another thing I noticed is that in the app localStorage, the accountName value (in the simpleNote key) is : `{"msg": "Token Invalid", "code": 401}`

May have I m

[2020-11-02 01:09] mokagio commented on #2426
Bumping this to 2.2.0 because it's time to code freeze 2.1.0.

[2020-11-02 01:10] mokagio commented on #2425
Bumping this to 2.2.0 because it's time to code freeze 2.1.0.

[2020-11-02 06:44] reginabally opened #2444 "Web App: Missing Evernote import tool"
According to the [Simplenote Help page](https://simplenote.com/help/), I should be able to import Evernote notes using the web app at https://app.simplenote.com

### Expected
I would expect to be able to import Evernote notes using the Simplenote web app.

### Observed
The "Evernote" import option is missing on the Simplenote web app.

### Reproduced

1. Log in to Simplenote web app at https://app

[2020-11-02 14:33] azollafox opened #2445 "Double Quit Needed to Close App"
### Expected
When I go to Simplenote > Quit Simplenote and click the app should be completely closed.

### Observed
One the first try of this action the currently open note closes, but the application is still open. I need to go to Simplenote> Quit Simplenote once more to close the applicaiton

### Reproduced

User reported and I reproduced on the same OS and Simplenote versions

### Where did you

[2020-11-02 17:05] belcherj commented on #331
Fixed in: https://github.com/Automattic/simplenote-electron/pull/2434

[2020-11-02 17:05] #331 closed

[2020-11-02 17:12] belcherj commented on #496
Closing as we no longer support macOS Electron. The native app should be used.

[2020-11-02 17:12] #496 closed

[2020-11-02 18:25] codebykat commented on #2444
I think it was only ever available on the app and I thought the docs used to reflect that, have they changed? 🤔

[2020-11-02 18:57] rhjhunt commented on #2431
@dmsnell honestly I'm going to package it for at least myself, huge kudos to you and everyone that develops and supports simplenote, I love the application.

I would plan to keep it updated with your releases. If there is no objection from the team I'd love to maintain the packaging of the flatpak for flathub.org.

Let me know if there are any questions or concerns before I proceed.

[2020-11-02 18:59] belcherj commented on #2444
It was only ever available in the app due to the complexity of parsing the evernote file. Given that we do not support the macOS Electron app we should look at adding the Evernote implementation to the web app.

We should update the docs.

[2020-11-02 19:00] belcherj commented on #2445
This is fixed by: https://github.com/Automattic/simplenote-electron/pull/2439 and will be in version 2.1.0

[2020-11-02 19:00] #2445 closed, assigned to nobody

[2020-11-02 19:01] belcherj commented on #2441
@SylvesterWilmott

[2020-11-02 19:04] belcherj commented on #2430
I think this is a browser implementation detail. I can take a look but I do not know that this will be possible. Notice how the WebM video is also broken in this GitHub issue.

[2020-11-02 19:29] belcherj commented on #2430
Wait, this is not a WebM problem but that we do not support video embeds in markdown. If you want to embed videos you can do something like: http://sviridovserg.com/2017/05/22/embed-youtube-to-markdown/

Video embeds is something we can look at but is not currently on our timeline.

[2020-11-02 19:30] #2430 closed, assigned to nobody

[2020-11-02 21:27] belcherj commented on #1034
Closing as we will not tackle this work soon.

[2020-11-02 21:27] #1034 closed

[2020-11-02 21:36] belcherj commented on #1038
These are the architecture names that come from Electron Builder. To make this change we would want the change to come from upstream.

https://github.com/electron-userland/electron-builder/blob/cd28eb093f0bf5969ad87c64773cc0714dc8d8ea/packages/builder-util/src/arch.ts#L7

[2020-11-02 21:36] #1038 closed

[2020-11-02 21:38] belcherj commented on #1868
This was from the before 2.0.0 closing as it can no longer occur.

[2020-11-02 21:38] #1868 closed

[2020-11-02 21:42] belcherj commented on #1416
This has been resolved. It will only be removed if you have the char and space

[2020-11-02 21:42] #1416 closed

[2020-11-03 00:43] belcherj commented on #1102
This appears to be fixed.

[2020-11-03 00:43] #1102 closed

[2020-11-03 01:23] belcherj commented on #2130
I’ve added this to our feature requests tracker. Thank you for the suggestion.

[2020-11-03 01:23] #2130 closed, assigned to nobody

[2020-11-03 01:26] belcherj commented on #1775
We will be changing how the Spellchecker works in the Electron app. This issue is now invalid.

[2020-11-03 01:26] #1775 closed

[2020-11-03 01:27] belcherj commented on #1857
This breaks the OSX updater. https://github.com/Automattic/wp-desktop/pull/878

[2020-11-03 01:27] #1857 closed

[2020-11-03 01:40] belcherj commented on #2187
@Bey0ndB1nary Can you give version 2.0.0 a test and let us know if this is still an issue?

[2020-11-03 03:18] codebykat commented on #1974
Closing, please let us know if there are still any issues with the latest version!

[2020-11-03 09:24] gubrist commented on #2429
Assuming that Simpenote Electron 2.0.0 is now preventing form new duplicated tags to be created:
- What is the correct way to get rid of them with Simpenote Electron 2.0.0?

I have many duplicated tags, which were created during previous versions of Simpenote Electron (1.xx) .

[2020-11-03 10:44] gubrist opened #2447 "New note blocked when created in the tag sidebar (left)"
### Expected
- I create a new note using the tag sidebar (left) and:
a) want the tag being set
b) write text right now
- Behaviour as in previous Simplenote electron versions 1.xx

### Observed
- I create a new note using the tag sidebar (left).
a) The note is being created, without a tag (not visible at the lower buttom) and
b) I cannot enter any text in the note.
- The note remains as "New note.

[2020-11-03 10:51] gubrist opened #2448 "Tag not displayed using the search field"
### Expected

- I search a note with a key word and want to see the tag of the note (lower buttom)

- Behaviour as in previous Simplenote electron versions 1.xx

### Observed
- I search a note with a key word and do not see the tag of the note (lower buttom)

### Reproduced
see above

### Where did you see the bug

- OS: Windows 10
- Simplenote app version: 2.0.0 electron

[2020-11-03 12:59] adyomin commented on #2436
Updated: Same issue on Ubuntu 20.10 + Simplenote 2.1.0

[2020-11-03 15:12] azollafox opened #2449 "Time Format in Note Information Mismatched"
### Expected
The `Modified` and `Last Sync` time and date stamp in the note information panel will use consistent formatting.

### Observed
The `Modified` time shows as text for the month and `Last Sync` shows a number for the month. The `Modified`  time shows seconds and `Last Sync` time does not.

![](https://d.pr/i/qDlsRN+)
(Image link: https://d.pr/i/qDlsRN )

### Where did you see the bug
Rep

[2020-11-03 15:21] azollafox commented on #2449
The user initially reported this to request that we customize the time and date format to match their location. This has been reported as a Simplenote Feature request at /2020/11/03/localize-time-date-format/

[2020-11-03 15:36] belcherj commented on #619
Closing as we have markdown tables. Additionally tabbing looks more consistent than it was when the issue was opened.

[2020-11-03 15:36] #619 closed

[2020-11-03 18:23] azollafox commented on #2251
Another report at 3456683-zen

[2020-11-03 20:27] codebykat commented on #2448
Thanks, this is tracked in #2331. We'll get it restored soon.

[2020-11-03 20:27] #2448 closed, assigned to nobody

[2020-11-03 20:41] codebykat commented on #2444
I updated the docs, also added the Markdown file extension added in #2351

<img width="629" alt="Screen Shot 2020-11-03 at 12 41 09 PM" src="https://user-images.githubusercontent.com/52152/98038365-e0b10500-1dd1-11eb-87ea-5560cf9567e4.png">

[2020-11-03 20:41] #2444 closed, assigned to nobody

[2020-11-04 09:38] rezzap commented on #2426
Reported again in 3457052-zen

[2020-11-04 13:44] azollafox commented on #2251
Another report at 3461943-zen

[code]

[2020-11-04 22:28] nedrichards commented on #2431
Hi there, I'm one of the flathub admins. I've merged @rhjhunt's work into flathub and invited @dmsnell to the repo as well - there's no obligation but it does mean that you can take charge if you wish. If there's anyone else from upstream who wants to be involved then let us know and we will gladly add them ASAP.

[2020-11-05 01:50] xmha97 opened #2451 "Proxy settings"
### What

Add proxy settings (Socks5)

### Why

When you connect to the Internet, you may sometimes need to go through a proxy server.
Proxies are commonplace in schools, colleges, and workplaces.
Also, proxy help to bypass internet censorship.

### How

Like CintaNotes (a client for Simplenote)
![CintaNotes](https://user-images.githubusercontent.com/23485114/98187159-888b1780-1f25-11eb-965a-60313

[2020-11-05 02:30] codebykat commented on #2451
Hi @xmha97, the app should use any system proxy you have configured. Is that not working for you?

[2020-11-05 02:51] xmha97 commented on #2451
Yes, the Simplenote app uses the system proxy.
But I prefer to apply proxy only in the Simplenote app.

[2020-11-05 05:02] reginabally commented on #2251
3463690-zen

[2020-11-05 06:59] reginabally commented on #2425
Another report in 3442967-zen. Windows 10 with Simplenote 2.0.0.

[2020-11-05 16:33] David-Else commented on #2431
Hi, I just installed the flatpak 2.0.0 on Linux and `ctrl-shift+i` to insert note opens the web developer tools. Is this a bug in the Flatpak version? Cheers.

[2020-11-05 17:01] rhjhunt commented on #2431
@David-Else I just tested on a non-flatpak version 2.0.0 and the same issue exists there. Looks like `ctlr+shift+I` is also mapped to the 'Debugging Console'. There is a new issue opened to track this #2436.

[2020-11-06 01:46] rekab72 opened #2452 "ARM64 version of 2.0.0 similar to Simplenote-linux-1.20.0-arm64.deb"
Can you please add an Arm 7 64 build for the latest major build similar to your effort in 1.20.0 - Simplenote-linux-1.20.0-arm64.deb OR please add instructions to build as I trying to learn by doing after researching examples.

[2020-11-06 05:18] reginabally opened #2453 "Web App: Large left margin on Chrome browser"
The left margin of the note's editing view on the web app using the Chrome browser is large when the browser window is in full screen on a 27" inch monitor. Sometimes, the text on the notes will look squashed if the window is narrowed.

This doesn't happen on the Firefox browser.

### Expected
I would expect the left margin of the note editor to be reduced in the Chrome browser.

### Observed
The

[2020-11-06 13:55] eshurakov opened #2454 "Synchronization issues with Tags"
Renaming a tag from iOS results in a blank tag showing inside a note in the web app.
Trying to do something with this tag later in the web app results in tags duplication and synchronization issues.

Please take a look at the following video:
[Tags.mov.zip](https://github.com/Automattic/simplenote-electron/files/5501332/Tags.mov.zip)

### Expected
Tags look and order is the same on all devices.

#

[2020-11-06 22:17] dmsnell commented on #2429
@gubrist thanks for commenting here. there's no official way yet even though we have that coming for you. I think though that right now if you rename one of those duplicates into the other then they should merge. we just made some decisions so that your Android devices will also work the same way but those aren't released yet.

for example, suppose you have `Bücher` and `bücher`, which might exist

[2020-11-06 22:25] dmsnell commented on #2396
that `Token Invalid` message is clearly wrong there and a good find @tbourrely.

We can also try to investigate this but I don't have any way to estimate if we can do it right away.

The app should have registered this and prevented you from logging in. I don't understand (from my memory) how that error could have been persisted in `localStorage` but we're probably missing some check that the retu

[2020-11-06 22:35] dmsnell commented on #2451
Looks like we can do this with the browser session object in Electron, though it will take UI work and isn't on our roadmap right now.

In the meantime @xmha97 you might try setting some ENV vars when starting Simplenote if your setup allows that or look into an app that forces proxy access. I used to use one for some CLI apps that didn't support proxy settings.

[2020-11-06 22:38] dmsnell commented on #2452
hi @rekab72 - sorry for removing this. we'll try and get on it. it was removed in the lineup to 2.0.0 because (sadly) it broke the build again and we were focusing on getting that release ready and don't have as much experience with the ARM builds.

linking to #2042

[2020-11-06 22:41] dmsnell commented on #2431
thanks @rhjhunt and @nedrichards - I just returned from some vacation and will accept the invite. I think @belcherj might make a more appropriate maintainer than I would but we share our duties 😄

@rhjhunt you are doing everything a huge favor, not just yourself. please accept our gratitude for doing this and for being willing to maintain the flatpak.

I'm closing this issue since I don't think an

[2020-11-06 22:41] #2431 closed, assigned to nobody

[2020-11-07 01:28] rekab72 commented on #2452
@dmsnell thanks, understand priority and using 1.2.1 works on Pi 4 8GB 20.10 Ubuntu Mate image, no issues. Just would like to keep up with fixes/features and expect as Apple goes to Arm you'll need a working version.

[2020-11-07 16:52] gubrist commented on #2429
![BerufBildung](https://user-images.githubusercontent.com/22197180/98446904-4e866500-2121-11eb-8b63-2f106a787861.JPG)

![Technisches](https://user-images.githubusercontent.com/22197180/98446909-51815580-2121-11eb-90f5-8e831ac3fe50.JPG)

Thanks, only these two duplicated tags are remaining in the web app and with electron.
The names are twice the **same**:
- BildungBeruf
- Technisches
What shall I

[2020-11-07 20:02] nedrichards commented on #2431
I've sent an invitation to @belcherj as well. Thanks all!

[2020-11-08 10:17] SpacingBat3 commented on #2452
Seems it is runnable with the `npm run dev` on the ARM64:
![image](https://user-images.githubusercontent.com/57194920/98462088-aec4e780-21b1-11eb-808b-8eb50816fac3.png)
I believe it is possible to package it in an `tar.gz` archive, but I'm gonna check this right now to make it sure...
If yes, I'll do a quick PR to this repo with an updated list of supported architectures in the [`electron-builder.

[2020-11-08 10:50] SpacingBat3 commented on #2452
@dmsnell can confirm it is also possible to package in `tar.gz` archive with no issues...
In my opinion this also should work for the armv7l architectures...

Check the #2456.

[2020-11-08 14:56] ajmandourah opened #2457 "RTL: Selection is wrong, Markdown confuses RTL detection"
1. In Linux. RTL is not working as it should be. In comparison with windows version. Starting typing in Arabic will lead the text starting from the right (correct behavior) but starting with a "-" or like "##" will lead to this first symbol to be placed at left instead.
Ex.
Expected:  عنوان ##
Bugged :  ## عنوان

2. Mixing Arabic and English will lead to an issue while selecting the whole line. It

[2020-11-08 16:23] ajmandourah commented on #2457
adding toggle button will probably satisfy the most
https://github.com/BoostIO/Boostnote/pull/3282

[2020-11-08 20:05] codebykat commented on #2451
What @dmsnell said! I'm closing this for now since it's not on our immediate roadmap. We'll take it into consideration in the future but it's not a common request and I think there are viable workarounds, so unfortunately it is not a high priority at this time.

[2020-11-08 20:05] #2451 closed, assigned to nobody

[2020-11-09 15:08] gubrist opened #2458 "Ctrl + A does not mark all text"
Expected
- while creating, editing or reading a note
- Ctrl + A does mark all text of a note
- as worked in previous versions 1.xx

Observed
- Ctrl + A does not mark all text

Reproduced
- see above

Where did you see the bug
    OS: Windows 10
    Simplenote app version: 2.0.0 electron

[2020-11-09 20:30] codebykat commented on #2458
Hi @gubrist, I think this is a duplicate of #2432. Can you confirm that you are able to select all text with the menu option (Edit -> Select All)?

[2020-11-09 20:30] #2458 closed, assigned to nobody

[2020-11-10 08:07] reginabally commented on #2040
Reported in 3474956-zen with the small letter b in Russian - "б".

[2020-11-10 10:17] gubrist commented on #2458
Thanks.
Yes I can confirm that I am able to select all text with the menu option (Edit -> Select All)

[2020-11-10 20:08] belcherj commented on #2431
Thanks for all the work. We are hoping to get the ctlr+shift+I fix out in the next version.

[2020-11-10 21:11] belcherj commented on #2452
Merged in #2456!

[2020-11-10 21:11] #2452 closed, assigned to belcherj

[2020-11-10 22:30] codebykat commented on #2458
Great, thanks. Hoping to have a fix for the keyboard shortcut in the next version.

[2020-11-11 03:23] reginabally commented on #2426
Another report in 3475633-zen. Simplenote 2.0 on Windows 10 Home version 2004.

[2020-11-11 03:48] reginabally opened #2464 "History icon greyed out when the note was created on the Windows app"
Reported in 3475633-zen.

### Expected

I would expect the History icon works/clickable for the note created with the Electron app.

### Observed

The History icon greyed out when I created a note with the Electron app. But if I created a note in the Android/iOS apps, I can click on the History icon.

### Reproduced

1. Create a new note with the Electron app.
2. Notice the History icon greyed out

[2020-11-11 06:00] reginabally commented on #2410
Another request in 3477199-zen.

[2020-11-11 14:54] texstar opened #2465 "No way to quit simplenote 2.0.0 in KDE Plamsa"
After launching Simplenote 2.0.0 in KDE Plasma,  Quit or clicking on the X icon does not close Simplenote!

[2020-11-11 16:03] chromer030 opened #2466 "Right to left languages issues"
Hi , when typing in right to left languages like Hebrew, Arabic or Persian , if we use markdown , markdown characters behaves as Left to Right language and make whole note disordered and hard to type , this issue currently is on both Android and Desktop clients.

example :

![Screenshot_2020-11-11_19-26-54](https://user-images.githubusercontent.com/13361552/98834536-91fc0e80-2454-11eb-8be7-3dd4633

[2020-11-11 16:19] chromer030 commented on #2432
same here on Linux client. (Arch Linux)

[2020-11-11 19:39] chromer030 commented on #2426
same here on Arch Linux.

[2020-11-11 19:50] codebykat commented on #2466
Thanks, already tracked in #2457

[2020-11-11 19:50] #2466 closed, assigned to nobody

[2020-11-11 19:51] codebykat commented on #2457
Thanks for this, @ajmandourah. I'm wondering if the issues with selection also exist here:

https://microsoft.github.io/monaco-editor/playground.html

Would you mind testing and reporting back?

[2020-11-11 19:54] codebykat commented on #2457
Noting lots of upstream issues about RTL support, the main ones seem to be:

https://github.com/microsoft/vscode/issues/65648
https://github.com/microsoft/vscode/issues/11770

[2020-11-11 19:58] codebykat commented on #2465
Thanks for the report! This is very likely a duplicate of #2421 and might be fixed in the next version by #2439.

[2020-11-11 19:58] #2465 closed, assigned to nobody

[2020-11-11 20:25] dmsnell commented on #2464
The history icon is grayed out when the app has no revisions to revert. It grabs history when changing notes. We can improve this by making sure that after a note is open for a certain period of time we grab the history anyway, but so far we have limited this to keep things simple in the code and prevent thrashing the network with requests for note history as it operates differently than the rest

[2020-11-11 21:11] erolsk8 commented on #274
+1 for Monospace

[2020-11-11 22:04] JavonDavis opened #2467 "CTRL + Z doesn't work after toggling markdown"
After switching markdown mode to on, changes made in note editor cannot be undone with CTRL + Z keyboard shortcut.

### Expected

* Changes to be undone after undo/redo keyboard shortcut entered

### Observed

No action is taken after pressing CTRL + Z after making changes after enabling markdown.

### Reproduced

1. Go to a note with markdown not enabled
2. Enable markdown mode
3. Make changes
4.

[2020-11-12 02:46] codebykat commented on #2467
Thanks @JavonDavis, I think this is a duplicate of #2426. Good additional info on the Markdown switch. I'm looking into it 😅

Can you tell me if you're able to undo edits after making changes using the file menu (File -> Undo)? What about the right click menu?

[2020-11-12 02:46] #2467 closed, assigned to nobody

[2020-11-12 03:18] reginabally commented on #2425
Another report in 3476569-zen. Windows 10 with Simplenote 2.0.0.

[2020-11-12 03:28] reginabally commented on #2464
Thanks for taking a look, @dmsnell! I tried editing the note I created on the Electron app with the Android app yesterday and switched back to view the note on the Electron app, the History icon still greyed out. When I looked at it again today, I can click on the History icon and see the revisions.

However, the behavior of the History icon is different in the Android and macOS apps. I can access

[2020-11-12 03:53] reginabally opened #2468 "Unable to create nested list with the Tab key"
Reported in 3477730-zen.

### Expected

When I create a list with the `-` or `*` markdown, I would expect to be able to create a nested list item with the Tab key.

### Observed

When I pressed the Tab key, 2 spaces were added without indenting the list item. This happens on notes with and without markdown enabled.

### Reproduced

1. Create a new note on the app
2. Type `-` and some text
3. Press

[2020-11-12 04:41] JavonDavis commented on #2436
Issue still exists on 2.1-beta-2

[2020-11-12 07:18] JavonDavis commented on #2426
@codebykat yep I can undo changes with those options just not the keyboard shortcuts

[2020-11-12 16:39] dmsnell commented on #2464
Not likely. What's more likely is what I mentioned, that the web/Electron app will poll the history soon after loading a note so that the history icon lights up without needing to switch.

[2020-11-12 17:35] chromer030 commented on #2464
same here on Linux client too

[2020-11-12 23:31] ajmandourah commented on #2457
To start with I use VSCode in writing an arabic webpage. Thw issue with the RTL exists but I feel its the best option available.

Regarding your link. first i belive its 2 separate issues mainly because in simplenote you have the option to completly go RTL when you first start writing in a RTL lang. this is not available in your link as it is basiclly a code editor .
by selection issue, I dont hav

[2020-11-13 03:29] reginabally commented on #2416
Another report related to Windows IME input for the Japanese (and Chinese) characters in 3473496-zen.

The environment is:
Windows 10 Pro 1909 Build 18363.1198
Windows App, v. 2.0.0

Same issue on the web app with
Microsoft Edge x64 86.0.622.63

![2020-11-09](https://user-images.githubusercontent.com/40906847/99025431-c8946f00-25a3-11eb-8b2d-2c5ce44927fe.png)

[2020-11-13 05:02] reginabally commented on #2410
Also requested in 3484814-zen.

[2020-11-13 13:40] rezzap commented on #2432
Another user reported this in 3485930-zen

On: TOSHIBA dynabook RZ63/CS OS Microsoft Windows 10 Home version 10.0.18363 build 18363
Simple note 2.0.0

[2020-11-13 22:20] #2427 closed, assigned to codebykat

[2020-11-13 22:21] codebykat commented on #2427
Will be fixed in 2.2

[2020-11-14 12:05] spanderman commented on #1974
The issue is still there, for Debian 10, as of today:

:FATAL:setuid_sandbox_host.cc(158)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. You need to make sure that /tmp/.mount_Simple***/chrome-sandbox is owned by root and has mode 4755.

Just downloaded release 2.0.0 AppImage.

[2020-11-14 13:20] rezzap opened #2471 "Voice Over Improvements suggestions."
On Windows, using NVDA:

When you press the New Note button, you're taken inside the correct field, but the label is wrong, it announces "search notes all notes". I don't really think the field needs a label. What does need a label is the search button under the search
field, which currently doesn't have one. Also, arrowing down from that search button, NVDA reads "table with zero rows and zero co

[2020-11-15 04:54] codebykat commented on #2425
Will be fixed in 2.2.0

[2020-11-15 04:54] #2425 closed, assigned to codebykat

[2020-11-16 18:26] azollafox commented on #2471
Windows Version    10.0.18363 Build 18363
NVDA Version: alpha-21348,6af30832

[2020-11-16 20:19] codebykat opened #2475 "Incorrect checksum in yml for Linux app"
### Expected
* The checksum in `latest-linux.yml` should match the checksum of the compiled binary

### Observed
* The checksums do not match

### Reproduced

Tested in 2.0.0 release with `Simplenote-linux-2.0.0-x86_64.AppImage`

[2020-11-16 20:56] codebykat commented on #2454
@belcherj was this fixed by https://github.com/Automattic/simplenote-electron/pull/2455 or is that a separate issue?

[2020-11-16 23:16] hashimaziz1 commented on #2251
Same issue - as far as I can remember the built-in `Restart and Update` option has never worked for me - I don't get an error, it just doesn't do anything. Running Windows 10 and showing an update for 2.1 (currently on 2.0).

[2020-11-17 03:06] reginabally opened #2477 "RESTful search on the web app"
Requested in 3491662-zen.

### What

of document state would be great:

### Why

representable on whichever restful API, and embrace all the goodness of believing in REST-ful-ness.

[2020-11-17 05:16] reginabally commented on #2410
Another request in 3492064-zen.

[2020-11-17 05:21] chromer030 commented on #2410
Not working on both 2.1.0 and 2.2.0 beta 1

[2020-11-17 09:10] lulupointu commented on #2396
I have the same issue. I tried clearing the cache, logging in in the app or the browser, creating a new dev account, logging in multiple times, I get logged out every time.
For what's it's worth my friend tried too and he has the same issue.
My config: Ubuntu 20.04, simplenote v2.1.0-beta2
His config: Manjaro, simplenote v2.1.0-beta2

[2020-11-17 10:14] gubrist opened #2478 "Update from 2.0.0 to 2.1 does not start | not available from Microsoft Store"
### Expected
Update from 2.0.0 to 2.1.0 to start as in previous versions (1.x)

### Observed
I have two Windows 10 PC's (office and home)

_________________
(1) Office
- installed with installation file

![Simplenote Update 2 Plus_Gc](https://user-images.githubusercontent.com/22197180/99376822-bd07b780-28c5-11eb-9f52-65f357b9796a.JPG)

![Simplenote Update 2 Plus_Gb](https://user-images.githubuserc

[2020-11-17 10:20] gubrist opened #2479 "Checkbox Icon"
### What
Checkbox Icon in text entry surface

![checkbox](https://user-images.githubusercontent.com/22197180/99377759-e1b05f00-28c6-11eb-97d4-8af8e65cd1fd.JPG)

### Why
- Faster entry with mouse
- Exists in Android App

### How
- linke in Android App

[2020-11-17 15:22] codebykat commented on #2477
A somewhat confusingly worded duplicate of https://github.com/Automattic/simplenote-electron/issues/1635

[2020-11-17 15:22] #2477 closed, assigned to nobody

[2020-11-17 17:12] azollafox commented on #2379
In addition to no longer adding a bullet, trying to press enter mid list like this now brings your cursor to the bottom of the list
![](https://d.pr/i/UIeWQQ+)
(Image link: https://d.pr/i/UIeWQQ )

Reported in #3476961-zen

[2020-11-17 23:04] #2449 closed, assigned to codebykat

[2020-11-18 07:11] reginabally commented on #2251
Another report in 3496365-zen.

[2020-11-19 06:49] jpxsat commented on #1069
Hi. Just wanted to say "thank you", this is a very good and simple program for notes, cross-platform which is absolutely great.
I add to this request, but I do feel that in any case it should not be a show-stopper for using  _**Simple**_note; when this feature arrives, it will be more than welcome for us  _**simple**_users 👍 Keep up the good work!

[2020-11-19 08:09] alokprasad commented on #1069
I guess Top features are:

1. Pasting Images
2. Code Pasting
3. Easy PDF export
4.two location for saving contents(if one deleted other can be used)

[2020-11-19 08:45] Ecnassianer commented on #878
Electron now supports ARM!

[2020-11-19 13:30] eshurakov opened #2481 "Searching for an exact match takes into account only text inside quotes and ignores other keywords"
Let's say we have a note: `Tap the arrow button at the top left or swipe across your note list to view your tags.`
Searching for:
* `"the arrow"` correctly finds this note and highlights only `the arrow`.
* `"the arrow" blabla` still finds the same note. Note doesn't have `blabla` though
* `the arrow blabla` works as expected and doesn't show any notes

### Expected
Keywords outside exact match ar

[2020-11-19 18:16] nr1995 opened #2482 "Windows 10: Can't adjust notification settings"
Hi,
I'm a bit of a noob, and don't know if this is even in the right place,
but I'm using **Simplenote v2.1.0** on Windows 10 (v20H2)(but it was the same in v2004),
and every time I make a note change from my phone,
my Windows 10 PC gives me the notification in the corner, along with an annoying system sound every few seconds.
**I would like to disable this noise, and only the noise.**
On the noti

[2020-11-19 20:10] codebykat commented on #2482
Hi @nr1995, thanks for this report. I've confirmed the issue in my testing. I also found if you disable all notifications from electron.app.Simplenote, there seems to be no way to re-enable them 😱

We'll try to find a fix for this.

[2020-11-19 20:11] codebykat commented on #2482
In case it's helpful for now, you can disable "Notify on remote changes" from your Simplenote app Preferences under Tools. Obviously this will disable the notifications completely.

[2020-11-19 20:19] codebykat commented on #878
Yes, we're building ARM for Linux now. #2456  @belcherj should we reopen this?

[2020-11-19 20:27] codebykat commented on #2251
**For those seeing an error on update**, please do a manual install of version 2.1. The issue should be fixed going forward. #2440

We're aware of a separate issue with the installer hanging, so I'm leaving this open for now.

[2020-11-20 03:30] mintchaos commented on #1435
Can confirm that this is still happening in 2.1.0. Check spelling is checked in the edit menu. The linux flatpack is maybe missing a dependency? or expects it on the system?

![image](https://user-images.githubusercontent.com/1450/99754568-7b316980-2a9d-11eb-9393-efda223c9cd6.png)

[2020-11-20 09:56] alusiani opened #2484 "reduce amount of white space at the top of the note window"
### What

Reduce the empty vertical space at the top of the window than contains the note.

### Why

One more line of text could be accomodated using white space that is not currently used at the top of the note window, in SImplenote v2.1.0 on Linux.

### How

[2020-11-20 15:21] frafor opened #2485 "Em dashes and typographical quotation marks"
### Typographical dashes:

em dash

---Three simple dashes should become one em dash. Not happening.

for long em dashes

--This is a not so long a dash

for not so long dashes

*typographical quotation marks:*

When a word is within "quotes", it should make them “this kind” of typographical quotes

MarkDown libraries do exist, 100% open source, capable of such MarkDown to HTML transformations.

[2020-11-20 19:15] codebykat commented on #1435
The new version currently does not support spellcheck. Sorry for the trouble, we hope to restore it in future. #2410

[2020-11-20 19:15] #1435 closed

[2020-11-21 02:10] frafor commented on #312
As I type here, the browser itself is spell checking every single word I type, underlining the word with a red corrugated line if it is not correctly spelled. It is built in the browser and can check any language I may be using.

Neither the Windows 10 application nor using simplenote in a browser kicks in the spell checkers active all the time with any other text box to edit text, even formatted

[2020-11-21 02:24] #2482 closed, assigned to nobody

[2020-11-21 02:35] codebykat commented on #312
Thanks for the feedback, @frafor.  We do believe it is possible, but it is unfortunately not at all simple (technically). If you're curious about the technical limitations, it has to do with the fact that our editor component (Monaco editor) does not use text components in the browser. This trade-off is a huge performance benefit, especially for long notes (it doesn't render the entire note, only

[2020-11-21 02:41] codebykat commented on #2379
That looks like #2336

[2020-11-21 08:30] dcmlx commented on #2426
I'm having the same problem on Windows. CTRL-Z keyboard shortcut not working. File->Undo is working though.

[2020-11-21 15:41] rossanafmenezes commented on #2251
Another report here 3507015- zen.

Will ask them to do the manual install of version 2.1 but just wanted to add it to the report

[2020-11-22 12:03] vmasseron opened #2486 "Light theme checked but dark should be by default"
On W10 in dark mode, the Simplenote app is by default in dark mode (and that's good !) but in View->Theme, Light is checked. Not a big deal but it keeps a bug.

### Expected
If Windows is in dark mode, "dark" should be checked in View->Theme by default.

### Observed
The dark mode of the app is enabled but View->Theme show that light is checked

### Reproduced
1. Enable dark mode in Windows Prefer

[2020-11-23 17:00] belcherj commented on #878
I have a surface X ARM machine that I use the app on. Let's reopen and see if we can get an ARM specific version running.

[2020-11-23 22:02] belcherj commented on #2454
This is still an issue. We have different encoding on different platforms and when the encoding is different we run into issues.

[2020-11-23 23:43] PremPatel8 commented on #2478
I am also having this same issue since the last few Simplenote updates. Every time I open Simplenote I get the "Update Available" prompt, but when I click on "Update & Restart" nothing happens. The only way I can update is by downloading the installer and manually installing the latest version. This bug would be less annoying if we could just turn off the "Check for updates on app start" functiona

[2020-11-23 23:56] codebykat commented on #2478
Thanks for this info. This is already tracked in #2251 -- we've fixed one issue with the updater in 2.1, but I believe there is still at least one problem with it. I'll add the comment about disabling update prompts over there as well.

For the Windows Store issue, you should be able to see the version in About.

[2020-11-23 23:56] #2478 closed, assigned to nobody

[2020-11-23 23:57] codebykat commented on #2251
This was reported in https://github.com/Automattic/simplenote-electron/issues/2478 with a request to disable the update available dialog.

[2020-11-24 06:52] poojashetty18 opened #2487 "Web app: Paste option not on Right Click Menu"
### Expected
Paste option should be available after copying a text

### Observed
No paste option available on right-click menu

### Reproduced
1. Go to https://app.simplenote.com/
2. Add some text or use any existing text
3. Right-click menu and select the text to copy it
4. Go to a new line or enter space and then right-click menu
5. No paste option visible

![Screen Capture on 2020-11-24 at 10-4

[2020-11-24 09:23] gubrist commented on #2251
Regarding the work-around:  **Microsoft Store** does not mention:
- which SN version is installed and
- which SN version is availble

[2020-11-24 13:35] eturkes opened #2488 "Linux: Some keyboard shortcuts don't work"
This issue appears to be specific to my Linux app, I tested it on the web app and Windows 10 and I don't observe the problem.

### Expected

All keyboard shortcuts work.

### Observed

Some keyboard shortcuts do not work (Ctrl+Z, Ctrl+Shift+Z, Ctrl+A), while others do (Ctrl+P, Ctrl+Comma, Ctrl+F). For the non-working shortcuts, the function can still be carried out using the right-click context me

[2020-11-24 18:09] codebykat commented on #2487
Thanks for the report, @poojashetty18. This is a known issue and a limitation of the editor component we're using. Unfortunately it's a security feature in the browser in order to prevent apps from stealing the contents of your clipboard without your knowledge, so we can't really work around it. You should still be able to paste using the keyboard shortcut (Cmd+V) or the menu bar (Edit->Paste).

U

[2020-11-24 18:09] #2487 closed, assigned to nobody

[2020-11-24 18:12] codebykat commented on #2488
Thanks for the report, I believe this is a duplicate of https://github.com/Automattic/simplenote-electron/issues/2426, though it's odd that you're not seeing it on Windows (it's the same code, and we've had reports of the shortcuts not working on both Linux and Windows). I'm working on a fix this week. Closing in favor of #2426 anyhow.

[2020-11-24 18:12] #2488 closed, assigned to nobody

[2020-11-24 19:39] belcherj commented on #2454
- Add the tag "a" to a note in electron or ios.
- On iOS edit the tag in the tag list to "a-1".
- On web notice that it is blank

<img width="92" alt="Screen Shot 2020-11-24 at 2 17 09 PM" src="https://user-images.githubusercontent.com/6817400/100141084-d7123e80-2e5f-11eb-8226-498c0b60804a.png">

This is because ios hashes differently than Android and Web

[2020-11-25 18:00] nsakaimbo opened #2491 "Sticky History Tooltip"
The tooltip for the History icon seems to stick (see gif). I think this might occur for new, empty notes.

<p align="center">
<img src="https://user-images.githubusercontent.com/8979548/100265321-169f6000-2f1e-11eb-97c3-e01967a0ccab.gif">
</p>

### Expected
Tooltip would be presented and subsequently disappear when the icon is not being hovered over, like the other icons.

### Observed

Tooltip do

[2020-11-25 18:05] nsakaimbo opened #2492 "Windows Notifications Are Mis-Labeled"
Windows notifications are labeled with the app bundle name and not the application name.

<p align="center">
<img width="388" alt="simplenote-windows-notification" src="https://user-images.githubusercontent.com/8979548/100265795-c5dc3700-2f1e-11eb-8152-a895b2da6f29.png">
</p>

### Expected

The notification should be labeled "Simplenote".

### Observed

The notification is labeled `electron.app.Si

[2020-11-25 18:10] codebykat commented on #2491
Dupe of https://github.com/Automattic/simplenote-electron/issues/2464 :)

[2020-11-25 18:10] #2491 closed, assigned to nobody

[2020-11-25 18:11] codebykat commented on #2492
I believe this is fixed in 2.3 by #2483 but let me know if not!

[2020-11-25 18:11] #2492 closed, assigned to nobody

[2020-11-25 18:27] codebykat commented on #2251
Hi @gubrist, as far as I can tell this is a (annoying!) limitation of the Windows Store. I've been unable to find any apps that show their version. Do you know of any that do? I found an old conversation about this online and it seems nothing has changed. https://answers.microsoft.com/en-us/windows/forum/windows_8-windows_store/windows-store-apps-versions/cf390eb1-1676-41c1-91bb-ff1ec2ad3c2e

[2020-11-25 18:47] codebykat commented on #2426
Will be fixed in 2.2 #2490

[2020-11-25 18:47] #2426 closed, assigned to codebykat

[2020-11-25 18:47] codebykat commented on #2432
Will be fixed in 2.2 #2490

[2020-11-25 18:47] #2432 closed, assigned to codebykat

[2020-11-25 18:48] codebykat commented on #2436
Will be fixed in 2.2 #2490

[2020-11-25 18:48] #2436 closed, assigned to codebykat

[2020-11-25 20:32] codebykat commented on #2436
Followed up to remove the label from the menu item in https://github.com/Automattic/simplenote-electron/pull/2493

[2020-11-25 22:55] albertobalsalm commented on #2468
I'm experiencing the same issue on windows, version 2.1.0

[2020-11-25 22:57] albertobalsalm commented on #2464
It's greyed out on the web version too on my end.

[2020-11-26 11:29] dplanella opened #2494 "Select All (Ctrl+A) does not work in Edit mode"
### Expected
1. Switch to Edit mode on a note
1. With the note on focus, press the `Ctrl+A` keyboard shortcut
1. The complete note contents are selected (and highlighted as a selection)

### Observed
1. Switch to Edit mode on a note
1. With the note on focus, press the `Ctrl+A` keyboard shortcut
1. Nothing happens, the keyboard shortcut seems to

### Additional notes

- In Preview mode, the `Ctrl+

[2020-11-26 14:07] azollafox commented on #2416
Also reported on Windows 10 Pro 64bit Ver.1909, Firefox 83.0.
https://d.pr/v/IYQNC4 3508026-zen

[2020-11-27 02:53] codebykat commented on #2494
Thanks for the report, @dplanella. The fix for this is in the upcoming release! (#2490)

[2020-11-27 02:53] #2494 closed, assigned to nobody

[2020-11-27 03:08] eldenpark opened #2495 "Ctrl+Shift+I Keybinding conflict in Linux, Ubuntu"
### Expected

Type Ctrl+Shift+I to create a new note.

### Observed

Ctrl+Shift+I is presumably the keybinding for a chromium-based browser to open a developer tool. And it opens a developer tool showing the markup (HTML), not allowing to create a new note.

### Reproduced

1. Type Ctrl+Shift+I when the app is focused.
2.
3.

### Where did you see the bug

- System Make:
- System Model:
- OS: Ubun

[2020-11-27 19:13] codebykat commented on #2495
Thanks for this report, @eldeni. This is fixed in the upcoming version (#2490).

[2020-11-27 19:13] #2495 closed, assigned to nobody

[2020-11-28 13:20] tarunvijwani commented on #2416
The issue exists in  Simplenote 2.1.0 as well.

3523744-zen

[2020-11-28 13:35] stpoa opened #2498 "Add reminder notifications"
### What
Ability to remind me of some specific line of text / todo entry

### Why
One missing feature for simplenote is that I cannot use it to remind me to do things, so for that I have to use Apple reminders.

### How
You could add something like `- [ ] Buy milk @remind-me-at 2020-11-12 09:20` which would remind me at that time.

[2020-11-28 17:56] Symbitic opened #2499 "Add archive feature"
### What
I've started working on a fork that adds the Archive feature, similar to what was previously requested in #1740 and #601.

### Why
The idea is that notes can be stored so that they will be excluded from the notes list and optionally excluded from searches, without the danger of accidentally deleting them forever. It's a useful feature for notes that you don't want cluttering up the tags a

[2020-11-28 22:11] adams141 commented on #1570
Was this made a feature request and then closed, but not done?

[2020-12-01 05:25] reginabally commented on #2251
It was reported in 3532157-zen that the user was having version 2.0.0 installed from the Windows Store, receiving the notification to update the app to version 2.2.0. However, the updated version was 2.1.0 instead.

[2020-12-01 18:38] rossanafmenezes opened #2501 "Problems inputting Japanese characters on Windows Pro"
I came across two different tickets today where users reported issues inputting characters on Simplenote 2.2 and both cases users are on Windows Pro and both users mention version 2.1 works fine.

### Expected

Users to be able to type and delete text in any language.

### Observed

Simplenote 2.2.0 will not allow character input and character deletion (Backspace) in Windows.
You will not be able

[2020-12-01 20:16] codebykat commented on #2498
Thanks, @stpoa. I've added this to our list of feature requests for possible consideration in the future. Since we use GitHub to track only our immediate roadmap and bugs, I'm closing this issue.

[2020-12-01 20:16] #2498 closed, assigned to nobody

[2020-12-01 20:41] codebykat commented on #1570
Hi @adams141, we use GitHub issues for tracking bugs and work that's on our immediate roadmap. Our feature requests are logged internally -- so it was tracked, but closed as it's not on our roadmap at the moment. We look at those requests at a high level when planning future work. Hope that clarifies things 😄

[2020-12-02 04:40] nekocodeX opened #2502 "Windows: After typing the text and a newline, typing a full-width space(s) in Japanese will duplicate the previous text"
### Expected
Full-width space(s) in Japanese are entered in a note.
The full-width space(s) in Japanese here refer to this "　".

### Observed
As you can see in the GIF animation below.
<div align="center">
<img src="https://user-images.githubusercontent.com/65624234/100827796-ebc68600-34a0-11eb-9328-db0281d64a04.gif" width="80%">
</div>
1, 2, 4, 8... you can see that the previous text  is increasi

[2020-12-02 06:01] reginabally commented on #2251
Another report in 3534808-zen that the user received an update notification for 2.2.0 but can only install 2.1.0 from the Windows Store. Screenshots can be found in the ticket.

[2020-12-02 07:02] reginabally commented on #2251
The user has 2.1.0 installed but they were prompted to update from 2.0.0 to 2.2.0 in 3535232-zen.

[2020-12-02 08:05] czhehua commented on #2502
I also find the same problem when I am using Chinese Pinyin Input Method.
OS: Ubuntu Desktop 20.04 LTS
Simplenote app version: 2.2.0
It was all right in the previous 2.1.0 version.

[2020-12-02 21:53] Feakster opened #2503 "What happened to the arm64 deb & rpm files in version 2.2.0?"
In the latest release (2.2.0) the arm builds are back (yay!) but some are missing (boo!). Namely, Simplenote-linux-2.2.0-arm64.deb & Simplenote-linux-2.2.0-arm64.rpm

[2020-12-02 22:30] codebykat commented on #2503
Hmm. Previously: #2456

From the comments there, maybe they didn't work for deb and rpm?

https://github.com/Automattic/simplenote-electron/blob/develop/electron-builder.json#L66

Can you use the .tar.gz and/or the arm71 builds?

<img width="362" alt="Screen Shot 2020-12-02 at 2 29 11 PM" src="https://user-images.githubusercontent.com/52152/100939238-d0f90f00-34aa-11eb-8406-660509ef7462.png">

[2020-12-03 11:34] djordjeandrejevic opened #2504 "Left sidebar / navigation bar - enhancements & fixes"
I have a few suggestions for the left sidebar / navigation bar to make it look better.

All of the CSS suggestions below were done using Debugging Console (Simplenote 2.2.0 / Ubuntu 18.04 LTS).

1. **Less white space** between All Notes / Trash / Settings and the top.
[code]
2. **Smaller font** for Tags.
[code]
3. **Smaller border width** for All Notes / Trash / Settings and Tags.
[code]
4. **Poin

[2020-12-03 11:57] rezzap commented on #2502
Another report of this in 3532984-zen.

Using Windows 10Pro 64bit.
Simplenote 2.2.0

Did not occur in 2.1 version.

The user has included a screenrecording of the issue which is available in the ticket and can be seen at 1:11.

They originally reported the issue mentioned in https://github.com/Automattic/simplenote-electron/issues/2501 and then added this one which they discovered on testing. I'm

[2020-12-03 19:43] ottov1 commented on #274
+1 for Monospace. Thanks!

[2020-12-04 04:14] tarunvijwani commented on #2251
User replied they are currently on the 2.0.0. (3535232-zen)

[code]

![image (2)](https://user-images.githubusercontent.com/11503784/101121059-336e1e80-3615-11eb-8082-190257196d80.png)
![image (1)](https://user-images.githubusercontent.com/11503784/101121063-36690f00-3615-11eb-9fee-7c17c8a54d42.png)

[2020-12-04 14:24] rossanafmenezes commented on #2251
Another one here 3537565-zen

version 2.0.0
Windows 10

[2020-12-04 21:16] codebykat commented on #2499
Thanks for asking this, @Symbitic. Good question! The prior issues were closed without comment because we don't use GitHub for tracking feature requests (which we may or may not get to eventually); we have an internal list that we refer back to when planning our roadmap for upcoming work. We usually do try to leave a comment to that effect, but sometimes we're triaging a bunch of open issues at on

[2020-12-06 04:21] wlos opened #2506 "To show the creation time of each note in the Info button"
### What

Showing the creation data of each note

There is a function that note can be sorted by data created. But we cannot see the creation data of each note. So I hope that each note can easily show its creation data in its INFO.
### How

![image](https://user-images.githubusercontent.com/3961883/101271370-09eff700-37bd-11eb-96ef-8a988a612cb5.png)
The note INFO shows its modification time and

[2020-12-07 08:42] eshurakov opened #2507 "macOS restart is interrupted by the app"
When I tried to restart my computer I got the following message:

I tried it the second time with the same result. I didn't see any pending sync operations happening in the app.
Manually quitting the app works perfectly, the app closes immediately.

Possible solution: https://stackoverflow.com/questions/51804259/how-to-prevent-electron-app-from-interrupting-macos-system-shutdown

<img width="592"

[2020-12-07 13:53] rossanafmenezes commented on #2502
The user came back with more info:

The trouble occurs also when you enter English or numbers.
It's not clear if this is due to the mixture of Japanese.

[2020-12-07 14:47] peterbwf opened #2508 "New Note Shortcut opens Chrome Inspector on Pop OS / Ubuntu"
Pressing Ctrl + shift + I on Ubuntu and Pop OS causes the chrome inspector to open instead of creating a New Note. Is there a workaround for now to modify the shortcut back to Ctrl + N like it used to be in the old version?

[2020-12-08 03:23] codebykat commented on #2508
Hi @peterbwf, can you let me know what version of the app you're using? This should have been fixed in the most recent (see #2490). We unfortunately had to change the shortcut away from Ctrl + N because it conflicted with "new window" in the browser.

[2020-12-08 04:19] peterbwf commented on #2508
You're right, @codebykat. It looks like I caught an update today and it upgraded to 2.2.0. I can confirm it's fixed. Thanks!

[2020-12-08 04:19] #2508 closed, assigned to nobody

[2020-12-08 04:35] 793383996 opened #2509 "2.2.0 Windows Input Text Err"
Sometimes the first letter disappears when the text cannot be typed properly on the Windows platform.
Reopen it's ok.

[2020-12-08 04:38] 793383996 opened #2510 "Download 1.18.0 exe Err"
![image](https://user-images.githubusercontent.com/9602218/101440644-36894780-3952-11eb-85d4-e1a7322dee20.png)
Cannot download file

![image](https://user-images.githubusercontent.com/9602218/101440667-430da000-3952-11eb-9bb1-84b84e35873d.png)

https://github-production-release-asset-2e65be.s3.amazonaws.com/41199577/9a4e2780-a47a-11ea-9b50-d24a84d88de9?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Creden

[2020-12-08 12:28] rezzap commented on #2457
There is another report of the selection issue in 3522477-zen . The issue happens when using CTRL+A but also in partially selecting.

It seems to work fine when it comes to copy/pasting, but the selecting part doesn't work as it should.

![Screen Recording 2020-12-10 at 02 35 19 pm](https://user-images.githubusercontent.com/10325627/101785774-0fb74680-3af5-11eb-93ad-70da7a1dd20a.gif)

 Simplenote

[2020-12-08 13:08] rezzap opened #2511 "RTL mixed writing changes alignment of sentence"
### Expected
I expected that when typing an English word in the middle of a sentence using RTL language like Arabic, the content would respect the RTL order of sentence. When switching from English back to RTL

### Observed
When switching from English back to RTL in the middle of the sentence, the next word is in the wrong order.

### Reproduced

1. Go to Simplenote in the web app and start typing

[2020-12-08 13:16] KraXen72 opened #2512 "make caret / typing indicator smooth"
current in simplenote:
![Rec_2020_12 08_14;12](https://user-images.githubusercontent.com/21956756/101488088-6be86200-395f-11eb-9587-7565117460f4.gif)

proposed: (this example is in word 2016):
![Rec_2020_12 08_14;13](https://user-images.githubusercontent.com/21956756/101488190-92a69880-395f-11eb-994f-a123b22ef46c.gif)