[2020-12-08 13:17] KraXen72 commented on #2441
+1

[2020-12-08 13:19] KraXen72 commented on #2291
![image](https://user-images.githubusercontent.com/21956756/101488742-49a31400-3960-11eb-9ceb-1cb98760f60c.png)
 looks fine for me, i'm in 2.20. update.

[2020-12-08 15:35] SylvesterWilmott commented on #2499
Thanks @Symbitic !

As @codebykat mentioned, our Trash currently works in the same way as the proposed behaviour for Archive. It certainly wouldn't hurt the experience to have an archive but this may be as simple as changing our "Trash" terminology to "Archive" terminology to communicate that trashed notes are not immediately deleted.

One more thing to point out is that Electron currently allows

[2020-12-08 16:13] shizukudrops commented on #2502
The same issue occurs in my environment with Japanese IME.
Windows 10 Pro 64bit 1909
Simplenote for Windows ver 2.2.0

I guess you are missing the point of this issue. The key is to type a **full-width space** after a new line which follows any text. Inputting English, Japanese or numbers before the newline is irrelevant. When you type Japanese, start a new line, and type a half-width space (equiv

[2020-12-09 02:13] codebykat commented on #2512
Hi @KraXen72! Thanks for this report. This is a very subtle difference, and I don't think it's something we have control over.

Can you try it on this page and let me know if it's the same there?

https://microsoft.github.io/monaco-editor/playground.html

[2020-12-09 09:51] KraXen72 commented on #2512
it's not working even on that page. i think it's achievable with css, atleast on monkeytype.com (a typing test) they got it to work, just go into the settings and turn smooth caret on. i'm pretty sure it can be done with some css.

[2020-12-09 17:19] Symbitic commented on #2499
@SylvesterWilmott in that case, you can close this request.

[2020-12-09 19:50] codebykat commented on #2512
Okay, so it turns out there's [an option for this in Monaco](https://github.com/Microsoft/vscode/pull/51197), which means we could support it easily. However I tried it and I don't much like the "feel". It feels pretty weird and it is not in line with the standards used in every other text editor and the web.

If we did add support for this, we'd need to make it a configurable option, so there's s

[2020-12-09 19:50] #2512 closed, assigned to nobody

[2020-12-09 21:47] KraXen72 commented on #2512
i really like how it looks with this enabled, maybe just add a small switch into the settings to enable this, it would really improve the whole UX for me. thank you for responding and i hope i can see this soon :)

[2020-12-09 23:33] codebykat commented on #2510
Hi @793383996, this appears to be a network issue (maybe something is blocked in China?). The latest release and download links is here: https://github.com/Automattic/simplenote-electron/releases/tag/v2.2.0

If you need 1.18 specifically, you should be able to get it from here: https://github.com/Automattic/simplenote-electron/releases/tag/v1.18.0

Can you try downloading from those links and let

[2020-12-09 23:34] codebykat commented on #2509
@793383996 I'm not sure what this means, can you provide some screenshots to illustrate the problem? Thanks 😄

[2020-12-10 00:12] codebykat commented on #2291
Hah, I didn't notice the version number on this report. Thanks @KraXen72. That being said I don't believe the icons have changed since 1.20 (https://github.com/Automattic/simplenote-electron/pull/2158, which should have added the correct icon size for this to be working correctly). @algent-al, please update to the latest version and report back?

[2020-12-10 08:00] algent-al commented on #2291
Hi! I use Windows 10 now. The icon in this system looks better than in Windows 7.
![simplenote-win10](https://user-images.githubusercontent.com/46356616/101737987-da473480-3ac5-11eb-9d1c-093bba6da04c.png)

[2020-12-10 13:48] #2499 closed, assigned to nobody

[2020-12-10 20:08] codebykat commented on #2327
Reported in 3562935-zen

[2020-12-10 20:32] leogermani commented on #2327
Yes, please fix this. It's not just annoying, it's almost unusable!

[2020-12-10 20:58] dmsnell commented on #2327
thanks to the work that @belcherj did this is now fixed upstream in Monaco and as soon as we update that dependency (not entirely sure if it's out in the release yet as it was merged at the end of November) Simplenote should also have this fixed.

this was broken everywhere Monaco was in use and will now be fixed everywhere across the internet because it was a problem for Simplenote 😄

[2020-12-10 23:30] Feakster commented on #2503
Unfortunately not. Needs to be the aarch64 (arm64) build.

Could the builds have been omitted from the electron-builder script by accident?

[2020-12-11 06:32] codebykat opened #2514 "Note list: Crash in decorators with multi-word search query and expanded mode"
[code]

Crash is happening here: https://github.com/Automattic/simplenote-electron/blob/develop/lib/note-list/decorators.tsx#L17

And since it only happens in Expanded mode, seems to be because of the code here:

https://github.com/Automattic/simplenote-electron/blob/develop/lib/note-list/note-cell.tsx#L133

But that's as far as I was able to track it. Does not seem related to any specific search

[2020-12-11 19:18] #2514 closed, assigned to nobody

[2020-12-11 19:18] #2468 closed, assigned to nobody

[2020-12-11 19:52] codebykat opened #2517 "JSON import: Validate structure of JSON file"
Follow-up task from https://github.com/Automattic/simplenote-electron/pull/2446

See https://github.com/Automattic/simplenote-electron/pull/2446#discussion_r519026400

### Expected
Importing a JSON file that isn't a Simplenote export returns an errror.

### Observed
It crashes instead.

### Reproduced
1. Find a random .json file (not a Simplenote export)
2. Try to import it

[2020-12-11 19:53] #1105 closed

[2020-12-11 22:13] codebykat commented on #1683
Oh neat, this works now in Monaco.

[2020-12-11 23:19] #2336 closed, assigned to nobody

[2020-12-11 23:25] codebykat commented on #2379
I've fixed one and maybe two of the 2-3 issues reported here. (#2519)  I think there's still some inconsistent bug where hitting enter from a list item does not always create a new list, but I haven't been able to reproduce it so far.

Would appreciate if folks on this thread could try to test and see if there are still problems ❤️

[2020-12-12 01:59] ivoryguard opened #2522 "IME issues starting in 2.1 or 2.2: Japanese, Korean, Chinese; Windows only?"
# Maintainer Edit:

We have multiple issues of problems with IME input with various languages. I'm updating this issue to be used as a parent issue for all of them in hopes of tracking down the root cause of the problem.

In addition to this report (Korean) we also have reports of IME issues in Japanese (#2416, #2501, #2502) and Chinese (#2534).

# Original report below:

Inserting Korean characte

[2020-12-12 11:07] gubrist commented on #2251
Windows store has updated meanwhile to 2.2.0
I did not get any notifcation from Windows.

[2020-12-13 06:19] reginabally commented on #2502
Another similar report in 3558612-zen for Chinese input.

OS: Linux Mint 19.3 Tricia
App version: 2.2.0 ( Simplenote-linux-2.2.0-amd64)
Input software: fcitx-rime v1.2.9 (Chinese), but the problem exists as well while using English alone.

A video recording can be found in the ticket.

[2020-12-13 18:36] msilbers commented on #2522
also reported internally in #3565596-zen with video attached

- Simplenote version 2.3.0
- Windows 10
- MS Korean IME

[2020-12-15 06:50] gubrist opened #2525 "New note not assigned with tag"
### Expected
- A new note shall be assigned with the tag of the tag list
- As in pervious versions (1.x.x) and as in Android version

### Observed
- The new note has no tag.

### Reproduced

- I select a tag on the tag bar (left)
- I see the notes of this tag.
- I create a note.
- The new note has no tag.

### Where did you see the bug
- Windows 10
- Simplenote app version: 2.3.0

[2020-12-15 08:32] reginabally opened #2526 "Wrong highlighted position on Windows 10"
Reported in 3567743-zen.

### Expected
The user expects the search result was highlighted at the correct position, i.e. on the search text.

### Observed
It was reported that the highlighted section of the search result is off position from the search text.

### Reproduced

1. Log in to the Simplenote app on Windows 10.
2. Type a search keyword, e.g. prescrizióne
3. See that the highlighted search

[2020-12-15 13:50] elecalion opened #2527 "Sync is broken again while typing"
### Expected

Sync operation should not overwrite what I have typed in editor window.

### Observed

Sync operation overwrite what I have typed.
Text will be deleted OR the same text will be appended somewhere.

### Reproduced

1. Type in
2. Sync is triggered, and the sync icon is rolling
3. Continue typing

ex.

[code]
I got:
[code]

### Where did you see the bug

- System Make: NA
- System Model

[2020-12-15 20:24] codebykat commented on #2510
Closing pending more info.

[2020-12-15 20:24] #2510 closed, assigned to nobody

[2020-12-15 20:25] codebykat commented on #2525
Thanks @gubrist, this is a duplicate of #2423.

[2020-12-15 20:25] #2525 closed, assigned to nobody

[2020-12-15 20:25] codebykat commented on #2526
We really need some screenshots to be able to investigate this. I wonder if it has something to do with accented characters.

[2020-12-15 22:27] cpelley commented on #1069
Assuming that publishing the image elsewhere isn't an option/desirable (google drive, github via ghpages, gitlab pages etc.), one ~workaround is to encode your images to base64 and include them in your notes that way.

imagemagick (linux) will do this encoding for you or otherwise there are plenty of online converters available (example: https://base64.guru/converter/encode/image)

[code]

This ha

[2020-12-16 12:18] rezzap commented on #2526
The user has confirmed using Windows 10 IME logged in at https://app.simplenote.com (https://app.simplenote.com)
with Firefox 83.0

This sounds like the issue here: https://github.com/Automattic/simplenote-electron/issues/2416

Screenshot sent by user:

![image(1)](https://user-images.githubusercontent.com/10325627/102348860-6364dc80-3f9a-11eb-8381-c752cf28e8c3.png)
![image(2)](https://user-images

[2020-12-16 15:35] djordjeandrejevic opened #2528 "Tag isn't automatically added when creating a new note"
In recent Simplenote releases (Simplenote 2.0.0 and above), tag isn't automatically added when creating a new note.

This can cause certain undesired behavior for users who are used to work with one tag selected in the left sidebar menu.

For instance, if I select some tag in the left sidebar, then create a new note, after which I click on any other note in the notes list - newly created note will

[2020-12-16 17:55] codebykat commented on #2528
Thanks @djordjeandrejevic, this is a duplicate of #2423.

[2020-12-16 17:55] #2528 closed, assigned to nobody

[2020-12-16 19:26] dmsnell commented on #2527
thanks for reporting @elecalion. this is surprising. are you able to reliably reproduce it? I'm following your steps but it's not acting up. is there anything odd about your setup? weird network issues? running inside a virtual machine? you have Simplenote open to the same account editing the same note on multiple devices (such as this one plus a phone)?

[2020-12-16 20:25] dmsnell commented on #2526
@belcherj I believe this to be the result of our search algorithm in `note-content-editor::searchMatches` and is inevitable if we try to perform locale-sensitive search without adjusting result indices

I thought also that we had seen this issue before but I can't find it now.

[2020-12-17 04:40] codebykat opened #2530 "Editor steals focus from search field on load"
If you load the page and immediately start typing a search, you'll find yourself typing in the note as the editor component calls `focus()` in `componentDidMount`.

Unfortunately without this, nothing at all is focused by default. We should check if any text field has focus and only steal focus if nothing is focused.

[2020-12-17 06:04] poojashetty18 commented on #2251
Another one here #3573024-zen
Windows 10 Home
Processor: Intel(R) Core(TM) i5-6400 CPU @ 2.70GHz 2.71GHz
Installed memory: 8.00 GB
System Type: 64-bit Operating System, x64 based processor

The version of the Simplenote (that cannot be updated) is:
1.15.0

Suggested to manually update

[2020-12-17 10:08] A-blette opened #2532 "Spell check no longer works since 2.0"
Hello,
Since update 2.0 the spell check no longer works (in french).

### Expected
So when I write a word that doesn't exist I would like it to be underlined in red.

### Observed
Spelling errors are not underlined in red...

### Reproduced
I don't know how to reproduce this bug, but I tried this :
- I only updated the software on a French Wondows 10 pc.
- When I uninstall and reinstall the proble

[2020-12-17 17:31] codebykat commented on #2532
Thanks @jeandesentommeures. We unfortunately had to remove this functionality as of 2.0 for technical reasons, but we're hoping to bring it back in future. We do know many people rely on it! Closing in favor of #2410.

[2020-12-17 17:31] #2532 closed, assigned to nobody

[2020-12-19 09:56] zhihan526 opened #2534 "Chinese unfriendly typing experience....!!!"
Hey there:

I came across problems while using Simplenotes after 2.0.0. The problem I'm asking here did NOT exist in 2.0.0, but in 2.1.0 to 2.4.0 beta(I tried today)

![image](https://user-images.githubusercontent.com/61249030/102686464-f021cb80-4222-11eb-996c-3ec9777112cd.png)

It's like this, in the top-left corner of the photo, the typing thing is blizzard. In normal typing experience as I woul

[2020-12-19 13:19] haydnhkim commented on #2522
I have the same problem on macOS.
- Simplenote version 2.3.0
- macOS Catalina 10.15.7
- 2-Set Korean

[2020-12-19 19:02] codebykat commented on #1626
Partial implementation in #1717, abandoning for now.

[2020-12-19 19:02] #1626 closed

[2020-12-19 22:18] zemariagp opened #2535 "auto detect subject / tag"
### What
Simplenote could go through each note and (with a little bit of NLP) figure out what it is about and add (if the user so wishes) it to a tag. this wouldn't be perfect but i'd prefer it over having most of my notes uncategorized (i'm a chaotic person).
### Why
the problem with taking lot's of notes is that they get spread all over.
### How
a feature called "auto organize" could be turn on

[2020-12-19 23:04] zemariagp commented on #2396
exact same issue here, simplenote 2.4.0-beta2 on mac os X catalina

[2020-12-20 02:30] kamektx commented on #2502
Also in my environment.

OS: Windows 10 Home 20H2 64bit
Version: 2.2.0 (Installed via Microsoft Store)
IME: Google Japanese Input

It seems there's no relevance to the type of IME.
There is also a bug that inline input in IME fails from the time the application is launched until the window is redisplayed in some way. Simplenote App is now very awkward for users who use IME such as Japanese and Chi

[2020-12-21 03:12] KokkieH opened #2537 "app.simplenote.com - Search broken in Safari"
### To reproduce:

1) Log into app.simplenote.com in Safari
2) Open the developer console
3) Type anything in the Search field above the notes list.

### Expected

To see notes matching my search term, with the search term highlighted in the notes.

### Observed

The screen goes completely blank, with a syntax error appearing multiple times in the browser console:

<img width="1082" alt="Simplenot

[2020-12-21 05:40] reginabally commented on #2534
Another similar reported in 3574944-zen with video recording attached in the ticket. Windows 10 (64-bit), Simple app version 2.3, Chinese IME (Full Pinyin, Simplified Chinese).

The user was trying to type the Chinese character 我 which requires only two keystrokes to enter "w" and "o" but we can hear that he typed "w" twice and then "o" to get the text.

[2020-12-21 05:43] reginabally commented on #2502
Another report in 3574944-zen. Windows 10 (64-bit), Simple app version 2.3, Chinese IME (Full Pinyin, Simplified Chinese). A screen recording can be found in the ticket.

[2020-12-21 06:21] zoubei commented on #2534
I'm about to open an issue when I see this issue already exited.
The is app is not compatible with Chinese Input Method,
Wish this bug can be fixed quickly.

[2020-12-21 19:04] dmsnell commented on #2396
found the issue: it was my mistake back a few months ago, sorry about that.

when we are initializing Simperium we're using the wrong app name, regardless of what's in the local config. fixing this involves going back to using the config value, which I have proposed in #2536

[2020-12-21 19:58] codebykat commented on #2537
CRUD. Thank you @KokkieH ! I will get this fixed today. Moving to simplenote-electron repo.

[2020-12-21 20:18] #2537 closed, assigned to nobody

[2020-12-21 20:33] codebykat opened #2539 "UI spring cleaning: new icon pack"
New icon pack is here https://github.com/Automattic/Simplecons
All icons we use will need to be updated to the newest versions there.

[2020-12-21 21:19] codebykat commented on #2396
There was a similar report in 3588107-zen, I asked them to try the fix in #2536

[2020-12-21 21:48] codebykat commented on #2534
Thank you, this looks like a duplicate of #2522 and maybe a few other reports. Can someone advise what to install to test and replicate this on an English-language computer? I have tested with a few of the OSX IMEs and cannot replicate the issue so far. (Closing to track in #2522 but feel free to answer in either place.)

[2020-12-21 21:48] #2534 closed, assigned to nobody

[2020-12-21 21:50] codebykat commented on #2509
I think this is a probable duplicate of #2522

[2020-12-21 21:50] #2509 closed, assigned to nobody

[2020-12-21 21:51] codebykat commented on #2502
Closing to track in #2522

[2020-12-21 21:51] #2502 closed, assigned to nobody

[2020-12-21 21:51] codebykat commented on #2501
Closing to track in #2522

[2020-12-21 21:51] #2501 closed, assigned to nobody

[2020-12-21 21:57] codebykat commented on #2416
Tracking all of these in #2522

[2020-12-21 21:57] #2416 closed, assigned to nobody

[2020-12-21 22:10] codebykat commented on #2535
Hi @zemariagp, thanks for this interesting idea! It do have to say it's probably pretty far out of scope for a simple note-taking app. 😄  I'll add it to our feature requests (and others should still feel free to chime in here), but I'm closing this issue for now, as we only use GitHub to track bugs and our immediate roadmap.

[2020-12-21 22:10] #2535 closed, assigned to nobody

[2020-12-21 22:13] codebykat commented on #2368
Closing in favor of #2464

[2020-12-21 22:13] #2368 closed, assigned to nobody

[2020-12-22 07:53] jialiangZ opened #2540 "We need Chinese！"
### What

As I said, I am a user from China, I like this software, and I hope more people will like it, so I hope you can add a new language
### Why

For better promotion
### How

Thank you💖💖💖💖💖

[2020-12-22 12:43] poojashetty18 opened #2541 "Web App: Menu hightlight is not placed correctly on Safari"
### Expected
The highlighted menu should correctly be placed on the currently selected menu item

### Observed
On app.simplenote.com on Safari 14.0.2, the highlighted menu placement overlaps parts of the previous menu as well.

### Reproduced
1. Go to https://app.simplenote.com on Safari browser
2. Click on menu
3. This is how I see it:
<img width="1501" alt="Screenshot on 2020-12-22 at 16-33-18"

[2020-12-23 02:15] reginabally commented on #2457
Another report in 3592831-zen.

Rather, Arabic goes to the right, and English goes to the left
There is also another problem in the Arabic language in particular
When "select all" the selection appears on the left side!

I'm able to replicate this on macOS Big Sur 11.1, Google Chrome Version 87.0.4280.88 (Official Build) (x86_64) on the web app. I'm also asking for the user's OS and browser versio

[2020-12-23 02:30] reginabally commented on #2522
Another report in 3591028-zen.

And when that happens, the backspace, space, and enter key doesn’t work. It only occurs to Korean alphabet and on simplenote app.

* Simplenote version 2.2.0 (downloaded from Microsoft Store)
* Windows 10

[2020-12-23 03:43] codebykat commented on #2447
Heya @gubrist! The selected tag part is being tracked in #2423. I can't reproduce the issue with typing in the new note being blocked; is this still happening for you?

[2020-12-23 04:30] codebykat commented on #2379
Closing as I haven't seen this issue or any reports of it lately.

[2020-12-23 04:30] #2379 closed, assigned to codebykat

[2020-12-23 04:44] codebykat commented on #554
https://simplenote.com/2020/11/03/introducing-internal-links/ 😄

[2020-12-23 09:43] djordjeandrejevic commented on #2484
I've mentioned this also (along with few other things) in #2504.

[2020-12-23 16:23] rossanafmenezes commented on #2457
User came back with the following info:

It happens with Windows 10
With the special installation of Windows
And also with all browsers:
Microsoft Edge - Google Chrome - Opera

It happens with many of my devices:
- Dell OptiPlex OptiPlex 745_ Windows 10 Pro
- Dell OptiPlex 9010_ Windows 10 Pro
- Mac mini
- Toshiba laptop_ Windows 10 Pro

It doesn't happen with Android or iOS app

[2020-12-23 22:15] codebykat commented on #42
Monaco actually does this now, so this was implemented ~incidentally~ with a lot of hard and much-appreciated work by @dmsnell in 2.0.

[2020-12-23 22:29] codebykat commented on #1189
Done in #2351

[2020-12-23 22:31] codebykat commented on #798
This was updated and now selects text. We use J and K keys for note list navigation. #1983

[2020-12-23 22:32] codebykat commented on #799
#1983

[2020-12-23 22:46] codebykat commented on #624
This was part of the 2.0 rewrite.

[2020-12-23 22:54] codebykat commented on #983
This has been implemented, along with keyboard shortcuts.

[2020-12-24 03:20] reginabally commented on #2526
We have another similar report in 3594092-zen. The highlighted text position (and the text itself) moved away from its original position. There's a screenshot in the ticket showing this behavior.

[2020-12-24 18:23] dmsnell commented on #42
well, we added code to tell Monaco to move its cursor to the last position

it was an intentional enhancement performed as a result of being able to finally do so with the overhaul of the data/state system. it's not trivial either - it tracks remote updates that modify the note and accordingly moves the cursor position even when the note isn't open 😉

[2020-12-25 03:51] lithroller commented on #2522
The same, 2.2 and 2.3 on Windows 10 (Chinese and English version)

[2020-12-25 09:31] shved opened #2543 "Tags does not respect keyboard layout"
### Observed
Sorry for ignoring "expected-observed" template, its just much easyer to explain it as is. I'm russian and I use Simplenote mostly with my native language. I can't create a tag that is includes the `б` letter. This character simply does not printed out because in the tags input all commas `,` are ignored and russian `б` character is on the comma button of english layout. So it should

[2020-12-25 20:02] alex7899 commented on #2522
Same question from 2.3, In simplenote 2.30, Simplified Chinese input produces a serious error, please fix it! The details of the error are shown on youtube.

https://youtu.be/PQFMCkAVIT8

[2020-12-28 02:47] SaeedBaig opened #2544 "'N Results' bar blocks last line of long notes"
When I search for something, the last line of a long note (by "long" I mean has a scrollbar) is blocked or partially blocked by the bar telling you how many results are in that particular note (shown in screenshots below).

### Expected

I expect that the note's contents wouldn't be blocked by other UI elements.

### Observed

The last line of the note is blocked by the 'N Results' bar.

### Repro

[2020-12-28 17:48] #2396 closed, assigned to nobody

[2020-12-29 02:34] athletik commented on #2522
Not only for CJK input; in international keyboard layout for American English there exhibits **exactly the same** problem.

[2020-12-29 06:27] reginabally commented on #2522
Originally reported in 3570000-zen. Follow up details in 3603494-zen with a screen recording.

OS: Windows 10 Version 2004 Build 19041.685
App version: Version 2.2.0 (downloaded from Microsoft Store)

Another report on the web app when we asked if they can replicate it on the web app:

[2020-12-29 20:56] gubrist commented on #2447
Hi @codebykat

Thanks, the issue with typing in the new note being blocked has been solved with the latest upddate(s)

[2020-12-30 00:09] asor12 commented on #601
I would appreciate an archive function too. I don't want to see notes from many years ago whenever I open the app.

[2020-12-31 10:37] poojashetty18 commented on #2522
Another report in 3598633-zen  with video attached

When I type characters, only one character is displayed, and then the caret stops moving.
If I click somewhere else and then go back, the caret works again, but It doesn't solve the problem of not being able to type.
I guess that this is a common problem with double-byte characters.

- macOS app 2.3 version

[2020-12-31 19:17] jongpill commented on #2522
i use korean. and i got same problem above all.
i cant solve this matter.
i use laptop, and Simplenote from window store.
pls help us

[2021-01-04 11:36] zyga commented on #949
Bump. I'm using standard notes as a paying customer and on Ubuntu, though the snap, my spell checker follows system language. Ideally I would be able to switch to English for my writing without round-trip through an external editor _or_ without changing my system language.

[2021-01-04 18:59] rossanafmenezes commented on #1984
Another report here:

3600755-zen

Windows 10 Professional versions:

Version 2004 (OS Build 19041.685) and Version 20H2 (OS Build 19042.685)

· The current version of the Simplenote app

installed is Simplenote 2.0.0

· The exact steps you take to update the app

Simplenote 2.0.0 was installed as Administrator

Opened the App with User + Password credentials

Clicked Help > Check for Updates

Sim

[2021-01-04 20:47] codebykat commented on #2543
Thanks @shved, this is a duplicate of #2040. I really do intend to fix it sometime! 😓

[2021-01-04 20:47] #2543 closed, assigned to nobody

[2021-01-04 20:52] codebykat commented on #2544
Thanks @SaeedBaig, this is captured in #2331 but it's nice to have it as its own issue.

[2021-01-04 20:59] codebykat commented on #2522
We have better repro steps over at paFIJd-g3-p2 !

[2021-01-05 04:22] codebykat commented on #1737
Closing as the title prioritization was removed in the Great Rewrite of 2020.

[2021-01-05 04:22] #1737 closed

[2021-01-05 06:17] reginabally commented on #2457
Also reported in 3315357-zen on the web app.

OS: macOS Catalina version 10.15.5
Browser: Google Chrome 87.0.4280.88 (Official Build) (x86_64) and Safari version 13.1.1 (15609.2.9.1.2)

[2021-01-05 07:49] codebykat commented on #2527
Closing for lack of information and no other reports, please comment or open a new issue if you're still having trouble!

[2021-01-05 07:49] #2527 closed, assigned to nobody

[2021-01-05 07:50] codebykat commented on #2540
Thanks @jialiangZ! Localization is on our roadmap, please stay tuned :)

[2021-01-05 15:22] JESii commented on #1021
Neither of the aforementioned alternatives work in Chrome on MacOS -- any fixes available for that? Markdown without line breaks is not a pretty thing. The linebreaks show up in the editing pane, but not in the "summary" pane on the left.
And thanks for a great tool!

[2021-01-05 23:08] codebykat commented on #2309
After fixing #2548 I had a hunch this one might have been related, but I can't reproduce it. I tested on several notes, including on a note created on Windows (which would have `\r\n` line endings instead of `\n`). It's possible these line endings are properly handled in the iOS app now. Let's reopen if we get any further reports.

[2021-01-05 23:08] #2309 closed, assigned to nobody

[2021-01-05 23:16] codebykat commented on #2379
OMG we were able to reproduce it and fix it (see #2548)

[2021-01-05 23:55] codebykat commented on #1984
Let's track any ongoing issues in #2251. Folks who are on 2.0 had a known issue and will need to manually upgrade. It should be fixed from 2.1 onwards.

[2021-01-05 23:55] #1984 closed

[2021-01-06 00:00] codebykat commented on #1021
@JESii Either of the suggested alternatives (`<br>` or `&nbsp;`) should work on Chrome. When you say "summary" pane do you mean the note list? We do compress line breaks etc. over there so that you can see more of your note content when trying to locate a note - it's not really meant to be a preview pane, by design.

(Edited as I submitted too soon --) If you're seeing a bug with this, can you ple

[2021-01-06 00:02] #2447 closed, assigned to nobody

[2021-01-06 00:04] codebykat commented on #42
Sorry @dmsnell, my bad. Edited my original remark 😇

[2021-01-06 00:21] codebykat opened #2549 "Keyboard shortcuts are displayed as "Ctrl" in browser, including on the Mac"
We could test this in a more sophisticated way

https://github.com/Automattic/simplenote-electron/blob/develop/lib/dialogs/keybindings/index.tsx#L43

and

https://github.com/Automattic/simplenote-electron/blob/develop/lib/utils/platform.ts#L4

### Expected
Keybindings should display with Cmd on Mac browsers

### Observed
Keybindings are displayed as Ctrl unless using Mac on Electron

[2021-01-06 00:26] #2544 closed, assigned to nobody

[2021-01-06 12:48] rossanafmenezes commented on #2421
another report  here: 3618534-zen

The Console prints this when they try to exit.

[code]

This is on:

Simplenote 2.3.0
Win 10 Pro 2004

[2021-01-06 14:46] JESii commented on #1021
Gotcha; thanks…jon
Stay safe; be well.

(Admin note: Edited to remove user's email signature which included identifying information.)

[2021-01-06 18:58] hadisfr commented on #1572
Any progress here?

In recent versions problem appears in more general use cases:

Here is a more detailed example:

[code]

GitHub MarkDown rendering:
<hr>
تست می‌کنیم

- یک مثال دیگر
* یک مثال

* [x] یک مثال جدید
* [ ] یک مثال جدید دیگر

* [ ] test
*  [X] another test

<hr>

![image](https://user-images.githubusercontent.com/24562441/103808310-06c28200-506d-11eb-8a36-8fed7bf0f97b.png)

SmpleNote

[2021-01-07 12:21] mx202 commented on #2511
Yes, this bug must be fixed.

Where did you see the bug?
OS: Windows 10, Android, Web App, Linux.
Simplenote app version: 2.3.0

[2021-01-07 23:13] codebykat commented on #2541
Thanks @poojashetty18, working on a fix for this now.

[2021-01-07 23:28] codebykat opened #2553 "UI spring cleaning: revisit scrollbar styles for search results highlighting"
Pulling this out of #2331 to possibly be addressed later.

[2021-01-07 23:29] #2331 closed, assigned to nobody

[2021-01-08 10:03] pachlava commented on #2410
Also requested in 3616436-zen

[2021-01-08 11:53] 793383996 commented on #2509
2.0 is ok

[2021-01-08 12:18] 793383996 commented on #2510
It can now be downloaded.
I used version 2.0. this version is very good. There are no problems except that I can't open the http link. Thank you.
How can I sponsor you?

[2021-01-08 12:20] 793383996 commented on #2522
My Windows has this problem.
There is no problem with using 2.0 now.

[2021-01-08 14:21] pachlava commented on #2410
Another request in 3630193-zen

[2021-01-08 19:41] #2481 closed, assigned to nobody

[2021-01-08 19:42] #2541 closed, assigned to nobody

[2021-01-10 14:07] derion1 commented on #601
I can see this feature has been requested for more than three years now. I don't think it is too much to ask for an archive feature. It is quite essential when taking notes.
It is too cluttered to have all the notes in the left pane, and it is not a solid solution to keep archived stuff in the trash bin, as it might/will eventually get deleted. Besides, there should be a clear distinction between

[2021-01-11 06:37] codebykat opened #2560 "UI spring cleaning: notes list"
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc5d768735855a07651d9
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc5e81bc37159baf42a47

- [x] Verify all colors
- [ ] There's a timestamp shown?
- [x] Three lines instead of four for Expanded mode
- [x] Blue highlight on selected note [dark mode]
- [x] Text is lighter on selected note [dark mode]
- [x] Add mouse

[2021-01-11 06:40] codebykat opened #2561 "UI spring cleaning: menu bar and search"
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc589cc874a566eec63cf
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc5305a7be757d21b6cc1

* Move search bar below navigation
* Add All Notes (section) title

<img width="975" alt="Screen Shot 2021-01-10 at 10 39 39 PM" src="https://user-images.githubusercontent.com/52152/104152555-c298ef80-5394-11eb-8b9c-5a66ccfa6

[2021-01-11 06:43] codebykat opened #2562 "UI spring cleaning: search UI"
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fd77f1846903987b1b40e75
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fd77f196e43637c2cb2889f

* Re-style section headers (Tags, Notes)
* Search highlight colors
* ~Re-style search input~ Done in #2561

<img width="898" alt="Screen Shot 2021-01-10 at 10 41 15 PM" src="https://user-images.githubusercontent.com/52152/104

[2021-01-11 06:46] codebykat opened #2563 "UI spring cleaning: Top menu bar"
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc5303183bb6483b4e9c8
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc59220aab754ed6ecd18

* !Add new note icon to top left when sidebar is collapsed~ Resolved in #2596
* ~Add checklist icon to menu~ Addressed in #2603
* ~Add new info and ... buttons~ Let's call this part of #2569

<img width="235" alt="Screen Shot

[2021-01-11 06:48] codebykat opened #2564 "UI spring cleaning: tag input"
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc5303183bb6483b4e9c8
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc59220aab754ed6ecd18

* (x) on hover tag pill
* change Add a tag... to Add tag...
* verify color values

<img width="337" alt="Screen Shot 2021-01-10 at 10 47 45 PM" src="https://user-images.githubusercontent.com/52152/104152957-ec9ee180-5395-11eb

[2021-01-11 06:50] codebykat opened #2565 "UI spring cleaning: revisions slider"
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc5329259b45d0a0dddf0
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc594b0ad775786578d24

* Move to bottom of note and re-style

<img width="662" alt="Screen Shot 2021-01-10 at 10 49 55 PM" src="https://user-images.githubusercontent.com/52152/104153056-312a7d00-5396-11eb-8727-e14e8e3aa127.png">

<img width="691" a

[2021-01-11 06:54] codebykat opened #2566 "UI spring cleaning: tags list"
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc5352163646a2d1b37ea
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc5944b88d656997f593a

* Re-style section headers
* Remove blue / verify color values
* background color in dark mode
* Tag list should now appear on top of the content rather than pushing everything over

<img width="257" alt="Screen Shot 2021-01-

[2021-01-11 06:56] codebykat opened #2567 "UI spring cleaning: Edit tags"
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc5347608905ee4ae2dd3
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc59345ce0c66fcd151a1

* Move delete icon to right / change to trash can instead of x

<img width="346" alt="Screen Shot 2021-01-10 at 10 55 19 PM" src="https://user-images.githubusercontent.com/52152/104153329-f1b06080-5396-11eb-8912-3e0042e25341.

[2021-01-11 06:57] codebykat opened #2568 "Add delete tag confirmation"
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbdd884623ca5a8c957125
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbdd887d9c865c6d783840

<img width="374" alt="Screen Shot 2021-01-10 at 10 57 31 PM" src="https://user-images.githubusercontent.com/52152/104153457-3fc56400-5397-11eb-8f45-980b04dc5305.png">

<img width="372" alt="Screen Shot 2021-01-10 at 10 57 35

[2021-01-11 07:06] codebykat opened #2569 "UI spring cleaning: note info"
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc5316021e45de3fe085a
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc5902969dd68862b12cf

https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc5305a7be757d21b6cc1
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc589cc874a566eec63cf

* The current note info panel changes to two items

[2021-01-11 07:09] codebykat opened #2570 "UI spring cleaning: Settings"
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc52ff862f4675ba2fd81
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc58e0a996a61cb2a2dbd

Basically a total overhaul, see designs:

https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc607629dbc5680a3485c
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc609b2baf1561c28e1bd

<img wid

[2021-01-11 07:13] codebykat opened #2571 "UI spring cleaning: Collaborate menu"
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc52c9669f363414fed84
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc532531e52615d9dee13
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc52e748a2f5d62c4333f
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5fbbc532d9988f589647eca5

https://app.zeplin.io/project/5d795a3d8ed5261aa146e

[2021-01-11 09:41] pachlava commented on #2511
+1 coming from here: z-3619659

Desktop OS version: Linux Mint 20
Simplenote desktop app version: 2.3.0

[2021-01-11 10:00] mokagio opened #2572 "Adding emoji via macOS picker sometimes makes cursor jump or duplicate lines"
### Expected
When adding an emoji from the macOS picker, the emoji is added and the cursor moves after it.

### Observed
The results I'm getting are not-100% reproducible, but what I'm experiencing is always (?) after adding at least one emoji

![simplenote-emoji](https://user-images.githubusercontent.com/1218433/104166624-2ed82980-544f-11eb-8341-6a9a6928dd0f.gif)

### Reproduced

1. On macOS, ope

[2021-01-11 14:53] athletik opened #2573 "Strange bug with quotation marks/colons in international keyboard or Chinese input"
This problem is recreated under Simplenote v2.2.0 ~ 2.5.0 beta1.
- OS: Linux Mint 19.1
- Chinese input: rime v1.2.9

https://user-images.githubusercontent.com/75654739/104196969-66e76880-545f-11eb-8098-19850ed39fe2.mp4

https://user-images.githubusercontent.com/75654739/104196993-6e0e7680-545f-11eb-8a95-db82a920c395.mp4

[2021-01-11 16:52] pachlava commented on #2251
+1 from 3633297-zen:

[2021-01-11 19:23] dmsnell commented on #2568
would be nice to not only ask for confirmation but explain why we want confirmation

[2021-01-11 23:23] codebykat commented on #2573
Thanks @athletik. This seems similar to #2522. For now I will close it as such but if we find a fix to #2522 and this still persists, we can re-open.

[2021-01-11 23:23] #2573 closed, assigned to nobody

[2021-01-12 12:53] pachlava commented on #2522
User reporting same in 3636698-zen. Video file is attached to ticket.

[2021-01-12 20:46] codebykat commented on #2560
~@SylvesterWilmott pointed out that the blue color is currently wrong for the pinned icon as well. Should be `blue30` not `blue20`.~ This has been fixed

[2021-01-12 21:56] KraXen72 opened #2574 "css variables for dark theme"
Hi, please use css variables for dark theme, so i can create my own dark theme for app.simplenote.com. with the current css its really hard to make a custom theme (for examle if i wanted solarized dark)

[2021-01-13 01:44] codebykat commented on #2574
Thanks @KraXen72, the styles are definitely due for an overhaul. Closing this for now but it's on our radar!

[2021-01-13 01:44] #2574 closed, assigned to nobody

[2021-01-13 03:20] codebykat commented on #2251
@pachlava Was this user on 2.0.0 or a later version?

[2021-01-13 03:27] codebykat commented on #2510
Thanks @793383996! The issue with the http links was fixed in version 2.2.0. You can always download the latest version from https://github.com/Automattic/simplenote-electron/releases .

As for sponsoring us, we're part of Automattic, the company that makes WordPress.com, so we don't need to charge for Simplenote. Just keep using the app and sending us your feedback!

[2021-01-13 08:29] gubrist opened #2576 "Consolidation of duplicated tags"
### Expected
I have duplicated tags (two tags with the same name).
I delete one of the two tags.
The notes shall remain in the remaining (single) tag.

### Observed
The notes loose the tag at all.
(I have many notes.)

### Reproduced
see above

### Remark
The new appearance of duplicated tags is avoided with Simplenote versions starting with 2.x

### Where did you see the bug

- OS: Windows 2010
-

[2021-01-13 09:46] pachlava commented on #2251
@codebykat They did not mention, and seeing that the problem looks exactly like the one described here, I did not ask and just I gave them instructions on how to install store-free version, and asked if this help with the issue. Should I additionally ask for the version they had?

[2021-01-13 12:11] sandymcfadden commented on #626
This is an old issue. After testing in the most recent LTS version of Xubuntu 20.04 the icon shows in the appropriate places including the panel at the top and application switcher. Closing.

[2021-01-13 12:11] #626 closed

[2021-01-13 12:26] SpacingBat3 commented on #2503
See this issue: [#5422](https://github.com/electron-userland/electron-builder/issues/5422#issuecomment-742105240).

Also consider moving from the `electron-builder` to `electron-forge` – one of advantages of that would be the ARM `*.deb` and `*.rpm` support (tested the build on the `AArch64` host and target).

[2021-01-13 14:08] jroedel opened #2577 "Linux accent usage sometimes blocks further input"
I'm using Simplenote 2.4.0 on Ubuntu 20.04 with the latam DBus keyboard. Frequently (but not every time), when I hit the "accent" key on my keyboard (my physical keyboard is the US layout, but I have to use the latin american keyboard to type in Spanish, so on mine it's the '[' to put an accent, then I press 'o' to form ó), I can no longer type anything or use the backspace (for some reason the de

[2021-01-13 15:30] sandymcfadden commented on #1151
I'm going to move this issue to our internal feature request tracker for something to look at again in the future.

[2021-01-13 15:30] #1151 closed

[2021-01-13 18:20] sandymcfadden commented on #1113
I've moved this to our internal feature request tracker for future consideration and am closing this for now.

[2021-01-13 18:20] #1113 closed

[2021-01-13 22:36] codebykat commented on #2251
@pachlava If their issue is solved there's no need to get this information, but it would be good to know in the future if folks are still reporting issues. We haven't had many reports of this lately so if we do have reports of a bug in a version later than 2.0.0, we would want to look into it. Conversely if someone has 2.0.0 and can't update, and their issue is resolved with a manual update, we do

[2021-01-14 04:16] ericamQA commented on #2423
Another instance in 3642690-zen

[2021-01-14 11:32] svenfinger opened #2578 "Make adding list items more intuitive when using Markdown formatting"
### What
When adding list items with the asterisk sign * and hitting the enter key, I would expect that a new line is added, and the new line also starts with an asterisk sign in front. If I hit enter an additional time, the line will return to a normal line (without an asterisk) and no new line is created (staying on the current line). This is also how it usually works in text formatting software

[2021-01-14 12:41] sandymcfadden commented on #2578
Hi @svenfinger thanks for the report. This is the way things are meant to work and in my testing the lists do work with or without Markdown formatting enabled on a note.

Are you able to provide some more details about which app you are using where this doesn't happen for you?
If it is the web app information about the browser you are using would be helpful as well.

[2021-01-14 12:55] sandymcfadden commented on #2161
@belcherj is this something you'd be able to test sometime? From what I can gather it requires a device that supports S Mode and I believe you said you had one.

[2021-01-14 12:57] svenfinger commented on #2578
Hey @sandymcfadden, that's great to hear! Then this might be bug and not a feature request. 🙂

I'm using the desktop app (v2.2.0) on Windows and when I hit enter in a list it's just a new blank line and not a new list item.

[2021-01-14 13:24] sandymcfadden commented on #1393
I've tested this in the latest Ubuntu version and am able to shrink the app size quite small way less than a quarter of my screen when using a wide display. Closing.

[2021-01-14 13:24] #1393 closed

[2021-01-14 13:32] sandymcfadden commented on #2578
Thanks @svenfinger I've tested again now on the latest Windows app and it is working for me there as expected as well. I'm going to close this issue for now. Could you contact us through support so we could do some troubleshooting there? You can reach it at support@simplenote.com.

As a couple of first steps, you may want to try uninstalling and reinstalling the app and see if it works in the web

[2021-01-14 13:32] #2578 closed, assigned to nobody

[2021-01-14 13:46] sandymcfadden commented on #1396
Looks like things have been refactored since this was opened. This input is now in the [Slider component](https://github.com/Automattic/simplenote-electron/blob/develop/lib/components/slider/index.tsx).

May want to approach it similar to how we work with the [Search input](https://github.com/Automattic/simplenote-electron/blob/develop/lib/search-field/index.tsx#L81).

[2021-01-14 15:01] sandymcfadden opened #2579 "Mac dictation results in duplicated text using Firefox in web app"
When looking at https://github.com/Automattic/simplenote-electron/issues/1567 I tried to test to see if it was something with voice to text in general. I tried to use the built in Mac dictation option.

### Expected

I expected as I spoke the text would appear in the note.

### Observed

The text did appear. As I finished with the text I wanted to input the text would suddenly duplicate.

### Repr

[2021-01-14 15:21] sandymcfadden commented on #1715
Here is a screen recording of this happening

![Screen Capture on 2021-01-14 at 11-20-39](https://user-images.githubusercontent.com/1326294/104610627-ac23ba00-565a-11eb-9615-a659bd6579d3.gif)

[2021-01-14 15:32] sandymcfadden commented on #1728
It doesn't look like this is just the owner not showing in the list of collaborators.

If the owner creates a note, adds two different collaborators they both show for the owner in the list.
Neither of the other collaborators seem to have a way to show that the note is being collaborated on or by who.

[2021-01-14 16:00] sandymcfadden commented on #1962
Just tried installing the latest version Simplenote-linux-2.4.0-amd64.deb and it installed on Debian 10 without issue. Closing for now.

[2021-01-14 16:00] #1962 closed

[2021-01-14 16:04] sandymcfadden commented on #1974
I've just tested this with the latest version 2.4.0 on Debian 10 and everything installed and ran as expected.
Closing for now but please reopen again if you do notice the same again.

[2021-01-14 16:07] sandymcfadden commented on #1976
This seems to be related to [this issue](https://github.com/Automattic/simplenote-electron/issues/1715). I'm going to close this in favor of it.

[2021-01-14 16:07] #1976 closed

[2021-01-14 16:08] sandymcfadden commented on #1715
From [this issue ](https://github.com/Automattic/simplenote-electron/issues/1976)the same happens with a left taskbar and close Simplenote when it is snapped to the right side.

[2021-01-14 16:11] sandymcfadden commented on #1977
Thanks so much for the offer. Localization like this is something we are tracking in our internal feature request system and something we plan to look at sometime in the future. For now I'm going to close this issue but I've added to our tracker for this request.

[2021-01-14 16:11] #1977 closed

[2021-01-14 16:34] sandymcfadden commented on #1980
I tested installing the latest version of Simplnote on Fedora 32 using the same command as above
`sudo rpm -ivh Simplenote-linux-2.4.0-x86_64.rpm`. It installed properly without any errors.

I'm going to close this for now as it seems like this could be resolved in one of the updates since this was reported. If you are still having issues though please reopen and let us know.

[2021-01-14 16:34] #1980 closed

[2021-01-14 16:52] lengockyquang commented on #1844
totally agree with @Jairjua , I'm using simplenote with ubuntu 20.04. When i start simple note, it kinda slow to completely open. I think it would be better if dev team can make it load faster with local data and background sync for new notes.

[2021-01-14 17:08] codebykat commented on #2578
This fix was in 2.4.0 so @svenfinger no need to contact support, just update to the latest version!

[2021-01-14 18:10] svenfinger commented on #2578
Thank you for the hint, @codebykat. In the Windows Store I only get offered v2.2.0, even if I search for updates manually.

So, I updated to the latest version by manually downloading the .exe on v2.4.0 from the GitHub Releases and I tried it in the web app (which is for me at v2.4.0-beta2). But in both ways, it's not working for me.

I now tried v2.5.0-beta1 and there it's working for me again. 😉

[2021-01-14 18:43] codebykat commented on #2578
Thanks for the reminder, @svenfinger, we need to update web to 2.5.0-beta today 😅  I'll double-check on the Windows store updates, it's odd that it's not offering an update to the latest version over there.

[2021-01-15 00:29] codebykat commented on #2579
I suspect this to be the same issue as our old friend #2394, I guess we'll see if they ever release that upstream fix.

[2021-01-15 00:33] codebykat commented on #1844
The app does use local storage and background sync. As @dmsnell said, we are always trying to find ways to improve performance. Do either of you have a large number of notes, very long notes, slow network connections, or anything else that might help us narrow down the problem?

[2021-01-15 00:57] lengockyquang commented on #1844
I have only 2 notes (not to long) at that time. My laptop is kinda old ( dell inspiron 3543 ), but it already use SSD with 8gb ram, so i dont think hardware is the problem. But when i start simplenote, it took me at least 30s to see the application window appear
As you said, maybe the connection between simplenote servers and mine having some issue may cause high latency

[2021-01-15 08:04] jbouchery commented on #2577
Same for me with a French keyboard trying to use "^" to use letters like "ê" ("^" + "e"), get stuck after typing "^".

I have to switch to another note and back to continue typing but can't find a solution to type "ê".

- OS: Pop_OS
- OS version: 20.10
- Simplenote app version: 2.4.0

[2021-01-15 12:38] sandymcfadden commented on #2038
In testing this with the latest version 2.4.0 on OpenSUSE I didn't get any message about the libXtst dependency but I wasn't able to install it because of the error "Nothing provides `libuuid` needed by simplenote-2.4.0-19459.x86_64"

In searching it looks like for OpenSUSE `libuuid-devel` may need to be used instead?

<img width="550" alt="Screen Shot 2021-01-15 at 8 36 52 AM" src="https://user-i

[2021-01-15 13:00] sandymcfadden commented on #2124
Thanks so much for the suggestion. I've added this request to our internal feature request tracker to keep in mind for future possibilities.

[2021-01-15 13:00] #2124 closed, assigned to nobody

[2021-01-15 13:31] pachlava commented on #2251
3644440-zen

[2021-01-15 13:49] sandymcfadden commented on #2187
@Bey0ndB1nary just wanted to check in again to see if this was resolved with one of the newer versions. Latest is 2.4.0 currently.

[2021-01-15 14:18] sandymcfadden commented on #2199
This seems to happen as well if you type in a list of tags separated by spaces.
Once you get to the end you can press enter or return and it will turn them to individual tags and then you can remove individual ones.

![Screen Capture on 2021-01-15 at 10-15-44](https://user-images.githubusercontent.com/1326294/104737593-d76dde00-571a-11eb-86d0-6e460f53e9cd.gif)

[2021-01-16 14:46] spanderman commented on #1974
Hi @sandymcfadden

I am trying to run this file:

https://github.com/Automattic/simplenote-electron/releases/download/v2.4.0/Simplenote-linux-2.4.0-x86_64.AppImage

and the error is still the same:

./Simplenote-linux-2.4.0-x86_64.AppImage
[5631:0116/143550.453734:FATAL:setuid_sandbox_host.cc(158)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without s

[2021-01-16 15:34] KraXen72 opened #2582 "Make it so you can edit the text while you are in preview mode"
Make it so you can edit the text while you are in preview mode. great example of this is vivaldi notes:
(gif:)
![gif](https://cdn.discordapp.com/attachments/704792091955429426/800025088287178772/Rec_2021_01.16_1632.gif)

[2021-01-17 22:35] ericamQA commented on #2522
Another report in 3638596-zen

[code]

[2021-01-17 23:21] codebykat commented on #2582
Thanks @KraXen72, we have a number of previous requests for something like this (live preview or side-by-side editing). It's something we'll consider in the future but it's not on our immediate roadmap so I'm closing this for now.

[2021-01-17 23:21] #2582 closed, assigned to nobody

[2021-01-18 02:40] reginabally commented on #2429
Another similar report in 3642690-zen.

The user wasn't able to delete the duplicate tag in Step 3 on the web app as well as the Electron app version 2.4.0 on Windows 8. The tag removal works on iOS app version 4.20.

[2021-01-18 11:07] sandymcfadden commented on #2253
Thanks so much. We've had a couple of requests for this before and are tracking it in our internal feature request tracker. I've added your request there as well and am closing this for now.

[2021-01-18 11:07] #2253 closed, assigned to nobody

[2021-01-18 11:37] sandymcfadden commented on #2245
Sent a follow up to the user to see if they are still having the issue and asking to look at a couple more parts #3659692-zen
I did some testing and couldn't duplicate what they were showing.

[2021-01-18 11:40] sandymcfadden commented on #2254
This is the same report as here https://github.com/Automattic/simplenote-electron/issues/2245
I've reached out to see if this is still happening. Closing this one.

[2021-01-18 11:40] #2254 closed, assigned to nobody

[2021-01-18 11:42] sandymcfadden commented on #2259
Is this still happening if you update to the latest version of Simplenote? We have version 2.4.0 available currently. In my testing the note history is showing the versions properly.

I'm going to close this for now but if you are still having the issue in the newest version please let us know.

[2021-01-18 11:42] #2259 closed, assigned to nobody

[2021-01-18 11:45] sandymcfadden commented on #2291
I'm going to close this as things seem to be working well on Windows 10.
Windows 7 no longer being supported by Microsoft so I'd say the impact here should be little.

[2021-01-18 11:45] #2291 closed, assigned to nobody

[2021-01-18 11:53] sandymcfadden commented on #2326
Did some testing and with the latest Windows version and MacOS version the window position seems to be saved.
The last note is not remembered in either.
The iOS version does seem to remember the last note that was opened though.

[2021-01-18 12:02] sandymcfadden commented on #2359
I'm going to close this issue in favor of https://github.com/Automattic/simplenote-electron/issues/1645 and the discussion thread above about tags in general.

[2021-01-18 12:02] #2359 closed, assigned to nobody

[2021-01-18 13:08] sandymcfadden commented on #2441
Some changes to the search and menu bar are happening here https://github.com/Automattic/simplenote-electron/issues/2561

[2021-01-18 13:25] sandymcfadden commented on #2479
We're looking at this here. Going to close this issue in favor of it. https://github.com/Automattic/simplenote-electron/issues/2563

[2021-01-18 13:25] #2479 closed, assigned to nobody

[2021-01-18 13:59] KraXen72 commented on #2561
looks clean!

[2021-01-18 14:27] sandymcfadden commented on #2486
This seems to go along with the issue here https://github.com/Automattic/simplenote-electron/issues/2134 where there is no System theme showing on Windows even though that is what is being used by default. Closing this one for now.

[2021-01-18 14:27] #2486 closed, assigned to nobody

[2021-01-18 14:32] sandymcfadden commented on #2506
Thanks so much. We've had this requested a few times in the past and are tracking it in our feature request tracker internally. I will add your request to it and close this for now.

[2021-01-18 14:32] #2506 closed, assigned to nobody

[2021-01-18 14:38] sandymcfadden commented on #2540
I've added this for our internal feature request tracker and will close for now.

[2021-01-18 14:38] #2540 closed, assigned to nobody

[2021-01-18 14:40] sandymcfadden commented on #2576
Related to the issue here as well https://github.com/Automattic/simplenote-electron/issues/2429

[2021-01-18 17:39] FedeCuci commented on #2566
+1 for me. I would instead opt to include a 'Tags' menu in the original view of the app instead of in the options menu. I have included a picture of what I mean. Sorry for my terrible html/css skills. Basically allow the user to browse tags just as he/she would browse notes, using the 2 buttons I have added in the picture.
![Picture1](https://user-images.githubusercontent.com/19730248/104947299-da

[2021-01-19 20:59] pachlava opened #2588 "[Tags] Make space a tag submit key, as done in iOS and Native"
### What
Tags with spaces are not allowed. This is very straightforward in iOS and Native: user hits space, all text before space is submitted.

Now, in Electron, when user enters a string with spaces as a tag, and submits it with Enter or comma, multiple tags will be created. This can be confusing.

### Why
For the sake of consistency.

### How
Once user hits space, text before space is submitted

[2021-01-19 21:12] pachlava commented on #2588
Just noticed it's mentioned in more extended https://github.com/Automattic/simplenote-electron/issues/2207. Let me know if I should drop current one, or it can be used as a container for a separate fix.

[2021-01-19 21:42] pachlava opened #2589 "Tag input not cleared when switching notes"
### Expected
The root cause is that tag is not submitted in Electron as soon as tag editor looses focus (clicked out).

### Observed
See video (make sure to have player controls hidden - they cover the area where fun takes place). It's possible to enter a text as a tag, not submit it, switch between notes, and have this text shown instead of 'Add a tag...'

### Reproduced

1. In any note, start ad

[2021-01-20 03:55] #2561 closed, assigned to codebykat

[2021-01-20 09:04] pachlava opened #2590 "[No Network] 'Close window' button text in unsynced notes alert can be misleading"
### What
Once user has no connection, and closes the desktop app, they will see this:
<img width="366" alt="Screenshot 2021-01-20 at 10 53 26" src="https://user-images.githubusercontent.com/73365754/105151080-32824500-5b0e-11eb-9b6f-2ac5c53351e9.png">

It's not really clear what is meant under 'window': the app itself or the alert.
Having it renamed to 'Close anyway' or 'Close Simplenote' will hel

[2021-01-20 09:21] pachlava commented on #2379
Verified on Windows with Electron 2.5.0-beta1

[2021-01-20 09:25] pachlava commented on #2544
Verified on Windows with Electron 2.5.0-beta1

[2021-01-20 09:29] pachlava commented on #2541
Verified on mac with Safari 14.0.1 + Simplenote 2.5.0-beta1

[2021-01-20 09:43] pachlava commented on #2537
Verified on mac with Safari 14.0.1 + Simplenote 2.5.0-beta1

[2021-01-20 09:52] pachlava commented on #2481
Verified on Windows with Electron 2.5.0-beta1

[2021-01-21 12:20] sandymcfadden commented on #2485
Thanks so much for the request! We track feature requests in an internal tracker. I'm going to move this there to keep in mind for future consideration.

[2021-01-21 12:20] #2485 closed, assigned to nobody

[2021-01-21 12:28] sandymcfadden commented on #2566
The fourth point in this issue #2504 of fixing the cursor so it is a pointer when hovering over tags should be addressed in this as well.

[2021-01-21 12:35] sandymcfadden commented on #2504
Thank you so much for taking the time to come up with these changes and provide the CSS code. Really cool.

We have a few open issues right now that we are working and will be working on to update the UI and there are changes included for the area you are looking at here.

I've added the forth point you mentioned to this issue so we can address it there https://github.com/Automattic/simplenote-ele

[2021-01-21 12:35] #2504 closed, assigned to nobody

[2021-01-21 12:37] sandymcfadden commented on #2484
Thanks so much for the suggestion.
We're working on this area as mentioned [in comment](https://github.com/Automattic/simplenote-electron/issues/2504#issuecomment-764613768) on the issue mentioned above.
I'm going to close this based on that work.

[2021-01-21 12:37] #2484 closed, assigned to nobody

[2021-01-21 22:25] codebykat commented on #2590
Thanks! @SylvesterWilmott Opinions on this?

[2021-01-21 22:27] codebykat commented on #2441
Yeah, I think fully merging these two bars would be very difficult from a cross-platform perspective, but the new update will recover some real estate. I'll close this for now and we can revisit sometime in the future.

[2021-01-21 22:27] #2441 closed, assigned to nobody

[2021-01-21 22:34] codebykat commented on #2441
In case anyone wants to work on this and submit a PR, it looks like we could use Electron's "frameless window" API and then add styles for all platforms, but I haven't tried it. It would need to look and work properly on Linux, Windows and OSX builds.

https://www.electronjs.org/docs/api/frameless-window
https://github.com/binaryfunt/electron-seamless-titlebar-tutorial

[2021-01-21 22:44] codebykat commented on #2537
@pachlava ~Does this mean you verified the fix or that you are still seeing a crash?~ Nevermind I see you were going through and verifying fixes, thanks! ❤️

[2021-01-21 22:49] pachlava commented on #2537
@codebykat Here and everywhere else: verified the fix. Will write more unequivocally for next cases, sorry for confusion.

[2021-01-22 12:10] pachlava opened #2593 "[All Notes] Trashed note content and controls can be visible in 'All Notes' screen"
### Expected
When in 'All Notes' section, the preview for the note should show only the preview of notes from 'All Notes'

### Observed
When trashing all notes on another device, and creating new notes there, user will see the content of trashed note in Electron/Web once they open the app, and app shows 'All Notes'

### Reproduced
Reproducible on Web, and desktop macOS. Should not be reproducible

[2021-01-22 17:12] codebykat commented on #2593
Hi @pachlava, I think this is working as intended - you still have the trashed note selected/open. You can see that the note is trashed because you now have a Delete Forever and Restore Note action. The app remembers which note you last had open and does its best to restore that view on re-open, even if the note's status has changed.

[2021-01-22 17:12] #2593 closed, assigned to nobody

[2021-01-22 17:14] codebykat commented on #2589
Huh, interesting find. I'm not sure if this is a bug or not. If you've entered something in that text input, it isn't cleared on switching notes. I guess we should probably clear it.

[2021-01-22 17:15] codebykat commented on #2589
I definitely don't think that we should **submit** any unfinished tag as a tag when you switch notes, that seems a bit unexpected to me.

[2021-01-22 17:19] codebykat commented on #2576
@gubrist The best workaround is probably to rename one of the tags, change all the tags to the new tag name, and then delete the original duplicate and rename the tag back to its original name. Sorry for the bother. We had some ideas for fixing this situation automatically but I'm not sure if we can do it without introducing more bugs.

[2021-01-22 17:38] SylvesterWilmott commented on #2590
"Close anyway" sounds like a clearer label for this button.

[2021-01-22 19:08] pachlava commented on #2593
@codebykat got it, thanks!

[2021-01-22 19:13] pachlava commented on #2589
I agree it's hard to consider this a bug, I'd say this just looks a bit weird. In native and iOS the tag is submitted in this case though...

[2021-01-24 02:17] codebykat commented on #2590
Great, will update this in the next version.

[2021-01-24 02:20] #2590 closed, assigned to nobody

[2021-01-25 14:48] #1396 closed

[2021-01-25 14:57] eduardozulian commented on #2040
Also reported in 3669598-zen with `б`

[2021-01-26 21:52] gubrist commented on #2576
Thanks, I have tried with Simplenote 2.4.0 the following:

Renamed of the two:
- BerufBildung
- BerufBildung

into
- BerufBildung
- BerufBildung**2**

...and surprisingly, all notes of BerufBildung were "moved" immediately (I saw some short wobbling on the screen) to the renamed BerufBildung**2**.

Then, I tried to delete BerufBildung by presseing the red delete cross (x).
But nothing happened.
So

[2021-01-27 01:14] codebykat opened #2599 "Keyboard controls"
Internal project link: p2XJRt-2DE-p2

## Keyboard Control

- [ ] Panel navigation using arrow keys

The arrow keys can be used to navigate between the visible panels of the app (Tags, Notes List, Editor). While the editor is focused, Cmd/Ctrl + Enter can be used to move focus back to the notes list.

- [ ] Tab to cycle between visible panels

n.b. This note is for the Mac app but this does not wor

[2021-01-27 01:55] mokagio opened #2600 "Broken shortcuts due to Monaco upgrade >:("
### Expected
Pressing <kbd>Cmd Z</kbd> or clicking Edit > Undo should undo the last operation in the stack. E.g.: if I delete a word, undo should make it reappear.

### Observed
On macOS version 2.6.0-beta1, neither the keyboard shortcut nor the menu item work

### Reproduced

1. Launch version 2.6.0-beta1 on macOS
2. Open a note and do something on it, e.g: delete a word
2. Hit <kbd>Cmd Z</kbd>
3

[2021-01-27 05:18] reginabally commented on #2454
There's a user report in 3642690-zen with a video recording.

[2021-01-27 07:11] apjyotirmay commented on #1974
Okay, I have an idea about what's going wrong.

Installing `simpleapp` (or any `electron` package) under `"root"` using `"sudo"` sets appropriate permissions. But if one tries to run the `appimage` version, they'll face the error. This can be resolved by passing the flag `--no-sandbox` to the AppImage.

I'm using AppImage for version `2.4.0`, and I can confirm that I'm able to run the app without

[2021-01-27 10:04] codebykat commented on #2600
Ugh okay I found this. It is due to #2575 and has been reported upstream to Monaco. Apparently something broke these handlers in 0.21.1 and onward.

https://github.com/microsoft/monaco-editor/issues/2247
https://github.com/microsoft/monaco-editor/issues/2195

I will look tomorrow whether it makes more sense to revert this dependencies bump or add [workarounds](https://github.com/microsoft/monaco-e

[2021-01-27 10:11] codebykat commented on #2600
[monaco-editor](https://www.npmjs.com/package/monaco-editor)@0.21.3, released 9 days ago, does not contain a fix.

[2021-01-28 10:16] codebykat commented on #2600
#2604, #2606

[2021-01-28 10:16] #2600 closed, assigned to nobody

[2021-01-28 12:27] sandymcfadden commented on #2588
I am going to close this one in favor of #2207 I'm working on all the issues listed in that one now.

[2021-01-28 12:27] #2588 closed, assigned to nobody

[2021-01-28 13:18] sandymcfadden commented on #2589
I was taking a look at this and agree it feels weird the way it is. Working as native and iOS do makes sense to me. If I have typed a tag on a note, but not submitted, and then click out of the tag field it seems like that tag should be submitted. To me clicking away means I'm done inputting now.

[2021-01-28 17:44] pascaldaniela commented on #2577
Same here, using Debian testing with KDE using US Intl. keyboard layout and the ibus daemon. The problem started with version 2.4.0 and is still present in 2.5.0. Any accent ' ` ^ ~ blocks the keyboard until leaving the note and coming back.
Exiting the ibus daemon makes the accents work again. Starting the ibus daemon again doesn't change - it still works.

[2021-01-28 17:57] belcherj commented on #2161
I do not have an S Mode device or a way to test this. I will inquire about finding an S Mode device.

[2021-01-28 18:28] BlueManCZ commented on #2038
Electron applications usually use these default dependencies:
[code]

Many of them are usually already present in the system, but I guess these are default runtime dependencies for Electron.
Rest may differ from package to package.

Currently, you have only `gconf2` in dependencies and I don't think it's enough. Another guy [here](https://github.com/BlueManCZ/edgets/pull/1) had a problem with miss

[2021-01-28 21:19] codebykat commented on #2577
@pascaldaniela It started in 2.4.0? That's surprising... I haven't dug into this yet but the release that added links between notes was 2.1.0. I wonder if that's a red herring. 🤔

We have a number of problems with IME inputs (see #2522) which I am still trying to find a fix for, I wonder if this is related. I'm sorry for the annoyance. It seems to be caused by some horrible interaction between two

[2021-01-28 22:39] jroedel commented on #2577
I just tested the browser version (in FF 84.0.2) and it has a similar, but not identical, issue with accents. In the browser version, the accented character is duplicated:
![Screenshot_2021-01-28 Simplenote](https://user-images.githubusercontent.com/3315281/106207339-80a3e200-61b9-11eb-8a27-5bbf00eded7d.png)

[2021-01-28 23:21] codebykat commented on #2577
@jroedel Thanks for that test. Is that in Firefox only? We have a known issue for that which has been patched upstream but not yet released 😭 (#2327)

Do the accents work without blocking input though?

[2021-01-29 03:22] jroedel commented on #2577
1. Correct, FF doesn't block input, it just duplicates characters
2. I just tested the web app in Chrome and it has no problems with accents
![Screenshot from 2021-01-28 21-20-24](https://user-images.githubusercontent.com/3315281/106227474-2454b880-61e1-11eb-9300-3813d77e9f1d.png)

I guess this problem is unique to electron

[2021-01-29 08:59] codebykat commented on #2599
Doing some research, found this incidental info:

https://github.com/Microsoft/monaco-editor/wiki/Monaco-Editor-Accessibility-Guide

https://github.com/Microsoft/monaco-editor/wiki/Accessibility-Guide-for-Integrators

That first page also has some info I don't totally grok around how screen readers work with the editor.

[2021-01-29 09:04] codebykat commented on #2577
Thanks @jroedel, that matches my findings so far. The good news is the fix for that Firefox bug was actually released yesterday, which means we'll be able to get a fix out for that soon! (#2611) The bad news is I'm still trying to figure **this** one out, but I hope to get somewhere with it soon. Thanks for your patience and for helping me out with additional info. 🙇

[2021-01-29 10:04] codebykat commented on #2589
When in doubt, making it consistent with the other platforms is usually a good bet.

[2021-01-29 13:39] sandymcfadden opened #2612 "Disallow adding new note when in trash."
Currently if you enter the trash adding a new note is confusing.

### Expected
When in trash you shouldn't be able to add a new note.

### Observed
The button in the toolbar is more faded, but still changes to a pointer when you hover and gives the keyboard shortcut to add a new note. If you click the button nothing happens.

If you use the keyboard shortcut it creates a new note. Changes the head

[2021-01-29 13:52] pachlava commented on #2464
@dmsnell Just clarifying that the issue with disabled history button is expected to be gone after switching to another note or app relaunch?

What I currently see with 2.6.0-beta2 is that history is still unavailable after these actions, but available for the same note in native and Android.

Let me know if you would like to see the account with this note.

[2021-01-29 14:52] sandymcfadden commented on #2454
I ran into something similar today in two different scenarios where it ended up with a blank tag on a note and the tag not showing in the tag list.

Scenario 1
- Add new tag from Web
- Delete tag from Web
- Add the same tag back from Electron
- Notice blank tag on web and not showing in tag list on web.

Scenario 2
- Add new tag from Web
- Delete tag from MacOS/iOS
- Add tag again from Web
- Notic

[2021-01-29 16:24] belcherj commented on #2161
I was unable to find anyone with a S Mode device. When time permits I will see if it is possible to get S Mode running in parallels.

[2021-01-29 17:25] #1181 closed

[2021-01-29 20:26] dmsnell commented on #2464
@pachlava this app currently only shows the history button when it's aware of revisions for a note. to illustrate, if we had the same behavior as the mobile apps where the button is always enabled then in these cases what I would expect to happen is that you'd click on the button and then there would be no revisions.

I'm saying that any problem with the button is likely a failure to fetch the rev

[2021-01-29 20:32] pascaldaniela commented on #2577
Hi Kat, sorry for this, it might have started before. I'm not logging my upgrade history, just know that it is a recent issue ;)

I have the same duplicating issue in Firefox mentioned by jroedel. And both issues go away when I shut down the ibus daemon.
Btw, I'm using 2.6 now ...

[2021-01-30 17:30] rezzap opened #2613 "Focus moved to editor from search field on second search input"
### Expected

I'd expect the cursor to stay in the search field when doing a search on the web app.

### Observed

When returning to the search field after doing an initial search, the cursor jumps to the first match of the first character typed and you end up editing the note in the editor instead of writing in the note field.

### Reproduced

1. Go to Simplenote in Chrome on the web app.
2. Clic

[2021-01-31 20:05] spanderman commented on #1974
Hi @ajyotirmay

I am not sure I understood, I am/was trying to run the 2.4.0 as well. Using the --no-sandbox flag or install the AppImage as root doesn't look ideal to me.

[2021-02-01 02:41] xmha97 opened #2614 "Add "Copy Link" item to link context menu"
Hi, Please add the "Copy Link" item to link context menu.
![Simplenote](https://user-images.githubusercontent.com/23485114/106408585-f7f4a280-6453-11eb-88e4-bb957d337323.png)
Like Microsoft Word:
![Word](https://user-images.githubusercontent.com/23485114/106408719-37bb8a00-6454-11eb-921d-6172c1255932.png)

[2021-02-01 08:46] apjyotirmay commented on #1974
@spanderman, no no, don't install AppImage as root. I was talking about installing a distro specific package (like .deb or .rpm) from official repos.

Yeah, I know running it by passing the flag isn't ideal, but looks like electron's changes weren't kept in line with the usage patterns of AppImages, since sandboxing requires root access on Linux.

However, I'm no expert, but so far looks like it's

[2021-02-01 09:37] codebykat commented on #2613
Huh. I can't reproduce this, but it sounds like the same issue as #2530. We're probably going to make some improvements to focus tracking in the upcoming version as part of #2599, but I'll leave this open so we can test it further.

[2021-02-01 09:39] codebykat commented on #2613
Actually, @rezzap, if you pause for a few seconds after refocusing the search, does it fix the issue? The one that I've seen is a loading condition (the editor loads a bit more slowly than the search field / rest of the app, and requests focus when it loads, so it can be the case that it asks to be focused a second or two after the search field is loaded). This might also happen on switching notes

[2021-02-01 09:51] pachlava commented on #2464
@dmsnell Please see the attached video (had to compress a bit due to size, sorry). I'm talking about the case when history is not only enabled on other platforms, but also is functional, of course. At the moment it looks like Electron app has an easily reproducible issue with history:

https://user-images.githubusercontent.com/73365754/106442149-9cdaa400-6483-11eb-8116-efea603fd836.mov

Please let

[2021-02-01 10:02] codebykat commented on #1974
Yeah, you're right. Some discussion in Electron here: https://github.com/electron/electron/issues/17972 . `--no-sandbox` seems to be the officially recommended workaround.

It's possible we can remediate that with another Electron upgrade on our end, but that thread seemed to imply it might require the `--no-sandbox` argument regardless, depending on your system.

[2021-02-01 10:31] junsan99 opened #2615 "1st typed letter is missing when second letter is typed in Japanese Kana mode."
### Expected

Japanease typed letter is disappeared.

### Observed

Sometimes 1st letter is missing when 2nd letter is typed.
In this case  I want to input "テスト", but end of the movie, 1st "テ" is accepted, but when second "ス" is input, 1st "テ" is disappeared.
In Kana mode, "テ"and "ス" are showed in one key type.
It seems some wrong signal is inserted before 2nd letter is typed. So sometimes disappe

[2021-02-01 10:33] codebykat commented on #2615
Thanks for the report, @junsan99. This is being investigated already and we hope to have a fix soon. In the meantime you might be able to use the website successfully instead of the app (https://app.simplenote.com). #2522

[2021-02-01 10:33] #2615 closed, assigned to nobody

[2021-02-01 10:50] junsan99 commented on #2615
Thanks!
I misunderstood #2522 is closed. 2.6-beta2 is not fixed that, so report it.

[2021-02-01 11:42] #2563 closed, assigned to sandymcfadden

[2021-02-01 14:26] sandymcfadden opened #2616 "UI spring cleaning: Update dark mode surface color palette"
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/5db2c14aba30fd54e7149b20
![Screen Shot 2021-02-01 at 10 23 31 AM](https://user-images.githubusercontent.com/1326294/106471127-b675ee80-6477-11eb-94a6-12f08a4d17fa.png)

For dark mode, we have a new color palette to indicate elevation. These colors will need to be updated throughout the app.

[2021-02-01 15:39] chromer030 opened #2617 "UI zoom in reverts after closing app"
Zooming in UI with Ctrl + , will revert to default after closing and reopening app. (I'm using 2.6.0-beta2 version.)
### Expected

Stay on adjusted zoom level after closing and reopening.
### Observed

### Reproduced

1. open the app
2. zoom in and close the app
3. now reopen and it's on default zoom.

### Where did you see the bug

- OS: Linux amd64
- OS version: 5.10.11
- Simplenote app version:

[2021-02-01 17:23] #2589 closed, assigned to nobody

[2021-02-01 21:44] dmsnell commented on #2464
thanks @pachlava for following up. no need to spend effort to try and convince me of the behavior you're seeing - I believed you when you first mentioned it. as I mentioned above though if we want to figure out what's wrong we're going to need to see why the app isn't fetching the revisions (thanks for flipping to another note and back).

seeing as how the other note in the video _does_ have a wor

[2021-02-01 21:58] dmsnell commented on #2612
is disabling creating new notes the most appropriate way to resolve this confusion? when I look at this it seems like we should _always_ be able to quickly create a new note. if that's confusing in the trash, maybe we could make sure the app properly flips to the *All Notes* view and that the search list updates accordingly.

[2021-02-01 23:03] sandymcfadden commented on #2612
@dmsnell I think disabling it makes sense. If I'm in the trash I'm thinking about restoring a note that is there, not create a new note. This also follows what seemed to be the desired approach the app wanted to take as well. When in the trash the button shows as disabled, but there are still other ways to create a new note. This seems to be how Mac Native and iOS work as well, giving no way to st

[2021-02-02 04:22] codebykat commented on #2560
Another note from Slack:

Edit: Included this in #2631

[2021-02-02 04:31] reginabally commented on #2361
A follow-up on this issue was received in 3696484-zen.

[2021-02-02 05:04] codebykat commented on #2617
Thanks for the report @chromer030, sort of surprising this doesn't work by default.

I did a little digging, seems like there's no super simple way to fix it but we might have some options.

Notes to myself for later (or whoever might end up working on this):

https://github.com/electron/electron/issues/10572
https://stackoverflow.com/questions/46526734/where-does-electron-save-previous-zoom
https

[2021-02-02 06:15] codebykat commented on #2326
We definitely have existing code for remembering window position, see https://github.com/Automattic/simplenote-electron/commit/0b973536161dbeeed5ecdb315d653babb8ba96d6

Somewhat relevant if we need to revisit persisting options cross-session, #2617

[2021-02-02 11:46] pachlava commented on #2464
@dmsnell

I've taken a look at the WebSocket and from what I see, for the cases of disabled history button, the revisions themselves are not being sent, however the number of revisions for current note is stored correctly in 'sv' property. Switching between notes does not change the situation. What might help (not always) is reloading the page, in that case the revisions will be sent once the note

[2021-02-02 13:44] alex-kovalchuk commented on #573
I got tired of constant problems with such a simple application, so I switched to Joplin.

[2021-02-02 16:41] rezzap commented on #2613
@codebykat It doesn't make a difference whether I wait or not. I don't know if it makes any difference, but I go through the search results using CMD+G and then use CMD+F to go back to the search field. I tried waiting a few minutes before typing at all or after just typing the first character.

[2021-02-02 19:33] sandymcfadden commented on #2612
@SylvesterWilmott your thoughts on this would also be much appreciated.

[2021-02-03 02:12] dmsnell commented on #2464
@pachlava we're clearly talking past each other. in no way am I trying to dismiss you. I understand this is a bug. this issue itself is the bug report so I don't know where else you would want to post something.

I'm trying to provide help to fix it and that requires understanding why it's broken. even if the user doesn't care why we still have to figure out why if we want to fix it.

for now I'm

[2021-02-03 03:31] codebykat opened #2621 "Should we be able to edit trashed notes?"
Platform discrepancy - they aren't editable on iOS, but are editable here and on Android.

Is this a bug or a feature?

Logging this from internal discussion p2XJRt-2xW-p2

[2021-02-03 09:50] pachlava commented on #2464
@dmsnell

I'm sorry for the situation, it definitely was the case when we were talking past each other. Our previous discussion here gave me the wrong impression that I'm asked for more technical details because there was not enough proof of the issue reproducibility. Now I understand that you were trying to help me to see the issue cause - and I'm thankful for that. This thread definitely helped

[2021-02-03 10:14] SylvesterWilmott commented on #2612
There's two separate issues here. It looks like the wrong empty state is being used in the trash. I will add the full list of empty states into the Zeplin project so those can be aligned.

The issue of whether you should be able to create a new note from the trash is something that should be added to our list of UX inconsistencies since currently, on Android, you **can** create a new note from the

[2021-02-03 18:17] dmsnell commented on #2612
maybe on a mobile device it makes more sense to not allow creating notes from the trash view, given that the normative view for those are _either_ the note list _or_ a note editor.

on bigger screens, especially the desktop/web app but also on tablets with keyboards and other mobile screens, the use-case feels very different to me. really, I feel stronger about this than most UI things that I find

[2021-02-04 12:40] pachlava opened #2625 "Warning before emptying the Trash"
### What
Asking for user confirmation before actually emptying the trash.

### Why
Present in iOS and Android, planned for macOS. Consistency and UX. p2XJRt-2FK-p2

[2021-02-04 12:59] pachlava opened #2626 "Search should be global"
### What
Search should be global. E.g. when user has a tag selected in sidebar, the search across certain keyword should be executed for 'All Notes'. Of course, search within a tag should be still possible with 'tag:TagName keyword'

### Why
Already done for iOS, Android and macOS. p2XJRt-2FK-p2

[2021-02-04 13:11] apjyotirmay commented on #1974
Yeah, if we're talking about doing it for Appimages. But wherever the installation happens with the help of a root account, e.g. using "sudo apt install..." it's totally possible to setup up right permissions for the electron runtime, but otherwise it's a huge challenge that isn't fixable by even a simple script (as an update to the app might break it)

[2021-02-04 14:33] sandymcfadden commented on #2612
Thank you @SylvesterWilmott and @dmsnell!
I'll create a new issue for updating the Empty states to match.

I don't feel strongly about fully disabling new notes when in trash, so let me rework the PR to allow the keyboard shortcut at least and reset things to the all note view when a new note is created when in trash.

[2021-02-04 14:35] belcherj commented on #2464
This is a bug we should resolve. Let's get the primary bug resolved and then determine if there are additional UI changes that we need to make.

This appears to be an issue of revisions not being fetched properly. I am all for never greying out the button and then fetching revisions as they click the revisions panel open.

@pachlava We will let you know when we have something for you to test.

[2021-02-04 19:07] sandymcfadden opened #2627 "UI Spring cleaning: Update empty note list screens"
There are four scenarios where the note list will be empty. These views need to be updated.

- All notes, but no notes are added.
- Trash, but trash is empty.
- Clicked on a tag, but no notes have that tag.
- Search, but no notes match the query.

https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/601a894f2aa69a20f6e8011b
https://app.zeplin.io/project/5d795a3d8ed5261aa146e057/screen/601

[2021-02-04 19:11] sandymcfadden commented on #2612
New issue opened for the empty note states https://github.com/Automattic/simplenote-electron/issues/2627

[2021-02-04 19:12] boycuijg opened #2628 "when input chinese punctuation symbol (：；), it will auto repeat copy many content."
hello

hello

hello

hello

hello

hello

你好：：：；

[2021-02-04 19:43] eduardozulian opened #2629 "Linux: app crashes when Markdown is enabled on a note with long Python and/or JS snippets"
We got a report from a user in Ubuntu whose app crashes whenever you enable Markdown on a note that is full of Python and JS.

### Expected
To be able to see the snippets/note without any issues.

### Observed
When you enable Markdown, it causes the app to crash. A note with less python or JS does not crash the app, but the desktop app is still slower than the web app.

### Reproduced
1. Open Simp

[2021-02-04 21:29] codebykat commented on #2628
Leaving this open for now, but possibly related to #2522

@cSingleboy What version of Simplenote are you using, and what OS? Are you using the desktop app or web browser?

[2021-02-04 22:34] codebykat commented on #2612
Just to leave my $.02 on this one, I think it makes more sense to switch to All Notes when a new note is created from the Trash rather than disallow it. That resolves the confusion where the new note wouldn't show up immediately upon creation.

[2021-02-04 22:37] #1625 closed

[2021-02-04 22:47] codebykat opened #2630 "Improve revision slider functionality"
Follow-up from https://github.com/Automattic/simplenote-electron/pull/2586#issuecomment-767168455

@dmsnell and @sandymcfadden please feel free to add to this if there's anything I missed from later discussions!

[2021-02-05 02:28] boycuijg commented on #2628
OS：Win10
Simplenote-Version：lastest version（try many version）
desktop app

[2021-02-05 08:27] codebykat commented on #2628
Thanks for that information - We're investigating this under #2522 and hope to have a fix soon, so closing this as a duplicate. As a workaround, you should be able to access app.simplenote.com in a web browser other than Firefox (Firefox fix will be in the next version), where it should work -- please let me know if that is not the case.

[2021-02-05 08:27] #2628 closed, assigned to nobody

[2021-02-05 08:38] codebykat commented on #1974
@ajyotirmay If this is possible for us to fix by adjusting the options in the Electron builder script, I'm happy to make any changes you suggest. I obviously don't want to be encouraging folks to install apps with sudo by default.

A bit more spelunking suggests there might be a fix in electron-builder (we're overdue for a dependencies update unfortunately). Does this read to you like it would fix

[2021-02-05 11:47] #2539 closed, assigned to sandymcfadden

[2021-02-05 12:10] #2207 closed, assigned to sandymcfadden

[2021-02-05 12:11] #2565 closed, assigned to nobody

[2021-02-05 17:27] sandymcfadden commented on #2612
I believe the recent changes I made to https://github.com/Automattic/simplenote-electron/pull/2618 addresses this but I could use maybe some pair time with you @codebykat when you have some time on the way I did it.

[2021-02-05 20:29] codebykat commented on #2549
#2601 is a partial fix but I want to think more about this because it still seems like a bug, bumping this to 2.8.0 for further consideration 🤔

[2021-02-05 20:37] #2567 closed, assigned to sandymcfadden

[2021-02-05 21:04] codebykat commented on #2327
Will be finally fixed in 2.7.0!

[2021-02-05 21:04] #2327 closed, assigned to nobody

[2021-02-05 21:14] codebykat opened #2634 "Update WordPress blue on login screens"
[placeholder issue, designs not updated yet]

see: p2XJRt-2He-p2

[2021-02-06 04:00] vtgdias opened #2636 "Implement TOC (Table Of Content) in simplenote markdown"
### What

A TOC (Table Of Content) in markdown implementation of Simplenote

### Why
Better organization of big notes

### How
As any ordinary TOC markdown feature (github as example)

[2021-02-06 16:14] pachlava commented on #2636
Added a vote to existing feature request: p7rJFO-dV-p2

[2021-02-06 18:46] #2636 closed, assigned to nobody

[2021-02-08 09:39] KraXen72 opened #2637 "Custom stylesheet and monaco config in electron app?"
### What
Please add an option for us to select a custom stylesheet and monaco config for the electron app.

### Why
Custom stylesheet: There are ways to inject css into electron apps but many of them are sketchy and break on updates, it would be great if we could import our own css stylesheet, for example custom dark theme etc.

Monaco config: To allow more precise control over the monaco features

[2021-02-08 09:53] KraXen72 opened #2638 "markdown preview in separate window"
### What
refer to this screenshot from vs code:
![Capture_2021_m02 d08_10;51](https://user-images.githubusercontent.com/21956756/107203374-a623bd80-69fb-11eb-9df7-3f21a9b8c3f9.png)
every time you change the markdown on the left it would update the render on the right.

### Why
No need to toggle visual mode + better utilization of screen real estate if you have a big screen

[2021-02-08 11:07] gubrist commented on #2429
Another similiar experience (2.6.0):

1.  same as above

2. Created new tag "FOO-A"

3. All notes tagged with (duplicated) "FOO" manually tagged to  "FOO-A"

4. and right-away un-tagged "FOO" in these notes.

5.  Result: (duplicated) "FOO" has no notes tagged, now

6. I delete firist of the two "FOO" tags

7. I cannot delete the second of / remaining "FOO" tag

[2021-02-08 13:20] pascaldaniela commented on #2577
The issue has disappeared here with Simplenote 2.7 beta on Debian testing.

[2021-02-08 14:16] sandymcfadden opened #2640 "Scrollbars on Firefox not styled on Mac"
On Mac OS when under System Preferences > General > Show scroll bars: is set to anything other than `When scrolling` the note list and other scroll bars appear unstyled in Firefox. This is shows particularly on dark mode.
It also effects other Operating Systems, but their default styling seems better.

### Expected
For the scroll bars to better match the theme being used.

### Observed
The scroll

[2021-02-08 16:44] #2640 closed, assigned to sandymcfadden

[2021-02-08 19:19] codebykat commented on #2638
Hi @KraXen72, we've had a number of previous requests for this. See #460

It's something we'll consider in the future but it's not on our immediate roadmap so I'm closing this for now. Thanks!

[2021-02-08 19:19] #2638 closed, assigned to nobody

[2021-02-08 20:01] codebykat commented on #2577
Ooh that is great news. @jroedel and @jbouchery, are either of you able to confirm if this is still happening for you on the 2.7 beta?

[2021-02-08 20:03] codebykat commented on #2637
Thanks! Themes are on the roadmap. Exposing Monaco config is an interesting idea, though it seems like it might cause more trouble than it's worth (would be quite easy to break things). We did have at least one other person request a setting for smooth caret. Is there another Monaco setting you would want to adjust?

[2021-02-08 22:19] KraXen72 commented on #2637
honestly i only want the smooth caret, but please add the options for custom stylesheet

[2021-02-09 00:22] Ryannnkl opened #2644 "markdown emoji"
### What
Maybe it would be nice to put emojis using markdown, like ``:star:`` :star: or ``:coffee:`` :coffee:, since using markdown would maintain a good compatibility with README.md of projects on github

### Why
practicality of putting the emoji in a DE that does not have an emoji management app, like XFCE, and also makes you familiar with who organizes the readme of projects that use this

[2021-02-09 01:47] jroedel commented on #2577
I just installed the 2.7 beta and it seems to be working fine now! Thanks a lot Kat. I know you put a lot of work into the project. I love simplenote!

[2021-02-09 04:48] codebykat commented on #2361
Similar upstream issue: https://github.com/microsoft/monaco-editor/issues/1943

[2021-02-09 04:54] codebykat commented on #2644
Thanks @Ryannnkl 😄 This is a cool idea. I actually use [text expansion](https://www.lifehacker.com.au/2016/07/add-slack-style-emoji-substitutions-to-your-mac/) to get this functionality everywhere on my Mac! I recommend that as a workaround for now.

Closing this for the moment since it's not on our immediate roadmap, but I'll add it to our feature requests for possible consideration in the future

[2021-02-09 04:54] #2644 closed, assigned to nobody

[2021-02-09 04:57] codebykat commented on #2637
Oh, the [prior request](https://github.com/Automattic/simplenote-electron/issues/2512) for smooth caret was also from you, I see now 😄  Okay closing this since these requests are tracked elsewhere. Themes are definitely on the roadmap already. No promises about smooth typing setting as it's not something a lot of people have asked for, but your request has been noted.

[2021-02-09 04:57] #2637 closed, assigned to nobody

[2021-02-09 05:45] codebykat commented on #2577
Aw thanks! I do, because I love it too. 😄

Closing this as fixed, please feel free to comment or open a new issue if there are still problems. (I mean, with the app. Not the world in general. I can only do so much.)

[2021-02-09 05:45] #2577 closed, assigned to nobody

[2021-02-09 06:44] reginabally opened #2646 "Extra line breaks on exported notes"
It was reported in 3706246-zen that extra line breaks can be seen on Notepad for notes that were exported from the Electron app on Windows. However, the line breaks are not rendered on WordPad.

### Expected

The user expects that the exported notes are showing the same line-breaks as the notes on the Simplenote app.

### Observed

Extra line breaks are observed when the exported notes are opened

[2021-02-09 12:33] KraXen72 opened #2647 "Simplenote app still asks me to verify email after i've done it"
### Expected
once the email is verified, it shouldn't ask me to.

### Observed
it wants me to verify my email even after i've done it.

### Reproduced
example:
1. start simplenote app
2. click verify
3. verify it
4. click X on the dialog to verify
5. relaunch app and it still wants to verify

### Where did you see the bug
- OS: Windows
- OS version: 10
- Simplenote app version: 2.6.0

[2021-02-09 14:42] rossanafmenezes commented on #2429
Another similar report here 3710709-zen

Simplenote web application with Chrome browser running Ubuntu 18.04

[2021-02-09 19:48] codebykat commented on #2647
Hi @KraXen72, this is very odd, I can't reproduce it. Does it also give you the prompt to verify if you log in to app.simplenote.com in the browser?

[2021-02-09 20:02] KraXen72 commented on #2647
yes, and i also sends an email. after i click it it then redirects back, says email verified but when i close and open simplenote it still asks me to verify

[2021-02-09 20:32] codebykat commented on #2647
@KraXen72 Can you please email support@simplenote.com and let us know what email you're registered with, so we can troubleshoot further? Thanks :)

[2021-02-09 21:14] codebykat commented on #2187
If still happening, this seems probably an IME problem #2522. Closing as a duplicate of that parent issue but please feel free to add further details here.

[2021-02-09 21:14] #2187 closed, assigned to nobody

[2021-02-10 07:01] KraXen72 commented on #2647
alright, thanks.

[2021-02-10 07:02] #2647 closed, assigned to nobody

[2021-02-10 13:54] rossanafmenezes opened #2648 "Remove Spell-checking option from Edit Menu"
The spell-checking on Simplenote Electron is not working, and even though it was mentioned [here GH 2410](https://github.com/Automattic/simplenote-electron/issues/2410) we have plans to add it back in the future, it's not currently working, however, the option is there as you can see from the screenshot below:

![image](https://user-images.githubusercontent.com/30724184/107518136-aac3af80-6b7c-11e

[2021-02-10 15:31] sandymcfadden opened #2651 "Keep Ctrl/Cmd + F keyboard shortcut even when keyboard shortcuts disabled"
### What
When using the built-in browser search it will only capture the content in the note editor which is currently visible on the screen. If there is content matching the outside of the view which is then scrolled into view it won't show as selected.

### Why
The browser search isn't supported in the note editor and we should default to our built in search

### How
When keyboard shortcuts are

[2021-02-10 15:41] #2648 closed, assigned to nobody

[2021-02-10 22:31] pachlava opened #2654 "New revision slider should not cover tags area"
### What
Since changes in tags is a part of a note history, it makes sense to have tags area visible while browsing the revisions.

### Why
When the tags area is covered by history overlay, it's impossible to see the changes in tags.

### How
Make tags area appear above revisions panel

[2021-02-10 22:43] pachlava opened #2655 "New revision slider should always allow to see whole note content"
### Expected
It should be possible to see the note content completely while checking the revisions.

### Observed
If the note is big enough, its final part will be covered by the revision panel.

### Reproduced
1. Have a note of decent length (see picture)
2. Open History
3. Scroll to the bottom

![Screenshot_2021-02-11 00 41 51_5p6w8U](https://user-images.githubusercontent.com/73365754/107582372-

[2021-02-10 23:07] sandymcfadden commented on #2655
I didn't think about this or #2654 when making these changes.

What do you think of these two issues @SylvesterWilmott?

[2021-02-11 10:25] #2566 closed, assigned to sandymcfadden

[2021-02-11 10:34] KraXen72 opened #2656 "Synchronize preview scroll position with monaco scroll position"
### Expected
When i scroll to the bottom in monaco and hit preview (Ctrl + shift + P) it should instantly scroll the preview to the bottom

### Observed
When i scroll to the bottom in monaco and hit preview (Ctrl + shift + P) i am on the top of the document

### Reproduced
1. Go to a note
2. Scroll down
3. Click preview
4. you are at the top

### Where did you see the bug
- OS: Windows
- OS versio

[2021-02-11 10:40] KraXen72 commented on #2637
i know this is closed, but i've made a custom stylesheet/theme for simplenote (currently only works in browser), so you guys can see the benefit of a custom css stylesheet i guess.
this is how it looks:
![Capture_2021_m02 d10_16;34](https://user-images.githubusercontent.com/21956756/107626176-b509aa80-6c5d-11eb-9d62-11c37f3cc1fe.png)

this is originally for my personal use only, but if you guys ar

[2021-02-11 10:48] KraXen72 opened #2657 "VS code simplenote sync extension?"
### What
Make a simple extension so we can use vs code to edit .md files and upload them to the simplenote for easy access.

### Why
Vs code has better customisability, syntax highlighting for markdown, custom themes and smooth caret, and even though simplenote uses monaco which is the same editor, i miss a lot of features form vs code when writing markdown

### How
after installing the extension

[2021-02-11 12:21] pachlava opened #2658 "'New note' icon is not perfectly vertically aligned"
### What
The New note icon is a few pixels lower than 'toggle sidebar' button. Not a big deal, but easier to notice under lower resolutions

![Screenshot_2021-02-11 14 12 43_UM0Kfh](https://user-images.githubusercontent.com/73365754/107635391-bc3bb300-6c73-11eb-9cf3-e1a3c05d4bdb.png)

Also, the distance between semaphore and right divider is not symmetric to the distance on the left:

![Screenshot

[2021-02-11 12:26] SylvesterWilmott commented on #2655
Agree, the history UI should resize the editor area as opposed to covering it.

[2021-02-11 12:41] pachlava commented on #2589
[testing] fix/feature verified on Dell Latitude 7400 | Win 10 | Simplenote 2.7.0-beta1

[2021-02-11 13:01] pachlava opened #2659 "[Tags] Using a space in note editor tags area should submit a tag"
### What
Comma and space are both mentioned as tags separators [here](https://github.com/Automattic/Simplenote-United/blob/trunk/docs/tags.md). When the user types a comma, all text before comma will be submitted as a tag. Why is this not so for a space?

### Why
Will provide more transparent experience for user.

[2021-02-11 13:12] pachlava opened #2660 "[Tags] Possible to break app layout by entering many spaces in tags input"
### Expected
Leading spaces should not be allowed in tags input in note editor. This bug will be fixed if #2659 is implemented.

### Observed
See video:

https://user-images.githubusercontent.com/73365754/107640369-da58e180-6c7a-11eb-8763-4d24da674518.mov

### Reproduced
1. Open any note
2. Set focus to tags input in note editor
3. Hold space until the amount of spaces starts breaking the app layo

[2021-02-11 14:41] azollafox commented on #2251
This was reported once again with 2.6.0  in 3729084-zen

[2021-02-11 16:54] pachlava commented on #1625
[testing] fix/feature verified on Dell Latitude 7400 | Win 10 | Simplenote 2.7.0-beta1

[2021-02-11 17:09] hashimaziz1 commented on #2251
Yep, experiencing this yet again to upgrade to 2.6.0

Also having this problem, on 2.5.0 going to 2.6.0. Must have clicked `Update & Restart` at least four times by now and had it reappear as many, it's very annoying.

[2021-02-11 17:39] pachlava commented on #2327
@codebykat I'm not sure if it's a separate thing or a side effect of the fix. When I try entering à via long hold on 'a' key, and then pressing number button in the popup, it results in 'aà' in Firefox (macOS):

https://user-images.githubusercontent.com/73365754/107675495-cfb14300-6ca0-11eb-8ef1-4a5a3119b88f.mov

[2021-02-11 17:44] gubrist opened #2663 "Review Your Account"
### Observed
At start the pop-up message "Review Your Account" appears every time

### Reproduced
1. At start the pop-up message "Review Your Account" appears
2. I press on confirm
3. I open the email I have received and klick on the link
4. It is confirmed with "Email Verified"
5. I close Simplenote app version 2.6.0
6. I restart Simplenote app version:2.6.0
7. The the pop-up message "Review Your

[2021-02-11 17:53] codebykat commented on #2663
Hi @gubrist, sorry for the trouble. Can you try logging out of the app and back in again and see if that gets it to refresh your account info?

[2021-02-11 17:59] codebykat commented on #2327
@pachlava Is that a regression or a case that was not fixed by this fix?

[2021-02-11 18:13] pachlava opened #2664 "Unpinning note via history leaves unpinned note above pinned ones"
### Expected
Unpinned note should not mix with pinned ones.

### Observed
If a note in unpinned via history, its position in the note list will not change:
![Screenshot_2021-02-11 20 12 24_SW8YnN](https://user-images.githubusercontent.com/73365754/107679714-929b7f80-6ca5-11eb-9b08-50cfcf13860e.png)

### Reproduced
1. Make sure you have an unpinned note
2. Have 'Sort by Modified: Newest' enabled fo

[2021-02-11 18:21] pachlava commented on #2327
@codebykat this was also my question to you :-) I think I can't answer this, because the issue was browser specific, and I can't revert to the older version. Anyway, at the moment there is no issue with 'àà' duplication, so I'm thinking of verifying the current issue, and creating a separate one for 'aà'. What do you think?

[2021-02-11 18:38] krzysztofzygmunt opened #2665 "MacOS Download link directs to obsolete (1.0.8) application version."
As a potential new user of Simplenote for MacOS I read a https://simplenote.com/tag/electron/ page.
I click "Continue reading" link.
I'm redirected to https://simplenote.com/2017/02/14/try-the-new-macos-beta/ page.
I'm reading about new Electron version.
There is a link at the bottom "Ready to try it out? Download now!" which directs to old version https://github.com/Automattic/simplenote-electron

[2021-02-11 18:53] krzysztofzygmunt opened #2666 "MacOS desktop app: Not working "Find in Note" (Cmd+F)"
When I press Cmd+F (Find in Note) I end up Searching Notes, not Finding in Note.

Pressing Cmd+F (Find in Note) or Cmd+Shift+S (Search Notes...) does the same.

There is no way to "Find in Note".

### Expected
When I press Cmd+F application is finding in note.

### Observed
Pressing Cmd+F (Find in Note) or Cmd+Shift+S (Search Notes...) does the same.

### Reproduced
Just press Cmd+F and It's not F

[2021-02-11 19:09] eduardozulian commented on #2522
Another report in 3727279-zen

- It is mainly used on Android and PC.
- Windows 10, recently updated 20H2
- Simplenote 2.6.0

On the ticket there is a video showing the issue.

[2021-02-11 20:14] codebykat commented on #2666
Hi @krzysztofzygmunt, the search also highlights matches within each note, and allows you to move through them with the search results bar at the bottom of the note. Is that not working for you?

[2021-02-11 20:18] codebykat commented on #2665
Hmm I'm not sure what to do with this one. That's a blog post from 2017, and the correct download links are also on simplenote.com. We also have a native app for Mac users these days, and consider Electron primarily for Windows/Linux. I guess I can add an update banner to it.

[2021-02-11 20:22] codebykat commented on #2656
Interesting, we can think about this as part of #2599.

[2021-02-11 20:22] #2656 closed, assigned to nobody

[2021-02-11 20:49] codebykat commented on #2665
Alright, after some discussion we've added a banner to this page. I also updated the download link to point to the latest releases in this repository.

<img width="724" alt="Screen Shot 2021-02-11 at 12 48 21 PM" src="https://user-images.githubusercontent.com/52152/107697007-82fd4600-6c67-11eb-9597-fee5c66135b9.png">

Thanks for the report, @krzysztofzygmunt!

[2021-02-11 20:49] #2665 closed, assigned to nobody

[2021-02-11 21:13] codebykat commented on #2657
🤔  I'll log it on our feature requests. It sounds like it falls under the idea of two-way file system sync generally... in other words you wouldn't need to use VSCode, you could use any Markdown editor you like.

Closing now, not on our immediate roadmap, but will be considered in the future. (There are some annoying technical problems with file-system sync such as filenames and revision history,

[2021-02-11 21:13] #2657 closed, assigned to nobody

[2021-02-11 21:18] FedeCuci commented on #2664
I am using Simplenote on Google Chrome (web version). Where do you see the setting 'Sort by Modified: Newest'. Or is that why you said: 'Browser (if applicable): Chrome and also Electron'?

[2021-02-11 21:41] codebykat commented on #2664
Hi @FedeCuci, there is an option to change the sort order at the bottom of the notes list. You can see it in the bottom left of the screenshot above. It should appear in any browser. If you've had the app open in a tab for a few days without closing it, you might need to refresh the page.

[2021-02-11 22:06] codebykat commented on #2327
I can reproduce it on the [Monaco playground](https://microsoft.github.io/monaco-editor/playground.html), so it looks like a related but separate upstream issue. @belcherj should we open a new one against vscode?

[2021-02-11 22:11] eduardozulian commented on #2251
Same on 3732630-zen: when you try to update to 2.6.0, the version returns to 2.5.0

- Windows 10, Version 2004
- Simplenote Desktop Version 2.5.0

[2021-02-11 22:13] codebykat opened #2668 "Context menu items shown that shouldn't be there"
Not sure when this started happening, maybe with the latest Monaco update. We attempt to remove the default Cut and Copy actions so we can add ours with the shortcuts, but it's now showing both, as well as stuff like Command Palette which we had intended to be hidden.

Looks like our hacky CSS has failed us and needs to be updated.

<img width="297" alt="Screen Shot 2021-02-11 at 2 13 21 PM" src="

[2021-02-11 23:49] codebykat commented on #2668
Welp. https://github.com/microsoft/monaco-editor/issues/1138#issuecomment-744027186

[2021-02-12 07:45] adam-jones-net opened #2670 "Import from Evernote won't import images"
What I want:  I'm leaving Evernote after their disastrous recent rebuild.  I had high hopes that simplenote would be the answer but it can't import images from Enex files.

Why:   Surely this can't be that complex, other competitor software can do this.    Some rich media embeds ok I understand if they can't be imported, but images?   I know this is simplenote and images via markdown is only suppo

[2021-02-12 08:19] erricgunawan commented on #2251
An addition from 3732630-zen:

[2021-02-12 10:22] krzysztofzygmunt commented on #2666
Hi @codebykat , yes it works as you just wrote. I just thought there would be a difference by using Cmd+F or Cmd+Shift+S.
If that's by design, than ok.

[2021-02-12 13:39] FedeCuci commented on #2664
Hi @codebykat, thanks for the answer. I didn't notice before now. I was able to replicate the issue.

[2021-02-12 14:09] FedeCuci opened #2672 "Use comma as tag separator when searching tags"
### What

Allow the user to search tags in the "Search notes and tags" search bar by separating tags with commas.

### Why

When searching for multiple tags, the user must continuously type: `tag:` for each new tag to be searched. Commas are used as tag separators when creating new tags which means that tags cannot contain commas. Intuitively, the user should be able to use commas to separate tags

[2021-02-12 14:17] FedeCuci opened #2673 "Description for tags"
### What

Allow the user to add a description to the tags explaining how the tag should be used and when.

### Why

Some tags might be used as subtags of a tag to categorize a certain note more thoroughly. If many tags are created a user might forget the difference between 2 tags that are very similar. A brief description of the tags would allow the user to recall the specific purpose of a tag and

[2021-02-12 16:46] gubrist commented on #2663
Thanks, this has worked out.

[2021-02-12 16:46] #2663 closed, assigned to nobody

[2021-02-12 16:46] gubrist commented on #2663
Thanks, this has worked out.

[2021-02-12 21:30] belcherj commented on #2327
🤦 Yes, please do. Maybe I can try and fix this one too.

[2021-02-12 21:55] pachlava opened #2674 "[Firefox] Entering 'à' results in 'aà'"
### Expected
When using the method depicted below, only one letter should be added to the editor.

### Observed
Two letters are added: the 'base' letter, and the one with diacritics.

https://user-images.githubusercontent.com/73365754/107675495-cfb14300-6ca0-11eb-8ef1-4a5a3119b88f.mov

### Reproduced
1. Use Firefox on Mac
2. Create new note
3. Press and hold 'e' key, for example
4. Once a popup wi

[2021-02-12 21:56] pachlava commented on #2327
Created #2674

[2021-02-14 04:39] supertsy5 commented on #2522
I use Simplenote 2.6.0 on Ubuntu 20.04 LTS.
Sometimes Simplenote freezes when I type Chinese characters in a note.

[2021-02-15 07:50] piskunow opened #2675 "E-mail verification keeps popping up at start"
The simplenote-electronn app version 2.6.0 running on Ubuntu 20.04 keeps asking to verify the email. I did it many times, the request to verify just appears every time I run the app again, even withing the same Ubuntu log-in session.

[2021-02-15 08:13] apjyotirmay commented on #1974
@codebykat I'm looking for a possible solution. I'll be back with whatever I'm able to find

[2021-02-15 09:51] pachlava opened #2676 "Double ⌘Q needed to quit the application"
I saw the same report here: #2445, which is said to be fixed with #2439, but it looks like it isn't. Correct me if I'm wrong.

### Expected
First ⌘Q should close the Simplenote process.

### Observed
On Mac, the first ⌘Q closes the window (similar to ⌘W), and only the second ⌘Q closes the process.

### Reproduced
1. Have the app window shown and be logged in
2. Hit ⌘Q ~> the window is closed, but

[2021-02-15 20:58] KOT040188 opened #2677 "Primary buffer does not work when selecting text"
Я обновился на версию 2.6.0 и у меня перестал работать primary buffer в Simplenote. Теперь когда я выделяю текст в Simplenote он не попадает в primary buffer. Во всех других приложениях текст при выделении попадает в primary buffer. Это крайне неудобно. Kubuntu 20.04.
I upgraded to 2.6.0 and my primary buffer stopped working in Simplenote. Now when I select text in Simplenote, it doesn't go to the

[2021-02-16 14:58] ChrissiePollock commented on #2522
#3742315-zen

Desktop:

* What devices you use Simplenote on: Dell Precision Tower 3420
* Their operating systems and versions: Windows 10
* The Simplenote versions on each: Version 2.5.0

Mobile phone:

* What devices you use Simplenote on: Samsung Gallaxy Note20 Ultra 5G
* Their operating systems and versions: Android 11 (One UI 3.0)
* The Simplenote versions on each: 2.15 (130)

[2021-02-16 22:24] codebykat commented on #2677
Thanks for the report, @KOT040188. I think this is a duplicate of #2361.

[2021-02-16 22:24] #2677 closed, assigned to nobody

[2021-02-16 22:26] codebykat commented on #2675
Hi @piskunow, sorry for the trouble. Do you see the popup if you log in on the web at app.simplenote.com as well?

If not (this confirms that you are successfully verified), can you please try logging out of the app and back in again and let me know if that fixes the issue?

(Also reported in #2663, leaving this open since the other is now closed)

[2021-02-16 22:29] #2664 closed, assigned to nobody

[2021-02-16 22:46] piskunow commented on #2675
Hi @codebykat ! Thanks for the answer.

No.

Yes, logging out and in on the system app fixed it.

Thanks!

[2021-02-16 23:07] FedeCuci opened #2679 "Graph view for Simplenote"
### What

Add an option to view the notes in the form of a [graph](https://publish.obsidian.md/help/Plugins/Graph+view). This idea is from Obsidian, which is another note provider.

### Why

A graph view is an awesome way to view your notes in a structured way. The tag system in Simplenote is excellent and stays true to the core of Simplenote's main principle, which is to stay simple. I believe th

[2021-02-16 23:15] codebykat commented on #2666
Thanks for the feedback!

[2021-02-16 23:15] #2666 closed, assigned to nobody

[2021-02-16 23:30] codebykat commented on #2674
Since this reproduces on the Monaco playground, we need to open an upstream issue. @belcherj do we do that in the monaco-editor or vscode repository? Do you have the time to do that since you opened the prior one?

[2021-02-16 23:31] #2675 closed, assigned to nobody

[2021-02-17 17:02] belcherj commented on #2674
https://github.com/microsoft/monaco-editor/issues/2358

[2021-02-17 23:02] spenat28 commented on #274
Why was this removed from milestone? Will this be an option in near future?
It’s really needed to have monospaced option at least.

[2021-02-17 23:13] codebykat commented on #224
Got a request for this in 3730325-zen; it should really be on our roadmap I think.

[2021-02-18 01:48] robbie888 opened #2680 "Select multiple notes for bulk action - i.e. tagging, trashing several notes at once"
### What

The ability to select more than one note in the side bar navigation pane. Ideally using 'Shift-click' or check boxes.

### Why

This will allow the ability to reorganize notes, for example apply a tag to multiple notes at once, trash multiple notes at once etc.
This is especially a necessary for new adopters, wishing to import notes from other platforms. After the import re-organization

[2021-02-18 03:26] rbreaves opened #2681 "SyntaxError: "invalid regular expression flag s""
### Expected
When I type something into the search area everything continues to render properly.

Impacting Waterfox browser actually, and I apologize if this is an appropriate place to post this.

### Observed
Typing into the search causes the entire page to go white with nothing on it.

### Reproduced
1. Install Waterfox and go to app.simplenote.com
2. Run a search
3. Whitescreen

### Where did

[2021-02-18 03:43] rbreaves commented on #2681
Closing, I did not realize I was not on the latest G3 version. This problem is not there.

[2021-02-18 03:43] #2681 closed, assigned to nobody

[2021-02-18 12:04] daisleyj opened #2682 "Linux App Login Fails with valid credentials"
Login fails when using when using the Linux App with credentials that work in the web app and android app. Linux app returns error message `Could not log in with the provided email address and password.`

Nothing is logged in the application logs and no errors are shown in the terminal session when the app is launched from a terminal.

Platform is Red Hat Enterprise Linux 8.3 running Gnome Desktop

[2021-02-18 23:22] #2668 closed, assigned to nobody

[2021-02-18 23:22] #2655 closed, assigned to nobody

[2021-02-18 23:23] #2658 closed, assigned to nobody

[2021-02-18 23:23] #2579 closed, assigned to nobody

[2021-02-18 23:27] codebykat commented on #274
Hi @spenat28, it was removed from the "Future" milestone because we have deprecated that milestone. Everything not in a specific version milestone is on our radar but not specifically slated for an upcoming version.

In other words we've logged the feature request but it is not on our immediate roadmap. Thanks!

[2021-02-19 17:40] gubrist commented on #2576
Duplicated tags arise again with electron Version 2.5.0.

I wonder if this feature request (as designed with the Android version 2.5.1 of Simplenote) could prevent from Duplicated tags:

https://github.com/Automattic/simplenote-electron/issues/2130

[2021-02-19 20:09] eduardozulian commented on #2372
Also reported in 3750787-zen

[2021-02-19 20:17] eduardozulian commented on #1230
Got a user request in 3750787-zen:

[2021-02-21 08:05] chromer030 commented on #2451
@codebykat , Hi thank you for improving and developing this lovely app.
Any plan to add support in-app proxy ?
As i mentioned here : https://github.com/Automattic/simplenote-android/issues/1329, proxy support is vital for some users, and using system-wide proxy is not always possible.
Thanks again.

[2021-02-22 01:36] SaeedBaig opened #2683 "Desktop app keeps asking to "Review You Account" even after I have"
### Expected

After installing 2.6.0, once I started the app, I was prompted to Review my Account, and either change or confirm my current email. After I clicked "Confirm", I followed the app's instructions of confirming my email account, clicking the link in the verification email, and the browser confirmed it was verified.

![email_verified](https://user-images.githubusercontent.com/29703429/108

[2021-02-22 08:57] codebykat commented on #2683
Hi @SaeedBaig, please log out and log back in to refresh your account data and let me know if that still does not fix the issue. Thanks!

(Duplicate of: #2675)

[2021-02-22 09:00] codebykat commented on #2451
It's not on our immediate roadmap, @chromer030, though we'll consider it for the future if we hear from many people that it's a need. As I said above, it seems there are viable workarounds and it's an uncommon usage. Specifically for the Electron app I think this is more hackable than with Android (e.g. you can use the command line to pass options).

[2021-02-22 09:18] SaeedBaig commented on #2683
Oh thanks @codebykat . That fixed it.

I hope there will be a long-term fix in the works for this issue, so other Linux users don't just keep running into this same issue again and again.

[2021-02-22 21:22] codebykat commented on #2683
Yes, we're looking into it, but I don't really have any theories about why it has happened to a handful of people. The vast majority of folks on Linux and Windows have been able to verify without it getting stuck. Thanks for letting us know.

[2021-02-22 21:22] #2683 closed, assigned to nobody

[2021-02-22 22:56] #2659 closed, assigned to sandymcfadden

[2021-02-22 22:57] #2660 closed, assigned to sandymcfadden

[2021-02-23 18:13] khanrahan opened #2690 "Warning Repeatedly"
MacbookAir9,1 (intel)
10.15.7
Simplenote Electron 2.6.0
Homebrew 3.0.1

Greetings!

Each time I load the electron app, it gives the warning to verify the email.  I have verified several times to be sure.  I do not receive this warning when using the web app on Safari 14.0.3 on the same machine.  I do not receive this warning when using the 2.7 version of the OSX app.   I installed the electron app

[2021-02-23 18:23] belcherj commented on #2690
Can you trying logging out and back in? If that doesn't work contact support at support@simplenote.com. They can sort you out from there.

[2021-02-23 18:23] #2690 closed, assigned to nobody

[2021-02-23 20:05] SylvesterWilmott opened #2691 "Simplecons Update"
Simplecons have been updated. Let's update the icons in the client to match.

The recent changes affects the following icons:

**24px**

- `published` (Removed).
- `unpublished` (Removed).
- `publish` (Added).

The `publish` icon should replace both all instances of the `published` and `unpublished` icons.

**16px**

- `published` (Removed).
- `publish` (Added).
- `attention` (Updated).
- `checkli

[2021-02-23 20:44] khanrahan commented on #2690
That did it.  Sorry to waste your time.

[2021-02-23 21:18] khanrahan opened #2692 "Diacritic / Accent Mark Menu on Mac Causes Cursor Jump"
Greetings!

Been having a problems using the simplenote-electron app for French.  Any diacritic/accent mark using the accent mark menu popup will cause the cursor to jump around.

You can hopefully reproduce by...
1. typing out j'aim
2. pressing and hold e to activate the little accent mark menu
3. press 2 to select the accent mark
4. cursor jumps to beginning of word

**NOTE** - using the hotkeys

[2021-02-24 07:40] codebykat commented on #2692
Thanks @khanrahan! Does this also happen on this page? https://microsoft.github.io/monaco-editor/playground.html

It looks quite similar to #2674, for which we've had to open an upstream issue.

[2021-02-24 12:27] #2564 closed, assigned to sandymcfadden

[2021-02-24 12:37] #2651 closed, assigned to sandymcfadden

[2021-02-24 14:43] khanrahan commented on #2692
Hiya!

Oh sorry, It does seems very similar.  Doesn't happen on this monaco editor though unfortunately.

![screencapture](https://user-images.githubusercontent.com/5342211/109016910-a4592b80-7684-11eb-88e8-db9d48241e71.gif)

[2021-02-24 21:58] codebykat commented on #2692
That's actually good news, possibly - if it's just our problem it's easier for us to fix 😄

[2021-02-24 22:17] codebykat commented on #2679
Thanks @FedeCuci! I've added this to our feature requests.

I'm closing this issue for now since we only use GitHub for tracking bugs and our immediate roadmap, but it's something we will consider in the future.

[2021-02-24 22:17] #2679 closed, assigned to nobody

[2021-02-25 09:17] Luna5521 commented on #2251
Any updates on the installer hanging issue?
I had it with going from 2.5 to 2.6 when updating from within Simplenote.
I was able to install 2.6 by downloading the installer.
Now, with going from 2.6 to 2.7 neither the in-app update or trying to update from the downloaded installer works.
Can't update anymore.

Don't really want to use the Windows Store version since it might be an older version??

[2021-02-25 15:02] #2612 closed, assigned to sandymcfadden

[2021-02-25 15:02] #2627 closed, assigned to sandymcfadden

[2021-02-25 19:12] mdrockwell commented on #2410
Another request: 3768041-zen

[2021-02-26 00:06] codebykat commented on #2251
Hi @Luna5521, we're trying to get the Windows Store version updated. Sorry for the oversight.

[2021-02-26 02:34] Luna5521 commented on #2251
Hi @codebykat, thank you for your reply.
No worries, I don't have the store version anyway.
Can the issue with the download version be fixed or is there a way around it?
Maybe the next version will install again ...

[2021-02-26 03:27] lukewlms opened #2696 "Request: Undo page delete"
### What
Simple request: cmd+z (or ctrl+z) can UNDO a page delete.

### Why
It's happened to me pretty often that I've accidentally deleted a page, or deleted it then realized I wanted to pull out some other content.  Currently, I have to go into my Deleted notes and dig around to find it.  (It will usually not be at the top because of Pinned notes in the trash, and as far as I know it's not possi

[2021-02-26 03:30] lukewlms opened #2697 "Request: Allow Copying notes in trash"
### What
Allow copying from notes in the trash.  Currently, there is no way to interact with notes in the trash (edit, copy, whatever).

### Why
I understand why it's not possible to *edit* notes in the trash, but it seems allowing copying would be fine.  It's not uncommon that I want to pull some info from something in the trash.  The current workflow is clunky - I need to undelete it, then go fi

[2021-02-26 04:01] codebykat commented on #2251
We've been investigating it but we don't yet know what the issue is, sorry.

[2021-02-26 06:47] codebykat opened #2698 "Handle "unusual line terminators""
A user in 3768648-zen got the following message from Monaco:

[code]

Looks like we can set that option to `auto` instead of the default of `prompt`: https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.istandaloneeditorconstructionoptions.html#unusuallineterminators

[2021-02-27 06:55] nr1995 opened #2699 "v2.7.0 can't login Windows app"
Recently I haven't been able to log into the Windows app (Windows 10).
This happened around the time I started using a NordVPN UK server.
I usually use US or Japanese servers.
I don't know if that's the cause, but it could be.

In every other way my internet+VPN is working fine.
Sorry I can't give you much more info than that.

[2021-02-27 09:28] rahuldahal-zz opened #2700 "Markdown Highlight options"
### What
Markdown syntax highlight options, or themes. Like,
- Github Flavoured Markdown
- Maruku
- StackOverflow Flavoured Markdown
- [more list here](https://github.com/commonmark/commonmark-spec/wiki/Markdown-Flavors)

### Why
While previewing the note written using markdown, it's difficult to "see" the styles being applied.
Specially, the inline styles like *italics* **bold** `inline code` are

[2021-02-27 16:11] rezzap commented on #2420
A user in 3775609-zen is reporting that this is an issue again since version 2.2.0 on Windows. Is it expected that this would be working now?

Re-opening it for testing.

Simplenote v2.7.0 Windows desktop ver.
Windows10 Pro x64 v20H2

[2021-02-28 09:59] pachlava commented on #2420
@rezzap I confirm that this is not working on Windows. (Simplenote 2.7.0 | Win10).

'Ctrl+G' shortcut is not working, however the menu item (Edit ~> Find Again) does.

@codebykat since current issue was reopened, but already had some history and milestone etc... does it make sense to open a new one?

[2021-02-28 19:27] wisehackermonkey commented on #2700
good idea!

[2021-02-28 19:45] wisehackermonkey opened #2702 "Double Click markdown view to edit a note"
### What

Make double clicking the markdown view open up editing of the note.

### Why

When I'm editing notes I often try to double click the text to edit it, but realize im in markdown mode, and having to click.
![image](https://user-images.githubusercontent.com/29699356/109431239-51e87980-79ba-11eb-9ea7-243499717b58.png)
![image](https://user-images.githubusercontent.com/29699356/109431242-5a40

[2021-03-01 10:36] djordjeandrejevic opened #2703 "Login issue (blocked IP address?)"
I'm using Simplenote 2.7.0 on Ubuntu 18.04 and I have an issue while trying to login. Debugging console is telling me that _auth.simperium.com_ request has timed out.

I've also tried accessing _simperium.com_ website through a web browser and the result is the same - can't access it.

![2021-03-01_11-38_1](https://user-images.githubusercontent.com/8862464/109486079-b707a200-7a82-11eb-976c-ff51380

[2021-03-01 16:02] belcherj commented on #979
Note info will be a modal soon so no need to do that one.

[2021-03-01 16:10] djordjeandrejevic commented on #2703
After bit of research, I think the problem might be caused due to my ISP using [CG-NAT](https://en.wikipedia.org/wiki/Carrier-grade_NAT) for handling IPv4 addresses. Maybe the [free trial of 250K requests](https://simperium.com/pricing/) was exceeded by this "umbrella" IP address that was assigned to me by CG-NAT and that was causing login fails.

Many ISPs (at least in my country) are now using o

[2021-03-01 16:15] belcherj commented on #1891
<img width="832" alt="Screen Shot 2021-03-01 at 11 15 46 AM" src="https://user-images.githubusercontent.com/6817400/109525394-7d816780-7a7f-11eb-800f-54307f34cb9f.png">

[2021-03-01 16:17] belcherj commented on #1891
https://highlightjs.org/ Do we want to pick a new theme for code blocks in light and dark mode?

[2021-03-01 16:35] belcherj commented on #2654
Check with @SylvesterWilmott on this one.

[2021-03-01 21:10] codebykat commented on #2703
Hi @djordjeandrejevic, thanks for getting in touch. Can you please reach out to us at contact@simplenote.com so we can investigate further?

Also, where did you find the contact@simperium.com address? ~It's old, however... I think it probably does get into our system, but it might not be getting tagged appropriately to come to our attention right away.~ [Edited: It SHOULD still be going into our s

[2021-03-01 21:10] #2703 closed, assigned to nobody

[2021-03-01 21:18] codebykat commented on #2699
Hi @nr1995, can you please contact us at support@simplenote.com so we can investigate this? We can't debug account-related issues on the public GitHub. Cheers :)

[2021-03-01 21:18] #2699 closed, assigned to nobody

[2021-03-01 21:43] codebykat commented on #2700
Thanks! More themes are already on our radar. Additionally I think this specific issue was reported in #1891 and will hopefully get some love soon.

[2021-03-01 21:43] #2700 closed, assigned to nobody

[2021-03-01 21:53] dcalhoun opened #2704 "Review Your Account dialog close button cut off in macOS Safari"
### Expected
The close button displays an entire "X" character.

### Observed
The close button displays only the top half of an "X" character.

### Reproduced

1. Visit Simplenote in macOS Safari.
2. Sign up for a new account.
3. Arrive on Simplenote landing screen with "Review Your Account" modal displayed.

| Safari | Chrome |
| --- | --- |
| ![simplenote-safari-close-button](https://user-images

[2021-03-01 21:54] codebykat commented on #2704
~~LOL. Thanks @dcalhoun 🤦‍♀️  Wanna fix it? 😉~~ Edited to clarify, this snark was at my own expense and not yours, let me try this again:

Whoops, I don't know if we even tested that feature on Safari. 🤦‍♀️ Good find! Let's add it to the good first issue tag, that might be an easy win if you feel like tackling it. Thanks @dcalhoun ❤️

[2021-03-01 21:55] dcalhoun commented on #2704
@codebykat would be happy to.

[2021-03-02 12:11] codebykat commented on #2420
I think I have a fix.

[2021-03-02 13:18] illusaen commented on #1143
Note: I started this (see branch `unicode` but didn't feel like I could do it justice in the time I have left on my rotation. Feel free to use any of my code if desired! The gif below shows what I was able to get working (namely, diacritic > normal. Normal > diacritic highlighting is a rougher issue).
<details>
  <summary>Diacritic</summary>

![diacritic](https://user-images.githubusercontent.com/

[2021-03-02 13:46] nr1995 commented on #2699
No problem.
I can confirm that it _**was**_ in fact because I was connected to the UK server, btw.

[2021-03-03 14:23] marty331 commented on #2663
![Uploading Screen Shot 2021-03-03 at 8.19.38 AM.png…]()
This is still happening for me, I'm on Mac version 2.8

[2021-03-03 14:26] marty331 opened #2708 "Email Verification popping up at start - Mac"
<img width="494" alt="Screen Shot 2021-03-03 at 8 19 38 AM" src="https://user-images.githubusercontent.com/663316/109819657-ed1b6200-7bf9-11eb-9d3c-d092bcde4e96.png">

Email verification popping up at start of app (previously verified).  I then see the message "Cannot Confirm Account - please check your network settings and try again."  I am connected to the internet, otherwise how would I have cr

[2021-03-03 15:02] dcalhoun opened #2709 "Long email causes broken overflow in Review Your Account dialog"
### Expected
A long email wraps to remain within the dialog width.

### Observed
A long email overflows the dialog width making the text less legible.

### Reproduced
1. Visit the Simplenote desktop or web app.
2. Sign up with a fairly long email address.

<img width="1226" alt="modal-overflowing-email" src="https://user-images.githubusercontent.com/438664/109825032-07a40a00-7bff-11eb-8895-837555f

[2021-03-03 15:07] dcalhoun opened #2710 "Revisions Selector slider handle misaligned"
### Expected
The Revisions Slider handle site beneath the horizontal line.

### Observed
The Revisions Slider handle site atop the middle of the horizontal line.

### Reproduced
1. Log into the Simplenote web or desktop app.
2. Open the Revisions Selector via the History button in the top-right corner.

| Chrome | Safari |
| --- | --- |
| <img width="1552" alt="chrome-revisions-selector-handle" sr

[2021-03-03 20:27] codebykat commented on #2663
Hi @marty331, if logging out and logging back into the app doesn't fix the issue, can you please email us at support@simplenote.com so we can debug further? We can't debug account problems on the public GitHub. 😅 Thanks!

[2021-03-04 00:51] ThomasDNguyen commented on #573
it's 2021 and I'm still waiting for this feature :/

[2021-03-04 06:19] codebykat opened #2716 "Unsynchronized notes warning needs a height and overflow"
If you have a long list of unsynchronized notes and attempt to log out, it will take up the full height of the browser window, with no way to see the options.

### Expected
The list of notes should be within a container with an `overflow:scroll` on it and a `max-height`.

### Observed

<img width="504" alt="Screen Shot 2021-03-03 at 10 12 45 PM" src="https://user-images.githubusercontent.com/52152

[2021-03-04 06:27] codebykat commented on #2674
Noting: Fixed upstream in Monaco, in the milestone February 2021. It will likely still be a few months before we can upgrade package dependencies to incorporate this fix.

[2021-03-04 07:18] mokagio commented on #2099
I invited @wpmobilebot to be a collaborator with "Write" access to the repo.

The next step is to use its API token in CI.

[2021-03-04 12:03] KshDi13 opened #2717 "Update not updating"
Upon opening Simplenote on Windows 10 x64 i'm prompted that '_A new version of Simplenote is available!_' and that i have 2.5.0 and that 2.7.0 is now available.
I click on on _Update & Restart_ and it appears to download and install 2.7.0 and indeed when i check _Help > About Simplenote_ it says 2.7.0 however when i exit the app and go back in it appears i'm reverted back to 2.5.0. If i manually u

[2021-03-04 12:41] pachlava commented on #2717
@KshDi13 thank you for the report! Could you please check if #2251 looks similar to your issue (especially, the latest comments)?

[2021-03-04 14:39] #2704 closed, assigned to nobody

[2021-03-04 18:08] #2709 closed, assigned to nobody

[2021-03-05 12:07] #2568 closed, assigned to sandymcfadden

[2021-03-05 19:45] #2698 closed, assigned to illusaen

[2021-03-05 22:06] dcalhoun commented on #1935
@belcherj I believe achieving WCAG compliance could be a larger project that is likely worth splitting up into multiple tickets. We would likely also need to decide which version of WCAG to target (e.g. WCAG 2.1) and what level of compliance (e.g. AA) we would like to achieve. In the meantime, I wanted to capture some resources I am familiar with that could help us approach the larger project.

[D

[2021-03-06 01:30] codebykat commented on #2717
Closing as a duplicate

[2021-03-06 01:30] #2717 closed, assigned to nobody

[2021-03-06 01:33] codebykat opened #2722 "Sidebar: Hide tag heading when no tags exist"
Follow-up from #2687

On other platforms, "the entire tags UI is hidden (including the heading) if no tags exist. This means if you delete your last tag, the whole "Tags" section will disappear." (quoting @SylvesterWilmott )

[2021-03-06 01:36] #1230 closed

[2021-03-08 07:23] erricgunawan commented on #2522
3794879-zen

Device Info:

- Simplenote Version 2.5.0, Windows 10 Education (auto-updated), and Surface Pro 5.

[2021-03-09 14:11] #2710 closed, assigned to dcalhoun

[2021-03-09 14:14] cxmeel opened #2727 "Light Mode for Editor Panel"
### What

I'd like to see an option added that allows the editor panel to have a separate theme setting to the app itself.

### Why

I personally find it easier to see/read the contents of the editor/preview in light mode while editing, but don't necessarily want the entire app to be in light mode.

### How

![Preview](https://user-images.githubusercontent.com/21029087/110483529-b2299a80-80e1-11eb

[2021-03-09 16:56] dcalhoun commented on #1891
@SylvesterWilmott I'd appreciate your input on how we would like to approach this from a design perspective. We could either (A) apply a simple background color or (B) apply syntax highlighting to inline code. Note that this is not about _code blocks_, but _inline code_. The former will remain as-is.

| (A) Simple Background Color | (B) Syntax Highlighting |
| --- | --- |
| <img width="801" alt="i

[2021-03-10 01:05] Symbitic opened #2729 "Exclude notes from default view by tag name"
### What

This is a feature request for my pull request, #2701.

Adds 'Hidden tags' to settings. Any note that contains at least one of the tags listed under Hidden tags will not be visible in the default 'All Notes' view. They will still be visible in the tag view.

### Why

Users may want to be able to exclude certain notes from the default All Notes view if they have a large number of notes. Th

[2021-03-10 02:04] #2420 closed, assigned to nobody

[2021-03-10 02:06] codebykat opened #2730 "Keyboard shortcuts: Open tag list does not work on Linux (Ubuntu only?)"
Follow-up from #2705

Ctrl + Shift + U seems to be a [global shortcut](https://superuser.com/questions/358749/how-to-disable-ctrlshiftu-in-ubuntu-linux) on some versions of Linux.

[2021-03-10 03:32] erricgunawan commented on #2372
Possible similar issue reported in 3798007-zen:

Screenshots can be found in the report above. Not included here since it might contain some personal info.

They have the Simplenote Windows app on Windows 10.

Still trying to get and confirm their Simplenote app version.

[2021-03-10 03:49] erricgunawan commented on #2251
Another report from 3797878-zen:

- Windows 10
- Simplenote version is 2.4.0 trying to update to 2.7.0

Suggested to manually download and update the app.

[2021-03-10 05:43] poojashetty18 commented on #2410
Another request here: 3787786-zen

[2021-03-10 11:15] pachlava opened #2734 "[2.7.1] `Cancel` and [x] buttons do not work in the logout prompt"
### Expected
All onscreen elements are functional

### Observed
`Cancel` and `[x]` buttons do not work here:

<img width="363" alt="Screenshot 2021-03-10 at 13 05 27" src="https://user-images.githubusercontent.com/73365754/110620493-bddc9600-81a1-11eb-8e67-776465ac61fd.png">

### Reproduced
1. Be logged in on the app
2. Sign up for another account via Web
3. Set up password via email link
4. When

[2021-03-10 14:34] SylvesterWilmott commented on #1891
Thanks @dcalhoun

I agree that the inline blocks should remain without syntax highlighting. The proposed style using the monospace typeface and background looks great to me!

With regards to the colour, I think using the same colour as the tag background (in the editor) would be great.

[2021-03-10 14:35] dcalhoun commented on #1891
@SylvesterWilmott sounds good. I'll update the background color to match the tags. Thanks!

[2021-03-10 15:08] azollafox commented on #2372
The above report was in 2.70

[2021-03-11 06:00] mokagio commented on #2099
CI now uses @wpmobilebot's token for the uploads

![image](https://user-images.githubusercontent.com/1218433/110742909-4aaf4e80-828b-11eb-96fc-84509ca9ef5b.png)

[2021-03-11 06:00] #2099 closed, assigned to nobody

[2021-03-11 08:02] gan-lin commented on #2522
For me the problem disappeared after upgrading to 2.7.0 on Windows 10 20H2 and Ubuntu 20.04.

[2021-03-11 13:54] pachlava opened #2743 "Creating a new note from Trash via shortcut should be forbidden"
### Expected
If the `new-note` button is disabled when in `Trash`, the shortcut should not work too (same for menu item).

### Observed
`Ctrl+Shift+I` shortcut will switch the app to weird state: there will be still `Trash` header, but notes will be shown from `All Notes`, and also there will be the `Empty Trash` button:

https://user-images.githubusercontent.com/73365754/110797256-91984680-8281-1

[2021-03-11 14:20] pachlava opened #2744 "[Windows] The cross in a cross icon indicator is a bit shifted"
### What
The cross is a bit not centered on Windows 10, Simplenote 2.8.0-beta2:

<img width="151" alt="Screenshot 2021-03-11 at 14 53 17" src="https://user-images.githubusercontent.com/73365754/110800498-e7bab900-8284-11eb-94b7-374805dd0136.png">

Perfectly centred on macOS and Ubuntu though.

[2021-03-11 14:21] mdrockwell commented on #2646
Possibly another related instance here: 3805837-zen

They also included a video of the issue in the ticket — bug 3.

[2021-03-11 14:30] sandymcfadden commented on #2743
This looks like a regression. It was previously addressed and some conversation in #2612.
It certainly should take you back to All notes when using the keyboard shortcut, but I think it makes sense if we are going to allow the keyboard shortcut that we have the button active as well.
I'll get a fix ready.

[2021-03-11 14:38] pachlava opened #2745 "`History (unavailable)` hint is not hidden automatically"
### Current
The `History (unavailable)` hint will be hidden only after a repeated hover above history icon:

https://user-images.githubusercontent.com/73365754/110802240-ad521b80-8286-11eb-84ad-bb4915f344a6.mov

Happens on Windows, macOS and Ubuntu.

### Proposed
Should be hidden automatically as happens for hints for neighbouring buttons.

[2021-03-11 15:00] #1891 closed

[2021-03-11 15:04] pachlava opened #2747 "[Win/Ubuntu] Restoring app window size from maximized can spoil note layout"
### Expected
Window resize should not affect the note layout

### Observed
When restoring app window size from maximized, the note content will be displayed in `one char per line` style:

https://user-images.githubusercontent.com/73365754/110806786-1176de80-828b-11eb-88b7-7b2ed83ec94d.mov

### Reproduced
1. Easier to reproduce with `View` ~> `Line Length` ~> `Narrow`
2. Maximize the window
3. Sele

[2021-03-11 15:17] pachlava opened #2749 "`support@simplenote.com` link is not working as `mailto:` link"
### Expected
Clicking the `support@simplenote.com` link should result in 'email sending activity' (whatever user has set up):

<img width="251" alt="Screenshot 2021-03-11 at 14 50 13" src="https://user-images.githubusercontent.com/73365754/110809043-3c623200-828d-11eb-9a57-f8bc401cccbf.png">

### Observed
Nothing happens on click

### Reproduced
1. Start new user signup
2. Submit the email ~> you

[2021-03-11 15:36] belcherj commented on #2749
https://github.com/Automattic/simplenote-electron/blob/da1bee231da1f91987f8b624d9f4bca88f4226ba/lib/email-verification/index.tsx#L101

https://github.com/Automattic/simplenote-electron/blob/6871f8a95dacb0fc79689ae978892dd2111f134b/lib/auth/index.tsx#L98

[2021-03-11 15:42] dcalhoun opened #2750 "Modals become obscured in short windows or with zoomed UI"
If a user has a short window height or is leveraging a zoomed UI (i.e. <kbd>Cmd</kbd>+<kbd>+</kbd> to increase size of text), several modals become obscured and do not provide scrolling to see the entirety of their content.

Obviously the impact of this issue is dependent upon _how much_ zooming is applied. So, it may not occur for the majority of users, but could negatively impact users who have

[2021-03-11 15:43] wisehackermonkey commented on #2702
Any thoughts?

[2021-03-11 15:49] pachlava commented on #2743
I did not realize this is a regression - only now noticed #2618. Then, what I described in `Expected` is wrong.

[2021-03-11 16:29] pachlava opened #2752 "After deleting a selected tag, `All Notes` will contain no notes"
### Expected
When `All Notes` selected, all notes should be shown.

### Observed
If a tag was selected in Sidebar, but deleted afterwards, the app will switch the note list to `All Notes`, however there will be no notes shown:

https://user-images.githubusercontent.com/73365754/110820043-66b8ed00-8297-11eb-8f0a-e4e5a6ade315.mov

### Reproduced
1. Have at least one tag and at least one note
2. Sele

[2021-03-11 17:43] codebykat commented on #2749
Weirdly, we wrapped this link in a `viewExternalUrl` call (which I would expect to work) but the link in the verification is just a `mailto:` (which I would expect to fail).

I will look at this today...

[2021-03-11 21:15] codebykat commented on #2702
Hi @wisehackermonkey, I'm not sure about this one because double-clicking is generally not an idiom that is used on the web. I think this would be an unexpected behavior if one is trying to, say, select text (important to note that some OSes and browsers support an interaction of multiple-clicks on text to expand selection).

That being said we always appreciate feedback and we look at all feature

[2021-03-11 21:15] #2702 closed, assigned to nobody

[2021-03-11 21:18] #2749 closed, assigned to nobody

[2021-03-11 21:21] codebykat commented on #2727
Hi @ClockworkSquirrel, this is an interesting idea, and one that we'll keep in mind when considering themes for the app. I'm going to close this for now as we have that tracked elsewhere, but thanks for the idea!

[2021-03-11 21:21] #2727 closed, assigned to nobody

[2021-03-11 21:27] codebykat commented on #2522
It is very possible that at least some of these issues were fixed in 2.7.0 by #2611. If there are new reports of this please first update to 2.7.0 and then comment here with reproduction steps so we can figure out what's still broken. Thanks!

[2021-03-12 00:02] codebykat commented on #2750
See also #2716

[2021-03-12 15:30] pachlava commented on #2522
Testing on [2.8.0-beta2](https://github.com/Automattic/simplenote-electron/releases/tag/v2.8.0-beta2) shows that at least several scenarios related to line duplication are not reproducible anymore. If the root cause for all similar issues is the same, we can assume that it's fixed. paFIJd-g3-p2#comment-737

All participants are very welcomed to check the latest version.

[2021-03-12 19:54] wisehackermonkey commented on #2702
# thanks for the feedback.

### `double-clicking is generally not an idiom that is used on the web` after some thought I have to agree with this.

# what about doing a shift click or "cmd + right click"?

best,
-oran

[2021-03-13 13:15] pachlava opened #2757 "Moving default focus to 'Delete Tag' button in delete tag confirmation"
### What
`Delete Tag` button is focused by default, so the `Enter` keystroke will be a faster alternative of clicking the button:

<img width="368" alt="Screenshot 2021-03-13 at 15 13 43" src="https://user-images.githubusercontent.com/73365754/111031141-b8d04e80-840e-11eb-9bc7-7769d519adef.png">

### Why
Since there is no way to select multiple tags for removal, the process is slow by itself. Curr

[2021-03-13 13:26] pachlava opened #2758 "[Win] `Unsyncronized Notes` alert text right padding is too small"
### What
Only on Windows (2.8.0-beta2 Desktop). The alert shown for a case of app closure attempt while offline:

<img width="369" alt="Screenshot 2021-03-13 at 15 17 44" src="https://user-images.githubusercontent.com/73365754/111031409-2630af00-8410-11eb-8304-b63a05703e52.png">

Fine on macOS and Ubuntu

### Why
Will look better

[2021-03-13 13:40] pachlava opened #2759 "'Unsynced notes' alert does not handle the case of a really long word in note title"
### Expected
The text placed inside the alert should not leave the alert boundaries. While the described case looks like something unlikely to happen in languages where words are separated with a space, there might be languages where it's done differently?

### Observed
For a case of a long single word note title this happens (also note the absence of ⚠️ sign):

<img width="456" alt="Screenshot 20

[2021-03-13 13:46] dplanella opened #2760 "Remember focus mode status upon restart"
### What

Please consider making the focus mode a configurable setting that is stored (and restored) across app restarts.

### Why

I'd argue that the focus mode is a permanent personal preference that goes beyond wanting to momentarily hide the notes list and then show it again.

I myself find that having to switch to focus mode every time the app is started is not very effective and slightly irr

[2021-03-13 13:54] pachlava opened #2761 "[Win+Ubuntu] `OFFLINE` text is a bit misplaced"
### Expected
All UI elements are fully visible, when shown.

### Observed
When offline, the `OFFLINE` text is a bit misplaced:

<img width="826" alt="Screenshot 2021-03-13 at 15 45 44" src="https://user-images.githubusercontent.com/73365754/111032052-37c78600-8413-11eb-81ed-0e9270ecfed6.png">

<img width="1025" alt="Screenshot 2021-03-13 at 15 51 46" src="https://user-images.githubusercontent.com/

[2021-03-13 13:55] dplanella opened #2762 "`Find in Note` is the same as `Search Notes...`"
### Expected

When I go to `Edit` > `Find in Note`, I'd expect the search to be done only on the current note

### Observed

When I go to `File` > `Find in Note`, the search is done across all notes.

Effectively, there is no difference between the `Edit` > `Find in Note` and `Edit` > `Search Notes...` menu actions

### Reproduced

1. Start app
2. Go to `File` > `Find in Note` menu
3. Type a keywo

[2021-03-13 14:03] dplanella opened #2763 "Search is not discoverable in Focus Mode"
### Expected

In Focus Mode, when using the search function, users can see what they are typing.

### Observed

When Focus Mode is active, using the search has the user typing on a search box that's invisible to them.

It takes a few times to realize that the search box is hidden and is only shown when disabling Focus Mode, which is a confusing UX pattern.

### Reproduced

1. Start the app
2. Enab

[2021-03-13 14:05] pachlava commented on #2762
@dplanella thank you for the report! Since Simplenote currently provides only one kind of search, and it's global, I'd vote for removing the `Find in Note` menu item, and leave the `Search Notes...` only.

Also, replacing the `Ctrl+Shift+S` shortcut for `Search Notes...` with `Ctrl+F` will be more consistent with macOS version shortcuts. But this will also affect the `Shortcuts` window.

@Sylveste

[2021-03-13 14:14] dplanella opened #2764 "Focus Mode/Toggle Sidebar naming is inconsistent"
### Expected

The `View` > `Focus Mode` action on the menu and the `Toggle Sidebar` icon on the toolbar do the same thing: they should be named identically, unless they are expected to do different things.

### Observed

Both `View` > `Focus Mode` and `Toggle Sidebar` toggle the sidebar's visibility, but have different names, which sets an expectation that they do different things, confusing users

[2021-03-13 14:24] pachlava opened #2765 "Tags are not submitted with space in Web App."
### Expected
Space submits a tag

### Observed
While #2607 was tested with a Desktop app (2.7.0-beta1), it looks like the web-app that is currently live, the same version, does not submit a tag with space.

### Reproduced
1. Use the web app in Safari, FF or Chrome
2. Start adding a new tag to a note
3. Hit space → tag is not submitted

### Where did you see the bug
- System Make: MBP 16"
- OS: Win

[2021-03-13 15:44] taprobane99 opened #2766 "Review your account pops up at every launch"
Hi,

For several versions now the "Review your account" window pops up when I launch the application on Linux (AUR version). Even if I press confirm, get the email, and complete a successful verification, I still get the message. It can be ignored by pressing the x button, but is a bit annoying.

Can this be fixed.

thanks

[2021-03-15 03:13] reginabally opened #2767 "Unable to drag and drop text to the web app"
It was reported in 3816060-zd-woothemes that in the previous version of the web app, they were able to drag and drop text from the other apps. However, the latest version of the web app doesn't support this feature anymore.

### Expected

I would expect to be able to drag and drop text to the web app.

### Observed

The text doesn't get copied to the web app with drag and drop.

### Reproduced

1.

[2021-03-15 09:45] pachlava commented on #2646
Same happens in json:

[code]

[2021-03-15 09:50] pachlava commented on #2646
Removed the 'Windows' ending from the title since it's the same on macOS and Ubuntu

[2021-03-15 10:00] pachlava opened #2768 "Internal links to imported notes can be multiline"
### Expected
Internal link should not include line breaks

### Observed
Found thanks to [this bug ](https://github.com/Automattic/simplenote-electron/issues/2646). The exported notes have extra line breaks. Once these notes are imported again, the internal link for the note will include the line break:

<img width="454" alt="Screenshot 2021-03-15 at 11 40 27" src="https://user-images.githubusercon

[2021-03-15 13:24] SylvesterWilmott commented on #2762
I agree.

On web we have intentionally avoided the "F" key but in the app we are free to use it for the search shortcut. Cmd + F currently focuses search for the mac installed Electron app and should be the same elsewhere.

[2021-03-15 15:34] SylvesterWilmott opened #2769 "Move Sorting Options to Settings"
Based on low usage, let's remove the sort bar from both the search results and notes list.

Sorting should now appear in settings in full:

Name: A-Z
Name: Z-A
Created: Newest
Created: Oldest
Modified: Newest
Modified: Oldest

[2021-03-15 16:33] pachlava opened #2770 "Selected tag placeholder text not updated on tag renaming"
### Expected
When the tag is renamed, all controls displaying the tag name should display a new name

### Observed
Selected tag placeholder text not updated on tag renaming:

https://user-images.githubusercontent.com/73365754/111186307-92034b00-85bb-11eb-8ecf-53fcb6117786.mov

### Reproduced
1. Have a note with assigned tag `Tag1`
2. Select this tag in sidebar ~> the placeholder text in the search

[2021-03-15 17:12] pachlava opened #2771 "Insertion of an interlink via `[` deletes the preceding character"
### Expected
Insertion of an interlink should not affect the previously created note content

### Observed
Adding an internal link via `[` will erase the preceding character:

https://user-images.githubusercontent.com/73365754/111192110-65523200-85c1-11eb-9a0a-7123285058ca.mov

This also happens to spaces in bulleted lists, which breaks the lists.

### Reproduced
1. Have at least two notes
2. Sele

[2021-03-15 20:01] codebykat commented on #2762
We're intentionally overriding the browser's search with `Ctrl+F` because the browser can't search the full text of a note (in other words, if we allow the default browser search to trigger, it will be broken -- it can only search within the visible portion of the note).

I think the `Ctrl+Shift+S` shortcut was left for historical purposes, or in case the OS/browser does take over `Ctrl+F`.

[2021-03-15 20:02] #2734 closed, assigned to nobody

[2021-03-15 20:03] codebykat commented on #2766
Hi @taprobane99, there's a fix for this in the upcoming new version (2.7.1 / 2.8.0). In the meantime you should be able to clear the message by logging out of the app and logging in again. Thanks for the report!

[2021-03-15 20:03] #2766 closed, assigned to nobody

[2021-03-15 20:13] codebykat opened #2772 "Sign up: Fix orphaned text"
<img width="433" alt="Screen Shot 2021-03-09 at 4 27 38 PM" src="https://user-images.githubusercontent.com/52152/111215174-163fd900-8590-11eb-81ca-1459b5ec0718.png">

We need to widen this div a little.

[2021-03-15 20:38] cappadona commented on #2676
Also still experiencing this bug.

[code]

[2021-03-16 00:04] cereby commented on #2522
2.8.0-beta2 reproduces this however in Japanese, on Windows 10 2004.

[2021-03-16 10:10] pachlava commented on #2522
This GH issue is huge and describes multiple problems, some of them might be of different cause.

`1` IME Preview control is shown at the top-left of the screen.
`2` Impossible to enter anything at all
`3` Entered characters are duplicated
`4` Unexpected line breaks
`5` Duplication of whole note content in case of certain characters typing, like `。`

While 2.8.0-beta2 seemingly addressed the issue

[2021-03-16 10:49] sandymcfadden commented on #2765
There was an issue where this change was overridden but then added back in PR #2661. It looks like we haven't deployed to production since this was added back though. Next time we deploy this will be working again.
@codebykat do we know when our next deploy will be?

[2021-03-16 10:52] sandymcfadden commented on #2764
Thanks for catching this!
@SylvesterWilmott which option do you think that we should go with to stay consistent?

[2021-03-16 11:12] jaz-on opened #2774 "Change tag autocomplete feature to be case-insensitive ?"
Hello,

### What
I suggest that the autocomplete feature at the end of the note ignore the tag letter-case.

### Why
I recently noticed that the tags are letter-case sensitive :
- The list of my tags are saved with a capital letter at the beginning of the word.
- When I add tags quickly to my notes, I sometimes start writing the tag in lower case and the tag is not found because the tag uses a cap

[2021-03-16 11:24] sandymcfadden commented on #2762
Do you think it is OK to remove the `CtrlOrCmd+Shift+S` from at least the electron app and update the Keyboard shortcut dialog to show `CtrlOrCmd+F` instead?

[2021-03-16 12:09] sandymcfadden opened #2777 "Chore: Update Dialogs to handle long content and keep action buttons static at the bottom"
There are some dialogs that have the potential to show long content.

Currently, we set the dialog to scroll, but if there are buttons at the bottom they are hidden out of view.
We should go through and update dialogs so the inner content is scrollable but the title, and footer with buttons if relevant, are static and always shown.

[2021-03-16 14:03] xmha97 opened #2779 "Login screen on startup"
Please add below feature:
- Support multi accounts feature and show login screen on startup. (like Google Chrome)
![Google Chrome](https://user-images.githubusercontent.com/23485114/109156916-ab686280-7786-11eb-8c0c-77c0a6d634b3.png)

[2021-03-16 15:59] pachlava opened #2780 "Checklist is inserted at wrong position if line starts from a bullet list marker"
### Expected
`Insert checklist` should insert the checkbox at the beginning of the line (this is so in iOS, Android, macOS). E.g. have:

`+Plus` ~> user clicks `Insert checklist` ~> result is `☐ +Plus`

### Observed
`+Plus` ~> user clicks `Insert checklist` ~> result is `+- [ ] Plus`

https://user-images.githubusercontent.com/73365754/111340048-efad9b00-8680-11eb-8a8b-f3f163449775.mov

### Reprodu

[2021-03-16 21:51] bodamat opened #2781 "UI buttons and hotkeys to easy edit text in markdown mode"
### What

Add UI buttons and hotkeys to easily edit some text in markdown mode. For example, just select some text and click the bold UI button or hotkey for bold action. So at right and left selected text add ' ** ' to do text bolder as in markdown style. It would be so good for the all-supported markdown style and for all supported os. Now we have only for a checklist.

### Why

This is easy and

[2021-03-17 07:31] iamgabrielma opened #2782 "Hotkeys don't work as expected if keyboard is set to non-latin languages."
Reported on 3818073-zen

Some hotkeys seem to not work if the keyboard is set to a non-latin language, but they do work if the key mapping is set to English. In this case the user reported the problem for Cyrillic in Windows, but I was able to replicate it as well for Thai in OSX.

I wonder if this could be related to using the latin convention rather than the keyboard key code value, when checkin

[2021-03-17 10:37] #2757 closed, assigned to nobody

[2021-03-17 10:51] pachlava opened #2783 "Interlinks suggestions not dismissed if there's a text at the note end"
### Expected
Once the user makes clear they don't want to insert an interlink (e.g. by closing a square bracket), the interlinks suggestions should not be shown. Also, the notes shown in pop-up should depend on the entered text.

### Observed
Under certain conditions, the interlinks pop-up will be shown no matter what the user types in. This is best displayed when inserting the checklists with `-

[2021-03-17 14:35] entodoays commented on #1910
I had this issue only once, but I think I understood the flaw. I was working on a note on my Android tablet using the app. Without closing the note, I continued working on the same note on my PC using the web app. When I opened Simplenote on my tablet again, the app saved the version of the note as it was when I finished editing the note before. I had to use the history to recover the note.
Probab

[2021-03-17 15:12] #2770 closed, assigned to nobody

[2021-03-17 15:13] #2761 closed, assigned to nobody

[2021-03-17 15:14] #2758 closed, assigned to nobody

[2021-03-17 15:14] #2759 closed, assigned to nobody

[2021-03-17 17:03] eduardozulian commented on #2522
Another report in 3820595-zen

* Simplenote version: 2.7.1
* Windows version: 10 professional the latest
* Software: The default Korean Input Method Editor (IME), nothing else

[2021-03-18 01:31] reginabally commented on #2526
Another report in 3816060-zd-woothemes with a screenshot.

OS: macOS 11.2.3
Browser: Brave: 1.21.76

[2021-03-18 14:05] belcherj opened #2787 "Tags chips text is not vertically aligned"
Have a note with tags. Observe text is not vertically aligned in the tag list at the bottom of the note.

<img width="817" alt="Screen Shot 2021-03-18 at 10 04 12 AM" src="https://user-images.githubusercontent.com/6817400/111639239-740f3380-87d1-11eb-98cd-3501b20890ef.png">

Tested in Google Chrome

[2021-03-18 14:08] belcherj opened #2788 "Switching tabs causes a pending tag to be submitted"
If you are inputting a tag at the bottom of a note and then switch to another tab in the browser the tag will be submitted.

1. Be in Chrome
2. Have note open
3. Start adding a tag
4. Do not submit it
5. Switch to another tab
6. Switch back
7. Tag was submitted

@SylvesterWilmott is this a bug?

![Mar-18-2021 10-11-28](https://user-images.githubusercontent.com/6817400/111640214-5ee6d480-87d2-11eb-

[2021-03-18 16:54] SylvesterWilmott commented on #2788
Is this a result of clicking outside of the input area? It can be considered a bug since the click outside the input area was not actually in the same window but I doubt it's a bug many will experience.

[2021-03-18 17:06] sandymcfadden commented on #2560
From slack. The idea of a timestamp being displayed was going to be conditional based on what sorting option was selected. If notes were sorted by created date, or modified date we would display the timestamp.
More thought is going to go into this before making any changes to add the timestamp.

[2021-03-18 17:22] SylvesterWilmott commented on #2764
For context, we have both "Toggle Sidebar" and "Focus Mode" on macOS since both the notes list and tags list can be visible at the same time. On macOS "Toggle Sidebar" refers to showing/hiding the **tags** list, so in this case I think the label should be "Focus Mode" in both spots on Electron.

[2021-03-18 20:43] eduardozulian commented on #2457
Reported in 3818494-zen:

* OS: Windows 7 x86
* Simplenote 2.7.0-beta1

In the above ticket, there is a comprehensive video showing a few issues:

* Cannot select text
* Double-click to select doesn't work
* Selecting all text shows the selection overlay in LTR instead
* Some characters and not in the right place

The user claims it was fine before the last two updates

[2021-03-19 06:28] codebykat commented on #2522
The upper-left corner issue appears to be this one, unfortunately closed as stale: https://github.com/electron/electron/issues/4539

I think we're not on the most recent Electron, so we could try an update and see if it gets us anywhere.

I'm also keeping an eye on Monaco/VSCode repos, which have many IME issues reported, e.g. https://github.com/microsoft/vscode/labels/editor-input-IME

[2021-03-19 06:47] codebykat commented on #2560
Cool - let's close this parent issue for now, then.

[2021-03-19 06:47] #2560 closed, assigned to nobody

[2021-03-19 06:49] codebykat commented on #2788
I think it's the result of the text area losing focus, whether or not anything was clicked. As far as I know it is "working as intended" and I'm not sure there's an easy way to detect if we lost focus because the tab was switched away from.

[2021-03-19 06:50] codebykat commented on #2788
See prior discussion #2589

[2021-03-19 06:53] codebykat commented on #2762
Yeah, I would test it on the browser and see if we can remove it there as well. Let's continue listening for that shortcut in case Ctrl+F doesn't work in some cases, but if it tests okay, we can probably use that as the default.

[2021-03-19 10:03] SylvesterWilmott commented on #2788
Maybe I'm speaking naively here but, could this be solved by adding an event listener for clicks outside of the tags input area which would then run the submit function instead of when the input loses focus? I don't see this as a major issue on web but for the installed versions, losing window focus might be more frequent.

[2021-03-19 12:16] #2745 closed, assigned to nobody

[2021-03-19 12:17] #2722 closed, assigned to nobody

[2021-03-19 14:18] #2764 closed, assigned to nobody

[2021-03-19 20:35] #2199 closed, assigned to dcalhoun

[2021-03-19 20:42] eduardozulian commented on #2251
From 3828354-zen:

[2021-03-19 21:02] codebykat commented on #2782
Yeah, I think we should be using `KeyboardEvent.key` as per https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/code

I swear I've been down this rabbit-hole before. https://github.com/Automattic/simplenote-electron/pull/2334/files

[2021-03-19 21:06] codebykat commented on #2782
Oh, the linked diff is quite old, I think these were all changed in #2334 to use `key` instead of `code`, so maybe something else is going on. I don't see any more usages of the old `KeyT` type constants in the current code.

[2021-03-19 21:08] codebykat commented on #2782
Related: #2040

[2021-03-19 21:10] codebykat commented on #2779
Thanks @xmha97, we will consider this for the future. As a workaround, you can effectively achieve this by using different browser profiles, as in your screenshot. Different Chrome users will have different Simplenote sessions.

[2021-03-19 21:10] #2779 closed, assigned to nobody

[2021-03-19 21:14] #879 closed

[2021-03-19 21:19] codebykat commented on #2764
We actually intended to change this in the other direction, as per #2599.

[2021-03-19 21:21] codebykat commented on #2764
Actually I'm now unsure, and I've confused myself. @SylvesterWilmott do we want this one to be "Toggle Focus Mode" (only) or "Toggle Notes List" (only)?

[2021-03-19 21:22] codebykat commented on #2762
I just realized we have a decision in the other direction in #2599 (normalize on Ctrl+Shift+S). We should revisit that. I think this was for consistency across platforms?

[2021-03-19 21:25] codebykat commented on #2765
Let's remember to deploy web on Monday. I've been trying to make sure we do it every sprint but it's on a "someone remembers to deploy it" cadence.

[2021-03-20 18:51] #979 closed

[2021-03-20 18:51] #980 closed

[2021-03-22 10:59] SylvesterWilmott commented on #2764
No, you're right. We do still plan to remove the current "focus mode" shortcut since it does the same thing as the "toggle notes list" shortcut. However, simply regarding the label or what we call it in the app, I think it should be "Toggle Focus Mode" so we can remain consistent in what we call things across the desktop clients.

[2021-03-22 11:12] SylvesterWilmott commented on #2762
According to the shortcuts spreadsheet, the change should be: Focus search = Cmd+Shift+F.

[2021-03-22 13:36] pachlava opened #2796 "[Win] Simplenote shortcut is broken after `only for me` install"
### Expected
All shortcuts that are created during app installation should be working

### Observed
The shortcut that is created during `only for me` install in Windows creates a desktop shortcut with no properties:

<img width="916" alt="Screenshot 2021-03-22 at 15 27 25" src="https://user-images.githubusercontent.com/73365754/111997723-fd9d6900-8b23-11eb-919b-e4b8be163aa0.png">

`Install for eve

[2021-03-22 16:25] sandymcfadden commented on #2796
This looks to be an issue with using Parallels and installing from a shared Mac folder.
I don't think there is anything we can do to fix this besides copying the installer to the Windows VM directly and then installing.
[More context here](https://github.com/electron-userland/electron-builder/issues/865#issuecomment-258105498).

[2021-03-22 16:25] #2796 closed, assigned to nobody

[2021-03-22 17:20] pachlava commented on #2796
@sandymcfadden thank you! Looks like this is the case. I think it's ok then, knowing that it's Parallels-specific issue

[2021-03-23 05:23] erricgunawan commented on #2251
3840739-zen:

The latest version on the Microsoft Store is version 2.5.0.
I hope update of simplenote to version 2.8.0.
When can I download version 2.7.0 or 2.8.0 from the Microsoft store?

[2021-03-23 08:03] jefferyto commented on #2766
I am using 2.8.0 (and 2.7.1 before) and this is not fixed. Logging out and back in is not an obvious workaround, and users should not have to work around an issue with your Linux client.

[2021-03-23 11:26] sandymcfadden commented on #2729
Thank you so much for taking the time to submit a PR with your feature request!

We try to be extra diligent about adding new settings and options to keep things as straightforward as we can. At this point in time, this isn't a feature we are looking to add to the app.

Likely best to use the existing tags feature as a workaround to accomplish what you are looking for here. For example, you could

[2021-03-23 11:26] #2729 closed, assigned to nobody

[2021-03-23 13:41] pachlava opened #2799 "When `Settings` are shown, the 'background' actions using shortcuts should be impossible"
### What
When `Settings` are open, the user can still do everything with the app using the shortcuts (e.g. starting with 'Cmd+Shift+U` to navigate to the back layer).

https://user-images.githubusercontent.com/73365754/112155455-fe9acd00-8bed-11eb-920c-f113c80f2e48.mov

### Why
Not really a bug as it is, but weird in certain cases. For example, when deleting a tag, and having no possibility to see

[2021-03-23 13:55] pachlava opened #2800 "Forbid a single remaining tag to have a scrollbar"
### What
This is a tiny styling issue, having the lowest priority possible, but nice to have at some point for improved look & feel.
(not reproducible with Electron Desktop Mac)

A single tag can have a scrollbar (2.9.0-beta1):

https://user-images.githubusercontent.com/73365754/112157402-d7dd9600-8bef-11eb-8701-f0441aed7534.mov

### Why
App will look better.

[2021-03-23 14:23] pachlava opened #2801 "Only the imported files list should be scrollable, not the whole dialog"
### What
When enough files are imported, the import dialog will have a scrollbar. However, it might be better to have only the files list scrollable, but the bottom of the dialog always visible (also, take into account the vertical expansion of dialog after import is done):

https://user-images.githubusercontent.com/73365754/112161507-e62db100-8bf3-11eb-97d4-2115c334801f.mov

### Why
UI elements w

[2021-03-23 14:38] dcalhoun opened #2802 "Opening and dismissing Revision Selector with screen reader/keyboard does not return focus to previously focused element"
The typical approach for managing focus with dialogs is that focus is returned to the previously focused element once the dialog is closed/dismissed. I.e. closing a modal should return focus back to the button used to open the modal. This allows the screen reader/keyboard user to continue from the last focus set.

Currently, the focus is unexpectedly placed on the editor when the Revision Selector

[2021-03-23 16:19] SylvesterWilmott commented on #2799
I think I would vote for disabling the relevant shortcuts while any modals are being shown. This would include any dialogs or side menus that block the main UI.

[2021-03-23 17:03] pachlava commented on #2801
I guess it's the same as #2777? If so, please close 🙇

[2021-03-23 18:40] pachlava opened #2803 "[Accessibility] VoiceOver focus gets trapped in semaphore buttons after hover"
_Only for Electron on macOS_

### Expected
The interaction with app's semaphore should be similar to some native apps experience (e.g. take macOS `Settings` for example).

The scenario described below does not occur with native apps and with some Electron apps I've tried (Spotify and GH Desktop). As soon as one of the semaphore buttons looses focus, VoiceOver should 'forget' about it.

### Observe

[2021-03-23 22:41] pachlava opened #2804 "Submitting (forbidden) tags through collaborate"
### Expected
Collaborate email input should not accept entries like: `hi @ there!`, ` @ `, `I'm a usual tag @` etc

### Observed
It looks like the rule for accepted input is having any character (including space), followed by `@`, followed by any char again:

https://user-images.githubusercontent.com/73365754/112228005-367b3200-8c39-11eb-8ec6-667ca550fce0.mov

### Reproduced
1. Open a note
2. Open

[2021-03-23 22:52] pachlava opened #2805 "[Safari] Word wrap occurs earlier than it should"
Might be something similar to #2297

### Expected
Word wrap should occur when there is really no space left to fit the next word. Example (made in Chrome, but looks exactly the same in FF and Electron):
<img width="1477" alt="Screenshot 2021-03-24 at 00 29 35" src="https://user-images.githubusercontent.com/73365754/112228785-84446a00-8c3a-11eb-9adc-61720922c34d.png">

### Observed
In Safari (macOS

[2021-03-23 23:01] pachlava commented on #2804
Just for fun:
<img width="371" alt="Screenshot 2021-03-24 at 01 00 53" src="https://user-images.githubusercontent.com/73365754/112229857-67a93180-8c3c-11eb-95c9-5ce06ccd90af.png">

[2021-03-24 10:54] pachlava commented on #2765
Closing since 2.9.0-beat1 was deployed

[2021-03-24 10:54] #2765 closed, assigned to nobody

[2021-03-24 11:13] pachlava opened #2806 "Teach importer to handle 'alien' json files"
### What
It would be nice to have the importer handle the cases of valid, but 'alien' `.json` files

### Why
When importing a  syntactically correct `.json` [file](https://support.oneskyapp.com/hc/en-us/articles/208047697-JSON-sample-files), but not the one using the Simplenote format, the app will freeze. It's more critical when using the desktop version, where there's no reload button.

[2021-03-24 11:48] pachlava opened #2807 "The left area of notes list and sidebar cells does not respond to clicks"
### Expected
If the whole cell is highlighted when the user hovers above it, the click should select the cell.

### Observed
Recently (it seems so) the segmentation of cells in the note list and sidebar has changed a bit (maybe as a result of accessibility improvements). Now, the hover above the left part of the cell `highlights` the whole cell, but click does not select it (also note the strange

[2021-03-24 13:35] sandymcfadden commented on #2801
Thanks @pachlava! You're right, this is one of the places #2777 will fix as well when I work on it.

[2021-03-24 13:35] #2801 closed, assigned to nobody

[2021-03-24 14:50] pachlava opened #2809 "[Search] Match position indicator does not update when matches number changes"
### Expected
If the note is edited while search mode is active, the position indicator (`2 of 5` thing) should update the current position digit, if matches number changes.

### Observed
Current position indicator never changes regardless of matches number:

https://user-images.githubusercontent.com/73365754/112330234-86e9a280-8cc0-11eb-895e-d97d49d43ac9.mov

### Reproduced
1. Have a note with mul

[2021-03-24 19:53] codebykat commented on #2806
This is already tracked as #2517 😄

[2021-03-24 19:53] #2806 closed, assigned to nobody

[2021-03-25 11:32] pachlava opened #2810 "[Mobile Browser] Don't show keyboard when note is opened"
This is about using the Web app on iPhone (in Chrome, in this case).

### What
There are two things causing some discomfort:

1. Once the note is opened, the keyboard is always shown (this does not happen in iOS or Android apps)
2. When search matches are highlighted, the match navigator is hidden by the keyboard, and the keyboard is always opened after jump to the next match:

https://user-images

[2021-03-25 11:42] pachlava opened #2811 "[Mobile browser] End of the note is not visible during edit"
### Expected
When a part of the note is edited, this part should be visible.

### Observed
If the note is long enough, the edited part will be covered by the keyboard. There might be cases when it will be scrolled to view, but it's not always consistent:

https://user-images.githubusercontent.com/73365754/112467017-2feed680-8d6f-11eb-9b3f-25bb314a04d6.MP4

### Reproduced
1. Have a note that takes

[2021-03-25 16:30] codebykat commented on #2040
Also reported in 3853286-zen

[2021-03-25 17:05] codebykat commented on #2811
@pachlava Monaco doesn't support mobile editing, so we basically don't either. Users on mobile devices are understood to have a fairly buggy experience unless they install one of the apps.

https://github.com/microsoft/monaco-editor/issues/246

This particular issue may not be Monaco specific, so I'll leave it open for now, but it's not a high priority to address.

[2021-03-25 17:06] codebykat commented on #2810
Same comment as https://github.com/Automattic/simplenote-electron/issues/2811#issuecomment-807107550, mobile browser is considered unsupported.

I'm closing this one since it's a Monaco behavior.

[2021-03-25 17:06] #2810 closed, assigned to nobody

[2021-03-26 02:20] codebykat opened #2812 "Tab focus highlights in dark mode are a bit jarring"
I'm not sure if this is intended or if there's any way to avoid it (maybe by not focusing anything by default, but waiting until a Tab or other navigation key is pressed?) but these don't look great to me.

Additionally, only on Electron (not in the browser), the note list ones light up every time you click on a different note in the notes list.

<img width="235" alt="Screen Shot 2021-03-25 at 7 1

[2021-03-26 02:21] codebykat commented on #2812
Meant to also cc @SylvesterWilmott for design input

[2021-03-26 02:52] dcalhoun commented on #2812
@codebykat I'll be honest and say that I did not consider or test dark mode while working on #2707, which included changes to the focus state of various navigation elements. So, I am sorry for any regressions introduced. ☹️

That said, #2707 did reinstate focus styles for some elements to improve the ability to navigate the application via focus (i.e. with a keyboard). Previously focus styles were

[2021-03-26 11:19] gubrist commented on #2576
Duplicated tags arise again with electron Version 2.7.0.

I wonder if this feature request (as designed with the Android version 2.5.1 of Simplenote) could prevent from Duplicated tags:

#2130

[2021-03-26 14:04] chromer030 opened #2813 "Session Management"
### What

Option to explore connected devices to account, specifications of devices and option to kill sessions.
Something like Telegram session management :

![Screenshot_202150326_182205](https://user-images.githubusercontent.com/13361552/112642892-a8bb6480-8e3b-11eb-8649-f896c6fb74f4.png)

### Why

Notes are one of the most important data of everyone and such feature is very important to keep t

[2021-03-27 01:50] codebykat commented on #2576
Hi @gubrist,

When you say "arise again", do you mean that you are still seeing new duplicate tags created? Can you please provide the steps that are causing duplicate tags for you?

[2021-03-27 15:46] xmha97 opened #2814 "Embedded images are not displayed in published notes."
# Markdown
![image](https://user-images.githubusercontent.com/23485114/112725837-d38ae300-8f37-11eb-9db0-bd0b72ae6567.png)
# Preview in Simplenote desktop
![image](https://user-images.githubusercontent.com/23485114/112725867-fae1b000-8f37-11eb-9a86-86d75e484253.png)
# Preview (using public link)
![image](https://user-images.githubusercontent.com/23485114/112725925-557b0c00-8f38-11eb-8530-9ef807999

[2021-03-27 18:57] gubrist commented on #2576
Yes, unfortunately
duplicate tags are created again, happended gradually, "silent" in the last weeks and days

No, unfortunately:
I whished I could say when and how this happens.

I strongly assume it happens when you have to type the (existing) tag (again) each time to tag a new note.

The following features may prevent form duplicated tags:

a) https://github.com/Automattic/simplenote-electron/i

[2021-03-30 08:45] campbellmc commented on #2683
This happening on Windows 10 as well.
It appeared to start happening when I separately installed Simplenote on a new mobile phone.
Simplenote Windows 10 Version 2.8.0
Logout and login appears to have resolved the issue.

[2021-03-30 14:29] fluiddot commented on #2676
I saw that we're explicitly [forcing this behaviour on MacOS platform](https://github.com/Automattic/simplenote-electron/blob/a682de65213b38de0ea8796d688934d1d29bc60e/desktop/app.js#L186-L188). I'm not sure about the implications of removing it so I'd appreciate if someone with more context could provide some insights.

cc @belcherj as the author of the [PR](https://github.com/Automattic/simplenot

[2021-03-30 16:04] fluiddot commented on #2654
When the note history is opened, the content of the note is previewed but it doesn't include the tags. One way to solve this would be to render the tags of the revision in a new component at the bottom of the content, similar to what is displayed when editing.

[2021-03-31 12:40] retrosmarc opened #2818 "Settings are not saved"
Hello,

I really appreciate Simplenote. I use it on my phone (Android) and on my laptop (Firefox on Linux), to share notes, links, and lists for all types of personal operations and for work.
On Android, I installed the app once and stay logged in. I open it on a day-to-day basis and do not log in again every time.
On Firefox, I log in every time because my Firefox is set to automatically delete c

[2021-03-31 13:59] SylvesterWilmott commented on #2654
@fluiddot From the point of view of the user, the history panel would push up all of the editor content including the tags input field?

[2021-03-31 16:44] #2750 closed, assigned to fluiddot

[2021-03-31 17:15] #2716 closed, assigned to fluiddot

[2021-03-31 18:14] fluiddot commented on #2654
Yeah, although the tags won't be interactive. I created a [PR](https://github.com/Automattic/simplenote-electron/pull/2817) with a potential solution and here you can see how it looks like:

https://user-images.githubusercontent.com/14905380/113137113-65d70380-9224-11eb-9684-17e9e05655c5.mp4

Let me know @SylvesterWilmott what you think about this option, thanks 🙇 !

[2021-04-05 10:44] louwers commented on #1570
I'd like to indicate my interest for this. Simplenote is not usable to save code snippets due to lack of Monospace support.

[2021-04-06 10:37] retrosmarc opened #2824 "Linux AppImage has no icon in the dock"
Hello,

I just started using Simplenote for Linux. Thanks for creating it.
When the app is open, I just noticed there is no icon in the Ubuntu dock. Is it normal?

### Expected
I thought I would see the Simplenote logo in the dock, with other open apps (like Firefox in the example) and shortcuts.

### Observed
The placeholder for Simplenote instance is empty.
![Capture d’écran du 2021-04-06 12-33-

[2021-04-06 11:00] michaelwexler opened #2822 "Scroll Bar Highlights missing in Preview Mode Search Results"
### Expected

When searching in edit mode, blue indicators appear in the scroll bar area to highlight which lines have the search word.  In preview mode, the words are highlighted, and expected blue indicators in the scroll bar area.

### Observed

The scroll bar indicators do not appear in preview mode.

### Reproduced

Web app (app.simplenote.com) on Windows Chrome Version 89.0.4389.114 64-bit a

[2021-04-06 11:40] sandymcfadden opened #2823 "Update Sign up copy and design"
With the recent updates to the sign up flow, there are some copy and design changes to be made.

The copy changes can be found in the internal thread p2XJRt-2R6-p2

Designs to match these:
https://app.zeplin.io/project/5ff5d9f41ff2fa53ddd0d08c/screen/606c24fd8561ee914adabeeb
https://app.zeplin.io/project/5ff5d9f41ff2fa53ddd0d08c/screen/606c24fe675bec972a37afa6
<details><summary>Light Mode</summary

[2021-04-06 12:24] pachlava commented on #2824
Thank you @retrosmarc! For any upcoming issues that are platform-specific, you can use dedicated repos:
- [Electron](https://github.com/Automattic/simplenote-electron/issues)
- [macOS](https://github.com/Automattic/simplenote-macos/issues)
- [iOS](https://github.com/Automattic/simplenote-ios/issues)
- [Android](https://github.com/Automattic/simplenote-android/issues)

(I'd still keep the Automatti

[2021-04-06 14:51] gabri25ele opened #2825 "Server connection fault in PC app and site"
on iphone, Simplenote works well.
on PC (app desktop and url)

![sshot-1](https://user-images.githubusercontent.com/33927879/113730460-34fd3f80-96f8-11eb-8c62-9f3a5e586799.png)

the only thing that syncs me is the **tags**

I tried also to create a test account and it works on PC, so where is the problem with my real account? it works on iphone and not on PC (does not synchronize).

what can I do?

[2021-04-06 15:03] mrwweb opened #2826 "Highlight/Format Markdown to Improve Readability"
## What
Formatting the markdown text would make for a more pleasant and more productive experience without having to flip back and forth between Preview mode.

Simplenote already kind of does this for both ordered and unordered lists, so this is largely a continuation of that feature, which is obviously very helpful!

## Why
I was inspired to dream bigger for Simplenote after reading [this blog po

[2021-04-06 16:30] pachlava commented on #2825
@gabri25ele I'm sorry to hear this is happening. I would suggest contacting the Simplenote support team by writing an email to support@simplenote.com, which is a faster way to troubleshoot the issue you describe. It would also be very helpful if you could provide additional information in the email:
- The email address used to register the account with sync issue (in case if it will be different f

[2021-04-06 16:46] fluiddot commented on #2454
I bumped into this issue too while I was working in adding the tags to the history screen. In my case, I managed to reproduce the Scenario 1 from the [previous comment](https://github.com/Automattic/simplenote-electron/issues/2454#issuecomment-769851063).

As far as I investigated, this problem could be related to the flow when a remove operation is sent while having multiple clients connected to

[2021-04-06 19:55] daniel-liuzzi opened #2827 "Back / Forward buttons"
### What

Ability to navigate back and forward, like a web browser.

### Why

Ever since Simplenote introduced internal links, complex notes could finally be broken up into smaller logical units. Long notes became summaries that link to other notes that expand on specific subjects. These notes, in turn, can be broken up into even more specific notes, and so on.

Internal links is an incredibly use

[2021-04-07 01:26] codebykat commented on #2825
Yes, closing as we cannot debug account-related issues on the public GitHub :)

[2021-04-07 01:26] #2825 closed, assigned to nobody

[2021-04-07 15:34] fluiddot opened #2828 "Extra blank spaces are not displayed when previewing a note in history screen"
If a note contains extra blank spaces, like the ones produced when indenting text, when the note is displayed in the history screen, it doesn't preserve those spaces.

### Expected

Notes should be displayed with the same format as when editing in history screen, including extra blank spaces.

### Observed

Extra blank spaces are not being displayed when previewing a note in history screen.

### R

[2021-04-08 12:34] #2423 closed, assigned to nobody

[2021-04-08 12:54] #2569 closed, assigned to codebykat

[2021-04-08 15:45] vijayhardaha opened #2830 "Review pop everytime I open App"
![image](https://user-images.githubusercontent.com/25227317/114056434-49d00380-98af-11eb-8a9e-8de52da38923.png)

Simplenote version 2.8.0
OS- Windows 10

Popup is coming every time I open the APP. I confirmed my email so many times but the popup still coming each time opening App.

[2021-04-08 16:29] #2828 closed, assigned to fluiddot

[2021-04-08 16:56] dimitry-ishenko opened #2832 "Tabs don't align properly"
Trying to enter text in few columns and align them using the TAB key and I get this:

![Screenshot from 2021-04-08 10-40-35](https://user-images.githubusercontent.com/2858291/114065631-df947000-9868-11eb-8848-c84374039efc.png)

![Screenshot from 2021-04-08 10-41-20](https://user-images.githubusercontent.com/2858291/114065647-e28f6080-9868-11eb-8dee-537a6c89075b.png)

This used to work in an older

[2021-04-08 21:14] codebykat commented on #2830
Hi @vijayhardaha, thanks for the report. Can you please log out of the app and log back in? That should sync up your account data. Otherwise we believe this bug to be fixed in the latest version.

[2021-04-08 21:14] #2830 closed, assigned to nobody

[2021-04-09 10:14] tkng opened #2833 "CPU usage is high a little"
### Observed

When I open the SimpleNote web page or the Electron App, the CPU usage increases by about 5%.

When I analyzed the Performance in Google Chrome's Developer Tools, I found that the timer was firing about 250 times per second. This phenomenon may be related to the high CPU usage.

![Untitled](https://user-images.githubusercontent.com/96674/114165590-a42c9b00-9967-11eb-8a53-1653626653a4

[2021-04-09 12:13] #2562 closed, assigned to nobody

[2021-04-09 15:58] sandymcfadden opened #2836 "Note action copy buttons won't copy when previewing note"
### Expected

When you click to copy the internal link, or the publish URL that those links would copy to the clipboard.

### Observed
If you click to view the markdown preview of a note and then click one of the copy buttons the link is not copied. Depending on the browser sometimes the note content is copied instead.

### Reproduced

1. Create a note with markdown.
2. Click to view the markdown

[2021-04-09 17:19] sandymcfadden commented on #2836
This seems to have happened with the new note info and action panels being added.
I thought it may be the Focus Trap which we added, but that doesn't seem to be the cause.
The clipboard button is returning success, but still not copying the expected text to the clipboard.

[2021-04-09 18:21] jlovellgmail commented on #558
I can't use Simplenote without this feature

[2021-04-10 02:46] iamgabrielma commented on #2429
3877375-zen

Chrome browser ver : 89.0.4389.114（Official Build）（64bit）

[2021-04-10 02:49] iamgabrielma commented on #2353
Adding another case using Chrome browser ver : 89.0.4389.114（Official Build）（64bit）

3877375-zen

[2021-04-10 12:02] Kizaemon opened #2839 "Make the New Version notification dialog non-modal or less obtrusive."
### What
(Windows version 2.8.0)
On each launch the app is checking for the new version and shows modal dialog box, announcing a new version (e.g. New Version 2.9.0 is available, your version is 2.8.0).

Please make this dialog box non-modal.
_- - or - -_
Please make the notification of the new version during application exit, not during application launch.

### Why
The modal dialog box disrupts u

[2021-04-10 19:18] jwmwalrus commented on #2833
I noticed the same issue (in Debian Testing and Simplenote 2.8.0 and 2.9.0).

It seems the application is stuck trying to sync notes.

[2021-04-11 15:07] aderchox commented on #2511
Thanks a lot for making this issue! Yes this is an irritating bug. I see this both on my Windows 10 and on my Android devices. This can also be observed when creating a bullet list, or a checklist, the symbols go to the left of the lines, even though the line has begun with an RTL character. I hope the dev will fix it.

[2021-04-12 15:45] eduardozulian opened #2840 "Words are breaking on Markdown tables with short text columns"
Markdown tables with shorter columns are being affected by word breaking which distorts the content.

I'm using the following table as an example:

[code]

### Expected
To not see words breaking which would increase table readability.

There are a [few workarounds available](https://stackoverflow.com/a/44555965) including adding multiple`&nbsp;` to the narrow columns but definitely not ideal.

###

[2021-04-12 18:28] fluiddot commented on #2777
After I merged this [PR](https://github.com/Automattic/simplenote-electron/pull/2815), I checked the rest of dialogs and we should review the following ones:
## About

Not sure if we should display a scrollbar in this dialog because it looks weird, I'm wondering if we should have a larger max height 🤔 .

https://user-images.githubusercontent.com/14905380/114442240-a3487300-9bcc-11eb-8ee4-bd7c93882

[2021-04-13 16:24] dimitry-ishenko commented on #2832
Confirmed today that the last working version where tabs align properly is 1.21.1. All 2.x.x versions starting with 2.0.0 are broken.

[2021-04-14 11:07] chromer030 commented on #531
No any progress or plan ?

[2021-04-15 06:43] abdul-foomotion opened #2845 "Simplenote is not syncing data nor allowing login"
My Simplenote app on ubuntu was not syncing notes anymore. I had checked the logs and there were some connection issues with the remote server. I decided to  uninstall and reinstall the app. But now it's not even allowing me to login,

I'm attaching the screenshots of the error.
![Screenshot from 2021-04-15 11-39-40](https://user-images.githubusercontent.com/73174756/114825513-c39c4b80-9ddf-11eb-8

[2021-04-15 07:19] codebykat commented on #2845
Hi @abdul-foomotion, this sounds like an issue specific to your account or network. I'm wondering if you can try it from a different IP address and see if that works?

We can't really debug account-related issues on the public GitHub, so if that doesn't help, can you please drop us a line at support@simplenote.com? Thanks :)

[2021-04-15 07:19] #2845 closed, assigned to nobody

[2021-04-15 07:29] #2646 closed, assigned to fluiddot

[2021-04-15 07:34] codebykat commented on #2832
Hi @dimitry-ishenko, we recommend using Markdown tables to align columns of text, because tab alignment has exactly this sort of problem (especially if notes are edited on multiple platforms).

The change from 1.x -> 2.x version involved a complete replacement of our editor component, so it's not really a surprise that the way tabs are rendered has changed.

Interestingly, if you were to paste in

[2021-04-15 07:34] #2832 closed, assigned to nobody

[2021-04-15 08:29] #2823 closed, assigned to sandymcfadden

[2021-04-15 11:41] abdul-foomotion commented on #2845
Thanks @codebykat for the response. I was facing this issue for more than two days I guess. But it's suddenly resolved. Don't know the reason behind this issue.

[2021-04-15 14:26] LiwiuszPleandro opened #2847 "Phrase search does not work properly"
Phrase search does not work properly. It worked fine in previous versions.

Expected:
After searching for a phrase, it should show a list of notes in which it was found and then go to the specific field found

Observed:
It does not go to a specific searched field in the note

Reproduced:
1.  Go to: magnifier, type ex. (number phone) +4887345643 and click search
2.  Correctly finds a notes in which

[2021-04-15 16:19] dimitry-ishenko commented on #2832
@codebykat yes I am fully aware of the markdown tables. However, I have notes that I edit all the time and I need them to not only look pretty in preview mode, I need the columns to line up in edit mode when I'm trying to edit the data.

With 1.x I could simply go to the text I need to change and do so:

<img src=https://user-images.githubusercontent.com/2858291/114897262-10335700-9ddf-11eb-941b-2

[2021-04-15 18:30] eduardozulian commented on #2511
Also reported in 3895230-zen:

* Windows 10 OS.
* Simplenote 2.9.0.

[2021-04-15 18:58] pachlava opened #2848 "Too long email address overlaps the `ACCOUNT` box boundaries in `Settings`"
### Expected
No content is placed outside the boundaries limiting that content.

### Observed
If the email address is long enough, this happens:
![Screenshot 2021-04-15 at 12 24 22](https://user-images.githubusercontent.com/73365754/114923213-3a176880-9e35-11eb-871e-28d350a65cc0.png)

### Reproduced
1. Have the email address really long
2. Log in under this email
3. Open `Settings` / `Account`

##